[2018-11-17 12:04] MikeyGMT commented on #3131
Hi @CaMer0n,
I change form_handler.php line 6962 from

`				$leftCell = $required."<span{$required_class}>".defset(vartrue($att['title']), vartrue($att['title']))."</span>".$label;
`
To use label ...

`				$leftCell = $required."<label{$required_class}>".defset(vartrue($att['title']), vartrue($att['title']))."</label>".$label;
`
Still the same - in the same session! However, successful when switch

[2018-11-17 14:44] MikeyGMT commented on #3131
It did not fix it, it is still convinced this is a username field in chrome. But I think it may work if we add the for=menu_name but I am not sure how to do that.

[2018-11-17 14:56] MikeyGMT commented on #3131
OK, so added  for=".$keyName."

`				$leftCell = $required."<label{$required_class} for=".$keyName.">".defset(vartrue($att['title']), vartrue($att['title']))."</label>".$label;
`

Rendered code is correct, but still chrome is assuming menu_name is a variant of user_name, because there is a password field.

I tried adding a user_name tab option field in cpage to fool it, but nope, no luck.

[2018-11-17 15:52] MikeyGMT commented on #3131
OK, so I have found a workaround, change the lan CUSLAN_64 to Menu Code or menu_code (in fact, it is more accurate to call it "menu_code") - and the field tab option name to menu_code, everything else is set back to today's git. Menu Name somehow get's attributed to user_name. Bizarre, you should read the google bugs, people are getting (quite rightly) very irritated with the issue.

`define("CUSL

[2018-11-17 16:39] MikeyGMT commented on #3131
Oh dear, it breaks all over the place.

Will need menu_name replacing in 23 files! Who knows in plugins and themes. This is not a valid workaround.

"You must enter either a page title or a menu name."

Quick fix tried was changing from text to textarea, not working. Played around with other settings, no success. Nearest fix seems to be to rename menu_name to menu_code.

[2018-11-17 17:09] MikeyGMT commented on #3131
Seems to me change the name of the menu_name field or maybe consider this https://github.com/terrylinooo/jquery.disableAutoFill

[2018-11-19 21:20] CaMer0n commented on #3131
Thanks Mikey! Or maybe chrome could fix their bug. smh.

[2018-11-20 16:46] Alex-e107nl opened #3554 "LAN_PLUGIN_PAGE_NAME in search results.."
Search on site gives the text LAN_PLUGIN_PAGE_NAME for pages search results, not the translation or the original text in english.. Github of today..

Alex

[2018-11-20 21:37] CaMer0n commented on #3412
@Jimmi08 I believe this was recently corrected. If you have the opportunity, please test again, otherwise, I suggest we close this and you may re-open later if necessary.

[2018-11-20 22:03] #3189 closed

[2018-11-20 22:03] #3201 closed

[2018-11-21 11:05] Moc commented on #3554
Cannot reproduce this so far.  What site language are you using?

[2018-11-21 14:48] Alex-e107nl commented on #3554
In English and Dutch... http://fysid.nl/search?q=Lorem+ipsum&r=0&s=
Github today (21-11-2018) PHP Version 7.0.19

[2018-11-21 15:48] Moc commented on #3554
I am pretty confident it's a language pack issue. I can reproduce it on my own website when I switch to Dutch, but when I switch back to English there is no issue. Looking into it.

[2018-11-21 15:52] Moc commented on #3554
Got it. It was added last month, not yet translated in the Dutch LAN files because it will be part of the new release 2.2.0.

[2018-11-21 15:52] #3554 closed

[2018-11-21 20:00] #3413 closed

[2018-11-21 20:00] CaMer0n commented on #3413
@wrxxy If using a custom template, it will need to be adjusted in the same way.

[2018-11-22 18:53] tgtje commented on #3554
Read it, will update the newer version ( for 2.20) asap. Bit short in time to keep up...

Have to test the new pack then  also in case of not using the closing php tags in files, due to previous issues that blank spaces getting added sometimes in Github (although they not exist on pc) ???

[2018-11-22 21:39] CaMer0n commented on #3524
@Jimmi08 Please close this if the above changes fixed it. Thank you.

[2018-11-22 21:45] CaMer0n commented on #3553
@nesjett Try using the usual `search.php` URL with queries and also add **&ajax_used=1**
Does it help?

[2018-11-22 21:53] CaMer0n commented on #3507
@Deltik Do you have any ideas about this?

[2018-11-22 21:58] CaMer0n commented on #3464
@Jimmi08 I'm unable to reproduce this.

![image](https://user-images.githubusercontent.com/2825679/48922892-a9ecb900-ee5e-11e8-9d2c-afe293c94792.png)

How about you @Moc ?

[2018-11-23 02:45] Deltik commented on #3507
As @OTroccaz suggested with two places to comment out, there are two bugs.  So far, I have run a `git bisect` to determine the commit that introduced the "blob" filename bug:

[code]

f1329535a5df44850d581fdd943aad54c26532bf caused the file uploaded to be named "blob".

[2018-11-23 09:17] Moc commented on #3464
Not able to reproduce yet. Not on an existing install (with some plugins) and not on a clean install (just installed from Git).

PHP 5.6

[2018-11-23 19:56] CaMer0n commented on #3507
@Deltik Thanks. The 'blob' appears to come from chunking. https://stackoverflow.com/questions/23079942/plupload-html5-runtime-upload-filename-becomes-blob

[2018-11-24 07:33] Jimmi08 commented on #3524
Closing without testing. I will reopen this if this doesn't help.

[2018-11-24 07:33] #3524 closed

[2018-11-24 07:38] Jimmi08 commented on #3464
PHP 7.0
Closing without testing. I just noticed that there is custom plugin used, maybe there is something wrong.
That plugin doesn't use events, so I didn't notice that `dng::config()` is executed before.

I will create new issue if this happens again. I really can't remember where this happened.

[2018-11-24 07:38] #3464 closed

[2018-11-24 16:58] Evgura commented on #3550
Updated today with Github and again the problem with personal messages.
PHP version-7.1.24

"System Information
You are not allowed to send PMs to: Maxim"

![](https://user-images.githubusercontent.com/25720089/48297462-75761600-e4ca-11e8-9adf-5f467909e69d.png)

[2018-11-24 17:02] Moc commented on #3550
@Evgura Yes, no fix has been committed yet.

[2018-11-24 17:05] Evgura commented on #3550
PHP:  5.6 Private Message work normally.

[2018-11-25 11:41] tyupika93 opened #3555 "Bad File Detected upload all media files"
I would like to download an image for the download, but for each image it is written by Bad File Detected. The format has no problem

[2018-11-25 11:43] Moc commented on #3555
Are you using the latest files from Github?

[2018-11-25 11:44] tyupika93 commented on #3555
2.1.9 is maintained. I'm not updating the entire release of Github

[2018-11-25 20:32] CaMer0n commented on #2861
@Alex-e107nl Has this improved? I made changes to alt-auth recently.

[2018-11-25 21:01] #3544 closed

[2018-11-25 21:02] CaMer0n commented on #3544
@martyshep Normally this should be functioning for you now, but please re-open if necessary.

[2018-11-25 21:05] martyshep commented on #3544
Awesome thank you Cameron. As always, amazing support from you and your co-devs.

[2018-11-25 21:05] CaMer0n commented on #3463
Closing. Please re-open if necessary.

[2018-11-25 21:05] #3463 closed

[2018-11-25 21:33] CaMer0n commented on #3432
@Jimmi08 @Moc The price displays for me. However in PHP7 the modal popup is blank. Same for you?

[2018-11-26 07:09] Alex-e107nl commented on #2861
Hi Cameron,
i wil test it asap! Thx!

[2018-11-26 09:03] OTroccaz commented on #3507
Everything is fine! Thanks @CaMer0n and @Deltik

[2018-11-26 09:03] #3507 closed

[2018-11-26 12:58] Moc commented on #3550
Trying to reproduce this on PHP 7.1, but no luck yet. Clean install of e107, and clean install of the PM plugin. What are your settings here?:

![image](https://user-images.githubusercontent.com/577978/49015399-4a0a5100-f183-11e8-8e38-56204656cd13.png)

[2018-11-26 13:21] Jimmi08 commented on #2770
Just note. After removing it from theme.xml, you need to use:
`define("BOOTSTRAP", 	false);`
in theme.php

[2018-11-26 13:21] #2770 closed

[2018-11-26 14:26] Jimmi08 opened #3557 "backcompat.css vs THEME_LEGACY"
Why backcompat.css  is loaded on not bootstrap themes and not only on legacy themes?
[code]

Sometimes I need to use bootstrap theme without BOOTSTRAP constant.
`define("BOOTSTRAP", 	false);`

and because backcompat.css is styling bootstrap classes (why?  they weren't used in legacy themes), it has influence on my theme css.

Theme author should decide if to use back compatibility css.  Or at leas

[2018-11-26 15:14] Evgura commented on #3550
Yes, such settings.

[2018-11-26 15:19] Moc commented on #3550
Are the settings the same on your installation?

[2018-11-26 15:46] Moc commented on #3550
I do agree that there is an issue, I am just trying to figure out what is causing the issue :)
Are your settings the same as I posted in the screenshot?

[2018-11-26 15:50] Evgura commented on #3550
I tried different settings. And as in the screenshot too.

[2018-11-26 15:51] Jimmi08 commented on #3550
`var_dump(USERCLASS);`

`string(0) ""`

[2018-11-27 21:12] Jimmi08 opened #3558 "images with .jpeg are not correctly exported to install folder"
With this option:
`Convert paths and package images and xml into: `

image with name office-4.jpeg

is exported:
`<field name="menu_image">{e_THEME}e107gaia/install/office-4.jpeg.jpg</field>`

and of course it's not moved there and you got error

[2018-11-28 09:15] Jimmi08 opened #3559 "forum view shortcodes and icons problem"
I have theme without glyphicon icons.  It doesn't use library for loading bootstrap, because bootstrap css is already customized.

Result is:
![image](https://user-images.githubusercontent.com/5429548/49139509-46e1a300-f2f2-11e8-83cd-9dda91e429a8.png)

The reason is that icon output is glyphicon set

`text .= "<li class='text-right'><a href='" . $url . "'>" . LAN_FORUM_2041 . " " . $tp->toGlyph('s

[2018-11-28 09:33] Jimmi08 commented on #3559
I tried to set this at least for icon with the same name.
I found this problem:
`if(strpos($text, $glyphConfig['prefix']) === 0)`

strpos returns false, so it should be ==  not ===.

[2018-11-28 09:43] Jimmi08 commented on #3559
It doesn't work for me.  My glyphs settings:

[code]
I don't need class, but I added it to see difference.

Output should be:
`<span class="pe-7s-trash"></span>`

But it is:
`<span class="pe trash"></span>`

[2018-11-28 11:20] Killer0561 opened #3560 "news.php Site - graphic display problem"
Hello everyone,

i have a problem with the news.php page. Sometimes the graphics are displayed incorrectly, the next reload of the page it looks normal again. Does anyone have advice?

wrong:
![news-wrong](https://user-images.githubusercontent.com/16360582/49148704-5835aa00-f308-11e8-844b-463b349bca65.jpg)

right:
![news-normal](https://user-images.githubusercontent.com/16360582/49148712-5ec42180-

[2018-11-28 12:53] Jimmi08 commented on #3559
The way how to load glyphicons without bootstrap:
`e107::css("url", "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); `

[2018-11-28 13:41] Jimmi08 opened #3561 "$NEWS_INFO is not able to be overridden in theme news template"
If I put this into news/news_template.php, it works.
[code]

As soon as I do it only in theme template, it doesn't work.
But template itself is changed ($NEWS_TEMPLATE['section-card']['item']) after changing this in core template.

[2018-11-28 15:21] Jimmi08 opened #3562 "news.php and php7 issue"
in news.php there is code:

`$text = preg_replace("/\{(.*?)\}/e", '$\1', $NEWSCLAYOUT);`

I think it's not compatible with php7.

[2018-11-28 16:38] Jimmi08 commented on #3562
This is similar
https://github.com/e107inc/e107/issues/3216
and no example how to fix it.

I use this way everywhere and it works but there is not your function used.

[code]

PS: $fanat1k is named on honour for guy who solved this in content plugin.

[2018-11-28 16:47] Moc commented on #3560
I may be missing something here... Are you talking about that "Neuigkeiten" link? As that is the only difference I see in the screenshots.

[2018-11-28 18:59] Moc commented on #3560
This is a theming issue not a bug in e107 core.
The "neuigkeiten" is the title that is used. The weird thing is why it changes depending on reloading.

[2018-11-28 22:39] Killer0561 commented on #3560
Is there any clue how to fix this in my theme dragonhead? Unfortunately, I do not know exactly where to look in the theme there.

[2018-11-29 03:44] gsandys opened #3563 "Can't post in forum"
![forum](https://user-images.githubusercontent.com/36930002/49198040-0e959f80-f39a-11e8-970c-a980f466613d.png)
I can not write anything as the main admin on the forum, it simply does not offer anything! Meanwhile, the spams on the forum go to the hole!

[2018-11-29 07:30] Jimmi08 commented on #3563
Add screenshot of your forum settings

[2018-11-29 08:04] Jimmi08 commented on #3560
@Moc Are you sure? Where this could be in theme?
It displays some title only on first loading. After refresh is gone.

On homepage is title "news".  But on other pages there is title from news category.
![image](https://user-images.githubusercontent.com/5429548/49207279-c8016e80-f3b4-11e8-96b0-cbf213b8ba1b.png)

I refresh and it's away. I am not logged in.  This happens on all first time visited n

[2018-11-29 08:13] Jimmi08 opened #3564 "a lot of php warnings after plugin rescan"
Latest github
PHP 7.0.29

![image](https://user-images.githubusercontent.com/5429548/49207991-d2bd0300-f3b6-11e8-863b-bf0e02433490.png)

Not sure if this can be caused wrong written plugin or there is other problem. It just surprised me.

[2018-11-29 08:43] Evgura commented on #3563
@Jimmi08 This is the main forum page, there doesn't have to be.
You need to create a subcategory category. This is all done through the admin panel.

[2018-11-29 10:20] Killer0561 commented on #3560
I have searched in my theme.php and style.css files now, but unfortunately did not find anything.

greeting

Killer0561 (Sascha)

[2018-11-29 10:58] Moc commented on #3564
Most likely a third party plugin causing trouble

[2018-11-29 16:20] Moc commented on #3560
Does disabling the cache help?

[2018-11-29 19:40] CaMer0n commented on #3564
Added a check which might help things.

[2018-11-29 19:47] CaMer0n commented on #3561
@Jimmi08 Please define "it doesn't work". Do you mean that the options listed in the theme's template file do not appear in the admin area when editing the news post?

[2018-11-29 19:59] Jimmi08 commented on #3561
@CaMer0n Yes, but it's in news settings (or preferences),  template for news list (not one post), there is default, list and column 2 - not used - something like this.

[2018-11-29 20:04] Jimmi08 commented on #3564
Could it be after deleting plugin folder manually and there is still record in plugin table?   I quess from your fix.

[2018-11-29 21:32] Jimmi08 opened #3565 "Q: Is possible to test birthday extended field?"
Is possible to test if user didn't insert future day?
Thanks

[2018-11-29 21:43] Alex-e107nl opened #3566 "Contact page without SEF URL"
As i see it the only way to link to the contact page is with /contact.php right? There's no /contact defined somewhere or am i overlooking something?

Should be possible i think?

Alex

[2018-11-29 21:43] Alex-e107nl commented on #3554
Solved, THX Tgtje you are the best!!

[2018-11-29 22:04] Jimmi08 commented on #3566
If this is in core, there should be option to set this and in languages too

In custom plugin you can add e_url.php with

[code]

![image](https://user-images.githubusercontent.com/5429548/49254785-7a274d80-f42a-11e8-8360-2443d431bb55.png)

![image](https://user-images.githubusercontent.com/5429548/49254866-b8bd0800-f42a-11e8-9427-140d0de2a6af.png)

![image](https://user-images.githubusercontent.c

[2018-11-29 23:01] Killer0561 commented on #3560
Have already disabled the cache, but the problem persists. I do not understand why it happens at all.

[2018-11-30 01:29] gsandys commented on #3563
It's shows "only members can post" but permisions is set on Admin ... so as I'm admin & can't post it

[2018-11-30 01:33] gsandys commented on #3563
![screenshot_20181130-032331](https://user-images.githubusercontent.com/36930002/49262758-98a03f80-f450-11e8-83d7-32726d589a35.png)
![screenshot_20181130-032402](https://user-images.githubusercontent.com/36930002/49262769-9f2eb700-f450-11e8-9859-07edf7872e11.png)

[2018-11-30 06:34] Alex-e107nl commented on #3566
Thx Jimmi08!! will try it!

[2018-11-30 10:50] Moc commented on #3566
Would be a question for e107help rather than Github :) For the next time.

[2018-11-30 10:52] Moc commented on #3566
Actually, I think it might be missing from the core settings

[2018-11-30 11:21] Alex-e107nl commented on #3566
Moc,
i've placed it here because i think it's not right that all the links can be SEO but not the contact page.. so it's a bug, forgotten or anything but it needs to be adressed..

[2018-11-30 11:37] Moc commented on #3565
I don't think it's possible yet. The user extended fields do allow for validation based on Regex. But Regex does not handle the concept of time, only patterns. So some other form of validation must developed.

Labelled as enhancement

[2018-11-30 11:51] Moc commented on #3560
Ok, I saw what you mean with the title disappearing after refreshing. That's odd.

@CaMer0n Any thoughts?

[2018-11-30 12:17] Moc commented on #3566
Yeah you're right, my mistake, sorry 👍

[2018-11-30 13:58] Moc commented on #3563
What is your PHP version?

[2018-11-30 15:35] gsandys commented on #3563
PHP - 7.1.24

[2018-11-30 18:00] Killer0561 commented on #3560
I hope we find a solution. Unfortunately, this problem is annoying with time.

greeting

Killer0561 (Sascha)

[2018-11-30 19:09] CaMer0n commented on #3560
Steps I would take...

Search for Neuigkeiten in the LAN files and database.
If it's a LAN, search the core for the use of the LAN, otherwise track the database field or pref that has that value.

[2018-11-30 19:17] Jimmi08 commented on #3560
@CaMer0n  From what I can see,  it's News title  (Title of news.php)  or Category name.

[2018-11-30 19:36] CaMer0n commented on #3560
Here's what I see..

![image](https://user-images.githubusercontent.com/2825679/49310764-0faaf780-f494-11e8-9a9a-1e41f651a8b0.png)

[2018-11-30 19:46] Jimmi08 commented on #3560
That error is only when page is first time displayed for you.  See it's news category and url is
https://homepage.egu-multigaming.de/news.php?list.4.0

![image](https://user-images.githubusercontent.com/5429548/49311201-c6cd6000-f4e0-11e8-9602-5b241a024f40.png)

Second time is away and you don't see it.  It looks like second time is cached version displayed and this is correct.

[2018-11-30 19:55] Jimmi08 commented on #3560
I can't help you, but this is weird and maybe it helps you.
New news list displayed with shortcodes debug.

![image](https://user-images.githubusercontent.com/5429548/49311629-eca73480-f4e1-11e8-98a0-f7046b257cb4.png)

After refresh:
![image](https://user-images.githubusercontent.com/5429548/49311657-047eb880-f4e2-11e8-86f4-702caa50f00b.png)

in other browser I still see shortcodes (but maybe you

[2018-11-30 22:14] Alex-e107nl commented on #3566
Tested, works perfectly thx Cameron!!

[2018-12-01 06:30] tyupika93 commented on #3324
Can I ask you to fix this problem? You must turn off the sef url function 10 times a day

[2018-12-01 08:45] Moc commented on #3324
You're the only one reporting this specific issue so far. What's your PHP version? Also, are you installing fore plugins or third party plugins? Does it happen for both?

[2018-12-01 10:18] tyupika93 commented on #3324
no plug-ins other than factory accessories are installed and PHP Version 7.1.3

[2018-12-01 10:39] tyupika93 commented on #3324
This my problem. Video issue :)
[](https://vimeo.com/303869350)

[2018-12-01 19:27] Jimmi08 opened #3567 "in theme.php e_PAGE for news view is not defined"
With contact page e_PAGE is contact.php

With news homepage e_PAGE is news.php

But in news view (extend) e_PAGE is e_PAGE

but in debug I can see it's defined, so it has to be done later.

How to test in theme.php that news detail is displayed?

I did it for now this way:
[code]

[2018-12-02 09:40] Jimmi08 opened #3568 "Q: e_IFRAME and $LAYOUT"
Just checking question.
If I use e_IFRAME for login and signup pages,  then $LAYOUT is completely ignored?
And I need to put all code to login and signup templates?

Thanks

[2018-12-02 11:23] Jimmi08 opened #3569 "signup.php missing support for shortcode wrapper"
login and signup templating is very different now.

with signup tempate you can't use wrapper, only old $sc_style

[2018-12-02 18:02] #1533 closed

[2018-12-03 08:03] Jimmi08 opened #3570 "non-standard template for news layout is rendered before header"
Using:
Use non-standard template for news layout causes that news are rendered before header (before html tag)

![image](https://user-images.githubusercontent.com/5429548/49360633-0c08b200-f6da-11e8-82e4-7521a9a3e687.png)

![image](https://user-images.githubusercontent.com/5429548/49360708-42dec800-f6da-11e8-8af4-f56e6089afe8.png)

I tried to find reason but code looks correct. Maybe some constant

[2018-12-03 14:11] Jimmi08 commented on #3566
@CaMer0n    e_PAGE is changed, now it's index.php.
How to test that you are on contact page?

[2018-12-03 22:12] Killer0561 commented on #3560
Found a way to fix that? :)

greeting

Killer0561 (Sascha)

[2018-12-04 13:32] #3566 closed

[2018-12-04 13:33] Moc commented on #3566
@CaMer0n Can you help @Jimmi08 with the constant when using SEF URLs? e.g. this issue and #3567

[2018-12-05 17:23] wrxxy commented on #3549
I am still getting these ultra big images does any one know why?

And when I go to the code that shows these images, those bigger image codes are not there....

![image](https://user-images.githubusercontent.com/13065217/49531482-7a35ba80-f90e-11e8-868c-dea639069165.png)

[2018-12-05 19:21] gsandys commented on #3563
Ok I think its ok now!

After Forum moderator(s) add admin as Moderator...

[2018-12-05 19:21] #3563 closed

[2018-12-07 12:56] Jimmi08 commented on #3324
I found the reason.
After any install/uninstallation of any plugin, all core prefs are set as new (refreshed)

[code]

Prefs responsible for this settings is e_url_list, so it's refreshed too.

It's correct for other "_prefs"  because there are just list of plugins using that addon, so it should be refreshed.
[code]
but with e_url_list there is user input (site settings)  = value can be changed by

[2018-12-10 13:37] Jimmi08 opened #3571 "custom page template - tableRender template doesn't work"
I have custom template for page with

`$PAGE_TEMPLATE['custom']['tableRender'] 	= 'cpage-project';`

I can't get it work, it's still 'cpage' in tablerender();

This is correct filled:
`$mode = vartrue($this->template['tableRender'], 'cpage-page-view');`

But this was commented:
`return e107::getRender()->tablerender($this->page['page_title'], $ret, $mode, true); //table style not parsed in hearder

[2018-12-10 14:12] Jimmi08 opened #3572 "CPAGESUBTITLE - or remove it or add table field"
In core page template there is used

`{CPAGESUBTITLE|default}`

[code]

`$this->page['sub_title'] = '';`

It's confusing.  Could you decide if this field is supported in future?
In my opinion, it's useful field.

[2018-12-11 04:49] wrxxy opened #3573 "Issue with image on homepage"
Hi guys was playing with homepage background images, it was working ok to begin with however i put in wrong size and also wrong extension png instead of a jpeg image anyhow I have since put back the original image and that image works on firefox without a problem but with Chrome image is small and right size and also wrong image , can anyone explain me why this is like this???

1st image is right

[2018-12-11 07:15] wrxxy commented on #3573
After a few hours now the firefox browser shows the smaller image which is not right, as the image has been changed back to original image.... ???? Anyone?

[2018-12-11 09:24] Jimmi08 commented on #3549
I found reason.  It's attachment

![image](https://user-images.githubusercontent.com/5429548/49790510-b3b35f00-fd2e-11e8-8c3c-7004306779d8.png)

But I don't see any option to remove it

![image](https://user-images.githubusercontent.com/5429548/49790565-cfb70080-fd2e-11e8-9134-a6990ed82fd4.png)

[2018-12-11 09:51] Jimmi08 opened #3574 "problem with {e_MEDIA_IMG} in forum signature"
Admin uploads image via Media manager // this is just example from where they copy path

![image](https://user-images.githubusercontent.com/5429548/49792122-3853ac80-fd32-11e8-975f-dfc0db97bd08.png)

Copy path to user signature
this way  (old image paths works)

![image](https://user-images.githubusercontent.com/5429548/49792166-53beb780-fd32-11e8-8ad7-adba38bc7d8d.png)

But result is relative ima

[2018-12-11 10:55] wrxxy commented on #3573
My fault all good now..

[2018-12-11 10:55] #3573 closed

[2018-12-12 07:22] Jimmi08 opened #3575 "default_install.xml - there is still version 2.1.7"
`<core name="version">2.1.7</core>`

Is there for this some reason or it's just forgotten?

[2018-12-12 07:47] Jimmi08 commented on #3432
@CaMer0n new install, php 7.0, I still don't see the price

![image](https://user-images.githubusercontent.com/5429548/49854461-80cea100-fdea-11e8-87e4-dc2e2ccded7c.png)

[2018-12-12 08:38] Jimmi08 commented on #3568
Confirmed. $LAYOUT is ignored, so you need to use templates for this.

[2018-12-12 08:38] #3568 closed

[2018-12-12 08:42] Jimmi08 commented on #3555
Today latest github, it looks it works now.

[2018-12-12 12:50] SalomanKane opened #3576 "Steam Login"
Greetings,
ive got a small Problem with the steam Login. But from the beginning:

The Steam-Login seems to work fine BUT in the new created profile with the Steamlogin is no E-Mail Adress saved and the E-Mail Field canot be edited. So i cant use the Steam Profile.
The new Profile is only usable with deactivate the option  "Force user to update settings " but this is no solution. The Profile owner

[2018-12-12 20:25] CaMer0n commented on #3576
@LaocheXe Are you able to help @SalomanKane  ?

[2018-12-13 05:02] LaocheXe commented on #3576
Yes, Hello @SalomanKane and sorry for the late reply. I can share with you the settings I have been using on 501stlegion-a3.com website. I only  use Steam Login  - disallowed for creating accounts (Steam Login  does it  already).  In the admin area of the website go to Preferences  > User Registration/Login I have User  registration system set to Login Only,  New user verification method set to No

[2018-12-13 09:14] SalomanKane commented on #3576
@LaocheXe
Thanks for your reply.
I have Changed the Settings and it worked :) but one problem still left. If i try to add a E-Mail Adress the Website ask for a Passwort. Is it normal?

[2018-12-14 12:04] #3576 closed

[2018-12-14 13:30] Moc commented on #3575
Should either be updated or removed, depending if it's still used or not.

[2018-12-15 17:33] tgtje commented on #3574
@Jimmi08  think seen this behaviour before (movies??) :
Look at url in the last image .... try adding a / in front of this (i.e)  try to gain an 'absolute path).
I do believe (from recalling, don't know when or which version) it (the sc)  'sits' to deep ( eg does not knows the domain... Hard to translate the idea behind  ../ or ./  or / in this
 Using a FULL path url should function always (testin

[2018-12-15 18:19] Jimmi08 commented on #3574
@tgtje  we fixed this by adding siteurl before shortcode, but this should be fixed (and now it's possible by adding "full" parameter to parsing). I just don't know where is this managed (I tried to check signature, but it looks like more bbcodes problem)

[2018-12-16 01:52] Killer0561 commented on #3560
German:

https://github.com/e107translations/German/blob/7fa28de25ddad884a581f1357f8520568a547905/e107_languages/German/lan_news.php

line 18 => define("PAGE_NAME", "Neuigkeiten");

https://github.com/e107inc/e107/blob/feba5002ddaeb5e1d1d41febffd4171721a441b7/e107_core/ortcodes/batch/news_shortcodes.php

line 447 =>

[2018-12-16 14:15] fsLeg commented on #1725
I wanted to use latest stable versions of jQuery and Bootstrap (from CDN; I'll try local versions later), and this code worked for me in theme_library.php:
[code]
I also had to specify
[code]
in my theme.php, since jQuery seems to be the only library that is always being loaded.

But I must add that those libraries aren't shown anywhere in admin panel, they only load in frontend, so it was trial a

[2018-12-16 14:52] Killer0561 commented on #3560
I found a fix for this:

1. Create a empty file "news_template.php".
2. Copy the file to: "e107_themes/YOUR-THEME/templates/news/news_template.php"
3. Done.

greeting

Killer0561 (Sascha)

[2018-12-16 16:32] fsLeg opened #3577 "Can't SETSTYLE comments"
I'm writing my own theme. The process has some hiccups, but I manage. But I can't defeat the following problem.

The comments are being output this way: $COMMENTSTYLE is inside whatever comment_class.php outputs, which in turn is inside whatever tablestyle() renders. comment_class.php can't be touched. comment_template.php is ignored. However, the template is used only if you don't define $COMMENT

[2018-12-16 18:41] #3575 closed

[2018-12-16 18:50] CaMer0n commented on #3577
`$COMMENTSTYLE` is deprecated and used only for old themes.

Copy `e107_core/templates/comment_template.php` to `e107_themes/YOURTHEME/templates/comment_template.php` and then modify that.

This should give you full control over how it looks.
Hope this helps.

[2018-12-16 18:57] CaMer0n commented on #3571
Thanks @Jimmi08 . Please close if this is now working for you.

[2018-12-16 19:01] CaMer0n commented on #3570
@Jimmi08 Thanks. Please close this issue if the commit fixes it.

[2018-12-16 19:05] CaMer0n commented on #3560
@Killer0561 Please check your `theme.php` file. Does it contain some old `$NEWS....` variables?

[2018-12-16 19:14] fsLeg commented on #3577
Except it doesn't give me full control. comment_template.php resides within $text variable of whatever tablestyle() renders. I need to tell tablestyle(), that I want to change style of comments so it wouldn't treat them as general content (default $style). So far I did this with {SETSTYLE} shortcode. But with comments I have no idea where to put it.

[2018-12-16 19:30] CaMer0n commented on #3569
@Jimmi08 I could upgrade it for you, but I'd need you help to have the changes tested extensively.

[2018-12-16 19:32] CaMer0n commented on #3577
@fsLeg Thanks for your feedback. What page are you testing with? News comments?

[2018-12-16 19:32] fsLeg commented on #3577
Yes, news comments.

[2018-12-16 19:34] CaMer0n commented on #3577
Thanks.. checking...

[2018-12-16 19:43] CaMer0n commented on #3577
Here's an example for theme.php:

    function tablestyle($caption, $text, $id='', $info=array())
    {
       if($id === 'comment')
       {
             echo $caption;
             echo $text;
             echo "<hr />custom style used only on comments";
             return null;
       }

    }

[2018-12-16 19:52] CaMer0n commented on #1725
Thanks @fsLeg ! That's certainly a good work-around.
Normally, one would just need to include this in their theme.xml file to load the latest bootstrap 4.

	<libraries>
		<library name="bootstrap" version="4" scope="all"/>
		<library name="fontawesome" scope="all"/>
	</libraries>

.. they could then switch between CDN or local in the admin preferences area.

The bootstrap4 version likely needs upd

[2018-12-16 19:56] fsLeg commented on #3577
@CaMer0n That seems to be working perfectly. Thanks!

Is there a list of those id's? Mayhaps they'll come in handy in the future.

[2018-12-16 19:56] #3577 closed

[2018-12-17 08:55] Jimmi08 commented on #3570
I couldn't get it work. It was because this:
https://github.com/e107inc/e107/issues/3562

After fix this for php 7, it worked.  Thank you.

[2018-12-17 08:55] #3570 closed

[2018-12-17 09:57] Jimmi08 commented on #3564
Thank you

[2018-12-17 09:57] #3564 closed

[2018-12-17 10:45] Moc commented on #3577
I tend to use this:

[code]

So in the source code, the ID's are visible. Having said that, the documentation should indeed include a list of id's...

[2018-12-17 18:41] CaMer0n commented on #3324
@Jimmi08 Thanks. This was helpful.

[2018-12-17 21:16] Killer0561 commented on #3560
yes, this variables:
(send my theme.php file in your private chat CaMer0n)

---------------------------------------------
function news_style($news) {
if (e_PAGE != "comment.php") {
 $cl_comment = '{NEWSCOMMENTS}';
 $cl_news_sep = '<div class="cCapSep" style="margin-bottom: 30px;"></div>';
 $cl_style = 'news';
} else {
 $cl_comment = '';
 $cl_news_sep = '';
 $cl_style = 'comment';
}
--------------

[2018-12-19 08:02] Jimmi08 opened #3579 "FR: GDPRs links to be able use in all system"
Now are there 2 prefs:
gdpr_privacypolicy
gdpr_termsandconditions

you can use only one in contact template, because only contact shortcodes are available:
`{CONTACT_GDPR_LINK}`

But those links can be needed in signup template too and as values for example in signup text:
![image](https://user-images.githubusercontent.com/5429548/50206176-e7176e80-036a-11e9-9882-c8dc8fe15714.png)
And they could b

[2018-12-19 20:22] #3562 closed

[2018-12-20 07:30] aducom opened #3583 "Statistics has issues"
Under php 7.1 and 7.2 the statistics module has issues. I.e. referral stats generates an error under php 7.2 and a blank page under 7.1. See also: https://www.e107help.org/4455/requesting-statistics-about-referral-stats-generates-error

Not sure but search string stats does give a rendered form with no results where I would expect at least some.

Others seem to work well.

[2018-12-20 14:33] Jimmi08 opened #3585 "problem with W3C validation"
I am getting warnings with W3C validation with new theme.

![image](https://user-images.githubusercontent.com/5429548/50290627-8d976880-046c-11e9-9152-c1d2d5aa99b0.png)

I don't know if this is important or not, but I wanted to note this.

[2018-12-20 19:01] Jimmi08 commented on #3549
After removing this shortcode {ATTACHMENTS: modal=1}, problem is way.

[2018-12-20 19:12] Jimmi08 opened #3587 "modal forum attachments are too big"
Because this:
`$full = $tp->thumbUrl($baseDir . $file, 'w=1000&x=1', true);`

smaller forum attachment image looks like this:

![image](https://user-images.githubusercontent.com/5429548/50305569-820b6800-0493-11e9-99ce-72e751fd803d.png)

There should be used real image size .

[2018-12-20 19:13] #3549 closed

[2018-12-21 11:32] tgtje commented on #3585
Just my 2 cents : it is when html5 (check) as type= is no longer needed , so a warning, not an error.
So type=text/css... and type=text/java..... could be discarded/not used (for html5).
Most likely a validation using 4.0.1 Trans.. should show no warning.
( https://validator.w3.org/#validate_by_uri+with_options ) just change Doc..type select..

[2018-12-21 11:55] Jimmi08 commented on #3585
@tgtje yes, you are right. But site has html5 doctype, not 4.0.1, so there should be way how to set this and then output of e107::css would be different.

[2018-12-21 21:02] Jimmi08 opened #3588 "problem with parsing quote in text field with json format"
You can test this on bullets plugin

If you have  field
`		  'bullet_bullets'      =>   array ( 'title' => 'Bullets', 'type' => 'method', 'data' => 'json', 'width' => '38%', 'help' => '', 'readParms' => '', 'writeParms' => '', 'class' => 'left', 'thclass' => 'left',  ),`

with method where values are saved in json format:

Text with quote f.e.
`There are two me's when I take a picture. `
is correc

[2018-12-22 17:28] Jimmi08 opened #3589 "home icon in breadcrumbs with fontawesome icons"
I noticed that home icon is glyphicon icon although theme is using fontawesome icons.
Second problem is that with glyphicon set there is visible delay while icon is displayed. It's not visible with FA icons.

[2018-12-23 13:07] Jimmi08 commented on #3583
@Deltik Thank you very much.
Is Fatal error related to php version?  Because I hadn't that problem.
Wouldn't be better to add default value null here:
`function simpleParse($template, $vars, $replaceUnset='')`
`$vars = null `
to avoid this error in future? I am just curious, nothing more.
Thanks again

[2018-12-23 13:31] MikeyGMT opened #3592 "Latest Git, Repeated reminders Update Required: user/e_user.php need to be registered"
Hi All,
Update one of my sites to latest git today and keep getting reminders in Admin.

* Update required in update_routines.php on line 693 (user/e_user.php need to be registered)

Running the update appears not to fix it.
Print_a of $e_user_list after it is read from prefs (686) returns null.
The plugin sits in Not-Installed, but cannot be installed.
Taking a look at a few other installations t

[2018-12-26 18:10] CaMer0n commented on #3588
Are you using e107::unserialize() on the value before rendering the form element?

[2018-12-26 18:14] #3583 closed

[2018-12-26 19:55] Jimmi08 commented on #3588
@CaMer0n Yes.
That problem is with custom fields too. With Pages. Textarea works. Text field doesn't.

[2018-12-30 00:37] Killer0561 opened #3594 "Custom forum_post_template.php not working"
Hi,

I'm having problems with my own forum template. I'm already using the new path (e107_themes/THEME/templates/forum/forum_post_template.php). However, my own template does not work there.

The default forum_post_template.php in e107_plugins/forum/templates/ work without problems ...

Here my file:
https://pastebin.com/RyPL9XCW

greeting

Killer0561 (Sascha)

[2018-12-30 11:52] Moc commented on #3594
A blank page means that there is a PHP fatal error. In this case you probably have a syntax error in your custom template, as illustrated by the example of Jimmi on Gitter. The PHP server error log will show you exactly the errors you have in the custom template.

I'm closing this issue on Github,as  it's not a core issue.

[2018-12-30 11:52] #3594 closed

[2019-01-01 14:03] Jimmi08 opened #3595 "FR - caption templating option with single page"
Books and chapters can use $template['caption']
but with single page you can't use template for caption
`	return array('caption'=>$this->page['page_title'], 'text'=>$ret, 'mode'=>$mode, 'title'=>$this->page['page_metadscr']);`

Books are done this way:
[code]

Chapters are done this way:
[code]

What I need is to use shortcode MENUTITLE in Page title as subtitle.
[code]

I know that I can remove $

[2019-01-01 17:39] MikeyGMT commented on #3592
Happy New Year!

A little digging into this done today.  So one site has no pref value in e_user_list but two other sites do.

![image](https://user-images.githubusercontent.com/2847651/50574987-59686400-0deb-11e9-937f-52617943d202.png)

![image](https://user-images.githubusercontent.com/2847651/50574981-42c20d00-0deb-11e9-84b0-c2042f49d379.png)

I am not sure what fills that array, I can only see

[2019-01-02 22:10] gary231178 opened #3596 "Theme Manager blank modal with PHP 7.x"
Theme Manager:-
Latest install of e107 from github

When trying to install a theme from the find themes tab, upon clicking the theme i wish to install, the popup box is empty and nothing happens / installs.

Any help in resolving much apreciated.

Regards.

Gary

[2019-01-02 22:38] gary231178 opened #3597 "sitedown template logo"
When activating the sitedown flag, there is a missing logo error at top of page.
When i view the url for it is http://www.allotmentguide.com/theme/img/0x300/voux/install/logo2B252832529.png
there is no such directory as theme as it is e107_themes and in anycase it refers to the voux theme which isnt even the one im using.

Any advice greatly appreciated, just come back to e107 after a 5 year break

[2019-01-03 10:48] Jimmi08 commented on #3596
@gary231178 PHP version? or other enviroment settings.

[2019-01-03 10:54] Jimmi08 commented on #3597
For that URL you need to look at e107_themes/voux/install
It's new in version 2 with Media Manager.
Voux theme is there by default. When you change theme and theme doesn't override this image by install.xml, your data (path) is not changed.  Check your logos in Preferencies.

[2019-01-03 12:52] MikeyGMT commented on #3592
I tried manually populating it via db core prefs, but that was ignored, it was reset straight away.

[2019-01-04 08:48] gary231178 commented on #3596
Thank you for the reply. I was initially using php version 7.0 i have also tried using both 7.1 and 7.2 all of which wouldn't work. I was able to change the php version to 5.6 and then the theme manager would work correctly as intended, here is my issue though for me to be able to use https with my domain my webhost (1&1) insists that i have to use php version 7.0 or above, using any other version

[2019-01-04 09:02] Jimmi08 commented on #3596
I can confirm this with php 7.2.  Officially e107 support php 7.1. and I think that there is already issue about this created.
My advice - download theme manually from e107.org and use ftp.

[2019-01-05 09:41] 2214445407 opened #3598 "ERROR 1286 (42000) Unknown storage engine 'MyISAM'"
What should I do if I encounter this situation?
The final step of the installation suddenly prompts this!
Please help me, I am using a Cpanel host.

[2019-01-05 13:33] Jimmi08 commented on #3180
I don't know if this was fixed somehow  during time  but with export on PHP 5.6 livesite this works.
If this happens again with other version of PHP or localhost, I will create new issue.
For now this is solved for me.
Thank you.

[2019-01-05 13:33] #3180 closed

[2019-01-05 23:00] gary231178 opened #3599 "wysiwyg"
Apologies if this has been answered before but i couldn't find an answer,

So im using e107 again after a break from the web for a couple of years, my html knowledge is very basic, and always relied on wysiwyg for both the news, welcome message & new pages, in preferences i have wysiwyg set to on (was by default) and post html for main admin, however, in all the areas where i previously used wysiw

[2019-01-05 23:02] gary231178 commented on #3599
![screenshot_2](https://user-images.githubusercontent.com/12760959/50730146-e8ec7a80-113d-11e9-8862-91c02f04ae69.png)

[2019-01-06 12:36] Jimmi08 commented on #3599
Do you have installed Tinymce between your plugins?

[2019-01-06 12:44] Moc commented on #3598
You should contact your webhosting provider. It's weird that it lists MyISAM as an unknown storage engine as it is the default in MySQL installations. Your webhosting provider will be able to explain it and find a workaround.

[2019-01-06 12:44] #3598 closed

[2019-01-06 12:47] Moc commented on #3596
e107 should work fine with PHP 7.0 and 7.1. Compatibility with 7.2 is improving but not complete yet. Please do keep on reporrting these issues as it will help to speed up the process ;)

[2019-01-06 12:57] Moc commented on #3567
We need a list with these ID's as well anyway

[2019-01-06 13:00] Moc commented on #3557
@CaMer0n your thoughts on this one?

[2019-01-06 13:39] gary231178 commented on #3597
Thankyou for the reply, im still having sitewide issues with images, wherever an image is supposed to be i just get the missing image logo, and even when uploading and or viewing images in admin area  i see the filename of the image but no preview, if i right mouse click any of the affected images and i try to open the filepath i get a 500 internal server error, ive have gone through all settings

[2019-01-06 13:39] gary231178 commented on #3599
Aah thats the issue then ill do that now, thankyou.

[2019-01-06 13:55] Jimmi08 opened #3601 "Forum in List new plugin - user link is wrong"
in file e_last.php in forum plugin:

$thread_lastuser -  is user ID but there is code:
[code]
result is that here $thread_lastuser
`$uparams = array('id' => $thread_lastuser, 'name' => $lp_name);`
and user link is wrong
`<a href="/e107-fresh/user.php?id.">admin</a>`

values:
from DB:
`string(1) "1" `
After substr used:
`string(0) ""`

because there is no dot in db field, third parameter is false a

[2019-01-06 13:55] gary231178 commented on #3596
Just to confirm i get the same problem on a clean install  using php 7.0

[2019-01-06 15:03] Jimmi08 commented on #3601
Links to Forum ignoring URLs settings, old links are used:

`$record['heading'] = "<a href='".$path."forum_viewtopic.php?$lnk'>".$rowheading."</a>";`
`$record['category'] = ($this->parent->settings['category'] ? "<a href='".$path."forum_viewforum.php?$forum_id'>$forum_name</a>" : "");`

[2019-01-06 17:19] Jimmi08 commented on #3599
@gary231178 what I know -  I have never tinymce installed (maybe because I use git version). There is other editor too, so maybe this is reason. Or it depends on e107 version? No idea. But I always wonder after new install where is my wysiwyg when I set to use it ON.  So you are not only one :)

[2019-01-06 18:52] CaMer0n commented on #3588
okay, thank you!

[2019-01-06 18:54] CaMer0n commented on #3599
A javascript error (caused by an old plugin etc) can cause TinyMce to fail to load.

[2019-01-06 18:56] CaMer0n commented on #3597
hi Gary, I'd be happy to take a closer a look at what is occurring for you.
Please send me a private message on Gitter when you have time.

[2019-01-06 19:06] #3338 closed

[2019-01-06 19:36] gary231178 commented on #3597
ok ive never tried to do that, but ill give it a go thankyou

[2019-01-07 02:56] CaMer0n commented on #3557
@Jimmi08 Because bootstrap classes are hardcoded into the core of e107, and without the backcompat.css file some things would look seriously broken.

[2019-01-07 08:35] Jimmi08 commented on #3557
Ok, thanks

[2019-01-07 08:35] #3557 closed

[2019-01-07 08:37] Jimmi08 commented on #2471
This is fixed by deleting record via Overview

[2019-01-07 08:37] #2471 closed

[2019-01-07 08:40] Jimmi08 commented on #3211
I don't need this anymore, so I am closing this.

[2019-01-07 08:40] #3211 closed

[2019-01-07 09:41] Jimmi08 commented on #3241
This works now. Tested with Advanced BBcodes plugin.

[2019-01-07 09:41] #3241 closed

[2019-01-07 11:05] jipem01 opened #3602 "Impossible to login as admin with 2.1.9 fresh install on wamp"
Hello,

Trying a fresh install today on a **wamp server** for local developpment. After successully installing e107 2.1.9, i try to login with login and password provided during installation, with no success (Login and password does not match an existing user etc...).
I could create a new user, and copy his encrypted password as admin password directly with phpMyAdmin, and then, it was possible to

[2019-01-07 13:24] Jimmi08 opened #3603 "imageselector and multiarray_sort vs php 7"
I noticed  that I can't use imageselector shortcode in php 7

Reason is this line in imageselector.php

`$icons = multiarray_sort($icons, 'fname');`

before it $icons is normal array, after it there is only last item of array

Arrays looks like this:
[code]

[2019-01-07 14:04] Jimmi08 opened #3604 "Q: why in e_meta is forum core template already loaded and theme one is ignored"
If your print $FORUM_VIEWTOPIC_TEMPLATE['thread']  in e_meta.php of other plugin, you can see it's already filled (so core templates was loaded)
But then on website theme template is used.  It means that theme templates are loaded later.
So templates are loaded at least twice time?

[2019-01-07 14:46] Jimmi08 commented on #3604
It's correct. Problem was somewhere else.

[2019-01-07 14:46] #3604 closed

[2019-01-07 18:40] Jimmi08 opened #3605 "toDate() and time in future - relative time is wrong"
I have those data:

[code]
Result:
![image](https://user-images.githubusercontent.com/5429548/50786155-04c55d00-12b3-11e9-9698-690104ee7b03.png)

Date is correctly saved in Unix forum.  Manual checking:
![image](https://user-images.githubusercontent.com/5429548/50786253-448c4480-12b3-11e9-8e79-aa6b336cdbee.png)
![image](https://user-images.githubusercontent.com/5429548/50786262-4d7d1600-12b3-11e9-

[2019-01-07 21:04] Jimmi08 opened #3606 "FR (Q) - admin UI - check only allowed actions"
Ok,
maybe there is other way how to do it.  But I want to allow only edit mode.

I was able to do it with:
[code]

it works.
![image](https://user-images.githubusercontent.com/5429548/50792918-db163100-12c6-11e9-8da0-99c2aa1c2416.png)

But if somebody manually change url to list - list mode is displayed.

I solved this by checking $mode in form (method type is used) and return Cheating warning wit

[2019-01-08 00:47] CaMer0n commented on #3596
@gary231178 @Jimmi08 Please re-test with latest changes. Thank you.

[2019-01-08 12:58] Jimmi08 opened #3607 "forum dropdown buttons - bootstrap4 problem"
The are more buttons, now just this one.
Html markup for button dropdowns was changed in bootstrap4

This is fix for newthreadbuttons() - looks totally ugly
main changes:
- span caret is not used
- ul/li was replaced by div
- a has dropdown class

[code]

Only solution was replaced those shortcodes with old version {BUTTON} and {NEWTHREADBUTTON}

How to solve this?
by the way, example of bootstrap

[2019-01-08 13:09] Moc commented on #3602
I think I had the same issue. Will need to reproduce again to be sure. Will get back to this.

[2019-01-08 13:35] jipem01 commented on #3602
I work with wampserver 3.1.3 :
Apache 2.4.33
PHP 5.6.35
MariaDB 10.2.14

[2019-01-08 16:42] Moc commented on #3592
I'm getting the same issue on one of my websites.

[2019-01-09 15:56] CaMer0n commented on #3602
@Moc Would be good to see the actual password string after install to determine which algorithm was used.

[2019-01-10 09:36] Moc commented on #3602
Clean install with Github files, PHP 7.1.

During installation:
- All checks passed
- Username: admin
- Password: testing

Frontend login: Works
Admin login: Works

Will do more testing with different environments asap.

[2019-01-10 13:53] Moc commented on #3602
Just tested this with PHP 5.6.40 and MariaDB 10.3.12. Still no luck reproducing. Logged in both on frontend and admin area.

I am sure I had a similar issue but then I only could login via frontend and not directly via admin area.

[2019-01-10 13:55] Moc commented on #3602
@jipem01 Could you try and reproduce the issue on your environment and share the encrypted password strings please?

[2019-01-10 14:03] Moc commented on #3605
Confirmed

[2019-01-10 14:16] Moc commented on #3605
So it works properly when I install the plugin "Livetime" by @arunshekher which includes the actual JS files required to make use of the 'livestamp' plugin (http://mattbradley.github.io/livestampjs/)

I'm just wondering why by default it does support "x time ago" but not future. Researching....

[2019-01-10 14:24] Moc commented on #3605
When using 'relative', by default the `toDate()` method calls the `computeLapse()` method in date_handler.

This by default returns `LANDT_AGO` which is defined as `define("LANDT_AGO", "ago");`

[2019-01-10 14:34] Moc commented on #3585
Not important as it does not have an impact on functionality but seeing we're using HTML5 as default doctype mostly nowadays, it would be something to change in core for sure. We just need to think of backwards compatibility here with themes using other doctypes. Not sure what the best option is.

[2019-01-10 14:42] Moc commented on #1649
Closing due to the lack of feedback. If you are still experiencing the issue, please let us know and I'll re-open.

[2019-01-10 14:42] #1649 closed

[2019-01-10 16:53] CaMer0n commented on #3592
Please re-open if this doesn't solve it.

[2019-01-10 17:02] MikeyGMT commented on #3592
Just refreshed from GIT, checked several times, e_user_list remains null and system still requesting update.

[2019-01-10 17:03] Moc commented on #3592
@MikeyGMT Cameron and I are live testing as we speak :)

[2019-01-10 17:21] Moc commented on #3592
We found the cause of the issue, and a workaround but it would be better to solve the issue at the core. Updates coming soon :)

[2019-01-10 19:18] Moc commented on #1728
2.5 years later but.... confirmed as a bug.

By default, userclass is left empty even though it should always include the 'member' class (253).

Therefore, this check fails https://github.com/e107inc/e107/blob/3f2a55114717b0f8865f83e6036307c6b8ba7da7/e107_admin/users.php#L1411:

`if (!check_class($pref['displayname_class'], $allData['data']['user_class']))`

[2019-01-10 19:36] Moc commented on #1383
I believe this to be a server side configuration which is triggered (such as mod security). I just tested this on various installations and it seems to work fine.

Please contact your webhosting provider in case the issue persists. They may have a clue and can actually look into the server logs to check for more information on the 403.

[2019-01-10 19:36] #1383 closed

[2019-01-10 19:42] Moc commented on #1564
Closing this due to the lack of feedback. If it's still an issue, I'm assuming it will be fixed if this issue is fixed as well: https://github.com/e107inc/e107/issues/3525

[2019-01-10 19:42] #1564 closed

[2019-01-10 19:47] Moc commented on #2955
Cannot reproduce. Still an issue?

[2019-01-10 19:58] Moc commented on #3122
@net1313 @KaeLhun I am assuming this as fixed as the other issues referenced in this issue are also fixed.
Please let me know in case the issue persists, then I'll re-open.

[2019-01-10 19:58] #3122 closed

[2019-01-10 20:00] Moc commented on #3555
@tyupika93 I am closing this issue as I believe the issue is resolved in the latest files, which will be part of the 2.2.0 release.

Please let me know if the issue persists, then I'll re-open it.

[2019-01-10 20:02] net1313 commented on #3122
by reinstalling e107 the bug has gone

[2019-01-10 20:07] #2985 closed

[2019-01-10 20:08] Moc commented on #3122
Thanks for confirming.

[2019-01-10 20:15] Jimmi08 commented on #2955
@Moc Tested with latest github, 5.6 version.
If you set at first SEF-URL for pages, then generate link from chapter:
![image](https://user-images.githubusercontent.com/5429548/50994485-a8fe0c80-151c-11e9-8dc7-622f2a2d8c45.png)
After editing ulr is  wrong:
![image](https://user-images.githubusercontent.com/5429548/50994488-abf8fd00-151c-11e9-9e2a-c0015411d994.png)

[2019-01-10 20:19] Jimmi08 commented on #3555
@Moc There should be some explanation what is considered as bad file now.  I couldn't get it from code.
The same steps - I make printscreen, saved as jpg or png (with Snagit) -  from (of) ten pictures one is detected as wrong and I can't it upload. No idea why.

[2019-01-10 20:46] #1799 closed

[2019-01-10 20:47] Moc commented on #3555
@Jimmi08 Agreed. Please post it up as a new issue and I'll label it as enhancement.

[2019-01-10 20:55] Moc commented on #2699
Not considering this a bug. Please re-open or submit pull-requests if you'd like to change this behaviour.

[2019-01-10 20:55] #2699 closed

[2019-01-11 00:41] CaMer0n commented on #3605
@Moc I agree. :+1:

[2019-01-11 08:27] Jimmi08 opened #3608 "newsletter plugin - missing translations"
Admin area is not translated

![image](https://user-images.githubusercontent.com/5429548/51021881-09279980-1583-11e9-8e7a-64e1617513aa.png)

[2019-01-11 09:22] Jimmi08 commented on #3607
Note:  caret is easy to fix with css, I didn't notice this before because it uses bs-caret and there is caret class now. Probably the rest can be fixed with css too.  But this is real question -  what is planned for future?
If I fix it now with ul/li/a markup and later you add correct BT4 markup, it could break theme.
So what is correct way?

[2019-01-11 09:50] Moc commented on #1799
@martyshep Sorry it took so long, but this bug is now fixed.

[2019-01-11 09:52] #3608 closed

[2019-01-11 09:57] Moc commented on #2604
Sorry for the late reply.

Could you give us some more information on your live environment in which the problems occur? PHP version for example. Also, is mod_rewrite enabled? (Can be checked in the admin area > php info)

[2019-01-11 10:40] Moc commented on #3605
@CaMer0n Can you check if my fix is OK please? I am pretty sure it could be done more efficiently but I didn't want to break anything as it such a core method.

[2019-01-11 10:56] Moc commented on #2486
There's still a bug with the second SEF URL configuration for downloads. The default works fine, but when using the experimental one it shows an error:

![image](https://user-images.githubusercontent.com/577978/51029828-c8864b00-1597-11e9-8a08-67f40da2f429.png)

TestParent
TestChild
TestDownloadItem

[2019-01-11 13:48] martyshep commented on #1799
Awesome thanks Tijn!  Your support is far better than some paid for support
I've received in the past from companies :)

On Fri, 11 Jan 2019 at 10:50, Tijn Kuyper <notifications@github.com> wrote:

[2019-01-11 14:17] Moc commented on #1799
@martyshep You're welcome! 👍  Glad to hear.
Information on how to support e107 can be found here: http://e107.org/community (last section).

[2019-01-11 15:59] Moc commented on #2807
@BigBoiJefe Is this still an issue?

[2019-01-11 16:22] Moc commented on #1933
Confirmed. It's due to the fact that rates are only stored in full stars (1 to 5 by default) and not halfs. You are however able to select half stars.

@CaMer0n @nesjett @Jimmi08 @rica-carv @BigBoiJefe Does anyone know if it was ever possible to rate using half stars? Looking at the code, I think not.

I think it's best to limit it to full stars (numbers) rather than to also use halfs.

[2019-01-11 16:40] Moc commented on #3385
I am pretty sure this is fixed. If not, please continue the discussion in #3307

[2019-01-11 16:40] #3385 closed

[2019-01-11 16:49] Moc commented on #2032
@Aaronsss We are assuming this issue is fixed using the latest files. If this is not the case, please let me know and I'll re-open.

[2019-01-11 16:49] #2032 closed

[2019-01-11 19:57] newwhitebear opened #3612 "Ban flood"
i'm italian user. I use github e107 2.2(github)

I turn off ban flood but it continues to operate inexplicably before login
This is notify to admin
0000:0000:0000:0000:0000:ffff:77b9:0729
What is?

e107 version 2.2 (github)

[2019-01-11 19:58] CaMer0n commented on #3605
@Moc I ran the test and it failed. It appears to be placing 'in ' in all cases for me. How about you?

[2019-01-11 21:53] jipem01 commented on #3602
Today I try the following :
- My personal server,  Centos with php 5.4.16, Appache 2.4.6 and mariaDB 5.5.60,
- Fresh install of wamp on my w10 computer (with MariaDB 10.3.9, PHP 5.6.38 and Appache 2.4.35, as close as i can of my office computer...).
For both, no problem.
I'll try monday with my office computer.

[2019-01-12 16:39] Moc opened #3614 "Addon (plugin/theme) update available message does not use LANS"
Using both English and Dutch.
Language settings for both Admin Area and Frontend are set to Dutch.

Caches cleared,

Plugin update available message shows up in English:

![image](https://user-images.githubusercontent.com/577978/51075809-f69b8600-1690-11e9-93c9-a4fe0e99c6ea.png)

PHP 5.6.40
Latest Github files.

[2019-01-12 18:33] Bobbycharlton1 opened #3616 "admin login with email address not working"
I just installed latest clean version. I logged in on the main page no issue.  but when I select admin area, it asked me to login again.  I did but had to use a different login.  once at the admin page, no matter what area of the admin I select, I get redirected to the login page.  once logged in again, its sends me back to the main admin page

[2019-01-12 22:11] tgtje commented on #3614
Tested LOCAL on php 7.2.11  and php 5.6.32  (both synced to latest Git).
Used Wolfplayer for update purpose:

Both versions display SAME message  ; so can not replicate
![awp](https://user-images.githubusercontent.com/1811857/51078984-6163b600-16bf-11e9-8409-19151542f1b4.jpg)

[2019-01-13 09:09] tgtje commented on #3614
Wow, just had an epiphany.... Differentiate please : Survey (poll rewrite) (language contruction is without locale folders) OR SurveyS (updated Septor/Jimako version) which is something else.

The tricky thing here is that SurveyS (S/J) and Survey (tubb_) use the SAME plugin FOLDER name..(install mode) The Title does change in manager... Languages are NOT up to date (no NL for SurveY ), and using

[2019-01-13 11:36] Bobbycharlton1 commented on #3616
PHP 7.0.33
SQL 5.6.41-84.1

[2019-01-13 11:38] Moc commented on #3616
What do you mean by this?

[2019-01-13 11:41] Bobbycharlton1 commented on #3616
So if I login on the main page it insists on using my email address
If I select admin it takes me to the admin login page where I have to use the username setup in the install process. It won't accept the email address

[2019-01-13 11:42] Moc commented on #3616
Ok, and logging into the admin area with the username and password you entered during installation works fine? Just not with the email address, correct?

[2019-01-13 11:44] Bobbycharlton1 commented on #3616
No. Once logged in I got the main admin page. Now if I select any admin item it takes me back to the admin login page and I have to login again and it just takes me back to the main admin page again

[2019-01-13 11:46] Moc commented on #3616
Ok. I confirmed the bug of not being able to login to the admin area with an email address (only username and password).

As for your second issue. Are you being redirect back to the Dashboard or to the admin login page?

Also, I'm on Gitter for real-time chat: https://gitter.im/e107inc/e107

[2019-01-13 11:48] Bobbycharlton1 commented on #3616
So once logged into admin dashboard. I select any admin item such as welcome message. It sends me to the admin login page. I login again and it sends me back to the dashboard. Just a circle

[2019-01-13 11:53] Moc commented on #3616
Ok, so this sounds like your server configuration may be incorrect. Can you check (or let your hosting provider check) the PHP session save path, to see if it's set correctly and whether the folder is writable for the server?

[2019-01-13 14:44] newwhitebear opened #3617 "Mail error for language pack"
whenever i generate language pack after update, the file mailed to worng mailto
The mail system
<languagepacks@e107inc.org>: host e107inc.org[54.70.162.146] said: 550 " (in
    reply to RCPT TO command)
Return-Path: <orsobianco9@newwhitebear.net>
Received: by blackbeard.sevenseas.org (Postfix, from userid 10039)
	id 86C836008303; Sun, 13 Jan 2019 15:10:35 +0100 (CET)
To: "e107 Inc." <languagepacks

[2019-01-14 02:42] BigBoiJefe opened #3619 "Moving forum post blank page"
When I try and move a forum thread the page that I get redirected to is blank.  Any idea what's causing this?  I am running the most current github branch.  Thanks!

[2019-01-14 09:47] Moc commented on #3619
PHP version?

[2019-01-14 10:34] Moc commented on #3619
Nevermind, found what is causing the issue. Will get back to this.

[2019-01-14 11:02] Moc commented on #3619
Just making some notes while trying to figure this out. Related to userclass permissions issue:
https://github.com/e107inc/e107/issues/3525 and https://github.com/e107inc/e107/issues/3550

Clean install:
- Main Site Administrator (created during install) has no value for `user_class` in user table
- https://github.com/e107inc/e107/blob/4becf60d2896e22c6721d1829b8a9f8799d28ddc/e107_plugins/forum/fo

[2019-01-14 11:10] Moc commented on #3619
@phibel You did a lot of work on this specific area. Could you look into why a Main Site Administrator is not able to move forum posts on a clean install?

[2019-01-14 11:14] Moc commented on #3619
I think this needs changing:

https://github.com/e107inc/e107/blob/4becf60d2896e22c6721d1829b8a9f8799d28ddc/e107_plugins/forum/forum_post.php#L70

to:

`$moderatorUserIds = $forum->getModeratorUserIdsByPostId($this->id);`

[2019-01-14 11:33] SimSync commented on #3619
`getModeratorUserIdsByPostId($this->id)` doesn't work, because `$this->id` contains the threadid and not the postid.
Switched to `getModeratorUserIdsByThreadId($this->id)` to receive the moderators for the thread. This worked and included also the userid of the main admin.

[2019-01-14 11:48] phibel commented on #3619
All my test users were a member of the moderator class of the thread/forum, so I think thats why did not run into this problem. I will try to look at it until Wednesday @Moc.

[2019-01-14 14:41] HatchlingByHeart opened #3621 "Plugins issue when using PHP 7.3.x"
Plugins are unable to be installed with the "success" message: "is missing from the plugin db table" when running on a PHP 7.3 server. Issue confirmed not present in PHP <= 7.2.

[2019-01-14 14:46] Moc commented on #3621
Confirmed as well

[2019-01-14 15:34] Jimmi08 commented on #2585
Not needed anymore

[2019-01-14 15:34] #2585 closed

[2019-01-14 15:34] Jimmi08 commented on #3572
Not needed anymore.

[2019-01-14 15:34] #3572 closed

[2019-01-14 15:35] Jimmi08 commented on #3607
The rest fixed with javascript. Not needed anymore. If I found next ones, I will PR it to this issue.

[2019-01-14 15:35] #3607 closed

[2019-01-15 01:58] BigBoiJefe commented on #3619
Are you saying that i have to create a group called MODERATOR?

[2019-01-15 02:06] BigBoiJefe commented on #3619
Welp, that didn't work...

[2019-01-15 02:31] BigBoiJefe commented on #3619
So from seeing this, I can't have different groups managing specific forums.  That kinda defeats the point of having forum permissions, no?

[2019-01-15 06:33] mostym opened #3622 "Download Plugin: Reported links goto non SEF urls"
When clicking on the  There are unmoderated administrator messages link, download urls are not SEF but instead plugins/download/download.php?view.84963

[2019-01-15 11:35] Moc commented on #3619
@BigBoiJefe no, just hang on a little longer. There is a bug in the core code which causes this issue.

[2019-01-15 17:01] CaMer0n commented on #3596
@Jimmi08

[2019-01-15 17:05] Jimmi08 commented on #3216
But they can be uncommented...
![image](https://user-images.githubusercontent.com/5429548/51196768-1c729600-18f0-11e9-9ac9-1d5d5e06565d.png)

[2019-01-16 04:32] CaMer0n commented on #3605
@Moc I found some time to rewrite it. Please give it a try. Thanks.

[2019-01-16 10:13] Moc commented on #3605
@CaMer0n Thanks! Just tested and it seems to work fine 👍

[2019-01-16 10:22] #3605 closed

[2019-01-16 10:45] SimSync commented on #3619
I think my last commit should fix this issue. PR #3620 is submitted.

[2019-01-16 12:12] Moc commented on #2686
@fizi I believe this is fixed. If it is not, please let me know and I'll re-open.

[2019-01-16 12:12] #2686 closed

[2019-01-16 13:30] Moc commented on #3182
It may very well be that this issue is already resolved in the latest update. Please try updating from Github before we look into this issue more closely.

There is an easy way to sync with Github:
- Enable developer mode in `Admin Area > Preferences > Advanced features`
- Go to `Admin Area > Tools > Database > Sync with Github`
- Press the `Overwrite files` button and wait until the process has f

[2019-01-16 13:32] Moc commented on #2062
I am assuming this issue is fixed. If not, please let me know and I'll re-open.

[2019-01-16 13:32] #2062 closed

[2019-01-16 13:33] Moc commented on #1566
How do you set the welcome message in different languages? The multilan plugin?

[2019-01-16 13:54] Moc commented on #3374
Caused by this code in class2.php:

[code]

When a user sets their timezone settings, it calls the `date_default_timezone_set()` function, which then is the base for all date/time functions in e107. Meaning, all times will now be displayed based on the timezone of that user.

The timestamp in the Server Info bar, also use the PHP default `date()` and is therefore changed as well.

To be honest, un

[2019-01-16 13:57] Moc commented on #1405
It shouldn't be possible for it to happen on v2. If you do however see this happening, please let us know and I'll re-open.

[2019-01-16 13:57] #1405 closed

[2019-01-16 16:44] Moc commented on #3174
I was not able to reproduce this on various environments. If anyone else is able to reproduce the issue, please let us know here and I'll re-open. Closing for now.

[2019-01-16 16:44] #3174 closed

[2019-01-16 16:53] Moc commented on #3546
Confirmed.

@CaMer0n What are your thoughts on how to fix this?

[2019-01-16 16:55] Moc commented on #2860
@CaMer0n @lonalore @Jimmi08 @fwhcat Where are we on this issue? Can it be closed? Are there still issues open?

[2019-01-16 17:00] Moc commented on #3165
You should only get this message when you are in developer mode.

To be sure, what is your PHP version?

[2019-01-16 17:04] Moc commented on #3258
@CaMer0n @SimSync Is there anyway to test this further to confirm whether the issue is resolved?

[2019-01-16 17:07] Moc commented on #3602
@jipem01 Any luck trying to reproduce it? :)

[2019-01-16 17:10] Moc commented on #3606
I think this needs a check in the Admin UI controller to check the URL/query string.

[2019-01-16 17:11] Moc commented on #3485
Fixed with https://github.com/e107inc/e107/commit/254f56a449841016fabb0e60a35e2db295c04e6d

[2019-01-16 17:11] #3485 closed

[2019-01-16 17:16] Jimmi08 commented on #3374
@Moc I don't want to change anything with dates / timezones. In meanwhile I figured it myself .  It works correctly.
This issue left open only because label in admin info part. It was really confusing.  Maybe "Your time"?
You can close this, if you want.

[2019-01-16 17:18] Jimmi08 commented on #3258
I will reopen it if it happens to me again. Not important now.

[2019-01-16 17:18] Moc commented on #3541
I've not been able to reproduce this yet on several environments, both Linux and Windows.

There's two issues:
- The extra dots should be fine. There's something environment (your hosting setup) specific that prevents this from functioning ok
- The file not being writable

As for the file not being writable, does chmodding to 666 help?

[2019-01-16 17:20] Moc commented on #3516
Perhaps related #2486

Doing testing asap

[2019-01-16 17:25] Moc commented on #3516
I can seem to open `LEGO Star Wars - Az Ellenállás hajnala [2016]` as it has a link. Perhaps the SEF URLs are missing for the others? Can you check in the admin area?

[2019-01-16 17:28] Moc commented on #3622
This is heavily outdated and needs to be moved in Download plugin code and database rather than still using the generic table.

[2019-01-16 17:29] phibel commented on #3619
The solution from @SimSync looks good to me, I tested it in my installation.

[2019-01-16 17:34] Moc commented on #3617
I think we need to keep the functionality of generating the ZIP files, so that translated files can be 'exported' from the e107 install. Then moved into Github manually.

This means we probably need to adjust the `function zipLang($language)` method in `e107_admin/lancheck.php`:
- Adjust message / instructions
- Do not call the share() method again to prevent unnecessary emailing

@CaMer0n Your th

[2019-01-16 17:40] Moc commented on #3619
Once the LANs are fixed, I'll merge in the fix.

[2019-01-16 18:01] #3601 closed

[2019-01-16 18:01] #3579 closed

[2019-01-16 21:32] BigBoiJefe commented on #3619
@moc confirmed working.  Thanks!

[2019-01-16 22:10] mostym opened #3624 "Admin area home icon, doesn't redirect to Frontpage URL"
I defined a new frontpage url /home for all users.  For the most part it works flawlessly.  There is one exception, and that's when an admin goes to the admin area and clicks on the home icon to go home.  This instead goes to / instead of /home.  In most cases this would be fine, however, i have an index.html in my root directory.

[2019-01-17 11:43] SimSync opened #3625 "prefs.php fails on e107::getDate()->supported('P') (infinite loop on Windows)"
When trying to open the preferences page (prefs.php), the page doesn't open. Instead it starts an infinite loop and runs into a timeout.
After some research, the method e107::getDate()->supported('P') fails when testing the 'Z' format. The 'Z' and 'z' formats are not supported on windows. Instead of failing silently and to continue with testing, the script dies and starts all over again.

[2019-01-17 12:32] Moc commented on #3174
https://github.com/e107inc/e107/issues/3625

[2019-01-17 14:47] Jimmi08 commented on #2917
I don't see it after sync. Thanks

[2019-01-17 14:47] #2917 closed

[2019-01-17 15:00] Bobbycharlton1 opened #3627 "bad file detected"
I am unable to upload files for the download section.  I have set the upload to 256mb so size is ok. if I slect a file it uploads, then I get the error BAD FILE DETECTED

version 2.1.9
PHP Version
7.2.13

MySQL
10.1.37-MariaDB

[2019-01-17 15:11] BigBoiJefe commented on #3624
@Achim I created a directory called home and placed it in my root directory, and created a custom index.php and placed it in that folder.  Is that what you did?

[2019-01-17 15:16] Bobbycharlton1 opened #3628 "no gallery"
I have created a gallery and added some files in the media manager.  in the manager, they are now showing, as being in the gallery I named

if I goto the gallery on my site, I get a 404 not found error?

version 2.1.9
PHP Version
7.2.13
MySQL
10.1.37-MariaDB

[2019-01-17 15:40] Moc commented on #3627
Solved on Gitter. Updated with latest files from Github solved the issue.

[2019-01-17 15:40] #3627 closed

[2019-01-17 15:44] BigBoiJefe commented on #3624
Please also remember that I'm using a static index.html in my root directory.

[2019-01-17 16:09] mostym opened #3629 "Where to add code right after the opening <body> tag"
I'm using Google Tag Manager and they want this line immediately after the opening <body> tag, where do I add this in my template?  Thanks!

[code]

[2019-01-17 19:19] Bobbycharlton1 commented on #3616
Sorted with a fresh install

[2019-01-17 19:19] #3616 closed

[2019-01-17 21:23] CaMer0n commented on #3216
@Jimmi08 I haven't found any others. A lot of the files you have listed have already been corrected. The code you found exists as comments only.

[2019-01-17 22:13] BigBoiJefe commented on #3470
I'm experiencing this bug as well.  Any possible fix would be lovely :D

[2019-01-17 22:45] Jimmi08 commented on #3216
@CaMer0n Yes, it's possible, I didn't check them then.   Thank you.

[2019-01-17 22:45] #3216 closed

[2019-01-18 09:30] tgtje commented on #1566
Seems to be working (probably fixed by other issue related product) (hence ...date).
Closing this.

[2019-01-18 09:30] #1566 closed

[2019-01-18 11:55] Bobbycharlton1 commented on #3628
Fixed by changing url configuration to friendly version

[2019-01-18 11:55] #3628 closed

[2019-01-18 14:59] Alex-e107nl commented on #2861
Moc,
not yet, time is not really on my side these days.. i will test it on a domain of myself and hope to do it sunday..

Alex

[2019-01-18 16:46] CaMer0n commented on #2986
@Moc I'm not sure.. I was never able to reproduce it. Would need someone experiencing the issue to test.

[2019-01-18 16:48] CaMer0n commented on #2986
I believe it can.

[2019-01-18 16:48] #2986 closed

[2019-01-18 18:52] Moc commented on #2861
No rush. Just curious. Thanks Alex!

[2019-01-18 21:11] arunshekher opened #3630 "[Proposal] Render avatars for chatbox_menu plugin posts in chat.php"
Would like to see a custom template-able list view for chat.php page with user avatars and user profile links rendered just like in the chatbox_menu. But this plugin has been left un-updated for so long, if there are specific reasons for it someone please let me know.

I worked a bit on it and was able to add an external template in templates directory inside this plugin  and a shortcode class fol

[2019-01-18 22:10] CaMer0n commented on #3630
@arunshekher Looks fine. Pull-request welcome.

[2019-01-19 09:05] Moc commented on #3630
Looking good! Great work!

[2019-01-19 11:35] arunshekher commented on #3630
@CaMer0n & @Moc, Just submitted these changes via #3631

[2019-01-19 11:49] yesszus opened #3632 "Language verify question"
Verify my language pack in localhost (windows 10 and xampp).
This is bug?

All errors: Non UTF-8 Characters Found

![lan](https://user-images.githubusercontent.com/17430115/51426202-6b1d7a00-1be7-11e9-9668-b5c7f65f6fba.png)

![php](https://user-images.githubusercontent.com/17430115/51426204-71abf180-1be7-11e9-9d12-3fd34acb65f2.png)

[2019-01-19 15:46] LaocheXe commented on #3165
PHP 7.2

[2019-01-21 09:17] Moc commented on #3602
You mean, you couldn't login?
Can you please check the password hashes in the database? Directly after install and then after the success attempt, and after the failed attempt?

[2019-01-21 13:37] yesszus commented on #3632
Perfect for the language pack and only for windows under this error.
Not find <php (points are blank) OR after closing tag.

[2019-01-21 13:37] wrxxy opened #3633 "Stats /visitors /unique visitors not working"
I am just wondering if anyone else is having issues with there graph that shows stats for visitors/unique visitors ... mine was working fine till last couple of updates.... nothing major but yes its not working.

Online users and New users works fine

Pic shown
![image](https://user-images.githubusercontent.com/13065217/51477851-c5802b80-1ddd-11e9-9f1e-30519a66316f.png)

[2019-01-21 14:05] SimSync commented on #3633
You need to have the Site Stats plugin installed and activated.

[2019-01-21 14:18] Jimmi08 commented on #3633
@SimSync there would be message under Graph that plugin needs to be installed.
It's already installed many years in fact.
![image](https://user-images.githubusercontent.com/5429548/51479829-bc686d80-1d8f-11e9-9495-5bec75447dcf.png)

[2019-01-21 14:37] Jimmi08 commented on #3633
PHP Version 5.6.39

It works for me on e107.sk with  5.6 too.  I have no idea what to check.  Something changed in January:
![image](https://user-images.githubusercontent.com/5429548/51480740-ff2b4500-1d91-11e9-82f3-ce53dc424e15.png)

he uses timezones ?
![image](https://user-images.githubusercontent.com/5429548/51480874-6d700780-1d92-11e9-852b-d96f15e71a3a.png)

Where are files saved now?

[2019-01-21 14:48] Jimmi08 commented on #3633
@SimSync I found this:

![image](https://user-images.githubusercontent.com/5429548/51481342-f0459200-1d93-11e9-9dcb-e5a215228001.png)

[2019-01-21 17:33] BigBoiJefe commented on #3624
Hi @Moc .  The goal is to have a static index.html in the root directory to improve performance and site load time.  If I setup a directory called /home with a  index.php with the following contents the user once logged in, redirects them to https://www.domain.com/home, and loads the welcome message.  Is that the incorrect way to do stuff?

[code]

[2019-01-21 19:40] tgtje commented on #3632
I suppose it is the Hungarian latest lang pack you are referring to.
Just downloaded it, installed and did run a check.
I too get 81 mistakes. Using the edit mode i do see that NOT all defines eg translations are read/displayed... Very strange....

@Moc can you please have a look into the Hungarian lang pack too ?

![example](https://user-images.githubusercontent.com/1811857/51495471-c6549580-1dbc

[2019-01-21 21:09] Jimmi08 opened #3634 "Lan issue with log plugin"
Today update

/e107_plugins/log/stats.php?1

![image](https://user-images.githubusercontent.com/5429548/51498977-d5d9db80-1dc8-11e9-89c4-77ab61f07455.png)

After set debug ON  (in Chrome browser)
/e107_plugins/log/stats.php?[debug=showsql+]&1
![image](https://user-images.githubusercontent.com/5429548/51499023-00c42f80-1dc9-11e9-9d1a-27720cc43bd5.png)

It is fixed after changing url without debug p

[2019-01-21 21:42] Jimmi08 commented on #3633
Something changes 31.12.2018, all records after this date looks the same.

[code]

[2019-01-22 13:59] Moc commented on #3632
Two issues:

1. Issue reported by @tgtje that not all defines are read/displayed

2. The non-UTF8 error is caused by the `ő` and `ó`. Looking into it.

[2019-01-22 14:23] Moc commented on #3632
@CaMer0n Can you take a look at this please?

Test code:
[code]

But in `e107_admin\lancheck.php` on line 1310 `$this->is_utf8($check[$k][$sk])` returns false.....
No idea where the issue is....

[2019-01-22 20:57] Jimmi08 opened #3635 "theme_shortcodes from frontend are loaded in admin area"
I needed to require custom file in theme_shortcodes.php in frontend theme.
But then I got error in admin area and system is trying to require:
`Fatal error: require(): Failed opening required '../e107_themes/bootstrap3/settings/jmtheme_icons.php`

of course, that file doesn't exist.

In Frontend theme it is used this way:

[code]

Thanks

Edit.
While trying go around this by testing if it's user a

[2019-01-23 01:53] net1313 commented on #3633
This plugin generate a lot of queries to the database. It is useless and slows the performance of the site. The worst is a core "Online user tracking". So, don't use stats plugin which is completely useless.  The best prictice is to rename in e107_plugins/user/e_dasheboard.php. There are lot of other tools. For instance Awstats plugin. I've modified this one in order to fit web master needs. No da

[2019-01-23 02:04] net1313 commented on #3633
Imagine that a "friend" from China begins to flood your site. How many requests will your database support?  Taking into account that Stats plugin will save each request. Can the database handle the load?

[2019-01-23 07:09] Jimmi08 commented on #3633
@net1313 I don't use it, I was trying to help my friend.
Did you publish your modified Awstats plugin? Because I don't see you forked official Awstats plugin.
And with next update/sync don't you have e_dashboard.php back?

[2019-01-23 13:40] SimSync commented on #3633
@wrxxy @Jimmi08 Unfortunatly, i'm unable to reproduce this issue. On my (local) site, the stats are working as expected...

[2019-01-23 13:51] SimSync commented on #3634
The used url is wrong. Use `/e107_plugins/log/stats.php?[debug=showsql+]1` (without the ampersand after the debug argument) to correctly select the stats area.

[2019-01-23 13:56] SimSync commented on #3635
To test if you are in the user (frontend) area, try this:
[code]
This should avoid to load the file when in admin area.

[2019-01-23 13:57] #3625 closed

[2019-01-23 14:12] Moc commented on #3632
@SimSync Maybe you have an idea on this one?

[2019-01-23 14:21] Jimmi08 commented on #3635
I tried,  then I get fatal error because theme_shortcodes.php needed this file.  See above.

But I think that USER_AREA was not defined,  if I used print_a(), then USER_AREA was printed. Maybe 7.2 problem?

I fixed it different way (loading file in __construct() and using arrays.  But this is at least wasting of sources. Why frontend theme is loaded in admin at all?

[2019-01-23 14:24] Jimmi08 commented on #3634
It's added by e107 debugger, I didn't do it manually. Yes. It helped.

[2019-01-23 17:54] SimSync commented on #3632
@CaMer0n @Moc On line 1926 (lancheck.php), the string from the language file get's malformed for some reason.
I think it's because of the regex used to extract the define values.

[2019-01-23 18:03] SimSync opened #3637 "PclZip class uses still deprecated class constructor"
The PclZip class still uses the deprecated class constructor (PclZip).
This needs to be fixed for current PHP releases.

[2019-01-23 18:06] CaMer0n commented on #3635
@Jimmi08 `print_a` is short for "print array". `var_dump(USER_AREA)` is what you want to use.

[2019-01-23 18:16] SimSync opened #3639 "Remove GDPR links on signup page if empty"
Remove the GDPR links to "Privacy Policy" and "Terms and conditions" from signup page, in case they are empty.
Add an information about where the GDPR links are used to the GDPR preferences page.

[2019-01-23 18:18] yesszus commented on #3632
Solved problem!
Great job  @SimSync !

[2019-01-23 18:19] #3632 closed

[2019-01-23 19:34] tgtje commented on #3632
Just to confirm it does work here too 👍 (all  (81) errors are gone.. (Hungarian)

[2019-01-23 21:31] net1313 commented on #3633
@Jimmi08 Not yet. I have to modify language file and do some minor changes in admin prefs (to detect Awstats report directory).

I have to rename it every time. :)

[2019-01-24 10:41] Moc commented on #3546
Should be fixed by https://github.com/e107inc/e107/commit/9237f254c78d6e5e36cd7ffff444cc92ffd6f802

[2019-01-24 11:21] Moc commented on #3596
I am assuming this is fixed, if not, please let me know and I'll re-open.

[2019-01-24 11:21] #3596 closed

[2019-01-24 13:04] Jimmi08 opened #3641 "Note to userclass hierarchy"
I needed the same list of userclasses as in user admin is available (without fixes classes and negative classes).
After little struggling I got it right with write params  for form handler.

But I notice problem with hierarchy.

Donator is child of Member.s

![image](https://user-images.githubusercontent.com/5429548/51679834-4d358800-1fe0-11e9-9366-d3790b94281d.png)

But output is
![image](https:/

[2019-01-24 14:16] Alex-e107nl commented on #3546
Hi Moc,
i've uploaded the git from one minute ago, it dit not solve the problem... you can check it with the links provided in my first message.. I assume that my theme is not the reason.. did also try it with the standard bootstrap 3 theme, same result..

I really hoped that it was the solution..
Alex

[2019-01-24 14:44] Moc commented on #3614
There's some caching issue going for sure. Just got a message on a different installation about a plugin update. I updated it. And it still says there's an update available.

[2019-01-24 14:51] Moc commented on #3546
@CaMer0n Can you review please?

[2019-01-24 16:38] Moc commented on #3525
Did some testing on this:

- Basically, you'll need assign yourself (main admin) to this userclass. It's not an automatic userclass where all administrators get added to.

[2019-01-24 16:44] Moc commented on #3525
Did some testing on this, and these are my findings:

- Basically, you'll need assign yourself (main admin) to this userclass. It's not an automatic userclass where all administrators get added to.

- The userclass system is quite complicated indeed

- With your references to the moderation bug when MOVING forums. This was solved here: https://github.com/e107inc/e107/issues/3619. Also it was intro

[2019-01-24 16:52] SimSync commented on #3561
@Jimmi08 @CaMer0n Just digged a bit into it and i think i found the issue.
The getTemplateInfo() method was configured to look for the var in the admin theme and not in the frontend theme. I'll submit a PR that loads the data from the frontend theme (if available) and merges it with the default options.

[2019-01-24 17:00] Moc commented on #3525
Let me know if that was the issue, so we can close it.

[2019-01-24 17:10] CaMer0n commented on #3546
Thanks @Alex-e107nl Yes, I noticed this issue also. I'm working on it.
The following $_GET vars are now filtered, at least for SEF detection, and now I'm working on correcting it for THEME_LAYOUT detection.
[code]

If you know of more, please share them.. Thanks.

[2019-01-24 18:12] SimSync commented on #3624
I tried it once again and i can't reproduce your issue.
Here is what i did:
1. Created a subfolder "home"
2. Added a file caled "index.php" with the contents from your previous post.
3. Updated the frontpage setting by selecting "Disabled or Enter Custom URL" with value "home" (without any slashes!).

It always redirects me now to /home and it doesn't matter if i click on the "home" button in the

[2019-01-24 18:22] mostym commented on #3624
@SimSync The reason you're not having an issue is because you don't have a static index.hml in /.

[2019-01-24 19:47] #3561 closed

[2019-01-24 20:03] Jimmi08 opened #3644 "country type field"
I have plugin with country field, but this field is not mandatory

[code]
Edit mode is OK:
![image](https://user-images.githubusercontent.com/5429548/51705199-3c563800-201b-11e9-99bf-e707d4b2ffc6.png)

But edit mode, if country is not selected
![image](https://user-images.githubusercontent.com/5429548/51705253-66a7f580-201b-11e9-8c6e-14858bb66506.png)

I suppose I missed something in field array.

[2019-01-24 20:31] net1313 commented on #3525
solved this by using primitive checks:

[code]

[2019-01-24 21:11] #3639 closed

[2019-01-25 01:21] #3603 closed

[2019-01-25 06:42] Alex-e107nl commented on #3546
Hi Cameron,
its also a problem when you switch languages with for example.. ?elan=German with index.php ...

[2019-01-25 17:05] yesszus opened #3645 "Last sync github"
Today update latest version with github sync after not loaded correct main admin area and database tools.

[2019-01-25 17:31] mostym commented on #3645
Have the same problem

![image](https://user-images.githubusercontent.com/25377269/51762210-f6818a00-2083-11e9-9458-69cfbdccd3a4.png)

[2019-01-25 20:00] Jimmi08 opened #3646 "country type user extended field is not correctly displayed in user profile"
This returns correct country name:
`e107::getForm()->getCountry($opp_country);`

But user profile displays country code, not country name

![image](https://user-images.githubusercontent.com/5429548/51769802-3aa47700-20e4-11e9-85cb-fb77d53e0d78.png)

[2019-01-25 20:11] Jimmi08 opened #3647 "limitation for rendering country select in form - type country"
Country type is limited against dropdown type.   Attributes are not passed further...

`$ret = vartrue($parms['pre']).$this->country($key, $value).vartrue($parms['post']);`

but there is used 3rd parameter.
`public function country($name, $value, $options=array())`

Dropdown uses
`$ret =  vartrue($eloptions['pre']).$this->select($key, $parms, $value, $eloptions).vartrue($eloptions['post']);`

 Tha

[2019-01-25 20:31] Jimmi08 commented on #3646
I noticed that if country code is wrong, array of countries is returned.
[code]
I think that if $iso is filled, but value doesn't exist, it should return "" not array.
If I want country list, it's easy without parameter.

[2019-01-25 20:43] KiraTheUltimate opened #3648 "Some elements are missing on admin page"
HI Guys!

I updated my site today with the latest github version, and on the admin area some elements are missing (so everything is dissapeared...)
(FYI: I cleared the cookies and deleted website cache...)

![kepkivagas](https://user-images.githubusercontent.com/12445784/51771600-d2589400-20e9-11e9-8c53-d488bc970f61.JPG)

![kepkivagas2](https://user-images.githubusercontent.com/12445784/51771616-e

[2019-01-25 20:44] mostym commented on #3648
@KiraTheUltimate this is the same as #3645

[2019-01-25 22:10] net1313 commented on #3645
it's a big disaster with a last update. Do developers make some tests on linux machine with updated branch? half of admin area shows nothing.

[2019-01-26 09:22] Jimmi08 opened #3649 "Note - db_Delete()/delete() inside db_Fetch() causes Fatal Error in php 7.1 and 7.2"
Code is working in php 5.6

this example:
$sql->db_Delete("clan_wars_lineup", "available='0' and wid='$clwid'");
causes
`Fatal error: Uncaught PDOException: SQLSTATE[HY000]: General error in G:\php72\htdocs\e107-fresh\e107_handlers\mysql_class.php:1555 Stack trace: #0 G:\php72\htdocs\e107-fresh\e107_handlers\mysql_class.php(1555): PDOStatement->fetch(2) #1 G:\php72\htdocs\e107-fresh\e107_handlers\

[2019-01-26 09:43] Jimmi08 opened #3650 "mainadmin rights and new installed plugin needs to be added manually"
I am user with mainadmin rights, **but not user with ID 1**

After installing new plugin I need to add this plugin to checked plugin manually (to pass "P" permission)
![image](https://user-images.githubusercontent.com/5429548/51785355-ea1a3180-2156-11e9-8f85-91da29d63cde.png)

And I noticed that Linkwords plugin is always unchecked too after install new plugin (with standard plugin.xml, not plugin

[2019-01-26 11:32] Moc commented on #3645
PHP versions please

[2019-01-26 12:34] net1313 commented on #3645
PHP 7.1

[2019-01-26 12:38] KiraTheUltimate commented on #3645
PHP 5.6... and I tried all version...

[2019-01-26 13:33] Jimmi08 commented on #3650
Hm, I added _setup file and problem is not there anymore.  Now I don't see option to edit my rights either, but I have them.  Before there was php 7.1, now I can see 7.2.
Confusing.

[2019-01-26 15:50] Moc commented on #3645
Can you please enable debug mode and see if there is a PHP warning error?

[2019-01-26 16:11] Moc commented on #3645
@net1313 Several comments, because I am done with your snarky remarks here and on your own forums:

- There is no professional development team. 'e107 Inc' is only setup so it is legal to accept donations (blame the American law system).  There are only voluntary contributors who spend their time developing aside from full-time or parttime jobs, families and so on. It's not a dedicated team workin

[2019-01-26 16:57] CaMer0n commented on #3645
Appears to be caused by a recent pull-request.
@net1313 If you're not prepared to ride the errors, you should wait for the official releases which is when all the tests are made.

[2019-01-26 17:01] #3645 closed

[2019-01-26 17:08] CaMer0n commented on #3649
PDO doesn't like that old code. Some plugins will need to be upgraded to work with PHP 7.

[2019-01-26 17:12] CaMer0n commented on #3546
Thanks @Alex-e107nl . I have filtered that out also now.  Please re-open this issue if you find others.

[2019-01-26 17:12] #3546 closed

[2019-01-26 17:20] CaMer0n commented on #3632
Thank you @SimSync @Moc
We should add that test code into e107-tests

[2019-01-26 17:31] net1313 commented on #3645
Ok guys, I'm taking back everything I said earlier. Who knew that you are so sensitive to criticism (even if I think it pushes for progress).
@Moc I really apologize for my snarky statements. My attitude changes. From today - only positive and constructive feedback!

[2019-01-26 17:45] Jimmi08 commented on #3649
Yes, I know, - it's reason why I marked it as Note. I don't need to fix this, it's just more as info for others.

[2019-01-26 18:30] Moc commented on #3649
Labelled as documentation. Closing as there is nothing be fixed.

[2019-01-26 18:30] #3649 closed

[2019-01-26 18:53] CaMer0n commented on #3646
@Jimmi08 pull-request welcome.

[2019-01-26 19:00] CaMer0n commented on #3258
Deleting the prefs and then running the update might be the best workaround for now.

[2019-01-26 19:02] CaMer0n commented on #3617
@Moc The 'share' function would email the pack to the email address above. Perhaps we should disable this method for now and point users to the appropriate github link?

[2019-01-26 19:05] CaMer0n commented on #3606
@Jimmi08 See e107_plugins/faqs/admin_config.php for an example of settings the access permissions.

[2019-01-26 19:05] #3606 closed

[2019-01-26 19:53] Jimmi08 commented on #3606
Do you mean this? If yes, it's something else, but nevermind.  I found other way.

'main/pending'	=> array('caption'=> LANA_FAQ_UNANSWERED, 'perm' => 'P', 'uri'=>"admin_config.php?mode=main&action=list&filter=pending"),

[code]

[2019-01-26 20:21] #3258 closed

[2019-01-26 21:45] CaMer0n commented on #3606
No, this...

[code]

[2019-01-26 22:19] Jimmi08 commented on #3606
Oh, thanks.

[2019-01-27 11:51] Moc commented on #3644
@Jimmi08 what happens when you leave readParms and writeParms empty?

[2019-01-27 12:31] #3646 closed

[2019-01-27 12:31] Moc commented on #3646
Fixed.

I didn't change the default output of an array if the iso code is not found, because I was afraid of breaking functionality. Not quite sure if that array output is used somewhere.

[2019-01-27 12:37] #2078 closed

[2019-01-27 13:57] #3617 closed

[2019-01-27 13:58] Moc commented on #3617
@newwhitebear I have updated the files. In the next release you'll see the new instructions on how we deal with translations. Those can be also be found here: https://github.com/e107translations/Translator-Information

[2019-01-27 14:42] Jimmi08 commented on #3644
php 7.1

[code]
the same result

tried:   'writeParms' =>  array ('default'=>''),

[2019-01-27 17:17] AdocArg commented on #2604
No problem. I will leave localhost and live information:

**Live environment:**

PHP Version: 7.0.33 (also i tried with 5.6)
System: Linux (i don't know which version)
Server API: LiteSpeed V7.1
Virtual Directory Support: Disabled
Thread Safety: Disabled

Given the Server API is not Apache, phpinfo() doesn't give me the Apache information directly. I followed this way [https://stackoverflow.com/qu

[2019-01-28 10:34] Moc commented on #2604
I suspect it is the `Virtual Directory Support` that does not allow for mod_rewrite (or rather the .htaccess file) to function properly. Is it possible for you to enable it?

[2019-01-28 10:47] Moc commented on #3480
This can be done through templates if required. Closing.

[2019-01-28 10:47] #3480 closed

[2019-01-28 11:53] SimSync commented on #3258
As i already said. I would put a test for this string into the update routine and just change the value from "array" to "array()". With this, i'm sure that all prefs containing the illegal value are fixed.
Unfortunatly, that means that we will never find out where this error comes from.
On the other side, i don't even know where to start searching...

[2019-01-28 12:41] kreossino opened #3651 "file media .gif"
when i insert a .gif in tinymce i see only the first image and not all images of gif. the tinymce sanitize this image with [img][/img]. how can i resolve?

[2019-01-28 12:49] Moc commented on #3457
@Alex-e107nl Is this still an issue with the latest files?

[2019-01-28 12:52] Moc commented on #1681
@rica-carv Still an issue?

[2019-01-28 13:19] Alex-e107nl commented on #3457
Hi Moc, just updated with git from today on e107.nl it is solved!!
THX You are the best (You-all!!)

Alex

[2019-01-28 13:44] Moc commented on #3457
Thanks for the feedback!

[2019-01-28 13:44] #3457 closed

[2019-01-28 13:49] Moc commented on #1519
This seems to work fine here as well. Closing as I assume it's all fixed.

[2019-01-28 13:49] #1519 closed

[2019-01-28 14:41] Moc commented on #2288
I believe this has been fixed when using the MySQL search method.

[2019-01-28 14:41] #2288 closed

[2019-01-28 17:10] #3118 closed

[2019-01-28 17:10] Moc commented on #3118
Thanks @Jimmi08

[2019-01-28 18:08] MikeyGMT commented on #3592
Thanks @CaMer0n

Downloaded the fresh git today.

After pressing update, the page reports it has completed successfully, however, the pref is still missing

`\'e_user_list\' => array ( \'user\' => \'user\', )`

 I have this error:

`Warning array_key_exists() expects parameter 2 to be array, string given, Line 208 of /home/zzz/public_html/e107_handlers/core_functions.php`

Debugging (ALL Details),

[2019-01-28 19:08] CaMer0n commented on #3592
@MikeyGMT Please delete the pref `e_user_list` and then have e107 recreate it (it should request an update for that). Thanks.

[2019-01-29 09:08] MikeyGMT commented on #3592
I have, several times, via pref editor.

Admin offered two options to update prefs - tried both - with Chrome and FF.
![image](https://user-images.githubusercontent.com/2847651/51893030-99474a80-239b-11e9-9bd0-89670ed041f1.png)
Clearing cache, set cache off, clear webcache. Open fresh browser.

I have tried update via phpmyadmin in SQL before and after the update button. I have also updated the ba

[2019-01-29 20:20] CaMer0n commented on #3592
Thanks @MikeyGMT
@Moc are you still able to reproduce this issue?

[2019-01-30 10:59] SimSync commented on #3647
@Jimmi08 I'm not sure what exactly you are asking for.
Do you want to limit the country select to a limited set of countries?
e.g. only Germany, Austria, Poland ?
In that case, it would be easier to make a custom country list and use a standard select statement to display them...

[2019-01-30 11:09] SimSync commented on #3644
This is how we did it in th vstore plugin:

`'cust_country' =>   array ( 'title' => 'Country', 'tab' => 0, 'type' => 'method', 'data' => 'str', 'width' => 'auto', 'help' => '', 'readParms' => '', 'writeParms' => '', 'class' => 'center', 'thclass' => 'center',  ),`

And that is the method that is used to fill the country select and to display the countryname in the list instead of the country iso c

[2019-01-30 11:14] SimSync commented on #3635
Hmm, the constand "USER_AREA" seams not to be defined when in "ADMIN_AREA".
Try using the "deftrue()" method to test if the constant is defined and has a value.

[code]

[2019-01-30 11:52] Moc commented on #3592
@CaMer0n Yes, same results as @MikeyGMT. The user plugin is still missing from the e_user_list preference. The user plugin is still listed as NOT installed.

[2019-01-30 12:56] Jimmi08 commented on #3647
@SimSync
Hi, no.
With dropdown field I can use parameters like placeholder, other=''  (it uses default attributes).   Only with country field those attributes are not used.  I needed to add onClick action (with works with dropdown) but with dropdown it's ignored.

2 params here: $this->country($key, $value)
but there should be 3
 country($name, $value, $options=array())

But if this is complicated

[2019-01-30 13:19] SimSync commented on #3647
`country($name, $value, $options)` has 3 parameters and you can use all options that are also used with the `select()` method.
Placeholder can be added via `$options['placeholder'] = "whatever";`, but i'm not 100% sure if the html select element supports placeholder... ?!?

[2019-01-30 13:35] Jimmi08 commented on #3647
@Jimmi08 but because this code it's not possible (only 2 are passed futher) , only key and value. This is what I am trying to say:

`$ret = vartrue($parms['pre']).$this->country($key, $value).vartrue($parms['post']);`

[2019-01-30 14:02] Moc commented on #3647
@SimSync

in form_handler, line 5787:
https://github.com/e107inc/e107/blob/a8c39dc2b40946a64d7b2cee2ca7d288702959cb/e107_handlers/form_handler.php#L5787

Perhaps this should be:

`$ret = vartrue($parms['pre']).$this->country($key, $value, $parms).vartrue($parms['post']);

[2019-01-30 17:21] SimSync commented on #3647
@Moc Yes, that would make sense ... 😄

[2019-01-30 17:48] Jimmi08 commented on #3647
Thanks guys.

[2019-01-30 17:48] #3647 closed

[2019-01-30 17:56] SimSync commented on #3632
@CaMer0n Could you provide the test class for lancheck.php? I will add than the tests

[2019-01-30 22:06] CaMer0n commented on #3632
@SimSync Done!

[2019-01-30 23:40] mostym opened #3653 "Download plugin admin permissions"
Hi all!  I would like to request the ability to have more granular permissions over the Downloads plugin.  I would like to be able to allow specific admins access to ONLY the main/thumb image area downloads.

[2019-01-31 01:06] CaMer0n commented on #2604
@Moc @AdocArg Normally re-installing the plugins should correct the problem. Or enable debug and click the "Repair" button in the Plugin Manager next to each of these plugins.

[2019-01-31 11:34] Moc commented on #3653
What's the underlying goal? What information do those specific users need?

[2019-01-31 15:36] mostym commented on #3653
The goal is to delegate some admins to just add images to downloads.  The only information they would need is the title, category (both not editable) and the thumb and main image upload.

[2019-01-31 18:43] CaMer0n commented on #3644
Normally a custom method should no longer be required since `type='country'` was introduced.

[2019-01-31 20:06] Moc commented on #3644
So, then there apparently is an issue with `type='country'` returning array in read mode.

[2019-01-31 21:38] #3644 closed

[2019-01-31 21:39] CaMer0n commented on #3644
Fixed. getCountry() needed some tweaking.

[2019-01-31 21:46] CaMer0n commented on #3646
@Jimmi08 @Moc I believe this has been fixed now in the getCountry() method.

[2019-01-31 21:47] CaMer0n commented on #3630
Merged! Closing.

[2019-01-31 21:47] #3630 closed

[2019-01-31 21:49] CaMer0n commented on #2860
@Moc I believe it requires further testing.

[2019-01-31 22:31] #1758 closed

[2019-01-31 22:32] Moc commented on #3550
Please update from Github. You may need to reinstall the PM plugin (if you haven't used the PM system before, I recommend that), or at least delete the preferences and let the update routine do its work to restore the correct preferences.

[2019-01-31 22:48] Moc commented on #3634
Going to close as invalid. Needs a bug report for the debugger addon though.

[2019-01-31 22:48] #3634 closed

[2019-01-31 23:07] #3592 closed

[2019-01-31 23:16] Moc commented on #3412
@Jimmi08 Please re-open if needed

[2019-01-31 23:16] #3412 closed

[2019-01-31 23:17] Moc commented on #3199
This should now be fixed. Please let us know if it is not.

[2019-01-31 23:17] #3199 closed

[2019-01-31 23:31] Moc commented on #3238
Closing as duplicate in favour of  #3193

[2019-01-31 23:31] #3238 closed

[2019-01-31 23:33] Moc commented on #3349
@Jimmi08 Were you able to reproduce this more often?

[2019-01-31 23:37] CaMer0n commented on #3233
@Jimmi08 There is a bug with the display, but you still need to set `data='array'` if you want to save multiple values.

[2019-01-31 23:37] Moc commented on #3205
@Jimmi08 Can you still reproduce this? I just tested and it worked fine for me.

[2019-01-31 23:40] Moc commented on #3349
Should be fixed. Please re-open in case it's not.

[2019-01-31 23:40] #3349 closed

[2019-01-31 23:44] Moc commented on #3483
Reminder: same for deleting forum attachments: https://github.com/e107inc/e107/issues/3496
 Maybe a core method could be created.

[2019-01-31 23:45] Moc commented on #1910
Not sure why I reopened this. Closing. Let me know if it needs to be reopened.

[2019-01-31 23:45] #1910 closed

[2019-01-31 23:47] Moc commented on #3156
@Jimmi08 Is this still needed with the new GDPR options/shortcodes/texts for ToS and Privacy Policy?

[2019-01-31 23:50] CaMer0n commented on #3233
@SimSync If you have time, please take a look at this one. When I do a var_dump($value) inside renderElement() the it returns false instead of the pref array.  The _blank plugin admin area 'Settings' page has an example already there.

[2019-01-31 23:53] Moc commented on #1983
Closing as no feedback. Let me know if it needs to be reopened.

[2019-01-31 23:53] #1983 closed

[2019-01-31 23:54] Moc commented on #3073
@KiraTheUltimate I am assuming this issue is already fixed. If you are still experiencing the issue using the latest files, please let us know.

[2019-01-31 23:54] #3073 closed

[2019-01-31 23:59] Moc commented on #2066
Confirmed

[2019-02-01 00:01] Moc commented on #1948
@Jimmi08 What's the status on this one?

[2019-02-01 00:03] Moc commented on #1793
Testing required;  make sure file inspector functions correctly and identifies old/deprecated files on official releases.

[2019-02-01 00:04] Moc commented on #1755
@rica-carv Any feedback?

[2019-02-01 11:57] Moc commented on #1775
@CaMer0n This needs updating: https://github.com/e107inc/e107/blob/644a10c370308f09e99c13f84a258230186fa433/e107_handlers/user_extended_class.php#L952

I'm afraid to change it because of backwards compatibility with fields already using the textarea now. Especially with the 'Field include text' (advanced tab when creating a new UEF).

Another option is to just add add a new type "bbarea" which can

[2019-02-01 12:02] Moc commented on #3222
I think this is fixed in: https://github.com/e107inc/e107/commit/6201c906a69e8d45b92999e5e37195738daf3046#diff-feabae59a9072ebff57fcc4f13b6d0e6R5643

[2019-02-01 12:11] MikeyGMT commented on #3592
Great e462759 Fixed it! Thanks @CaMer0n @Moc !!!

[2019-02-01 12:12] Moc opened #3654 "EUF error when installing _blank plugin"
Installed _blank plugin:

[code]

[code]

[2019-02-01 12:15] Moc commented on #3654
Debug:

[code]

[2019-02-01 12:18] Moc commented on #3654
Looks like the `blank` table in blank_sql.php is not created during install

[2019-02-01 12:19] Moc commented on #3592
👍 Welcome!

[2019-02-01 12:35] SimSync commented on #3233
@CaMer0n I'll check it.

[2019-02-01 13:15] Moc commented on #2753
I cannot reproduce this with the latest files. Is this issue still occurring for you?

[2019-02-01 13:59] #3141 closed

[2019-02-01 14:00] Moc commented on #3141
I've made some changes:

- LAN fixed
- The only thing you need to do after activating the menu in a particular area, is configure which campaign needs to be shown.

[2019-02-01 14:03] Moc commented on #3141
@CaMer0n is it possible to set a default value for a menu pref? Perhaps we can improve the banner plugin by making the default banner (that is inserted during plugin install) show by default.

[2019-02-01 14:45] #3410 closed

[2019-02-01 15:09] Moc commented on #3069
I cannot reproduce this. If I try to login I get this message:

![image](https://user-images.githubusercontent.com/577978/52130843-99657580-263b-11e9-83b4-228804e2c357.png)

It does need to be tweaked in case there admin verification set, so the LAN resembles that (rather than 'email sent').

[2019-02-01 15:20] Moc commented on #3069
Closing this issue as I assume it has been fixed.

@dimante If you are still experiencing the issue, please let us know.

[2019-02-01 15:20] #3069 closed

[2019-02-01 15:34] Moc commented on #2981
@LaocheXe Is this still an issue?

[2019-02-01 15:37] Moc commented on #3101
Closing, still requires documentation (tracked in Documentation project)

[2019-02-01 15:37] #3101 closed

[2019-02-01 15:46] Moc commented on #1627
Closing. Not likely to change due to security risk.

[2019-02-01 15:46] #1627 closed

[2019-02-01 15:48] Moc opened #3655 "Filetypes.xml not loaded correctly"
Clean install

Admin area debug on first login:
`Setting default filetypes: zip, gz, jpg, png, gif, pdf`

e107_system/*hash*/filetypes.xml is accessible:

[code]

It does not load the filetypes.xml but it loads the defaults as defined here:
https://github.com/e107inc/e107/blob/dbbfe17e9f5d4bcb4281d8271c26afdb35727ca8/e107_admin/admin.php#L652

@CaMer0n  Shouldn't it load the filetypes.xml instead?

[2019-02-01 15:52] Moc commented on #2163
Confirmed. Still an issue.

[2019-02-01 15:55] Moc opened #3656 "Forum TinyMCE is missing media manager icon"
Just taking notes; may close issue later if it's not a bug.

Forum - Create new topic
TinyMCE is missing media manager options (image / video):

![image](https://user-images.githubusercontent.com/577978/52133675-1562bc00-2642-11e9-9827-1d4d0f43d992.png)

Example from Welcome message:

![image](https://user-images.githubusercontent.com/577978/52133815-6b376400-2642-11e9-9655-a32f6e3309e7.png)

[2019-02-01 16:02] Moc commented on #2931
@SimSync Not sure if it's still relevant but any idea on this one?

[2019-02-01 16:09] #2693 closed

[2019-02-01 16:14] Moc commented on #3386
@KiraTheUltimate Can you please retest with the latest files and let us know if there are still any issues for you?

[2019-02-01 17:02] mattexb commented on #2931
I still have the same issue if anyone needs to know

[2019-02-01 18:18] Bobbycharlton1 opened #3657 "Userclass is reset on all user accounts to the one public userclass "Newsletter""
I have 56 members on my e107 site.  all have the default 'newsletter' class, with 2 admins and some forum moderators.

I changed my PHP from 7.1 to 5.6 due to another part of my website not working on 7.1 and it has changed every member in my list to ony 2 classes , 'newsletter'  and the new class I created manually.  it removed all forum mods and also admin classes from myself.

[2019-02-01 19:20] SimSync commented on #3233
Do not! set `data=array` in case of prefs. Use `data=str` instead!
The problem is, that the prefs are saved as an serialized array to the db, which is unserialized automatically on load. When set to `data=array`, the program tries the already unserialized array to unserialize again which than results into a 0 value.

Use the following example to define the userclasses pref field:
`'prefname' => ar

[2019-02-01 20:04] CaMer0n commented on #3233
Thanks @SimSync ! Odd though, as that would suggest there was never a bug to begin with.
I just tested it now, and it seems fine with 'str' or even without 'data' defined.
@Jimmi08 can you confirm?

[2019-02-01 20:06] CaMer0n commented on #2931
@mattexb Thank you! Do you have some third-party plugins installed?

[2019-02-01 20:17] CaMer0n commented on #3141
@Moc Usually I use varset($pref, 'defaultvalue'); inside the menu itself.

[2019-02-01 20:21] CaMer0n commented on #3101
@Moc I think we should add all these flags into e107_config.php when it is generated during install. Even though not enabled, it will educate as to what can be configured this way.

[2019-02-01 20:40] SimSync commented on #3656
This is because `mediaCat=_common`.
@CaMer0n I'm unsure what this mediaCat is about. If mediaCat is empty the media manager icons are available... Is it save to set mediaCat to an empty string?

[2019-02-01 21:07] CaMer0n commented on #3655
@Moc I believe this may be caused by the order in which these checks are run.

[2019-02-02 00:55] Evgura commented on #3550
@Moc It's not working.

[2019-02-02 01:03] LaocheXe commented on #2981
@Moc I don't know, never had the issue, should check with @Jimmi08

[2019-02-02 09:19] mattexb commented on #2931
I have some plugin I have written following examples and watching main plugins

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Achim <notifications@github.com>
Sent: Friday, February 1, 2019 9:25:33 PM
To: e107inc/e107
Cc: Matteo MT. Tassoni; Mention
Subject: Re: [e107inc/e107] Jquery exception (#2931)

At least on FF this is working now.

—
You are rece

[2019-02-02 11:11] Moc commented on #3550
Did you reinstall the plugin? Or delete the preferences?

[2019-02-02 11:13] Evgura commented on #3550
I just updated it through Github.
OK, now I'll try to do as you say.

[2019-02-02 11:31] Moc commented on #3550
Is it possible to provide a website login and FTP access to your website? I cannot reproduce this at all so we'll need to debug this manually.

If yes, please contact me or Cameron on Gitter.

[2019-02-02 11:45] Evgura commented on #3550
Posted for Tijn Kuyper on Gitter

[2019-02-02 15:04] Evgura commented on #3655
Confirm.

[2019-02-02 20:54] AdocArg commented on #2604
Is not possible for me enable the Virtual Directory Support.

I did what Cameron said but the problem persist. Yeap, this is old and not relevant because in my localhost works very well and it's not a lot of work to do it manually. It must be some configuration on my live environment so.. Can the problem be considered solved?

Thanks!

PD: I also see that nobody else had this problem

[2019-02-03 05:50] Evgura commented on #3550
@Moc I have 4 site on E107 and on all 4 there is this problem with private messages.

[2019-02-03 10:18] Moc commented on #3550
@Evgura I understand and I'm trying to help you fix it. I don't understand what's wrong yet. I have asked you a question in Gitter. Please check :)

[2019-02-03 11:07] SimSync commented on #3550
@Evgura Do you have PDO activated? If not, please activate PDO and try again.
Check the e107_config.php and add `define('e_PDO', true);` to that file.

[2019-02-03 11:50] Evgura commented on #3550
The situation is, download the folder with the plugin (PM) from [this repository](https://github.com/e107-ru/e107-ru/tree/master/e107_plugins/pm) and copy to replace your site. Everything works without dancing with a tambourine. Pour it into your repository and that's it.

[2019-02-03 12:08] SimSync commented on #3550
The situation is, that the old mysql_* commands (which still work with php5.6) are deprecated and removed from php starting with php 7.0.
If PDO is disabled on you systems, this can cause strange behaviors, like not working db queries or unforseen results.
I'm not sure, if this is really the cause for your issue, because i'm not able to reproduce this issue in any way. But at least it's a possibil

[2019-02-03 12:31] Moc commented on #3550
@Evgura the code in that repository simply comments out code to avoid the error. That's not solving it, that's simply trying to bandaid things together and hope they work.

Also, please try the suggestion by @SimSync, his reasoning makes sense

[2019-02-03 12:40] Moc commented on #3550
@Evgura Are all 4 sites hosted at the same hosting provider?

[2019-02-03 12:41] Evgura commented on #3550
@SimSync PDO is activated in PHP settings on the server.
@Moc you have access to the site, try it.

[2019-02-03 12:42] Evgura commented on #3550
@Moc Yes, have one but on different servers.

[2019-02-03 12:50] Evgura commented on #3550
@Moc Gave access to the cPanel control panel on the Gitter

[2019-02-03 13:01] Jimmi08 commented on #3550
For me this was fixed with latest sync and reinstall PM plugin.  Now it works with 7.1.25

[2019-02-03 13:10] SimSync commented on #3550
@Evgura Are you able to implement a small change to one of the sourcefiles?

File: pm.php Line: 601 Change from:
`if(e107::getDb()->update('private_msg_block', "pm_block_count=pm_block_count+1 WHERE pm_block_from = '" . USERID . "' AND pm_block_to = '{$to_info['user_id']}'"))`

To:
`if(false !== e107::getDb()->update('private_msg_block', "pm_block_count=pm_block_count+1 WHERE pm_block_from = '" .

[2019-02-03 13:15] Evgura commented on #3550
@SimSync
Moc has access to the site and the files, so he can try to avoid confusion.

[2019-02-03 13:16] Evgura commented on #3550
@Jimmi08 I tried reinstalling the PM plugin but it did not solve the problem.

[2019-02-03 14:16] #3432 closed

[2019-02-03 14:17] Moc commented on #3324
@tyupika93 Please update with the latest files from Github and let us know if the issue is fixed for you.

[2019-02-03 14:18] #3324 closed

[2019-02-03 14:46] Moc commented on #3550
Just an update, not a complete fix yet. With the help of @SimSync we have identified the issue but are still looking into the best way to fix it. Updates will follow.

Tech info for future reference:
` the db_query returns an object instead of the number of modified records. Maybe this is the issue with the php version. Because the result from the update is not true or false or an int, it's an obj

[2019-02-03 16:48] SimSync opened #3663 "Theme layout custompages get removed on save"
1. Unable to change the visibility filter for the current active layout.
2. When changing the layout and saving it, the visibility filter for the new selected layout get's reset to "default".

[2019-02-03 18:49] SimSync commented on #3550
Probably fixed with PR #3665

[2019-02-03 20:40] Moc commented on #3550
@Evgura If you update your websites with the latest files from Github, it should be resolved. You can also get the latest e107_handlers/mysql_class.php file (that's the only one changed to fix this issue).

[2019-02-03 20:44] Evgura commented on #3550
I understand, thank you.

[2019-02-04 13:37] Moc commented on #550
Confirmed the issue::

`filetypes.xml` appears not to be checked when uploading new files (plupload). This happens when creating a new download item, but also in the Media Manager (Media Upload/Import, `/e107_admin/image.php?mode=main&action=import`).

![image](https://user-images.githubusercontent.com/577978/52211314-d0c96180-2889-11e9-8b8d-d951cc5d5a00.png)

Tried uploading a `.dmg` file. Conten

[2019-02-04 13:41] Moc commented on #959
Closing as duplicate of #550. I cannot reproduce the LAN issue anymore.

[2019-02-04 13:41] #959 closed

[2019-02-04 13:42] Moc commented on #3655
Issue is fixed now with the latest files.

Still open issue with `plupload` (media manager upload modal) not recognizing the filetypes.xml. See #550.
Closing this one.

[2019-02-04 13:42] #3655 closed

[2019-02-04 15:42] Moc commented on #550
@CaMer0n Please also see https://github.com/e107inc/e107/issues/1809

[2019-02-04 16:32] #3455 closed

[2019-02-04 16:47] #1681 closed

[2019-02-04 20:43] Moc commented on #2273
@tgtje can you please check with the latest files to see if the issue is resolved?

[2019-02-06 17:41] tgtje commented on #2273
Nope, my issue i see is not changed. Need some more time to investigate.
Testcasing if it does matter which language is used during install and why one system has columns correct, mixed etc... (admin cron php tables)

[2019-02-07 12:28] Moc commented on #2800
@Killer0561 I cannot reproduce this. The `id` is properly filled with the right post ID. So it scrolls to the specific reply in the forum post. Can you show me the incorrect URL on your website please? I'm on Gitter.

[2019-02-07 12:29] Moc commented on #3550
@Evgura Did you happen to have a chance to test this?

[2019-02-07 12:33] Moc commented on #3521
I just tried moving forum categories with the blue arrows. They visually change order, but the new order is not saved for me. Is it the same for you? @Jimmi08 @wrxxy?

[2019-02-07 13:34] Moc commented on #3521
Debug shows the any SEF url starting with 'new' is matched;

[code]

[2019-02-07 13:50] Moc commented on #3521
I cannot reproduce anything with the SEF URL changing after moving the forum order.

[2019-02-07 13:54] Moc commented on #3545
For me now the subforums appear to be moving with the parent.

E.g.

If i change the order of Parent 1, with another Parent (e.g. Parent 2), both Child 1.1. and Subforum 1.1.1 seem to move correctly along.

Were there any changes on this recently?

[2019-02-07 14:01] Evgura commented on #3550
@Moc Updated with Github, everything works. Private messages are sent.

[2019-02-07 14:52] Moc commented on #3550
Great! Closing the issue then :) 👍

[2019-02-07 14:52] #3550 closed

[2019-02-07 18:58] Killer0561 commented on #2800
It is allready fixed. The problem was fixed months ago.

[2019-02-07 19:29] Moc commented on #2800
Thanks. Closing.

[2019-02-07 19:29] #2800 closed

[2019-02-07 20:55] Moc commented on #3470
Is this still an issue? I cannot reproduce it atm.

[2019-02-07 21:00] mostym commented on #3470
@Moc Yes, it's still an issue for me.

[2019-02-08 00:00] #3621 closed

[2019-02-08 00:27] #3654 closed

[2019-02-08 00:27] CaMer0n commented on #3654
EUF_ADDON is not fully functional, but at least the errors shouldn't occur now.
(unless you're running MySQL 5.6)

[2019-02-08 03:35] Deltik commented on #3545
@Moc: In your example structure, "Child 1.1" should actually be the child of "Subforum 1.1.1".

Now, it is true that you can change the order by dragging the ![re-order](https://user-images.githubusercontent.com/1364268/52457445-616c9f80-2b1f-11e9-868c-fff550dd6e5b.png) bar, but even though it's changing in the backend, the children are not being reordered with it.

To make things more confusing,

[2019-02-08 11:52] SimSync commented on #3656
I've looked into this issue a second time and there are 2 problems:
mediaCat and tinymce4 template

1. `mediaCat=_common` hides the buttons, regardless which template is used (`member.xml` for registered members, `public.xml` for guests). Setting `mediaCat=forum` would allow the media manager icons, but (and here comes problem 2) ...
2. For the forum area, neither of the tinymce4 templates has the

[2019-02-08 14:41] SimSync commented on #3635
@Jimmi08 did you try my last proposal or did you find another solution?

[2019-02-08 17:01] CaMer0n commented on #3656
@Moc @SimSync Members on the frontend should not have access to the admin's Media-Manager.

[2019-02-08 17:15] CaMer0n commented on #550
@Moc `<class name="253"` = members, not admins.  I believe `filetypes.xml` is currently used for _member_ uploads, not _admin_ uploads. If we want to use it for admin then another entry would need to be added to filetypes.xml ie. `<class name="254"` . However, I don't find this very user-friendly. It should probably function more like `plugin.xml` 'sitelinks'. eg. name='members'.

In the meantime,

[2019-02-08 18:13] CaMer0n commented on #2949
Much of Media-Manager has been rewritten since this issue was posted. Please confirm if the problem persists.

[2019-02-08 18:18] CaMer0n commented on #3657
@Bobbycharlton1 Sorry to hear about the trouble. Could you tell me what theme are you using?

[2019-02-08 19:12] CaMer0n commented on #3587
@Jimmi08 Changed to 0. Please test.

[2019-02-08 19:14] CaMer0n commented on #3521
@Moc I'm thinking this:` '^forum/new$/?'` so the after slash becomes optional.

[2019-02-08 19:16] CaMer0n commented on #3411
@Moc Maybe this one can be closed too?

[2019-02-08 20:58] Alex-e107nl opened #3667 "Contactform sends with from field Admins e-mailadress"
Hi All,
when someone uses the e107 contactform the entered mailadress is in the answer-to field, result is when you forward a message to another e-mailadress the answer-to field is gone and you cannot answer the sender anymore. The from mail adress is from the main admin.. Is that how it's supposed to be?

Please confirm.

Alex

[2019-02-08 22:22] berckoff commented on #3651
I think this should do the work, if properly understood the issue:
![banana](https://user-images.githubusercontent.com/3104702/52509437-cfd55e80-2c00-11e9-85d3-fb21b0b6852c.gif)

[2019-02-09 08:32] tgtje commented on #2273
SCHEDULE TASK
Follow up (did some testing) here is result in step (visual) NOTE : columns NAME and DESCIPTION
Normal install using Dutch as install language :
![crona](https://user-images.githubusercontent.com/1811857/52518444-eb655700-2c4a-11e9-8b63-c3a1289d49a2.jpg)
all is as normally should be. (identical for an English used install) All columns presentr their own language.

Using language swit

[2019-02-09 15:11] Moc commented on #3411
@Jimmi08 Still an issue?

[2019-02-09 15:38] Moc commented on #3355
@CaMer0n Why do we need a fallback? Can we not change it like this?

[code]
and
[code]

[2019-02-09 15:41] Moc commented on #3521
@CaMer0n 👍 Committed.

[2019-02-09 16:26] Moc commented on #3101
@CaMer0n I added some but there may be more to add

[2019-02-09 19:32] Moc commented on #2709
Cannot reproduce anymore, I guess it's fixed:

Installed successfully without any errors using `e107-master` as database name.

PHP 5.6 and PHP 7
MariaDB 10.3.12.

If this is still an issue for anyone, please provide PHP and MySQL/MariaDB versions.

[2019-02-09 19:32] #2709 closed

[2019-02-09 19:46] Moc commented on #550
@CaMer0n Well, all admins are 'members' too (= registered user). But I agree with the logic.
Anyway, filetypes.xml is not used in media manager uploads atm. We'll need to re-think if/how we want to manage filetype extensions by admins.

[2019-02-09 19:49] Moc commented on #3656
@CaMer0n So there is no way to upload images to use inside the forum post itself, other than using externally hosted images, correct?

[2019-02-09 20:18] Moc opened #3668 "PHP 7.3 compatibility fixes"
This issue acts as a reminder for after the 2.2.0 release

https://wiki.php.net/rfc/continue_on_switch_deprecation

Examples:
Warning: "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?, Line 2637 of ../e107_handlers/theme_handler.php

[2019-02-09 20:42] Moc commented on #2284
Cannot reproduce this on PHP 7.3.

Clean install
Forum installed
Parent > Subcat created

Posted a new topic as Site Administrator (user created during install). `Forum posts` correctly shows up as `1 (100%)` in the User Profile.

[2019-02-09 21:23] Jimmi08 commented on #3650
It was caused with old plugin. Closing.

[2019-02-09 21:23] #3650 closed

[2019-02-09 21:26] Jimmi08 commented on #3635
@SimSync sorry, I am not able to test this anymore.  You can close it if this is not an important issue.

[2019-02-09 21:28] Jimmi08 commented on #3587
Sorry, I have no data to test this anymore.

[2019-02-09 21:28] #3587 closed

[2019-02-09 21:31] Jimmi08 commented on #3565
Any plugin I run on uses its own birthday field. So for me, this is a closed topic.  If anybody needs this, they should create their own issue.

[2019-02-09 21:33] Jimmi08 commented on #3478
Not able to test this anymore.

[2019-02-09 21:33] #3478 closed

[2019-02-09 21:35] Jimmi08 commented on #1716
I think that this one is fixed. Or I didn't notice any similar problem.

[2019-02-09 21:35] #1716 closed

[2019-02-09 21:37] Jimmi08 commented on #2875
Closing without an answer for more than a year. Probably stupid idea.

[2019-02-09 21:37] #2875 closed

[2019-02-09 21:40] Jimmi08 commented on #2981
Still problem. Used directly, not parsing template:

`{SITELOGO: h=100}`
in Gameplus theme from Fizi in $LAYOUT['_header_']

![image](https://user-images.githubusercontent.com/5429548/52526611-a3cae380-2cbb-11e9-81b3-cc3f83abe1fb.png)

[2019-02-09 21:42] Jimmi08 commented on #2837
This is solved. CaMeRon used this for bullet plugin, it's easy to find the solution in code.

[2019-02-09 21:42] #2837 closed

[2019-02-09 21:44] Jimmi08 commented on #2614
Closing without any feedback for more than a year. Probably stupid idea. I myself don't need this anymore.

[2019-02-09 21:44] #2614 closed

[2019-02-09 21:46] Jimmi08 commented on #3503
@Moc remove awaiting feedback label, please.

[2019-02-09 21:46] Jimmi08 commented on #3205
It's ok.

[2019-02-09 21:46] #3205 closed

[2019-02-09 21:47] #3411 closed

[2019-02-10 00:55] mostym opened #3669 "Sphinx search server integration"
I know you're working on other pressing issues at this time.  However, I wanted to know if there's a chance that Sphinx Search Server can be integrated at some point in time.

[2019-02-10 13:29] Moc commented on #3669
I would say this is plugin territory...

[2019-02-10 14:43] SimSync commented on #3635
@Jimmi08 I'm not able to close this issue. But you could. 😄

[2019-02-10 15:49] #3635 closed

[2019-02-10 21:22] CaMer0n commented on #3355
Looks good @Moc ! :+1:

[2019-02-11 15:33] Bobbycharlton1 commented on #3657
Hi

I am using the theme I downloaded called

Basic-light

All my memberships classes, suddenly reset again to just ’newsletter’ today for no reason?

From: Cameron <notifications@github.com>
Sent: 08 February 2019 18:18
To: e107inc/e107 <e107@noreply.github.com>
Cc: Bobbycharlton1 <Bobbycharlton1@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [e107inc/e107] Userclass reset on PHP

[2019-02-11 16:01] Moc commented on #3657
Did the hosting provider make any changes?
I doubt it's PHP version/switching related as during development, we switch between PHP versions multiple times. We need to figure out a way to reproduce the issue to be able to solve it.

[2019-02-11 16:03] Bobbycharlton1 commented on #3657
Not as far as I am aware. I also have an issue with this theme where the PM menu will not show so unable to send PMs

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tijn Kuyper <notifications@github.com>
Sent: Monday, February 11, 2019 4:01:50 PM
To: e107inc/e107
Cc: Bobbycharlton1; Mention
Subject: Re: [e107inc/e107] Userclass reset on PHP change (#3657)

D

[2019-02-11 16:06] Moc commented on #3657
Please create a separate issue for your problems with the Private Messenger plugin.

[2019-02-11 17:07] Bobbycharlton1 opened #3670 "no Pm menu"
i have a theme called basic-light which I downloaded from the theme area

however, when I install the PM menu from the menu manager, no PM options appear so I can not access any PM functions

[2019-02-11 17:08] Bobbycharlton1 commented on #3657
I will keep an eye on my site, and see when and if it next does the class reset

From: Tijn Kuyper <notifications@github.com>
Sent: 11 February 2019 16:02
To: e107inc/e107 <e107@noreply.github.com>
Cc: Bobbycharlton1 <Bobbycharlton1@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [e107inc/e107] Userclass reset on PHP change (#3657)

Did the hosting provider make any changes?
I doub

[2019-02-11 18:52] tgtje commented on #3670
Not replicable.
Fresh installment; added Basic-light; installed pm
Placed pm in area 1
MIND !!! what are your settings (pm prefs) for who may see/use it ???
![basicl](https://user-images.githubusercontent.com/1811857/52585940-76567500-2e36-11e9-906f-1dba0bdf6415.jpg)

[2019-02-11 19:09] Bobbycharlton1 commented on #3670
my settings seemed ok.  but I had tagged useage into a custom userclass.  see my other issue #3657

it seems when my site reset everyone to default user class, it also removed the PM menu. I had to change use in the settings to standard 'member' save it, then change back to my custom userclass and now it is working again

[2019-02-12 02:25] CaMer0n commented on #3656
@Moc That's correct (as it should be), unless you use forum attachments.

[2019-02-12 07:32] arunshekher commented on #2284
Thanks @Moc, I'm closing the issue. Though I'm yet to test on a fresh install I'll report if I encounter it again.

[2019-02-12 07:32] #2284 closed

[2019-02-12 09:19] Alex-e107nl commented on #2861
Oke, tested it, it does not work yet, placed the git of today on a testing site and i get a blank screen when entering an existing account in the external database, when i upload the backup of the alt-auth plugin it works directly.. and takes over the user credentials in the local database, so no go yet...

[2019-02-12 20:23] Moc commented on #3656
Alright. Closing this issue then.

[2019-02-12 20:23] #3656 closed

[2019-02-12 20:30] Moc commented on #3670
Do you mean that the "Restrict PM use to" setting (see screenshow below) changed after the issue with the userclasses happened?
![image](https://user-images.githubusercontent.com/577978/52665988-4a59f300-2f0d-11e9-9372-3db662bbf0da.png)

[2019-02-12 20:30] Moc commented on #3657
Could you list all your installed plugins please?

[2019-02-12 22:37] mostym opened #3672 "Download plugin - apostrophes getting saved to asscii code"
When I update a download's title or filename and include a ' the db entry is stored as

[code]
The problem with this is that the actual file name on the server is /Movies/Nobody's Fool.rar, so it can't find the download.

[2019-02-13 11:29] Moc commented on #3667
You are right. How do you think this should be done instead?

[2019-02-13 11:33] Moc commented on #3651
I cannot reproduce this. If I use the following code in a news item. The GIF displays fine, with all of its images.

`[img width=365&title=Fb21b0b6852c]https://user-images.githubusercontent.com/3104702/52509437-cfd55e80-2c00-11e9-85d3-fb21b0b6852c.gif[/img]`

[2019-02-13 11:45] Alex-e107nl commented on #3667
Yess you are right, use the from field, and use the subject for a message that its comming from the contactform of the website... something like that, is that possible?

Thx
Alex

[2019-02-13 13:56] tgtje commented on #3651
Tested; confirming kreassino's issue
When uploaded in mediamanager the image (gif) is not active playing.
Ok, when going INTO mediamanager and click preview the gif file is active !!
Now posting as mediamanager insert the gif remains still.
(old discussions on the internet seem to indicate through the years...with Tiny) resizing troubles make the gif's non moving.
Here's an example  made AFTER the

[2019-02-13 15:03] SimSync commented on #3651
The problem is that when resizing the image, only the first frame will be used.
Resizing an gif is not such a trivial task and requires quite some server resources. I don't think that this is something that could be done on the fly.
You will in all cases loose the timing of the  frames as far as I know.

[2019-02-13 19:02] tgtje commented on #3651
Indeed @SimSync , but in this case it is not we as users that resize, but likely the 'thumb' used in system that does it.
Even manual adding the exact size will always be the first image solemly....... (hence thats why some others use specially created plugins for that case only ...)

[2019-02-14 03:33] Deltik opened #3673 "e107-test failure: e_db_pdoTest::testGetLastQuery()"
# Test Failure

[code]

# Code

[code]

# Fix

This is an easy fix. Just make sure that `$this->_getMySQLaccess();` happens before `$this->mySQLlastQuery = $query;` in `e_db_pdo::db_Query()`.

[2019-02-14 12:18] wrxxy opened #3675 "Issue with text being squashed up"
Hi all since the new updates 2.1.9 I have been having Issues with my old V1 updated website with text being squashed up now Jimmi has been implementing a fix for me every time we do an update , however the last update this fix didn't work and I had other issues so I have resorted to [br] in each line to fix it....

Below are some images of my issue and some coding for the fix
![image](https://user

[2019-02-14 12:41] wrxxy opened #3676 "Missing Asterix after Extended User field introduced"
Ok when signing up to website with mandatory fields the asterix is shown as pic below,
![image](https://user-images.githubusercontent.com/13065217/52787433-ede40880-30b1-11e9-80f5-f08b480490ea.png)

but when the Extended User fields have been modified after a user has signed up the asterix are not shown as the pic below shows
![image](https://user-images.githubusercontent.com/13065217/52787321-90e

[2019-02-14 12:53] Alex-e107nl opened #3677 "Updating extended user field gives a wrong system information message"
Hi All,
when altering an extended user field and save it i get an blue System Information message:
Nothing updated as no changes were made.

But the changes are saved... so it works but gives the wrong information.
Git of yesterday...

Alex

[2019-02-14 20:43] Deltik commented on #3673
Fixed by f5b16b5afbbf027785e4ea755966bd6b42d79741

[2019-02-14 20:43] #3673 closed

[2019-02-14 22:07] #3663 closed

[2019-02-15 16:15] Jimmi08 opened #3678 "not able to copy forum"
It's because unique  key 'forum_sef'

[code]

[2019-02-15 17:16] Bobbycharlton1 commented on #3657
ok yet again today, I have noticed ALL my members have been reset to default  'newsletter' class.  all other class status have been removed, including admin for myself.  nothing has been changed or altered on the server.  its annoying as I have over 70 member and I have to manually now alter their member classes

[2019-02-15 17:19] Bobbycharlton1 commented on #3657
installed plugins

Chatbox
Class Membership
Downloads
Feature Box
Forum
Gallery
Site Stats
New Forum Posts
Newsletter
Private Messenger
Poll
RSS
Smartsupp Live Chat
Social
User
Voice eXeSystem
Youtube

[2019-02-16 08:22] lj962500 opened #3679 "Epson Printer Error Code 0x9d"
Sometimes you may face printer issue due to some ransomware attacks. When you are trying to print something it displays a message an Epson Printer Error Code 0x9d message on your computer's screen. If this is happening with you then follow this quick fixes from this link [Easy Steps To Fix Epson Printer Error Code 0x9d](https://errorcode0x.com/fix-epson-printer-error-code-0x9d/) and get rid of the

[2019-02-16 09:26] Evgura commented on #3679
Spam?

[2019-02-16 12:37] tgtje commented on #3679
Yes Evgura, quite a busy one it seems. Well if you like...click his profile > under the user's profile picture, click Block or report user  ( or just wait... it ( issue) will suddenly disappear ;-) ) hihi

[2019-02-16 19:00] #3679 closed

[2019-02-16 20:41] CaMer0n commented on #3678
Once we switch to the new e_db_pdo_class, this should be fixed.

[2019-02-17 12:11] fizi opened #3680 "Comment turned off"
If I turned off the comment (cpage) the comment turned off message not appears ("comment rurned off for this item").

[2019-02-17 12:25] KiraTheUltimate commented on #3355
@CaMer0n @Moc
With the latest github update:

![kepkivagas](https://user-images.githubusercontent.com/12445784/52912841-826b8800-32b7-11e9-8757-56a5f217b2f1.JPG)

[2019-02-17 14:19] Moc commented on #3355
@KiraTheUltimate This is probably because your language pack has not been updated yet. When you switch to the English language, what do you see?

[2019-02-17 18:02] KiraTheUltimate commented on #3355
It's good, thank you, then I waiting the hungarian language update.

@yesszus

[2019-02-17 19:10] #3355 closed

[2019-02-17 23:02] CaMer0n commented on #3675
@wrxxy Could you please paste a sample of a post that has this issue. (unmodified with [br] of course).
Please paste the entire text in the text area here. Thank you.

[2019-02-17 23:10] CaMer0n commented on #3667
It's already using the 'reply-to' header.. normally that fixes this issue with replying.

[code]
However, with forwarding, the only solution is to enable the viewing of full headers in your mail client before forwarding. This will also forward that 'reply-to' line.
We can't change the "FROM" value to the person filling in the form, because the email would be detected as SPAM. (and possibly get you

[2019-02-17 23:12] CaMer0n commented on #3657
@Bobbycharlton1 I'm guessing, but I highly suspect your problem is due to the "Class Membership" plugin.

[2019-02-17 23:27] CaMer0n commented on #3657
Thank you @Bobbycharlton1
I thought the "Class Membership" plugin could have been the cause, but it doesn't appear to have any updating of tables in it's code. The problem must lie elsewhere.

Could you please make a screenshot of the following URL...
( YOURSITE.COM/e107_admin/userclass2.php?mode=main&action=initial )
.. and then post it here. (you can drag-n-drop to the text box)

[2019-02-18 06:03] wrxxy commented on #3675
Ok here is an example

http://www.outlawsracing.com/forum/rsm-v8-championship/10331/outlaws-2018-vasc-championship/

![image](https://user-images.githubusercontent.com/13065217/52931005-d8ffc180-339e-11e9-85c4-304eb96f1ecf.png)

[center][img:width=700&height=175]{e_FILE}public/1519825158_12_FT9705_2018v8rsm.png[/img][/center]

[center][size=24][b][color=#ffff99]Outlaws 2018 Supercars Championship.

[2019-02-18 09:27] Bobbycharlton1 commented on #3657
![scrren](https://user-images.githubusercontent.com/19687934/52940836-5f94ae80-335f-11e9-9b41-bcbee3d5938e.jpg)

[2019-02-18 14:57] Jimmi08 commented on #2860
Hi, after update to latest GitHub, localhost version became visibly slower. I noticed this:

![image](https://user-images.githubusercontent.com/5429548/52959132-ccc33680-3395-11e9-930e-1add0d2b7eb1.png)

![image](https://user-images.githubusercontent.com/5429548/52959169-e1073380-3395-11e9-86ab-6b689fe47d2f.png)

[2019-02-18 16:54] CaMer0n commented on #3657
Thank you @Bobbycharlton1 . You don't have NEWSLETTER selected as a default class, so it is odd that NEWSLETTER is being assigned to everyone when this issue occurs.
Could you tell me if the userclass change happens immediately after switching PHP versions? I'm wondering if something a user is doing (eg. signup or usersettings change) could be messing with these values.

For example, to test you c

[2019-02-18 18:56] Moc commented on #1181
@KiraTheUltimate Is this still an issue in the latest version?

[2019-02-18 19:50] KiraTheUltimate commented on #1181
It's OK now. I closed! Thx! :)

[2019-02-18 19:50] #1181 closed

[2019-02-18 20:18] Jimmi08 opened #3681 "online tracking turned off vs online menu"
If you turn online tracking off and forget to remove the online menu, the result is this:

![image](https://user-images.githubusercontent.com/5429548/52974578-5983e980-33c2-11e9-991e-e4b0c5196b96.png)

There should be a similar message like with stats plugin at least for main admin that tracking is off and for others, this shouldn't be displayed at all.

[2019-02-18 20:22] CaMer0n commented on #3675
@wrxxy I believe this is your problem here:

[code]

Replace the `<a href=''` HTML line with the [link] bbcode.

[2019-02-19 07:01] wrxxy commented on #3675
Yes this has done the trick. Just had to workout what the exact code required now all good...

Thx Cameron.

[2019-02-19 07:01] #3675 closed

[2019-02-19 12:21] Bobbycharlton1 commented on #3657
ok I changed my website from 5.6 to 7.0 to 7.1 and it did not affect the user classes, so this is not the issue

[2019-02-19 12:23] Bobbycharlton1 commented on #3657
i changed PHP from 5.6 to 7.0 to 7.1 and it did not change the user classes so this is not the issue.  one other thing I did think, I admin the site sometimes from two different Pcs.  the loss in user class may happen when i log into another PC.  not sure i will try that out

[2019-02-19 12:52] Alex-e107nl commented on #3667
Oke thx Cameron, did not know that was the reason, thx for your time!

Alex

[2019-02-19 12:52] #3667 closed

[2019-02-19 14:37] Moc opened #3682 "Plugin compatibility check for minor versions"
Currenly the plugin compatibility check with e107 version only shows whether it's compatible with v2 or not. It would be a good enhancement to make this more specific.

Some older v2 plugins which have not been updated in the past 2 or 3 years, are giving some issues. For example with loading LAN's.

An indication of some kind in the admin area when downloading a plugin, may be helpful.

[2019-02-19 18:39] CaMer0n commented on #3675
Happy it worked out @wrxxy . Basically, e107 checks for HTML and if found, it ignores line breaks unless they are specified using `<br />` tags.

[2019-02-19 21:26] Jimmi08 opened #3683 "update 1x to 2 -"
I got access to a site with 2.1.9 version.
There is still a message about the update. Click on button do nothing.

![image](https://user-images.githubusercontent.com/5429548/53048437-0cbd1300-3495-11e9-86ed-808ff60ee067.png)

Database integrity check is ok, all tables are correct.

My guess is because download plugin is not installed, but because it is a live site, I can't test it.

[2019-02-20 11:41] Moc commented on #3521
This issue is fixed, closing.
Issue #3545 remains open, a tricky one as the current forum structure seems broken.

[2019-02-20 11:41] #3521 closed

[2019-02-20 12:53] Jimmi08 opened #3684 "sitecontactinfo and contact form have the same style ID"
![image](https://user-images.githubusercontent.com/5429548/53093009-7b8e8080-3516-11e9-88a2-6f96650a087a.png)

[code]

could it be changed to contact-info ?
they use already different templates

[code]

Thanks

[2019-02-20 14:07] Jimmi08 commented on #3684
Tablerender about successful email has no id:
At least "contact" would be nice.
	`$ns->tablerender('', "<div class='alert alert-success'>".$message."</div>");`

[2019-02-20 21:32] #3193 closed

[2019-02-20 21:36] CaMer0n commented on #3193
Clearing system cache should now solve this issue.

[2019-02-20 21:47] Jimmi08 commented on #3657
![image](https://user-images.githubusercontent.com/5429548/53126883-6ee34a00-3561-11e9-8751-400fdc4b3f5c.png)
![image](https://user-images.githubusercontent.com/5429548/53126896-7acf0c00-3561-11e9-9882-28af53574597.png)

[2019-02-20 22:35] Jimmi08 commented on #3683
Solved with CaMeRon by cleaning files/download repository.

[2019-02-20 22:35] #3683 closed

[2019-02-20 22:52] CaMer0n commented on #3657
@Bobbycharlton1 Do you happen to have any e107 updates which have not been completed? (see here: /e107_admin/db.php?mode=db_update )

[2019-02-21 09:28] Jimmi08 opened #3685 "problem with debugger and jquery"
admin works normally

frontend:

![image](https://user-images.githubusercontent.com/5429548/53158054-0b8a0400-35c3-11e9-8928-ce75544d051d.png)

if I set debug mode off, everything is ok

[2019-02-21 12:41] Moc commented on #2995
e107_core/templates/page_template.php

@KiraTheUltimate Do you still need help with this?

[2019-02-21 15:50] Bobbycharlton1 commented on #3657
Checked that all upto date

Sent from Samsung tablet.

-------- Original message --------
From: Cameron <notifications@github.com>
Date: 20/02/2019 22:52 (GMT+00:00)
To: e107inc/e107 <e107@noreply.github.com>
Cc: Bobbycharlton1 <Bobbycharlton1@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [e107inc/e107] Userclass reset on PHP change (#3657)

@Bobbycharlton1<https://nam03.safelink

[2019-02-21 17:01] #2995 closed

[2019-02-21 17:31] Moc commented on #3684
https://github.com/e107inc/e107/issues/2980

[2019-02-21 17:40] Moc commented on #3684
@fizi @Jimmi08

@CaMer0n and I were thinking to use three new ID's: `contact-info`, `contact-form`, `contact-menu`. This may some break existing themes but it will increase consistency and allow styling for all areas. What do you think?

[2019-02-21 17:53] Moc commented on #1870
@BlastFM Is this issue resolved?

[2019-02-21 18:03] Jimmi08 commented on #3684
It would be great if it has some logic :
plugin and template key
yes, that suggestion is ok.  And yes, it will break some themes, but it can be easily fixed.   There should be a list of what to check when you update.

[2019-02-21 18:56] fizi commented on #3684
I agree with Jimmi08.

[2019-02-21 20:23] CaMer0n commented on #3684
Thank you @Jimmi08 @fizi .

Yes, I believe the correct logic for the render ID would be template name and template key.

ie.
[code]

[2019-02-21 22:19] BlastFM commented on #1870
@Moc Yes this issue was resolved using the method listed above but as I stated it is clearly not a perfect solution and I had hoped that someone might elaborate on it.

[2019-02-22 10:37] Moc opened #3686 "BS4 - Alerts not showing"
In a bootstrap 4 theme, alerts (info, warning, error messages) are not visible on frontend because there is a CSS conflict with transitions.css from Bootstrap 4.

[code]

If I add the following to theme.php, it is fixed:

[code]
I (Jimmi! 😄 ) took this code from the vstore plugin.

I am not sure if this is the right fix, so I created an issue for it. Perhaps there's a cleaner way to do it as this

[2019-02-22 10:43] Moc commented on #3686
https://github.com/e107inc/e107/issues/2898#issuecomment-354667643

[2019-02-22 18:49] CaMer0n commented on #3686
@Moc Would adding that to e107.css fix it?

[2019-02-22 19:15] CaMer0n commented on #3657
@Bobbycharlton1 Are you able to grant me admin access so I can review the system logs?

[2019-02-22 19:17] Bobbycharlton1 commented on #3657
Access just to the e107 system?

Sent from Samsung tablet.

-------- Original message --------
From: Cameron <notifications@github.com>
Date: 22/02/2019 19:15 (GMT+00:00)
To: e107inc/e107 <e107@noreply.github.com>
Cc: Bobbycharlton1 <Bobbycharlton1@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [e107inc/e107] Userclass reset on PHP change (#3657)

@Bobbycharlton1<https://nam04.saf

[2019-02-22 19:24] CaMer0n commented on #3657
@Bobbycharlton1 Yes, an e107 admin login.  (You may reach me on gitter)

[2019-02-22 19:30] Jimmi08 opened #3687 "select time with datetime calender"
I was asked why  time is displayed this way AM/PM and not 2 hours

News:
![image](https://user-images.githubusercontent.com/5429548/53265622-fb674700-36de-11e9-96a4-47a0b23f5c90.png)

![image](https://user-images.githubusercontent.com/5429548/53265742-47b28700-36df-11e9-90e7-417940ac539f.png)

Time is displayed correctly later.

[2019-02-22 22:57] #3589 closed

[2019-02-24 08:27] pcmsodense opened #3688 "Addo Forum Error."
When i try to install the plugin Forun, i get this error :
Success
is missing from the plugin db table

I need that plugin, can some one plz help me ??

I have just install the newst E107 CMS

[2019-02-24 11:13] Jimmi08 commented on #3688
And did you check if forum is installed?  I think that "is missing from the plugin db table" is related to something else (when you deleted folder manually) and not forum. Forum is part of core e107.

[2019-02-24 11:14] Moc commented on #3688
This was a bug caused by an incompatibility with the newest PHP version (7.3). It is fixed in the next release.

You can use the latest files from Github to get the latest updates: https://github.com/e107inc/e107/archive/master.zip

[2019-02-24 11:17] Jimmi08 opened #3689 "RSS menu plugin - used not defined LAN"
rss.php

`	$ns->tablerender(RSS_LAN_ERROR_0, RSS_LAN_ERROR_1);`

RSS_LAN_ERROR_0 - is not defined

[2019-02-24 11:51] Moc commented on #3688
Closing as duplicate https://github.com/e107inc/e107/issues/3621

[2019-02-24 11:51] #3688 closed

[2019-02-24 11:54] Moc commented on #3686
@CaMer0n Yeah it did, I just wasn't sure if that was the best solution. It seems more of a band aid than actual fix, but I personally don't know another way to fix it.

[2019-02-24 15:21] tgtje commented on #3689
Hi. did some test runs for coding and try to grasp what the intention behind it would be.
So it has to tell me i do not have a valid rss feed, ok..
Thinking of that  (seeing headerf/footerf around) seems templatish.. so maybe a title ?
Search deeper leads to RSS_LAN_0 which has RSS as define text  and ALSO is not in plugin coded.... maybe it is/was a typo ????

[2019-02-24 15:29] Jimmi08 commented on #3689
It's just error message where there are no RSS feeds and that LAN is the caption. Maybe use plugin name there would be enough or "ERROR".  No idea. I just needed this for other plugin and I noticed that this string is not in language files.

[2019-02-24 20:24] CaMer0n commented on #3686
@Moc Do you know where the conflict occurs in e107?

[2019-02-24 21:02] #2163 closed

[2019-02-24 21:02] CaMer0n commented on #2163
@Jimmi08 Hopefully, it should be working for you now.  It's working here. Thanks.

[2019-02-25 08:13] Jimmi08 opened #3690 "FR - after saving admin prefs, stay on edited prefs option"
After saving prefs, prefs first page is always displayed.   It would be nice to stay on actual edited prefs option (if I am editing email settings, after saving, URL should save anchor too #nav-core-prefs-email)
Thanks

[2019-02-25 08:27] Jimmi08 opened #3691 "Q - geshi used in core code"
I noticed that GeSHi is used in core for Syntax Highlighter, but there is not available GeSHi plugin (tested in core if it exists)

Shouldn't be this marked as legacy or what are plans for this?

[2019-02-25 09:02] Jimmi08 opened #3692 "FR - be able to add favicon via Prefs"
Now is the favicon hardcoded this way in header_template:

[code]
With client without FTP access is not possible to change it.  And with theme it could be overriden with next update.

[2019-02-25 11:21] Jimmi08 opened #3693 "unserialize parse error"
After login as another user, I got the error:

![image](https://user-images.githubusercontent.com/5429548/53333976-b23e0f80-38f7-11e9-946c-71c0007025ab.png)

New latest e107 installation on php 7.0

[2019-02-25 12:58] Evgura commented on #3693
@Jimmi08 If you log in as another user from the admin panel or from the site, I do not see such an error.

[2019-02-25 13:57] Moc commented on #3686
Not sure if I understand your question. See my initial issue report. It conflicts with the transitions.css file from Bootstrap 4.

[2019-02-26 06:05] tgtje commented on #3689
Correct @Jimmi08 . It is as code; not defined  So in assumption to above (idea)
`$ns->tablerender(RSS_LAN_ERROR_0, RSS_LAN_ERROR_1);`
should read :
`$ns->tablerender(RSS_LAN_0, RSS_LAN_ERROR_1);`
Than would be ok.. as lan_0 HAS define translation (but not used) If typo that would be it.

[2019-02-26 08:01] Jimmi08 opened #3694 "Q - weird part of code (what is purpose)"
In users.php (admin) is the code:

[code]
From note it should add checkboxes only for Quick Add User Access Only.
But U0 permission is Access to Banlist.
Quick Add User Access Only is U1  permission

Thanks

[2019-02-26 08:10] Jimmi08 commented on #3694
**Related question:**
- if Admin has the right _Add quick user_, shouldn't they see menu option Manage all users?  How they can edit user they just added?   They can't have permission 4.

Why users with U0 permission can add new user?:
	`	'main/add' 		=> array('caption'=> LAN_USER_QUICKADD, 'perm' => '4|U0|U1'),`

[2019-02-26 08:13] Jimmi08 commented on #3694
**Related question**
my user's ADMINPERMS is:  U1.P31.P32.
but they see Maintenance option available for perm 4:
`	'main/maintenance'  => array('caption'=> LAN_MAINTENANCE, 'perms'=>'4')`

![image](https://user-images.githubusercontent.com/5429548/53397095-8168e380-39a6-11e9-9aad-f7c428aceadf.png)

[2019-02-26 08:31] Jimmi08 commented on #3694
**Related question:**
The user with only U1 right can set admin rights!

They can create a user and give them Manage all users permission!

![image](https://user-images.githubusercontent.com/5429548/53398085-0fde6480-39a9-11e9-8696-491ab19fe860.png)

There should be test for right 4:
[code]

[2019-02-26 08:56] Jimmi08 commented on #3694
**Detail:**
Help with User management is not correct now and it should be updated

[2019-02-26 09:11] Jimmi08 commented on #2981
Confirmed with the latest version:
But only Chrome has a problem. Firefox no errors.

![image](https://user-images.githubusercontent.com/5429548/53400654-a4979100-39ae-11e9-988a-c4ea44ae4b28.png)

[2019-02-26 09:31] Jimmi08 commented on #3694
When admin with right U1 adds user and sets classes, they see classes where the manager is main_admin.
They should be able to add only classes where the manager is admin (f.e. contact person)

![image](https://user-images.githubusercontent.com/5429548/53401907-078a2780-39b1-11e9-9c2b-25cc23e8c089.png)

I tried to change visibility, but it didn't help.

[2019-02-26 12:38] Jimmi08 opened #3695 "Q - was something changed how e_admin works?"
I have the plugin that extends pages.  It worked without problems some time already.
- tab is correctly displayed
- value is correctly rendered

![image](https://user-images.githubusercontent.com/5429548/53412976-239ac280-39cb-11e9-8545-4338b4d60f63.png)

But those fields can be displayed in listing form too now
![image](https://user-images.githubusercontent.com/5429548/53413070-5644bb00-39cb-11e9

[2019-02-26 12:55] Jimmi08 opened #3696 "Q - weird behaviour with e_admin and word "page" in other plugin name"
I have the plugin that works with those types:

[code]
Now I noticed that field is displayed on plugin where it shouldn' be displayed.
But this plugin has "page" in URL.

[code]

comment ` protected $eventName	= "yandex_turbopages"; `  didn't help

but remove  `case "page"` helped.

I thought it depends on the direct event name.

[2019-02-26 13:37] Moc commented on #3693
Cannot reproduce either here...  PHP 7.3.1.

[2019-02-26 13:40] Moc commented on #3690
I think in the Admin-UI this is rather easy already. The 'Preferences' page however, is not using the Admin UI.

[2019-02-26 13:44] Moc commented on #3694
Confirmed and fixed.

[2019-02-26 13:49] Jimmi08 commented on #3693
@Moc I know, it's something in data. I am not able to read/understand that parser error. Password was 12345678 and the user was added via Add quick user with Chrome  browser debug on.

[2019-02-26 14:00] Moc commented on #3694
Help with User management is not correct now and it should be updated

Updated.

[2019-02-26 14:19] Moc commented on #3685
Cannot reproduce with manually changing the URL to enable debug mode `?[debug=basic+]` but still need to test with debug browser addon.

[2019-02-26 14:35] Jimmi08 commented on #3685
Just installed latest version, no custom plugins, bootstrap3 .  Only in Chrome.
Manual adding debug url in Firefox - no problems.

It's weird.  It looks like jquery.js wasn't not fully loaded (just part of file). After manually refresh jquery.js on separate url in new tab, it works. CTRL-F5 didn't help. Now it works.

[2019-02-27 01:35] LaocheXe opened #3698 "Fatal error:Uncaught Error: function getTimezone()"
Fatal error: Uncaught Error: Call to a member function getTimezone() on null in /usr/www/taskforce13tsw/501st/e107-test/class2.php:1925 Stack trace: #0 /usr/www/taskforce13tsw/501st/e107-test/class2.php(702): init_session() #1 /usr/www/taskforce13tsw/501st/e107-test/index.php(58): require_once('/usr/www/taskfo...') #2 {main} thrown in /usr/www/taskforce13tsw/501st/e107-test/class2.php on line 1925

[2019-02-27 09:12] Moc commented on #3698
PHP version please?

[2019-02-27 09:13] Moc commented on #3698
Also, it appears you are not using the latest files. Pease update to the latest version from Github to see if the issue is resolved.

[2019-02-27 14:45] Moc commented on #961
Using the hierarchical user class structure, this should be possible. Closing for now, unless you have additional questions.

[2019-02-27 14:45] #961 closed

[2019-02-27 14:48] #673 closed

[2019-02-27 14:49] Moc commented on #1314
Closing due to lack of feedback.

[2019-02-27 14:49] #1314 closed

[2019-02-27 14:50] Moc commented on #1293
Closing due to due lack of feedback. Feel free to submit new information and I'll re-open.

[2019-02-27 14:50] #1293 closed

[2019-02-27 14:52] Moc commented on #3694
Related https://github.com/e107inc/e107/issues/51

[2019-02-27 14:55] Moc commented on #3092
Closing. Code is gradually moving towards PSR but this is a longer term process.

[2019-02-27 14:55] #3092 closed

[2019-02-27 14:58] Moc commented on #1536
Closing due to lack of feedback. Feel free to submit new information and I'll re-open.

[2019-02-27 14:58] #1536 closed

[2019-02-27 15:06] Moc commented on #1534
Closing due to lack of feedback. Let us know if this is still an issue and I'll re-open.

[2019-02-27 15:06] #1534 closed

[2019-02-27 15:11] Jimmi08 commented on #1536
@Moc I think that there is duplicate issue by me, something about how to replace this from old code.  Discussion continued there.

[2019-02-27 15:18] #1541 closed

[2019-02-27 15:20] Moc commented on #1308
I don't think we're adding this to core.

Official plugin and theme releases can be updated through the Admin Area if they are uploaded on e107.org. Git versions should either be done manually by the user, or this functionality can be implemented by the plugin/theme author.

[2019-02-27 15:20] #1308 closed

[2019-02-27 15:21] Moc commented on #1203
This should be fixed by now.

[2019-02-27 15:21] #1203 closed

[2019-02-27 15:25] Moc commented on #3399
Closing as duplicate of #1198

[2019-02-27 15:25] #3399 closed

[2019-02-27 15:27] Moc commented on #1755
Closing due to lack of feedback. Feel free to add additional information and I'll re-open.

[2019-02-27 15:27] #1755 closed

[2019-02-27 15:32] Moc commented on #1870
@BlastFM I meant, is the issue resolved using the commit by @CaMer0n. Anyway. I assume it is seeing @Jimmi08's reply here #3420

Closing.

[2019-02-27 15:32] #1870 closed

[2019-02-27 15:33] Moc commented on #1536
https://github.com/e107inc/e107/issues/3195

[2019-02-27 15:57] Moc commented on #3694
Related? https://github.com/e107inc/e107/issues/1654

[2019-02-27 17:18] LaocheXe commented on #3698
PHP Version 7.1.26

Odd - must have been a corrupted file from upload yesterday.

[2019-02-27 17:18] #3698 closed

[2019-02-28 00:32] phibel opened #3699 "function makeClickable() deletes the whole message for forum/pm/chatbox/menu/..."
Since my upgraded to php 7.3.2, a few hours back, my e107 forum, private messages, chatbox and top-navigation menu are empty! I have done a little research and the function makeClickable() in e107_handlers/e_parse_class.php has a bug. When I remove the code from the function and return $text the forum/pm/menu are back (without clickable links), but the chatbox entries are still gone (another bug).

[2019-02-28 12:46] Jimmi08 commented on #2668
Something new on this? At least if something like this is planned.

[2019-02-28 16:43] Moc commented on #2668
No concrete plans atm.

I am working on a plugin which uses AJAX functionality, which is easy to implement using the AJAX API and Framework which is integrated in e107 by @lonalore . More info here: https://github.com/e107inc/e107/issues/1724

I don't have enough knowledge on this to know if this suffices or helps to integrate something like pjax. But I am personally definitely interested in this

[2019-02-28 17:11] CaMer0n commented on #3695
@Jimmi08 Is my simple canonical plugin still working for you? Nothing has changed as far as I now. Has your PHP version changed?

[2019-02-28 17:11] CaMer0n commented on #3699
Thank you @phibel !! Will certainly look into it asap.

[2019-02-28 17:12] mostym commented on #3443
@Moc @CaMer0n @simplythomasjay I am experiencing this same issue for users that are trying reset from hotmail as well.  Is there a temp fix for this?

[2019-02-28 17:33] Jimmi08 commented on #3695
@CaMer0n
the same with your canonical plugin -  tested with news
![image](https://user-images.githubusercontent.com/5429548/53585680-c6e40700-3b86-11e9-90aa-f785a7a48b6d.png)

then I tried Reference plugin and the same problem
![image](https://user-images.githubusercontent.com/5429548/53585824-1aeeeb80-3b87-11e9-845d-3807c49d8623.png)

Now tested with php 7.2 , but original problem was with 5.6.

[2019-02-28 17:41] Moc commented on #3470
Confirmed. I have the same issue on my theme. Caused by LOGINMESSAGE.
Not sure what the best fix is.

[2019-02-28 18:32] #3699 closed

[2019-02-28 18:34] CaMer0n commented on #3699
@phibel This should be fixed, but if after updating e107 from Github the issue is not resolved, please re-open this issue. Thank you!

[2019-02-28 18:37] CaMer0n commented on #3695
@Jimmi08 Okay. Thank you!

[2019-02-28 18:41] CaMer0n commented on #3693
@Jimmi08 Could you please copy/paste the `$data` part of the error in here. (Please be sure to use "Insert code" button above ie **<>** )  Thanks

[2019-02-28 18:48] CaMer0n commented on #3443
Will try to get this fixed soon.

[2019-02-28 20:28] #3443 closed

[2019-02-28 22:20] CaMer0n commented on #2613
@Moc It appears so. Haven't tested it recently.

[2019-02-28 22:31] CaMer0n commented on #2668
If someone else wants to send a pull-request with an implementation, that would be fine by me. As long as it doesn't break anything else.

[2019-02-28 23:08] Darkicross opened #3700 "How to uninstal extension ?"
https://gyazo.com/544a4036154014fda2a92e2a1751f838

![image](https://user-images.githubusercontent.com/577978/53875538-fec6d080-4004-11e9-9f52-bd3c8911ac1f.png)

pls help

[2019-03-01 08:00] Jimmi08 commented on #3700
Normally you would see this
![image](https://user-images.githubusercontent.com/5429548/53624352-4bbf3700-3c00-11e9-9859-b0f8e1c6d196.png)

Check your permissions maybe, switch to English in admin...
With core plugin do you see uninstall buttons?

[2019-03-01 08:07] Jimmi08 opened #3701 "FR - plugin builder"
**Just unimportant detail**
- when you use overrride plugin files with plugin builder, almost all existing data are loaded into edit form.
But if you have filled images, they are overridden and empty then.
Maybe generated default images would be a better idea.

[code]

[2019-03-01 08:19] Jimmi08 opened #3702 "Q - plugin category - when is refreshed?"
I had installed plugins with category misc.
Then I changed it in plugin.xml,  rescan, nothing.
I tried to uninstall plugin, change manually in plugin manager (there is inline category editing)
But they are still listed under misc, not content.

`	<category>content</category>`

![image](https://user-images.githubusercontent.com/5429548/53625255-d86af480-3c02-11e9-89a0-a33e62bdc464.png)

php 7.2

[2019-03-01 08:24] Moc commented on #3702
Perhaps a cache issue?

[2019-03-01 08:30] Jimmi08 commented on #3702
Cleared just now.  Nothing.  Weird.

[2019-03-01 08:31] Darkicross commented on #3700
No plugins

Si extension

[2019-03-01 08:33] Jimmi08 commented on #3700
Are you main admin?  Post here the full screenshot of your plugin manager.

[2019-03-01 08:42] Jimmi08 opened #3703 "FR - possibility to add custom panel to admin dashboard"
If there is a predefined name for admin custom dashboard, then one can customize dashboard without changing core files.

I mean this:

`if(in_array($pref['adminstyle'], array('infopanel', 'flexpanel', 'custompanel')))`

For example:  remove big chart when log plugin is not used

[2019-03-01 09:00] Jimmi08 commented on #3702
Just noticed: with tabbed layout, but in top menu still in misc.
![image](https://user-images.githubusercontent.com/5429548/53627465-d7d55c80-3c08-11e9-8149-ae4ea0980aae.png)

[2019-03-01 09:04] Jimmi08 opened #3704 "Q - plugin icons on dashboard - what are rules?"
infopanel and flexpanel are new admin dashboard layouts

with legacy layout f.e. compact there are all plugins to what admin have admin access.
but with infopanel and flexpanel there is only user plugin (core), not not core plugins.

Layouts
categories: only core
classis: core + non core plugins
combo: core + non core plugins
compact: core + non core plugins
infopanel: only core
flexpanel: only co

[2019-03-01 09:25] Jimmi08 commented on #3704
Ok, with new layouts you need to add plugins icons manually via Personalize options

[2019-03-01 10:11] wrxxy commented on #3676
Hi Cameron just letting you know that this issue is still current.

[2019-03-01 10:17] Bobbycharlton1 commented on #3657
happened again this morning, all users reset to 'newsletter'

[2019-03-01 11:18] Jimmi08 opened #3705 "Q - menu config on frontend"
Just noticed, fixed by theme template.

Admin see :

![image](https://user-images.githubusercontent.com/5429548/53634911-da8d7d00-3c1b-11e9-977c-768c68c3fa2f.png)

but when clicks on Menu config, with path:
e107_plugins/login_menu/config.php

but they are redirected to e107_admin/admin.php

Is this some setting or what? Why is the link displayed if they can do nothing?

When I click on this as mai

[2019-03-01 11:55] Jimmi08 opened #3706 "Admin without access to userclass, see it"
My settings (Flat userclasses) is:

![image](https://user-images.githubusercontent.com/5429548/53636662-46261900-3c21-11e9-927f-aebe50ae9cf4.png)

Why those classes are listed in userclasses for adding to the user, if the admin doesn't have access.

**Visibility** is for listing on user profile settings on profile - it works.

But what is purpose class manager, when admin still sees this class?

!

[2019-03-01 13:57] Moc commented on #3703
You can already switch to flexpanel and change the layout including removing unused panels I think...

[2019-03-01 14:05] Jimmi08 commented on #3703
@Moc Where? You can only set personalize icons and menus.  How to rid the graph and e107 news?
Or I didn't find this.

[2019-03-01 14:58] Moc commented on #3703
Theme manager - admin theme I think. Not at my computer atm.

[2019-03-01 16:49] newwhitebear commented on #1436
since the plugin 'newformposts_main' has been corrected, a strange text, 'LANDT_XAGO' appears instead of hours or days or years of the relative post or chat. Moreover it has requested the uninstallation of the plugin, because it is no longer compatible with version 2.x.
What I have to do? is a mistake?

[2019-03-02 09:21] Jimmi08 commented on #3703
Clean installation
![image](https://user-images.githubusercontent.com/5429548/53679984-cfe2ee80-3cd4-11e9-8839-ef4fcdf7a886.png)

[2019-03-02 11:18] Moc commented on #1436
@newwhitebear You are two issues which in fact are not bugs :)

The LAN_XAGO is a recent change which is not related to the forum menu. It's related to all places where relative datestamps show ('X minutes ago' for example). If you use the English language pack, everything should display fine...

If it doesn't, without the LAN_XAGO, then please let me know. If you are using another language than E

[2019-03-02 15:09] newwhitebear commented on #1436
ok. I have corrected it in the italian language file.

[2019-03-02 15:56] #3657 closed

[2019-03-02 16:56] Moc commented on #3657
This should noe be fixed. Please.update to the latest files from Github. Then keep an eye on your website. If the reset happens again, please do let us know.

[2019-03-02 17:28] Bobbycharlton1 opened #3709 "no filter on unverified members"
previously when I clicked the UNVERIFIED members on the status section in the admin pages, it showed me a list of members that were not verified.

after the latest sync update, when I click on unverified now, it shows me the full memberlist instead.

[2019-03-02 18:28] CaMer0n commented on #3709
The filter was not working at all on any admin-ui area. Should be fixed now. Please re-open if necessary.

[2019-03-02 18:28] #3709 closed

[2019-03-02 18:49] Jimmi08 opened #3710 "contact_visibility is not saved correctly - no contact form"
![image](https://user-images.githubusercontent.com/5429548/53686179-2af00200-3d24-11e9-918a-12c4fe9d72a2.png)

This preference is not saved correctly and contact form is not displayed then

[2019-03-02 18:51] #3710 closed

[2019-03-02 19:29] CaMer0n commented on #3705
@Jimmi08 _config.php_ makes the following check:

[code]
Does this answer your question?

[2019-03-02 19:31] CaMer0n commented on #3704
@Jimmi08 Yes, you need to use /e107_admin/admin.php?mode=customize and if this is empty it should revert back to core + plugins.

[2019-03-02 19:33] CaMer0n commented on #3703
You can drag-n-drop panels and plugins can add panels using e_dashboard.php . There is no option to hide panels at this time.

[2019-03-02 19:35] CaMer0n commented on #3695
@Jimmi08 Did it work in 2.1.9 ?

[2019-03-02 19:37] Jimmi08 commented on #3705
`4 - Manage all User, Userclass and Extended User-Field settings`

No idea why it's related to this, but it's ok.  Question is why the same check is not for displaying that link.

But again, the easy fix is to remove it from the template.

[2019-03-03 09:37] Moc commented on #1436
Closing this, see my previous reply.

[2019-03-03 09:37] #1436 closed

[2019-03-03 20:33] #3695 closed

[2019-03-03 20:38] CaMer0n commented on #3695
@Jimmi08 To summarize: The listing aspect of the e_admin addon was never implemented. This has now been added in the last commit. Please see the canonical plugin for a working example. (or _blank)
btw. I don't foresee support for inline editing being added any time soon.

[2019-03-04 07:31] Jimmi08 commented on #3695
@CaMer0n Thank you very much. I am sorry, but I didn't ask to add listing mode at all. What was changed was adding those fields to option values (and so the ability to display them).

[2019-03-04 10:10] #3506 closed

[2019-03-04 20:44] CaMer0n commented on #3695
@Jimmi08 I have just updated e107's core again and updated the reference plugin. Custom 'read' method is now supported.

[2019-03-05 09:56] KiraTheUltimate commented on #3516
Hi @Moc
I checked, but this is not a link, just there is no subcategory, just downloads. The SEF URL-s is OK in every category and still not good.

[2019-03-05 13:30] rica-carv commented on #3700
In old v1.x, extensions needed to be deleted via ftp, there was no delete button in admin area...

[2019-03-05 13:31] rica-carv commented on #3692
You can always drop a favicon inside a theme zip file, if you can upload a theme via admin area....

[2019-03-05 13:54] Alex-e107nl opened #3711 "Automatic update from plugin from e107.org may overwrite 'not registered' plugin"
Sorry if it's not completely clear, i use the survey plugin to make forms, it's an oldy but functions, someone has placed a plugin in the system with the same name and everywhere i have installed the old survey the new one (it's really not the same) is overwriting the old one.

Can someone do something about that?

Thx
Alex

[2019-03-05 14:15] Jimmi08 commented on #3692
The user wants to change favicon yourself and one theme is used for more site. In fact favicons now works a bit different ways, not mention they can be not only .ico file.

[2019-03-05 16:07] HatchlingByHeart opened #3712 "Site navigation links resize their icon to 800px when using uploaded images."
As title says.

Icons work as intended (they don't get resized) *if* they came pre-installed with e107 or belong to a plugin. The issue only affects images uploaded via media manager.

The issue was not solved by using another theme or removing all plugins, so I can only guess it is not theme or plugin related.

Example Image: https://www.dropbox.com/s/44bqam45l2qgdg0/ss_e107.png?dl=0
(News is usi

[2019-03-05 16:07] Jimmi08 commented on #3711
Yes, it was discussed on Gitter.   You can't click on update.

[2019-03-05 16:24] Jimmi08 opened #3713 "Q: how forum views (number) works"
I have a problem with forum views.
It gots very weird values when user click on mark as viewed in the custom plugin.

That plugin uses only
`$forum->threadMarkAsRead($splitoutthreads);`
where $splitoutthreads is forum ID.

No idea where to look.
I see that it's displayed:
`$this->var['thread_views']`

but threadMarkAsRead()  has nothing with views...

and only way when thread_views are increased i

[2019-03-06 10:33] Moc commented on #3711
This is caused by the fact that the plugin author chose not to upload the plugin to e107.org. In this case, it is not 'registered'. In the mean time, another plugin author uploaded a plugin with the same name (with a newer version). This new plugin then overwrites the older 'not registered' plugin.

I do agree that there should be some form of warning or enhanced checks in order to avoid this situ

[2019-03-06 10:38] Moc commented on #3713
So far, I cannot reproduce the views being counted 6 times. For me, the view is only counted once as it should be. Will do more testing.

[2019-03-06 10:40] Moc commented on #3702
Still sounds like a caching issue (somewhere) to me. Needs testing.

[2019-03-06 10:41] Moc commented on #3705
That seems like an odd permission to use for this functionality. I guess we need to do a clean-up of all permissions and enhance them where needed. Related: #3694

[2019-03-06 10:42] Moc commented on #3700
Should be fixed.

[2019-03-06 19:50] Jimmi08 opened #3714 "main admin as class for forum moderator doesn't work or list of available classes is wrong"
Moderator class for forum:
- the list contains all classes (main admin too).
- if you use this class, no moderator is displayed, no split or move options are available.

The only solution was to add to main admin FORUM moderator class (or any normal class) and use this class ad forum moderator.

If this is the intention (what could be), then different user-classes should be displayed as available

[2019-03-06 20:11] #3712 closed

[2019-03-06 20:12] CaMer0n commented on #3712
Thank you @HatchlingByHeart If you update from github and then re-upload the icon, it should now be placed in the correct folder (icons) and render correctly.

[2019-03-06 21:58] HatchlingByHeart commented on #3712
Thank you, @CaMer0n. It works perfectly now after replacing e_parse_class.php and media_class.php with latest versions from github.

[2019-03-07 03:57] LaocheXe opened #3715 "Uncaught Error: Call to undefined method load() for plugin e_admin.php generated"
Uncaught Error: Call to undefined method roster_admin::load()

Fatal error: Uncaught Error: Call to undefined method roster_admin::load() in /usr/www/501st/e107/e107_handlers/admin_ui.php:6637 Stack trace: #0 /usr/www/501st/e107/e107_handlers/admin_ui.php(6683): e_admin_form_ui->setAdminAddonModel(Object(e_admin_tree_model), Array, 'news_id') #1 /usr/www/501st/e107/e107_handlers/admin_ui.php(5803)

[2019-03-07 05:00] joelister opened #3716 "[Deleted by Moc]"
[Deleted by Moc]

[2019-03-07 05:37] LaocheXe commented on #3715
Found  the issue - In my plugin for the roster (still under development) I had e_admin.php generated by the plugin builder last year. Which generated this code:

`	public function config($ui)
	{
		$action     = $ui->getAction(); // current mode: create, edit, list
		$type       = $ui->getEventName(); // 'wmessage', 'news' etc. (core or plugin)
		$id         = $ui->getId();

		$config = array();

[2019-03-07 06:23] LaocheXe opened #3717 "Admin Area -> Edit News= Update button missing"
So when editing a news post, the Update button is not visible, unless you hover your mouse over it, then it appears.

![annotation 2019-03-07 001925](https://user-images.githubusercontent.com/5818022/53936276-f2775d80-406e-11e9-89d0-46d38b52404e.jpg)

Weird behavior for sure. Notice after I updated the news, the button stays there until I clear my browse cache. Also notice, if I change browser tab

[2019-03-07 06:26] LaocheXe commented on #3696
I don't know if this is related or not - but a plugin that I am slowly working on had e_admin.php generated from plugin builder - after latest github update on 3-6-2019 I notice an issue in Admin Area -> News > List which is #3715

[2019-03-07 09:19] Jimmi08 opened #3718 "core error messages - they should not depend on bootstrap script"
Testing new jayya theme.
I am not able to close core messages because this theme doesn't use bootstrap

![image](https://user-images.githubusercontent.com/5429548/53945650-59723200-40c2-11e9-9362-70977dfbe623.png)

This problem is with themes that don't use the full bootstrap script and it happens with bootstrap 4 too.

[2019-03-07 09:33] Moc commented on #3716
Thank you for bringing this to our attention. Security issues should be reported by email through security@e107.org, as outlined here: https://e107.org/community

I have saved the information you have posted, and it will be looked into shortly.

[2019-03-07 09:38] #3716 closed

[2019-03-07 09:39] Moc commented on #3715
@CaMer0n Probably caused by 4e07b87e373c590484dcb77e1f063627c7734492

[2019-03-07 09:39] Moc commented on #3717
Which browser are you using?

[2019-03-07 12:53] Jimmi08 opened #3719 "FR - improve membersonly behaviour"
It just notes, not to forget to look at this when there will be more time

- if you have the membersonly site

![image](https://user-images.githubusercontent.com/5429548/53957989-29398c00-40e0-11e9-80af-95a25b29d7ea.png)

you will have displayed:

![image](https://user-images.githubusercontent.com/5429548/53958090-7a498000-40e0-11e9-8627-addf9d1ccc0d.png)

but link Click here to return to front pa

[2019-03-07 14:26] LaocheXe commented on #3717
Mozilla  Firefox

[2019-03-08 07:46] Jimmi08 commented on #3719
Membersonly uses old paths to templates:
There should be used THEME_LEGACY maybe.

[code]

[2019-03-09 07:56] kreossino opened #3720 "unsecure page if i use thumbnail - http://placehold.it"
i receive in gallery o other area with thumbnail loaded from http://placehold.it
 "connection page not secure"

files:
e107_admin/includes/infopanel.php
thumb.php
resolve with https://placehold.it
could you update repo? thanks

[2019-03-09 14:35] wrxxy commented on #3713
@Moc I understand that it may be working on your end and but just wondering how would we go repairing it. Whats required please?

[2019-03-09 15:24] Moc commented on #3713
In my previous reply I said I'd do more testing :) I'll get back to it asap.

[2019-03-09 21:23] realG opened #3721 "avatar thumbnails in wrong aspect ratio after update"
Hi everyone, can you please help me troubleshoot this issue?

I was massively behind with my e107 code so did a git pull today from the master branch and after a few tweaks and a db update it all seems to be working, except the thumbnails of user avatars (in chatbox, user profile page, etc) are now shown in a square aspect ratio so look a bit distorted.

Tried clearing the cache through the admin

[2019-03-09 21:27] LaocheXe commented on #3717
Notice this in all of admin area - all update buttons don't display unless you move your mouse over them - must be something new within Firefox screwing with CSS.

[2019-03-10 10:10] Jimmi08 commented on #3713
@Moc  I found the reason, it's caused by 404 errors

**With not sef-url forum**  everything works (old legacy urls)

**With sef url** I checked log access and noticed 404 from some old plugins.
![image](https://user-images.githubusercontent.com/5429548/54083463-23cc8380-4324-11e9-9ce8-165c40006a25.png)

After uninstall resizer plugin and delete sc_clock_menu  (I couldn't find where this one is use

[2019-03-10 10:27] Moc commented on #3713
Hmm, interesting. So I guess the javascript refreshes the page or something. But the difference between the SEF en non-SEF URLs is strange.

[2019-03-10 10:36] Moc commented on #3721
Very interesting.. the css class still shows correct as 'img-circle' but apparently the image is rendered as square instead.

Can you please verify that the bootstrap.css version that is loaded is 3.x? and not 4.x?

[2019-03-10 10:41] Jimmi08 commented on #3713
Live site returns 200, although path is definitely wrong:

![image](https://user-images.githubusercontent.com/5429548/54083806-00580780-4329-11e9-81f4-cc003b646663.png)

How this is possible?
Hm, because sef-url.  There is no check what is after forum ID.
With all those wrong script forum is displayed and page views  + 1 happens.

http://www.outlawsracing.com/forum/racingevents/11149/new-fvr-mod-u

[2019-03-10 10:49] Moc commented on #3720
You are using HTTPS on your own website, right?

[2019-03-10 11:02] Moc commented on #3717
@CaMer0n Are you able to reproduce this?

[2019-03-10 11:11] #3719 closed

[2019-03-10 11:13] Moc commented on #3719
Added a fix.

@Jimmi08 I think the templates are set fine. This check is used as backwards compatibility with v1 themes, which may have their templates stores in their theme folder. Do you see any issues with your themes?

I am not a fan of THEME_LEGACY because it simply checks whether the current theme has a theme.xml file in their theme folder. It this case, it would then assume that all themes

[2019-03-10 11:27] Jimmi08 commented on #3719
@Moc  how new theme without bootstrap support will work?   You can have new theme structure without BOOTSTRAP defined.

I had information that you can use define("THEME_LEGACY", 1);  in your theme.php

It's nice to think about old themes, but most of them use e_PAGE and it's not supported anymore.  So they will not work out of box.

[2019-03-10 11:31] Moc commented on #3719
I am going to look into e_PAGE and e_PAGETITLE soon. It's pretty broken at the moment indeed.

I am not saying that non-bootstrap theme support is working properly now. I'm just trying to avoid more and more integration with Bootstrap personally. I'd like e107 to be flexible in the future to use also non-bootstrap frameworks (but again, that is future).

For now, I think the current check of the t

[2019-03-10 11:35] Jimmi08 commented on #3719
Exactly, why I dislike this check about template structure depends on bootstrap and not on legacy theme.
I could check this with old theme I should update now for new version. So new template structure but not boostrap.

[2019-03-10 22:06] realG commented on #3721
Yes it appears to be, inspecting one of the thumbnails in Chrome the bootstrap.css that's loaded points to 3.3.6

[2019-03-11 06:17] kreossino commented on #3720
ok my version is to old
thank you

[2019-03-11 06:20] Moc commented on #3720
Closing. But let us know if you still have the issue after updating from Github.

[2019-03-11 06:20] #3720 closed

[2019-03-11 10:11] Moc commented on #3721
Interesting, then I have no idea what is causing this.

@CaMer0n Any thoughts?

[2019-03-11 10:17] Moc commented on #3676
@wrxxy What's the status on this with the latest files?

[2019-03-11 16:51] wrxxy commented on #3676
@Moc just checked and this issue is still current , on sign up its fine but when your updating your user settings it doesn't show asterix's as per title...

[2019-03-11 18:37] CaMer0n commented on #3721
@Moc I'd need to see the actual page. @realG Can you post a URL?

[2019-03-11 21:54] net1313 opened #3722 "Admin ui after latest update"
Fatal error: Uncaught Error: Call to undefined method social_admin::load() in .......
......
......
**e107_handlers/admin_ui.php on line 6637**

When trying to acces to Pages/Menus area.

e107 v2.1.9
PHP 7.1

[2019-03-12 08:42] Jimmi08 opened #3723 "last seen menu - default value for created but not log in user yet"
49 years ago -
maybe it's because user for created manually and log in from admin area, but this shouldn't be displayed - default value should be some other text.

`$this->currentUser['user_currentvisit'] `has value:
`string(1) "0"`

[2019-03-12 11:13] Jimmi08 opened #3724 "resend activation link doesn't work in all cases"
![image](https://user-images.githubusercontent.com/5429548/54195881-219f2c00-44c0-11e9-8221-b458495c5183.png)

The reason is probably that user was activated by mistake (quick add user) and then set not verify status.
Using Resend button causes this error

[2019-03-12 12:13] Jimmi08 opened #3725 "User rating - user can rate themselves"
With allowed user profile rating, user can rate themselves,

![image](https://user-images.githubusercontent.com/5429548/54199159-83fc2a80-44c8-11e9-8a9e-3c29868325ae.png)

I think that rating should be only displayed, not active.

[2019-03-12 15:09] CaMer0n commented on #3715
I will add a check for the method and it should fix this.

[2019-03-12 15:29] Jimmi08 opened #3726 "chatbox notify title - html code is there"
Subject of chatbox notify email

![image](https://user-images.githubusercontent.com/5429548/54213029-080fdb80-44e4-11e9-97e4-6f0562764b9f.png)

[2019-03-12 18:17] #3715 closed

[2019-03-12 18:31] Moc commented on #3726
Hmm, I cannot reproduce this. I do not see any reason in the code that would cause this.
I assume you are using the latest files?

Which theme are you using?

[2019-03-12 18:35] Jimmi08 commented on #3726
@Moc RideBlue2

[2019-03-12 18:50] Moc commented on #3726
Reproduced the issue on RideBlue2.

[2019-03-12 22:33] realG commented on #3721
Hm that might be difficult it's currently not accessible from outside my network... I'll see if I can spin up a sanitised copy that I could make accessible online. In the meantime please let me know if you can think of any other place in css or the code I could look at to debug what's going on.

[2019-03-13 08:01] Jimmi08 opened #3727 "problem with user rating"
Result with the attempt to add 0.5 stars.  The normal user (not in debug mode) can see this.

![image](https://user-images.githubusercontent.com/5429548/54262414-5ff32480-456e-11e9-8437-1356396b1b3b.png)

4.5 stars  works.

[2019-03-13 09:57] Moc commented on #3727
Duplicate #1933

[2019-03-13 09:57] #3727 closed

[2019-03-13 11:20] Jimmi08 commented on #3727
Fix:
`if (!$qs[0] || USER == FALSE || $qs[3] > 10 || $qs[3] < 1)`
to
`if (!$qs[0] || USER == FALSE || $qs[3] > 10 || $qs[3] < 0)`

Or 0,5 - because this is mininal valur, not 1

[2019-03-13 18:10] Jimmi08 opened #3728 "Grammarly extension and tinymce issue"
When you use Chrome Grammarly extension,  g tags are inserted.
I am aware this is the 3rd plugin issue, but there are already solutions about to fix this.

https://github.com/tinymce/tinymce/issues/3625
https://stackoverflow.com/questions/43383100/tinymce-generating-random-g-tags

As you see, it was mainly reported in 2017, so I don't know if e107 is using the latest TinyMCE version or this is cau

[2019-03-14 15:53] Bobbycharlton1 opened #3729 "Top downloads"
I am using the stock downloads system and have added the stock menu for Top Downloads but the result keeps showing there have been no downloads despite lots have been

[2019-03-17 10:36] #3670 closed

[2019-03-17 15:14] Bobbycharlton1 opened #3731 "Forum Attachments"
in e107 V1 I could attach multiple files/images to a forum post.  in V2 it allows only 1?  then if I press preview, it does not show a preview of the image I attached?

[2019-03-18 12:19] Moc commented on #3731
There are some issues with forum attachments indeed.

Related #3496

[2019-03-18 12:21] Moc commented on #3728
My initial thought is that this should be fixed by Grammarly themselves. The issue posted in TinyMCE is not closed, but they indicate that they also require the 3rd party (Grammarly) to fix it.

If you have a ready to use fix to use in e107, we could consider (temporarily) implementing it.

[2019-03-18 12:25] Jimmi08 commented on #3728
@Moc there is somewhere already filter for TinyMCE input.  I was not able to find it to test this.   Do you remember? - old html4 tags are removed sometimes where they are needed.  It was discussed there.

[2019-03-18 12:26] Moc commented on #3728
I guess e107_plugins/tinymce4/wysiwyg.php but I am not really into TinyMCE at all :)

[2019-03-18 12:50] Jimmi08 commented on #3728
I don't think so. it has something with e107 parsing :)

[2019-03-18 12:58] Jimmi08 commented on #3728
I found it:
https://github.com/e107inc/e107/issues/3353#issuecomment-411018659

The correct fix is to add pref to be able to add my own allowed tags.

[2019-03-18 13:18] Jimmi08 commented on #3728
I can't reproduce this again. Closing, I will reopen it if this happens again. Thanks for your time.

[2019-03-18 13:18] #3728 closed

[2019-03-19 12:19] Jimmi08 opened #3732 "after uninstalling plugin old db structure is still cached"
I uninstalled plugin with deleting plugin tables.
I changed db structure and installed plugin again.
and e107::getDB()->insert() still returned this in debug mode:

![image](https://user-images.githubusercontent.com/5429548/54605287-3132ed80-4a49-11e9-849c-4512c57ca58d.png)

One reason was that db structure is used from cached file
`	$temp = file_get_contents(e_CACHE_DB.$tableName.'.php', FILE_TEX

[2019-03-19 19:03] Moc opened #3733 "Forum icons supporting FontAwesome"
Forum icons currently allow uploading of images but apparently no support yet for fontawesome icons (or glyph).. Could this be added?

[2019-03-19 19:05] CaMer0n commented on #3724
Setting the user to "not verified" probably needs to also generate a new activation key and save it to the database table.

[2019-03-19 19:14] CaMer0n commented on #3724
@Jimmi08 Could you please check the user table for user 267, and see if user_sess has a value? Thanks.

[2019-03-19 21:25] Jimmi08 commented on #3724
It was empty.  I checked it because I saw it in code.

[2019-03-19 21:50] LaocheXe opened #3735 "Feature Request: Forum Title Logo"
Allow for admin to add image logo where Title goes,
![Annotation 2019-03-19 164957](https://user-images.githubusercontent.com/5818022/54644352-12435400-4a67-11e9-9cc6-aac6c9ef83de.jpg)

[2019-03-19 22:12] #3677 closed

[2019-03-19 22:15] #2836 closed

[2019-03-19 22:16] #2829 closed

[2019-03-19 22:18] CaMer0n commented on #2846
Confirmed as cleaned up in all LAN files.

[2019-03-19 22:18] #2846 closed

[2019-03-19 23:04] LaocheXe commented on #3692
Well, using the site preferences > button as an example.

// for PNG
echo "<link rel='icon' href='"{SITEBUTTON}"' type='image/png' />\n<link rel='shortcut icon' href='"{SITEBUTTON}"' type='image/png' />\n";

of course the type would change to image/jpg, etc....

I don't know if {SITEBUTTON} is the correct shortcode (also, Site Button is used for Facebook, so maybe add a new section there to add fa

[2019-03-20 10:07] Moc commented on #3700
@Darkicross Did you manage to solve this issue? If not, can you please answer the questions by Jimmi posted above?

[2019-03-20 10:19] Moc commented on #2060
So it appears I'm running into issues because of this:
the shortcode `REPLIESX`  (` function sc_repliesx()`) is defined both in forum_shortcodes.php and viewforum_shortcodes.php, and they differ.

This overly complicates the forum plugin once again. We need to clean this up.

[2019-03-20 15:49] Jimmi08 commented on #3711
That new survey plugin should be removed from e107.org. In fact, it's the only copy of the poll plugin and renamed tables.  There should be a list of e107 plugins with reserved names.

I started to add "jm" to my plugins to avoid this problem, but the same thing could happen to the canonical plugin.  I could upload mine, then CaMeRon's one could be overwritten.  But I knew that there is the unregi

[2019-03-20 15:57] LaocheXe commented on #3711
Maybe we could add a unique id to the plugin xml, that would be use to cross check plugins, themes, etc... Just throwing out ideas here

[2019-03-20 16:04] Jimmi08 commented on #3711
Easier is check plugin name and plugin author. Both values.

[2019-03-20 20:01] Deltik opened #3736 "Renormalize file line endings from CRLF to LF"
As of 06d4b31fbe0a94c8b429e9f1f940554a34a836f9, there are 1347 ASCII text files, but 165 of them have CRLF line endings instead of the normal LF line endings that Git-committed text files should have:

[code]

This is causing some Windows developers to create [commits that normalize files affected by those commits](https://github.com/e107inc/e107/commit/ac0e6c53c983c0420b61c9c8cb8e4a4290d5a531):

[2019-03-21 08:05] Jimmi08 opened #3738 "Q using serialize on decimal values"
I have some internal calculation (not input via form) in the array

![image](https://user-images.githubusercontent.com/5429548/54739334-fe5b3780-4bb7-11e9-8678-151b8072c49f.png)

when I use e107::serialize()
result is

![image](https://user-images.githubusercontent.com/5429548/54739363-17fc7f00-4bb8-11e9-905d-db529171f1d5.png)

What of course causes SQL error because it's not the string.

How I sh

[2019-03-21 09:08] Jimmi08 opened #3739 "category template is changing news frontend template"
As soon as the category news template is used, the news frontpage template is ignored.
Maybe this is the intention.
but the problem is that you can change the news category template without knowing about it.

![image](https://user-images.githubusercontent.com/5429548/54742169-e50ab900-4bc0-11e9-8dd0-0af0fe935739.png)

An empty template is prefilled with value list when you are in edit mode
![image

[2019-03-21 09:33] Jimmi08 commented on #3738
after using round(value,2);
`[success_rate] => 16.67`
serialized value:
`'success_rate' => 16.670000000000002`

[2019-03-21 11:46] Jimmi08 commented on #3738
Closing.  Problem was in update query.

[2019-03-21 11:46] #3738 closed

[2019-03-21 14:42] Jimmi08 opened #3740 "Q: update() result"
I have this code (from documentation on e107.org)
[code]
debug mode is ON, but result is:
![image](https://user-images.githubusercontent.com/5429548/54759717-f2d73300-4bee-11e9-8997-b1011a26cff1.png)

Note: when I used a version like this from mysql_class.php file:
`e107::getDb('sql2')->update("user", "user_viewed = '$u_new' WHERE user_id = '".USERID."' ");`
it didn't work if $result is serialized

[2019-03-21 20:35] KiraTheUltimate opened #3741 "Missing menus, areas"
hi!

After the latest update, the some menus are missing, the tinymce editor didn't load and the installed plugins are dissapeared (really didn't disappear, just invisible O.o). Sample:

![Képkivágás](https://user-images.githubusercontent.com/12445784/54783122-d81db200-4c20-11e9-98de-b9f8d4dbfcf0.JPG)

![2](https://user-images.githubusercontent.com/12445784/54783124-dbb13900-4c20-11e9-900d-9f51dee

[2019-03-22 06:17] Jimmi08 commented on #3703
@CaMer0n This is something similar to custom_style.css.   This way I can avoid changing core code.   Why there can't be this option?  Just to count with a file of this name. Nothing more. If the file doesn't exist, it's not listed in the dropdown.

If this is not welcomed, this issue should be closed.

[2019-03-22 06:57] Jimmi08 commented on #3741
Console log?  PHP version? The same if you switch admin to English?

[2019-03-22 07:31] KiraTheUltimate commented on #3741
Php-version: 5.6.36
Same problem when I using english language. :\

[2019-03-22 07:46] Jimmi08 opened #3742 "PM icon in admin area"
If your user is only admin,  they can still see PM icon in admin area

![image](https://user-images.githubusercontent.com/5429548/54807745-7f7d0200-4c7e-11e9-8fa1-d5c5b879b888.png)

![image](https://user-images.githubusercontent.com/5429548/54807893-ebf80100-4c7e-11e9-8bbf-34a3ebee6852.png)

But if they click on Inbox, they see admin dashboard in iframe/modal window.

Either render some error abou

[2019-03-22 08:03] Jimmi08 opened #3743 "FR - pref to set display e107 links for admins"
![image](https://user-images.githubusercontent.com/5429548/54808404-683f1400-4c80-11e9-929c-68d42d346770.png)

It's a bit confusing for just admins that are not developers.  Thanks

[2019-03-22 08:30] Jimmi08 opened #3744 "userclass visibility"
User can see this:
![image](https://user-images.githubusercontent.com/5429548/54809811-a8a09100-4c84-11e9-9d34-6991d49de70a.png)

but my visibility is set to no one

![image](https://user-images.githubusercontent.com/5429548/54809877-dbe32000-4c84-11e9-9617-14093fc7702f.png)

It's because the admin is the manager of that class.

that list is generated from here:
`		$ucList = $e_userclass->get_edit

[2019-03-22 08:32] Jimmi08 commented on #3706
https://github.com/e107inc/e107/issues/3744

[2019-03-22 18:39] TrueHatori opened #3745 "Cookie and pages link button"
Hello ... I can not replace the pages link button in the preferences. Uploading an image works, but it can not be exchanged. Neither click on selection nor on the picture itself brings success. Back to the default settings, I then only with the back button of the browser. What can I do?
In addition, I get after saving: "Warning! Unauthorized characters found in the cookie name (they are only alpha

[2019-03-22 20:32] Alex-e107nl opened #3746 "Editing member info with extended user fields gives an error"
Github of today, when i try to edit a member with extended user fields the following error is thrown at me..
Fatal error: Unsupported operand types in ****private_html/e107_admin/users.php on line 2446

When reverting e107_admin_user.php to the version of 26-2-2019 everything works.. So that's how i have it working for now.. but please help!

Alex