[2019-03-22 21:24] Moc commented on #3746
What's your PHP version?

[2019-03-22 23:08] TrueHatori commented on #3745
I see the problem, I just do not know where to change it. It works in News and own pages. In the preferences page no pop-up opens, but a new page. Where can I change that?
And where do I turn for the cookie?

[2019-03-23 00:42] LaocheXe opened #3749 "Request - update hybridauth"
I don't mind putting in work on the social plugin to add other providers - updating the current providers we run into an issue.Example, updating the Steam provider in e107, I return this error: Fatal error: Class 'Hybridauth\Adapter\OpenID' not found in /usr/www/e107-test/e107_handlers/hybridauth/Hybrid/Providers/Steam.php on line 31

^^That is the updated php file I just added.
Added the Adapter

[2019-03-23 08:36] Alex-e107nl commented on #3746
PhP 5.6.30 is used on that server..

[2019-03-23 10:36] Moc commented on #3749
Closing in favour of #3492

[2019-03-23 10:36] #3749 closed

[2019-03-23 11:04] LaocheXe commented on #3492
@net1313 should we work on v3.0 for e107? FONTAWESOME should have most, if not all of the providers on that list, and the one's missing we could get and add to the xup images folder. I can work on the social plugin, and add the additional providers.

[2019-03-23 11:16] Moc commented on #3492
Fontawesome has been updated in core as well, so that's not an issue. Integrating a newer version of hybridauth will be the challenge.

[2019-03-23 11:20] LaocheXe commented on #3492
I Checked Fontawesome site, searched for Blizzard, and Steem (came up with nothing) - yes the real challenge would be that.

[2019-03-23 11:36] Jimmi08 opened #3750 "fpw shortcodes - easier templating"
{FPW_USEREMAIL}

[2019-03-23 11:49] Jimmi08 commented on #3750
{FPW_SUBMIT}

[2019-03-23 12:54] LaocheXe commented on #3629
Well Google's Tag Manager seems to have two sets of code - one called <head> and the other <body> - <head> would be the header - which can be done with a plugin using e_header.php. Or you can do this in the theme.php and look for the header layout. Example of that is in line 171 in Bootstrap 3 theme.php.

<body> would be the main section of the website - so if you are using the bootstrap 3 theme,

[2019-03-23 12:55] LaocheXe commented on #3746
What extended user fields do you have?

[2019-03-23 13:11] LaocheXe commented on #3746
Also notice, once you disable any extended user fields, you can edit the user account.

[2019-03-23 13:17] LaocheXe opened #3753 "Extended User Fields Current Fields"
I think we should update the current fields that are automatically added in the new field section. Some of them aren't needed anymore - such as the messenger apps. aim has been discontinue, also with yahoo address - unless that is for yahoo email? MSN was switched to windows messenger, which was migrated into skype.  If you want I can do a pull?

[2019-03-23 13:38] Jimmi08 commented on #3470
Possiiblefix is removing this:
`e107::getMessage()->reset()->addError($message); // prevent duplicates.`
and left only
`e107::getMessage()->reset();`
because after it
`define('LOGINMESSAGE', $message);`

If you use correct shortcode in template, shortcode output is used

If not,  echo from login.php is used

OR  let core message functionality and remove support for LOGINMESSAGE.

[2019-03-23 13:48] Jimmi08 commented on #3746
there is mistypo on that line

`$extData = -$controller->getExtended();`

it should be (not -$controller-)
`$extData = $controller->getExtended();`

[2019-03-23 17:07] net1313 commented on #3724
Does anybody tried to resend activation link to user? Or check if email works when user register on site? It seems that something is wrong.
Maybe a issue with my mail-server config, but i have message that mail was successfully sent (all modes: php, sendmail ...). No messages was received.
Sorry of posting here if you are not concerned.

[2019-03-23 17:10] net1313 opened #3754 "Long execution of php script"
/e107_admin/admin.php' (request: "GET ?mode=addons&type=update&_=1553356977161") executing too slow (2.475930 sec)

[2019-03-23 17:15] Jimmi08 opened #3755 "signup template and display name"
Signup template uses those shortodes:
[code]

When you are registering, you are always guest, aren't you?

{SIGNUP_DISPLAYNAME} - is displayed only for class set in prefs
`if (check_class($pref['displayname_class']))`

![image](https://user-images.githubusercontent.com/5429548/54869316-f3123280-4d96-11e9-8d83-b2d5667dee5f.png)

There is no quest, so it's never displayed on signup page.

What was p

[2019-03-23 17:18] net1313 commented on #3492
@LaocheXe thanks for invitation. I can't promise to begin immediately. So after this summer it will be probably possibly.

[2019-03-23 17:26] Jimmi08 commented on #3724
@net1313 it worked on my site. But only if I set debug mode OFF.  And set Mailshot logging as No logging to be sure.

[2019-03-23 17:35] net1313 commented on #3724
@Jimmi08 You are the best.
 **And set Mailshot logging as No logging**
That was a source of my pain. It works now. Thank You

[2019-03-24 01:04] LaocheXe commented on #3755
You have a Real Name (Ex: Travis)
Then you have a login (Ex: MyRandomName)
Then the display name (Ex: LaocheXe)

isn't that what the three shortcodes are for?

![Annotation 2019-03-23 200029](https://user-images.githubusercontent.com/5818022/54873567-aa627580-4da6-11e9-9df4-f8cd7e489f61.jpg)

[2019-03-24 06:24] Jimmi08 commented on #3755
@LaocheXe  I understand meaning for those 3 fields, but there is something wrong or changed.

1. SIGNUP_DISPLAYNAME shortcode is used in signup template, but you can't use it in the signup process. This shortcode is useless so why it is there?  Something different is User Setting page.
2.  you can edit display name during Quick Add User because there is the field, but you got the error.
3. you can

[2019-03-24 15:19] LaocheXe commented on #3755
Ah yeah, I notice that - the signup page one, not the Quick Add User one. Maybe it was over looked at one point and never fixed?

[2019-03-24 19:38] Jimmi08 opened #3757 "forum/newforumposts_menu.php - SQL error"
adding new newforumposts_menu.php to bootstrap3, I got  SQL error

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near ') ORDER BY p.post_datestamp DESC LIMIT 0, 10' at line 12

[code]

There are no posts yet, so maybe this is the reason?

[2019-03-24 22:08] Jimmi08 opened #3758 "bbcodes and bootstrap4"
How to style or fix something like this?

![image](https://user-images.githubusercontent.com/5429548/54886530-246b2b00-4e89-11e9-876b-719ae8ac112b.png)

fa fa-picture-o is not supported
some of bbcodes have e_bb class and some e_pointer class.  No idea, if e_pointer is used somewhere else, why is there missing e_bb class?

@Moc How did you style bbcodes?  If yours are correct, what is your css for

[2019-03-25 09:17] Jimmi08 opened #3759 "parms doesn't work with new Admin UI with datestamp field"
Now you need to put  "mask"  to ReadParms, "parms"  is ignored in renderValue().  You can try this on news in admin UI.

[code]

[2019-03-25 09:20] Moc commented on #3753
Pull request welcome 👍

[2019-03-25 11:29] KiraTheUltimate commented on #3741
@Jimmi08
The problem was that the system removed the installed plugins after the update, so I had to reinstall everything... now it's OK.

[2019-03-25 11:31] Jimmi08 commented on #3741
@KiraTheUltimate thank you for letting me know. I use only PHP 7, nothing like this happened to me. On online sites, I haven't updated yet.

[2019-03-25 12:02] Jimmi08 opened #3760 "Q admin ui on frontend and delete functionality"
I use admin UI for the Frontend.

The only difference is header and footer.

delete icon is correctly displayed
after click delete confirmation box is displayed
but nothing is deleted.  No visible error.

I think I am missing something from admin footer part or some admin javascript.

Where to look? Thank you

[2019-03-25 13:09] Jimmi08 commented on #3755
I just got this error in frontend:
![image](https://user-images.githubusercontent.com/5429548/54922027-8ff3dd80-4f07-11e9-836f-1790d9b80e4e.png)

![image](https://user-images.githubusercontent.com/5429548/54922035-94b89180-4f07-11e9-8ab4-87fbc0f31fe9.png)
What is wrong?

[2019-03-25 19:38] Jimmi08 commented on #3758
https://fontawesome.com/how-to-use/on-the-web/setup/upgrading-from-version-4

[2019-03-25 19:52] Moc commented on #3758
I'm not using BBCodes but I do know that FontAwesome 5 has been integrated properly now, with the fallback files included. So anything from FA4 should still work correctly. Will take a closer look later

[2019-03-25 21:30] Jimmi08 opened #3762 "bbcodes and not bootstrap theme"
With signature it looks correct:
![image](https://user-images.githubusercontent.com/5429548/54955210-ee8f7a80-4f4c-11e9-8311-92edb37cc5b9.png)
but with forum it looks like this:
![image](https://user-images.githubusercontent.com/5429548/54955250-07982b80-4f4d-11e9-9273-48dc4e85f58a.png)

the reason is format dropdown - using boostrap dropdown classes.

it can be fixed by css and js, but I think th

[2019-03-26 12:46] Jimmi08 opened #3763 "update() problem and PDO"
I have still problem with update method.  PDO, php 7.0

[code]

after sending form without changing data, it still returns that data was updated, not that there is no change

I found this:
`$result = $this->mySQLresult = $this->db_Query($query, NULL, 'db_Update', $debug, $log_type, $log_remark);`

return int(1)

so this check fail : ` if(is_object($result)) for pdo`
and this fails because php 7 to

[2019-03-26 15:43] Moc commented on #3763
Possibly related to the change made here https://github.com/e107inc/e107/commit/96a84a1e93d0bf675f40df51ffe277ce4097e027 (to fix https://github.com/e107inc/e107/issues/3550)

@SimSync Do you have any ideas on this?

[2019-03-26 15:57] #3746 closed

[2019-03-26 16:00] Moc commented on #3757
Cannot reproduce so far, it shows the "No posts yet" message for me.

![image](https://user-images.githubusercontent.com/577978/55013028-9efe8c80-4fe8-11e9-885b-159bf11c2da3.png)

PHP 7 and MySQL with PDO?

[2019-03-26 16:02] Moc commented on #3757
This is the issue for you

`WHERE  p.post_forum IN ()`

for me it says:

`WHERE p.post_forum IN (1,2,3,4,5)`

1-5 are forum categories.

[2019-03-26 16:04] Moc commented on #3754
I cannot reproduce this so far. Are you getting this on a specific page?

[2019-03-26 16:06] Moc commented on #3741
@KiraTheUltimate You said

Do you mean update to the latest Github files? Did you do this manually (downloading ZIP from github), via Git (ie.  you have a `.git` folder in your e107 install), or via the Admin Area > Tools > Database > Sync with Github option?

[2019-03-26 16:09] Moc commented on #3745
I don't know what you mean with this. What are you referring to? Can you show me a screenshot?

Can you show me a screenshot of this message as well please?

- Which browser are you using?

[2019-03-26 16:21] SimSync commented on #3763
@Jimmi08 `$insert_data['data']` should contain the array with the data to update. `$insert_data['WHERE']` has to contain the where clause. Please be aware of the upper-/lowercase keys. Not sure if you already did it this way. Your first post isn't clear about this...

[2019-03-26 16:47] Jimmi08 commented on #3757
@Moc I found it when used the empty forum, so no forum categories. Just installed forum plugin. There is no test if any forum exists.  I double checked that it's that new menu, but I will do it again.

[2019-03-26 16:48] Moc commented on #3757
Whoops, that makes sense.... sorry, should have thought of that.
So we need to add a check if there's categories added indeed.

[2019-03-26 16:53] Jimmi08 commented on #3763
@SimSync I did it according this and I checked with other examples in core plugins...

![image](https://user-images.githubusercontent.com/5429548/55016696-8fcf0d00-4fef-11e9-9776-831fe597f6df.png)

I will do it again, this is really annoying for me...
This could be related:
https://github.com/e107inc/e107/issues/3740

I knew that doc could be outdated, but the code like mine is still  used in core

[2019-03-26 16:54] Jimmi08 commented on #3757
@Moc no problem,   it's just happened...  it's not common to have this menu before any forum records.  I just wanted to report it :)

[2019-03-26 18:04] Jimmi08 opened #3764 "{XURL-ICON} shortcode and Font Awesome 5"
Result after inserting {XURL_ICONS}

![image](https://user-images.githubusercontent.com/5429548/55021263-ba719380-4ff8-11e9-88fd-6ed7b882a3a7.png)

[code]

I tried to change
`define("FONTAWESOME", 	5);`

Theme uses
`e107::css("url", "https://use.fontawesome.com/releases/v5.8.1/css/all.css");`

[2019-03-26 20:01] SimSync commented on #3740
The `$insert_data` array must look like follows:

[code]
The keys 'data' (lowercase) and 'WHERE' (uppercase) are required when using an array for updating data.

Your example `e107::getDb('sql2')->update("user", "user_viewed = '$u_new' WHERE user_id = '".USERID."' ");` is the other possibility to do an update.

[2019-03-26 20:16] #3757 closed

[2019-03-26 20:19] SimSync commented on #3763
I just copy over my comment from #3740:

The `$insert_data` array should look like follows (this is the "new" format):

[code]
The keys 'data' (lowercase) and 'WHERE' (uppercase) are required when using an array for updating data.

Old format looks like you found it in the docs:

[code]
The 'WHERE' must be uppercase.

Third possibility is this:
Your example `e107::getDb('sql2')->update("user", "us

[2019-03-26 20:52] Jimmi08 commented on #3740
@SimSync
with old format debug mode is not working
with the third possibility - if $u_new is serialized array, it doesn't work
I will test the first option, thank you

[2019-03-26 21:17] net1313 commented on #3754
In fact I have LEMP (nginx php7.1-fpm) cron script which informs me about php errors on my site. There are no errors but only this one in admin.php

[2019-03-26 21:18] net1313 commented on #3764
instead of

[2019-03-26 21:21] KiraTheUltimate commented on #3741
@Moc
Yes, after the update with the latest Github files. I do this manually always (downloading zip and overwrite the files)

[2019-03-26 21:37] Moc commented on #3764
It needs to use toGlyph() as that method takes care of the different versioning between FA4 and FA5

[2019-03-26 21:42] SimSync commented on #3740
The problem with serialized arrays is, that strings get surrounded with double quotes ("). That means, the double quote in the serialized string will "escape" the query and could make it fail.
I would propose to use the array format (old or new format doesn't matter). Due to the PDO handling of the data, the escaping of the quotes in the (serialized) string data is done automatically.

[2019-03-26 22:06] Jimmi08 commented on #3764
it's done now this way:
`'twitter'			=> array('icon' => 'e-social-twitter',`
and
in template it's hardcoded
`<span class="fa fa-fw fa-{XURL_ICONS_ID} {XURL_ICONS_CLASS}"></span>`

'e-social-twitter' classes are used in fontello.css and it's loaded without checking if it's needed.

So I really don't have an idea how to fix this except theme template or custom theme shortcode.

And you can have your

[2019-03-26 22:06] TrueHatori commented on #3745
No, does not go with screenshot, apparently this does not work for me :(
Example: I put a tick on "Show page setup time" and click on "Save change". Then there is this:

warning
Unauthorized characters found in the cookie name (they are only alphanumeric characters). Cookie name was not saved.

System information
Settings were not saved because no changes were made.

In the meantime, I simply over

[2019-03-26 22:19] TrueHatori commented on #3745
And why do I have empty pages in the "Comments / Post", "File Uploading, Security & Protection", "Javascript Framework" and "Advanced Settings" presets?
When I call the presets altogether, many things are missing, in the middle of the page is canceled.
We had the same problem a long time ago, because it was due to a memory setting.

[2019-03-26 22:26] net1313 opened #3765 "displaying of metatags on areas that have their own metatags"
Definitely not good for SEO.
If you enter meta tags in admin prefs, it will display in header (pages, forum, ... etc)

That's the artifact of V1.
While the pages, news, forums have their own meta tags, why we should add these tags which will be invalidated by search engines?
I suggest to modify e107_admim/meta.php in order to place meta tags only in home page.

[2019-03-27 08:16] Jimmi08 commented on #3763
@SimSync  No change
$arg  parm-  sent to update()
[code]
after prepare $arg..

[code]

var_dump($result);
int(1)

[2019-03-27 08:18] Jimmi08 commented on #3740
closing in favour of #3763

[2019-03-27 08:21] SimSync commented on #3763
@Jimmi08 Which result do you expect from your update? Is the database record updated? Did you check with phpmyadmin or Heidi if the query worked?
A result of 1 would be ok for me as it tells me that 1 record was affected by the query.
I'm not sure what you expect?

[2019-03-27 08:50] Jimmi08 commented on #3763
@SimSync   No problem with the normal update.
The problem is when the form is sent without any change. I would expect something like in the admin area (that blue info box)  -  no changes were made.   It returned 0 before...  Maybe this was wrong before. No idea, but it behaves differently now.  At least I think (but why I had there test if it returns >0 or 0 or rest (false)).

I still got message

[2019-03-27 11:34] sudakk opened #3766 "{CHAPTER_IMAGE} does not work"
With all ways  tried to force to work this shortcode in chapter_template. But it did not turn out.

[2019-03-27 11:40] Jimmi08 commented on #3766
there is no field in admin area for this. So it doesn't work.

[2019-03-27 11:51] SimSync commented on #3763
@Jimmi08 You can test the result with `$sql->update(foobar) === false` if an error occured during update and than get the error with `getLastErrorNumber()` or `getLastErrorText()`.
If the result of the `update()` is 0 (zero), it just means there was nothing to update/ no records has been changed (without error).

[2019-03-27 12:02] Jimmi08 commented on #3763
I just got it where is the problem.  The timestamp is changed every time when the form is posted, although no visible data are changed,  so it returns 1. Sorry, but at least I have the correct new way of update and insert arrays. Thank you for your time.

[2019-03-27 12:02] #3763 closed

[2019-03-27 12:03] Jimmi08 commented on #3766
Sorry for wrong answer, this field was added only in December 2018, I didn't know that it exists.

[2019-03-28 01:06] net1313 commented on #3492
Google+ is dead, but if you want to keep social plugin update and allow users login/register through Google account (eg. gmail) just replace a file Google.php in Providers directory of Hybridauth by this file
(https://github.com/hybridauth/hybridauth/blob/e7fb724aea4822b48e6d484e58ac8e541b205086/hybridauth/Hybrid/Providers/Google.php)
was successfully tested and works.

[2019-03-28 13:27] LaocheXe commented on #3741
I  can confirm it happen in PHP7 as well.

[2019-03-28 22:29] net1313 opened #3767 "forum e_rss"
I know that developers spend lot of time to improve e107 and have to face for multitude of questions and fixes.
But one of the most important thing is a integration/cohesion with modern media tools such as social media.
One of the simplest method (for newbie) is publishing rss feed to social media.
Rss format is most acceptable for great number of them.
I'd like to know when forum posts and thread

[2019-03-29 11:37] sudakk commented on #3766
I found non-standard parsing in page.php:
`function listChapters($book=1)`
...
[code]
It is unclear for what it is necessary, but after edit of the following code everything earned:
[code]

[2019-03-29 12:00] Moc commented on #3767
The `e_rss` addon is there in the forum plugin, but it may not be functional due to the rewrites: https://github.com/e107inc/e107/blob/master/e107_plugins/forum/e_rss.php
It needs updating to v2 standards anyway.

[2019-03-29 12:32] Moc commented on #3668
https://e107help.org/4588/e107-web-site-does-not-work-with-php-7-3-3

[2019-03-29 22:23] net1313 commented on #3767
It is totally non functional. I think that 1 or 2 developers can make forum e_rss compatible with v2 standards in half an hour.

[2019-03-29 23:23] Deltik opened #3768 "db_verify::getPrevious() is broken in PHP 7"
This failure was detected in regression testing.  In PHP 5.6, e107-test has this error:

[code]

PHP 7.1, PHP 7.2, and PHP 7.3 have an actual value matching the expected.

It looks like the expected value is wrong and the actual value is the intended behavior from PHP 5.6 and earlier.

This is due to a bad implementation of `db_verify::getPrevious()` that breaks in PHP 7.

[2019-03-30 09:02] Jimmi08 opened #3770 "Q, FR - sitelinks_class - discussion"
At first, I am not asking for any change in core structure.
I just need to add different css class for generated sitelinks and it's not possible with actual shortcodes.
Very quick fix was adding new shortcode:

[code]
and then adding this value to $links array (example bellow)
[code]
Everything works out of box, awesome really.

Would this be ok to send PR or this should be solved in theme shortco

[2019-03-30 10:21] Jimmi08 commented on #3770
Hm, in fact it was too easy in theme shortcodes. If anybody needs this, code:
[code]

[2019-03-30 10:21] #3770 closed

[2019-03-30 18:31] LaocheXe opened #3771 "Feature Request: Draft Save"
Allow for drafts to be saved automatically when working on a form, such as posting a new forum post, writing up new news item, etc...

[2019-03-31 10:55] Jimmi08 commented on #3767
@Moc @net1313
I am working on content plugin, so it's similar a bit.  I am posting this just to show that it's not work in half an hour.  Normally rss_menu would work with not updated e_rss.php and it worked some time ago.

problem is mainly in rss_menu plugin

1.  `$this -> limit` in sql queries is empty now  (just noted)
- e_rss.php for download, featurebox, forum, links_page has sql errors now

[2019-04-01 10:23] #3736 closed

[2019-04-01 10:26] Deltik commented on #3736
Fix verified:

[code]

[2019-04-01 14:24] Jimmi08 opened #3772 "Q Bad request - destination unreachable with Frontpage"
I have the site, everything normal works on localhost

the custom plugin uses e_frontpage
`$frontPage = array('page' => '{e_PLUGIN}pluginname/index.php', 'title' => 'My title' );`

but on live site I got error

there is missing one "/" before index.php

e107 is installed in subdirectory

Problem is only with Frontpage, on separate page it works normally.  It's new plugin, with plugin.xml.

Content

[2019-04-01 14:43] Moc commented on #3772
Related https://github.com/e107inc/e107/issues/1761 ?

[2019-04-01 16:46] Jimmi08 commented on #3772
Thanks. I will check it. But maybe it's safer to create menu and put it in frontpage...  I will see.  It's hard to debug this if localhost works.

[2019-04-02 06:47] Jimmi08 commented on #3772
@Moc using custom URL solved this problem (@rica-carv suggestion from above-mentioned issue).  With the same URL as in e_frontpage with {e_PLUGIN}

Just to have it completed.
https://github.com/e107inc/e107/issues/927

Maybe this can be closed now, it's not important anymore.

[2019-04-02 09:00] martyshep opened #3773 "Forum notify email slow to be sent, sits in pending"
I use Notify with Forum to email members who have subscribed to a userclass of "Notify me of all new forum posts" to send emails.  When a new topic is created, the email gets created to the total of users in the userclass and goes into Pending Mail.  However if say 60 users are to receive this email, the email sits in pending for 60 minutes, sending one email per minute of the 60 total.  My email

[2019-04-02 10:56] Jimmi08 commented on #3773
@martyshep I don't know answer, but I have question for you if I can. What event do you use to have this working?  **New topic created** or **Post created** ?:  I ask because I always got notification email 2x.  Thanks

[2019-04-02 11:41] martyshep commented on #3773
@Jimmi08 I notify on **New Topic Created** and **Topic Updated**.  When someone posts on an existing thread, with this setting it generates notification to the userclass.  Sounds like a bit of a defect in behaviour tho, you would of thought it wouldn't of notified unless you set Post notification.  At least it sounds like that is where your two notifications are coming from.

[2019-04-02 15:24] #3768 closed

[2019-04-02 16:28] CaMer0n commented on #3767
@Jimmi08 I just tested chatbox and downloads under PHP 7.3 and it is working as intended.
Forum has an issue.

[2019-04-02 17:28] CaMer0n commented on #3767
The database queries still need to be updated to work with the v2 forum table structure. Anyone feel like working on it? @Moc @Jimmi08 ?

[2019-04-02 18:32] Moc commented on #3767
I might get to it this week

[2019-04-02 19:08] Jimmi08 commented on #3767
@CaMer0n  I am on page rss_menu/admin_prefs.php?mode=main&action=**import**
I can see in debug mode 2 sql errors (php 7.2)

`SELECT d.*, dc.* FROM e107jm_download AS d LEFT JOIN e107jm_download_category AS dc ON d.download_category = dc.download_category_id WHERE  d.download_active > 0 AND d.download_class IN (0,251,252,253) ORDER BY d.download_datestamp DESC LIMIT 0, `

`SELECT * FROM e107jm_feat

[2019-04-02 19:14] CaMer0n commented on #3767
Thanks @Moc I have added back the rss links from the v1 template as a reference.
https://github.com/e107inc/e107/commit/f58714c35de8cd63449a7a2020b595ffbc35a17e

@Jimmi08 Yes, I see that too, it doesn't affect functionality and will disappear once they are ported to v2 standards.

[2019-04-02 19:26] Jimmi08 commented on #3767
Could be v2 standard to check if addon class doesn't exist before declare this class?  I think I saw it in some e_ addon already, but I can't find it now.  So if I declare this class sooner, my customized class will be used and not core?  Do you know what I am trying to say?

[2019-04-02 20:47] nlstart opened #3774 "Not all folders configurable from e107_config.php by default"
In install.php as from line 1368 these settings are being written to the e107_config.php file:
[code]

However, I think the e107_core and the e107_web folders are missing to be made configurable.

[2019-04-02 20:59] nlstart commented on #3774
it is stated on https://e107.org/developer-manual/ in 'Files and Folders' that these folders cannot be modified; however, that is also stated for the e107_admin and the e107_handler folders, yet they are being offered to be made configurable.

[2019-04-03 11:43] Jimmi08 commented on #3774
You can add to your config file this manually
[code]
And you need to change .htaccess too if you change Images and File folders.

You shouldn't change handler and admin folders before installation, because names are hardcoded
![image](https://user-images.githubusercontent.com/5429548/55476115-fc609200-5615-11e9-80ec-c7ed296b642c.png)

By the way, where you found in documention that "that these fol

[2019-04-03 18:04] nlstart commented on #3774
![image](https://user-images.githubusercontent.com/2721639/55501896-b32b3500-564b-11e9-969c-5a6443bbe458.png)

[2019-04-03 18:33] CaMer0n commented on #3767
@Jimmi08 I believe you're talking about overriding plugin addons. (e_xxxx)
It is currently unsupported.

[2019-04-03 18:36] CaMer0n commented on #3774
@nlstart That means the **content** can be modified. It has nothing to do with the paths in e107_config.php. Defaults are set when paths are not found in this file.

[2019-04-03 18:48] #3766 closed

[2019-04-03 18:49] CaMer0n commented on #3766
@sudakk Thank you! That was the correct fix. :+1:

[2019-04-03 18:54] CaMer0n commented on #3764
@Jimmi08 @Moc It doesn't use Fontawesome at all.

See e107_plugins/social/css

[code]

If you wish to use Fontawesome, you may override the CSS.

[2019-04-03 19:03] Jimmi08 commented on #3774
@nlstart I use non-prefix version on one site more than 2 years without issues.  CaMeRon answer is correct.

[2019-04-03 19:06] Jimmi08 commented on #3764
@CaMer0n I think this was changed some time ago. Check social XURL template, there is a hardcoded FA code...

[code]

[2019-04-03 19:09] CaMer0n commented on #3764
@Jimmi08 Yes, you'll need to adjust the template for a FontAwesome5 theme.

[2019-04-03 19:17] Jimmi08 commented on #3764
[code]
How to do it in teplate when there is different class?   fas vs fab now?

What I am trying to say that there should be a definition for those icons similar way like in forum icons.

This should be labelled as the question and let for discussion.  I can fix it with theme shortcodes and nobody else doesn't see the problem here.

[2019-04-03 19:20] nlstart opened #3775 "Voux welcome page hardcoded admin page"
e107/e107_themes/voux/install/install.xml
contains hardcoded text to the admin page (around line 1101):
`<a class=&quot;btn btn-primary btn-large &quot; href=&quot;e107_admin/admin.php&quot;>Go to Admin area</a>`
To make it follow the settings from e107_config.php this might be better:
`<a class=&quot;btn btn-primary btn-large &quot; href=&quot;{e_ADMIN}admin.php&quot;>Go to Admin area</a>`

[2019-04-03 19:23] CaMer0n commented on #3733
It's labelled as an icon, but it is actually an image:

[code]

Changing type from 'image' to 'icon' would no doubt make some people unhappy.
We'd need to add another field with type=icon. (and modify the upgrade routines accordingly)

[2019-04-03 19:24] CaMer0n commented on #3775
Happy to see you @nlstart! :+1:

[2019-04-03 19:27] nlstart commented on #3774
Makes sense now, wasn't so clear after reading the developer manual. Plus that not all configurable paths are placed in the initial e107_config.php by install.php.

[2019-04-03 19:31] nlstart commented on #3775
Thank you for the warm welcome @CaMer0n, it has been way too long! :-)

[2019-04-03 19:36] Moc commented on #3775
Good to see you!

[2019-04-03 19:40] nlstart commented on #3775
Identical problems in:
e107_themes\bootstrap3\install\install.xml (line 12)
e107_themes\landingzero\install\install.xml (line 50)

[2019-04-03 19:54] CaMer0n commented on #3759
Looks like old code to me. There is only readParms and writeParms.

[2019-04-03 19:54] CaMer0n commented on #3750
Closing. But please reopen if necessary.

[2019-04-03 19:54] #3750 closed

[2019-04-03 20:36] Jimmi08 commented on #3767
@CaMer0n Just for your information. In fact, it already works thanks to that way the new version is written. I could be mistaken, of course.  Only 2 things were needed:
- alphabetical sorting of add-ons after $elist = self::getPref($filename.'_list');  in getAddonConfing() method.   ksort() for example
- check if the class exists.
So if I add plugin f.e. blank, and put inside e_gsitemap.php file w

[2019-04-04 18:05] CaMer0n commented on #3767
@Jimmi08 Looks like a bug. It means that plugins could break functionality of other plugins.

[2019-04-04 18:06] CaMer0n commented on #3764
@Jimmi08 The answer is to not use FontAwesome at all, and go back to fontello which is already included in the core.

[2019-04-04 18:19] #3764 closed

[2019-04-06 17:53] CaMer0n commented on #3712
@HatchlingByHeart Great! Thank you for the feedback.

[2019-04-06 20:02] LaocheXe opened #3777 "Feature Request: Push Notifications"
I think it would be a great idea to extend the current notification system, and to allow it to use push notification method (for web browsers, and mobile devices) - plus push out notifications to users who allow it to send notifications of new news post, forum post, etc...

[2019-04-06 20:50] CaMer0n commented on #3068
@LaocheXe Is this still an issue?

[2019-04-06 23:55] LaocheXe commented on #3068
Yes, still an issue - that website (clancoyote.com) uses PHP Version 5.6.40.

[2019-04-08 07:13] Jimmi08 commented on #3740
@SimSync I am not sure if I get this correct way
I have this:
$insert_data = array(
  'userdata'   =>  e107::serialize($user_data),
  'agencydata'   => $user_data,
 );

$user_data - is array after retrieve() method
Result:
![image](https://user-images.githubusercontent.com/5429548/55705158-67c3ae80-59de-11e9-8af8-183f74694314.png)

PDO is enabled, php 7.0.  What do you mean by array format then?

[2019-04-08 09:42] SimSync commented on #3740
This is how the `e107::serialize($array);` is working. It creates a string from the array, that can be safely saved to the data base. On retrieve, you should use `e107::unserialize($string);` on that field to get back the string data as array.
If you prefer to save the data in json format to the database, you should use `e107::serialize($array, 'json');`

[2019-04-08 09:46] Jimmi08 commented on #3740
@SimSync you wrote to let serialize on PDO... - or I got it wrong.  $user_data is a normal array and I wasn't able to save it without serialize.  It saved the word "Array" instead of.

[2019-04-08 09:53] SimSync commented on #3740
@Jimmi08 PDO will not serialize the data. It only "sanitizes" the data for use with a database.
You need to serialize and unserialize on your own.

[2019-04-08 10:21] Jimmi08 commented on #3740
Thanks. I knew this but I was a bit confused with your answer about array and PDO.  Thank you for your time.

[2019-04-08 12:09] Evgura opened #3778 "SEF URL to custom page in comment_menu"
In the comments menu links to pages have this form (for example) - site.ru/page.php?***
How to make SEF URL (for example) - site.ru/page/****/ ?

[2019-04-08 13:15] wrxxy commented on #3574
Just wondering if anyone has looked at this issue as I have just tried to update one of our members signature's but no luck as it works in there user profile but not on the users threads/posts in the forum's...
Here is what it used to look like when it was working,
[img:width=75&height=170]{e_FILE}public/1499565967_9_FT7040_eao_commem1.png[/img]
different location from V1 e107
[img:width=75&height

[2019-04-08 13:36] wrxxy commented on #3574
found it , it should read like so [img:width=75&height=170]http://www.yourwebsite/{e_MEDIA_IMAGE}2019-04/donatingmember17g18g.png[/img]

[2019-04-08 14:14] wrxxy opened #3779 "Polls In Threads"
Why I am not able to add a poll to a new thread as it was possible in V1 and now with V2 its not??? Unless I am doing something wrong.  Has this feature been disabled?

[2019-04-09 07:42] Moc commented on #3779
It still seems to work for me.

- Do you have the poll plugin installed?
- Is the option enabled in the Forum preferences?
- Which theme are you using?

[2019-04-09 10:13] wrxxy commented on #3779
Yes @Mocha my bad it wasn't enabled...

[2019-04-09 10:13] #3779 closed

[2019-04-09 10:55] #3740 closed

[2019-04-10 10:14] blez4o opened #3780 "How to delete all posts/comments by a user?"

[2019-04-10 20:37] Jimmi08 opened #3781 "problem with bbcodes inside tinymce editor"
tested with news
I needed manually to insert
code [img]link to image[/img]
via e107 bbcodes inside tinymce.

In admin editor image was displayed correctly, but on the frontend bbcode was displayed

Could you check this:
-  at first you are parssing bbcodes
`$full_text = $this->parseBBCodes($full_text, $postID); // parse any embedded bbcodes eg. [img]`

- then replaced tinymce tag for bbcodes back

[2019-04-11 00:38] mostym commented on #2606
@Moc gsitemap plugin does not include individual files of the subcategories.

[2019-04-11 06:57] Moc commented on #2606
@Jimmi08 thoughts?

[2019-04-11 07:17] Jimmi08 commented on #2606
Probably wrong description of problem, because I am sure it does.  There is no limitation for subcategories
`$data = $sql->retrieve("download_category", "*", " ORDER BY download_category_order ASC", true);`

[2019-04-11 07:24] mostym commented on #2606
Subcategories work, individual files that belong to categories don't

[2019-04-11 07:28] Jimmi08 commented on #2606
so now they work?

I can see them

![image](https://user-images.githubusercontent.com/5429548/55938583-f7b26400-5c3b-11e9-9c4c-3db2eff7d9ad.png)

[2019-04-11 17:55] Moc commented on #3741
Please update to the latest files and let us know if the issue occurs again

[2019-04-11 17:57] #3753 closed

[2019-04-11 17:58] Moc commented on #3735
I think this is where the forum image is for?

[2019-04-11 19:00] Jimmi08 commented on #2606
@Moc @CaMer0n
Problem is that e_gsitemap checks download_class  against classes 0,252
The query code is from e_rss.php plugin, but there are classes 0,251,252,253 .

What is correct fix?  To check visibility field or change class list for gsitemap plugin.
It looks weird if visibility is set differently and user still can see link in rss output.

Thanks

[2019-04-11 19:28] #3711 closed

[2019-04-11 19:29] CaMer0n commented on #3711
@Alex-e107nl If you reinstall the septor version of survey, e107 should no longer suggest an updated version from e107.org.  (following the changes I just made)

[2019-04-11 19:52] #3222 closed

[2019-04-11 20:29] CaMer0n commented on #2486
@Moc I fixed the problem with index, but there's no quick fix for the experimental profile. It requires a lot of time and work.

[2019-04-11 20:30] #3735 closed

[2019-04-11 20:38] Alex-e107nl commented on #3711
Very nice Cameron THX! Will test it of course!!

[2019-04-11 23:05] CaMer0n commented on #1944
@Moc @nesjett @Jimmi08 @SimSync  This commit above is a partial fix that hopefully won't break the comments. If you guys can test my changes thoroughly over the next 48 hours, that would be very helpful. I have tested locally, and haven't found any issue so far.

[2019-04-11 23:06] CaMer0n commented on #3233
@Jimmi08 Is this one still an issue?

[2019-04-12 08:18] Moc commented on #1944
So far, adding comments still seem to work. Haven't tested with multiple comment forms yet.

[2019-04-12 09:16] Evgura commented on #1944
@CaMer0n The whole structure of the comments was broken. Maybe because of CSS or Javascript.
Rolled back the update.

[2019-04-12 12:45] Jimmi08 commented on #1944
Hi all,
I don't know what to test because I hadn't any problem with comments (except the position of new reply comment with nested comments)

_before update:_
So I added nested comments to news, no problems, I changed setting to set nested off, I got paginated comments, button prev and next works.

_I updated_
Everything looks normal, both nested and not nested.
I only noticed a bit slow reaction

[2019-04-15 17:26] chory opened #3782 "MariaDB server port"
I am trying to install e107 on a new server, but I can not connect to the database server, because I can not indicate the necessary port for it

[2019-04-15 19:01] Moc commented on #3782
In the host field use the : sign.

localhost:3306

[2019-04-15 19:25] chory commented on #3782
e107 was unable to establish a connection to the MySQL server using the information you entered. Please return to the last page and ensure the information is correct.

MySQL Reported Error:
SQLSTATE[HY000] [2002] No such file or directory

[2019-04-16 01:55] Moc commented on #3782
Sounds like a server configuration issue

[2019-04-17 09:55] tgtje commented on #3780
System has prune, but posts etc stay without user name.
This is a general question or maybe you post it as enhancement ?
Anyway, imo  best option is by database (sql) manual based = use tables and do colum sorting example :

[2019-04-18 21:46] chory commented on #3782
Yes it is. My test server is giving me configuration problems, and until I solve it, I can not do anything 😭

[2019-04-18 22:53] Moc commented on #3782
I'm sorry but I don't think this is e107 specific. I'm closing the issue but in case you do think there is an issue with how e107 handles ports, please let us know.

There should be some other issues here on GitHub which discussed the port configuration.

(Sidenote, you may want to check the firewall on your server to make sure the incoming port is open)

[2019-04-18 22:53] #3782 closed

[2019-04-20 08:16] G4HDU commented on #3773
I think it maybe because notify does not respect the settings in Mail, it seems to do its own thing with regards to mail settings. I am trying to set up notify with one of my plugins on my local host on Windows 10 with xamp but although the test emails work in Mail they don't in Notify. Been looking through e107 (including some of my old plugins) and there is inconsistency in mailing across the bo

[2019-04-20 08:38] Jimmi08 commented on #3773
@G4HDU This can be out off topic, but what I know that there are the old and new ways how to send emails.  I use your old plugins and email sending/notifying still works.  The new way is used in forum plugin (it was rewritten some time ago with e_notify).  For testing emails use Mails in User part with logging out.

[2019-04-20 10:49] G4HDU commented on #3773
@Jimmi08 My exact problem is that I can't use PHP or Sendmail on my local server, only the SMTP settings in Mail and I can't see how to set the SMTP with authentication settings for Notify hence forum plugin etc don't notify. Mail newsletter works though because that **does** use the SMTP settings where as notify (AFAIK) uses php_mailer.

[2019-04-20 11:05] Jimmi08 commented on #3773
@G4HDU this is what I don't understand :

It does and you can send test forum notify too.  Inside Notify tool.

[2019-04-20 11:19] G4HDU commented on #3773
@Jimmi08 Not on my server it doesn't because I can't use phpmailer

[2019-04-20 11:35] Jimmi08 commented on #3773
Hm, you are right. You should create a separate issue for this. I just updated the site and it stopped to work.  Test email will come, but not test notify from forum .  But I am sure it worked with SMTP before...

[2019-04-20 11:49] G4HDU commented on #3773
Sorted, thanks for your help

[2019-04-20 15:23] Jimmi08 commented on #3780
@tgtje If you ban a user, their posts are still displayed on forum.

There is an option now because GDPR to remove all data (not tested how it works, if it deletes everything or anonymized), so you can log from admin area as that user and try it.  Theoretically, not tested.

[2019-04-20 15:28] Jimmi08 opened #3783 "Q: ajax call and problem with $_POST"
I had this code in js file I am using:

[code]

The problem was that $_POST was empty in the called file.  (File was called correctly).

After looking for a solution it was fixed by adding
`beforeSend: function(xhr){xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")}   `

My question is why I needed to add this code. The code without e107 worked correctly.

Thanks

[2019-04-20 16:35] Moc commented on #3783
Don't have the answer for you but check my mailbox repository, it may help.

[2019-04-20 17:50] Jimmi08 commented on #3783
you have type: 'post', with small letters.   And you are using behaviours.  It's too much for me.

[2019-04-20 18:54] Moc commented on #3783
I'm just copying it from the forum plugin. I have no idea how the behaviours thing exactly works. Lonalore built it.

[2019-04-20 18:57] Jimmi08 commented on #3783
I have an idea, it started as a plugin and I was there at the beginning...  Now with libraries, it's overcomplicated for normal users. Nevermind, this just happens too often - in meaning many other people have this problem. I posted it here to remember the solution.

[2019-04-20 19:00] Moc commented on #3783
You don't have to use libraries.. and the basics are not hard. Using Ajax calls is not for beginners in general.

[2019-04-21 07:16] tgtje commented on #3780
Exactly, hence dbase method. As for GDPR, that should look into it, but not every post etc. (ex. general post or comment) could be under privacy.. Is a tricky interpretation in such cases.
It would also be if a user IS removed or does it by him/her self.. etc... long discussion

[2019-04-21 10:18] Jimmi08 commented on #3780
@tgtje I know this too well.  But I think he is talking about spam user and it was really annoying to delete everything manually.

[2019-04-22 09:12] Jimmi08 commented on #2581
@Moc could you add label download plugin please. Thanks.

[2019-04-22 09:13] Jimmi08 commented on #2601
@Moc Could you add label download plugin please? Thanks

[2019-04-22 09:18] Jimmi08 commented on #1520
This is correct behavior. You dont want to change your access settings if you set it inactive. It can be from some temp reason.  What should be checked is this settings is used everywhere for checking access. Mainly in e_ addons files. This should be closed.

[2019-04-22 09:19] Jimmi08 commented on #2580
@Moc Could you add label download plugin please? Thanks

[2019-04-25 07:37] Jimmi08 opened #3785 "Q: how events work"
I am trying to understand how events work.  It looked clear from the documentation.

But metatag plugin uses events too and I can't find any register method.
It works - the event is triggered after the news is updated.

But core news event for this is `'newsupd'` ,
Note: ` 'admin_news_updated'` is commented out in afterUpdate() but it still used on other parts.

Event name in admin_ui is `protecte

[2019-04-25 07:55] #3785 closed

[2019-04-25 16:58] Jimmi08 opened #3786 "official documentation fix"
Under User data is:
`$userData = e107::user(); // Example - currently logged in user. `

this doesn't work. I had to use
`$userData = e107::user(USERID); // Example - currently logged in user. `

[2019-04-25 20:48] TrueHatori opened #3788 "Question: Example of dropdown and / or checkboxes"
I do not understand this new system properly. I have three tables, from two tables I need the ID and the text str (dropdown field or I would rather checkboxes) in the form for the big main table.
After I have the admin_gallery.php, the image.php and also the admin_config.php from the _blank_plugin studied, I still do not understand it. Something is written in the init(), sometimes in the form_ui,

[2019-04-25 21:20] TrueHatori commented on #3745
"Something went really wrong, and we can't process that file". This is the message when I try upload a jpg. The problem is still the same.

[2019-04-25 21:47] Moc commented on #3788
Maybe my OweMe plugin can help (see my GitHub repositories). It's somewhat outdated but the basics should be explained clearly.

[2019-04-25 22:22] TrueHatori commented on #3788
Thank you very much, I'll take a look at it right after breakfast.

[2019-04-26 06:32] Jimmi08 commented on #3788
Funny, I had the same questions some years ago...  and yes, OweMe plugin was the only understandable source at that time.  Then I found that if I use plugin builder and select dropdown type, it will do most of it itself.

PS. Plugins by lonalore are next level for studying and next is vstore.

@Moc you should replace fetch() with retrieve() nowadays. And add optArray key there.  To deptors dropdow

[2019-04-26 11:56] Moc commented on #3788
I'll take a look but fetch should still work although retrieve is recommended.

[2019-04-26 12:04] Jimmi08 commented on #3788
@Moc I know, but this is really the example for others. It was only suggestion.

[2019-04-26 16:22] TrueHatori commented on #3788
Thanks again, now things are going well. For now I have one more question: How do I get a multiple choice in the dropdown lists? I would prefer checkboxes, but since I'm the only one who will fill out the form, it does not matter.

[2019-04-26 18:49] chory opened #3789 "Can't access to admin area, and home page error"
Since last update ( **04/26/2019** ), I can't access to admin area, and in home page, show this error
_e_url.php in e107_plugins/forum is missing the key: post. Or, you may need to scan your plugin directories to register e_url.php_
but clicking in url, this show me a page with
a button **[x]**
text **Loading...**
and link Close[http://www.clan-toro.es/e107_admin/admin.php#]

[2019-04-27 10:48] TrueHatori commented on #3788
Sorting has done. I've used a $ sql->gen instead of $ sql->select, which does exactly what it should. Remains the problem with the multiple selection, I have no idea.

[2019-04-27 15:03] Jimmi08 commented on #3788
look at newspost.php and selecting template field during edit news.  Or look for word 'multi' in admin_ui handler.  I think it's just a parameter for checkboxes...  If you need this for user classes, there is field type for this already.

[2019-04-27 20:53] TrueHatori commented on #3788
Thanks, I looked this, but I did not understand it :( Like the preferences in the newspost.php I would like, but I can not get it.
What I have now:
In the protected $fields

`'kk_HWirkung_ID_fremd'	=>   array (
	'title' => 'Wirkungsbereiche',
	'type' => 'dropdown',
	'data' => 'str',
	'width' => 'auto',
	'inline' => false,
	'validate' => true,
	'writeParms' => '',
	'class' => 'left',
	'thclass' =>

[2019-04-27 21:30] Jimmi08 commented on #3788
sorry, the field name is news_render_type.

Check this:
https://github.com/e107inc/e107/issues/2769

here is now this:
'news_render_type'		=> array('title' => LAN_LOCATION, 	'type' => 'dropdown',  'data'=>'safestr',  'tab'=>2,  'inline'=>true, 'readParms'=>array('type'=>'checkboxes'), 'width' => 'auto', 	'thclass' => 'left', 			'class' => 'left', 		'nosort' => false, 'batch'=>true, 'filter'=>true)

[2019-04-27 21:32] Jimmi08 commented on #3786
There is new type of field:  **safestr** without mention in the documentation:

`		'news_render_type'		=> array('title' => LAN_LOCATION, 	'type' => 'dropdown',  'data'=>'safestr',  'tab'=>2,  'inline'=>true, 'readParms'=>array('type'=>'checkboxes'), 'width' => 'auto', 	'thclass' => 'left', 			'class' => 'left', 		'nosort' => false, 'batch'=>true, 'filter'=>true),`

[2019-04-27 22:26] TrueHatori commented on #3788
I tried, after that nothing went, so I undid it.

[2019-04-28 07:38] Jimmi08 opened #3790 "Report - fatal error related to event class"
This is not a bug because I installed that plugin by mistake.

This plugin
![image](https://user-images.githubusercontent.com/5429548/56860513-acb48280-6997-11e9-977b-98e2947a2b09.png)

uses event addon.
On the download page in admin area I got the error:
`Fatal error: Uncaught Error: Cannot use string offset as an array in G:\php72\htdocs\***\e107_handlers\event_class.php:322 Stack trace: #0 G:\p

[2019-04-28 16:32] #3789 closed

[2019-04-28 17:01] BlastFM opened #3791 "Double prefix database table names when creating e107 plugin"
When you create a plugin with the plugin manager and you select a database table with a prefix name, you will need to edit admin_config.php and the whatever_sql.php files in the plugin folder, the database table names will have a prefix on them, for example _e107 and this will actually create the wrong table in the database, it will add the prefix again so the table will be named _e107_e107_whatev

[2019-04-28 17:47] TrueHatori commented on #3788
I think I solved my problem for the time. In the manuel is "checkbox", but it must be called "checkboxes". In the newspost.php the options are in readParms, I have to write it in writeParms. It works this way now:

`'kk_Anwendung_ID_fremd'	=>   array (`
`'title' => 'Anwendung bei',`
`'type' => 'checkboxes',`
`'data' => 'str',`
`'width' => 'auto',`
`'inline' => false,`
`'readParms' => '',`
`'writeP

[2019-04-28 20:47] Jimmi08 commented on #3791
Try don't use the table with text "e107" in name and check this again.  If it works (I know for sure that it does, I use PB very often), then the question/issue is different.

[2019-04-29 12:53] Moc commented on #3676
Does your theme use a custom `usersettings_template.php`? If yes, look for `{FIELDNAME}` and make sure to add `{REQUIRED}` if it's not there:  `{FIELDNAME} {REQUIRED}`

[2019-04-29 13:49] #3512 closed

[2019-04-29 13:49] #3440 closed

[2019-04-29 14:14] Jimmi08 commented on #3147
@Evgura can this be closed?

[2019-04-29 14:15] #3147 closed

[2019-04-29 16:08] TrueHatori commented on #3788
No, it does not work. The script does exactly what it should, but not what I want. The source of the site is now something like this:
`<label class='checkbox'><input type='checkbox' name=**'kk_HWirkung_ID_fremd[22]' value='1'** id='kk-hwirkung-id-fremd-22-1' />Immunsystem stärkend</label>`

It should look like this:
`<label class='checkbox'><input type='checkbox' name=**'kk_HWirkung_ID_fremd[]' va

[2019-04-29 16:53] Jimmi08 commented on #3788
You always can use type method and write it yourself.

[2019-04-29 16:56] Jimmi08 commented on #3788
but check this too: https://github.com/e107inc/e107/issues/1261

[2019-04-29 17:02] Jimmi08 commented on #3788
I can see it in edit mode:
![image](https://user-images.githubusercontent.com/5429548/56913158-2ee49a00-6ab1-11e9-9d13-15b815f213ac.png)
And code looks like your needed code

[2019-04-30 17:11] CaMer0n commented on #3497
@KiraTheUltimate It should be working in github now, on textarea and bbarea custom fields. Please re-open if necessary.

[2019-04-30 17:11] #3497 closed

[2019-04-30 17:14] CaMer0n commented on #1580
@LaocheXe Can this one be closed? This code would have been rewritten a lot since 2017.

[2019-04-30 17:15] CaMer0n commented on #3233
@Jimmi08 Closing, but please re-open if you can reproduce the issue with SymSync's code.

[2019-04-30 17:15] #3233 closed

[2019-04-30 17:18] CaMer0n commented on #1944
@Evgura Did you try clearing the browser cache after updating?

[2019-04-30 17:22] TrueHatori commented on #3788
No, that's not what I need, this ist dropdown, I need checkboxes. I need a name name for the array like checkbox[], a value, and a label. In the moment Value is where the name belongs - looks like so:
`<label class='checkbox'><input type='checkbox' name='kk_HWirkung_ID_fremd[22]' value='1' id='kk-hwirkung-id-fremd-22-1' />Immunsystem stärkend</label>`
In ALL values is '1'. I need it so:
`<label cl

[2019-04-30 17:25] Evgura commented on #1944
@CaMer0n Yeah, I cleared my browser cache. It doesn't help.

[2019-04-30 17:42] Jimmi08 commented on #3788
@TrueHatori you can use a similar way as in v1 in version 2. You don't need to use admin_ui or OPP, it's on you.

[2019-04-30 17:51] CaMer0n commented on #1938
Just tested registration with e107v4a released in 2003 without any issues. Closing, but please re-open issue if it can still be reproduced with latest code.

[2019-04-30 17:51] #1938 closed

[2019-04-30 17:58] CaMer0n commented on #1944
Thank you @Evgura . Would you be okay to send me your theme (via Private message on Github) so I can test with it?

[2019-04-30 18:07] Evgura commented on #1944
@CaMer0n , As open source on github to send a personal message, theme BS_Magazine_02, I have the theme without any changes.

[2019-04-30 18:17] CaMer0n commented on #3790
Appears to have fixed it.

[2019-04-30 18:17] #3790 closed

[2019-04-30 18:17] CaMer0n commented on #1944
okay, thank you @Evgura . I'll just download it then.

[2019-04-30 18:31] Jimmi08 commented on #1944
@Evgura  theme from e107.org or from Fizi site?

[2019-04-30 18:34] Evgura commented on #1944
@Jimmi08 The website fizi I can not open the theme site e107.org

[2019-04-30 19:00] Jimmi08 commented on #1944
@Evgura just posted you fix by mail you have on my site.  Test and you can close this.  This is the theme update problem, so the theme author needs to do it.

[2019-04-30 19:03] Evgura commented on #1944
Rename it "style" ?

[2019-04-30 19:10] CaMer0n commented on #1944
@fizi @Evgura All references (eg. in style.css) to `#comments-container` need to be changed to `.comments-container`

[2019-04-30 19:13] Jimmi08 commented on #1944
no, just upload. it's the way how to customize a theme without losing of the update feature

[2019-04-30 19:27] Evgura commented on #1944
I tried to change #comments-container to .comments-container and nothing has changed.
Uploaded file Jimako, all became well.

[2019-04-30 22:26] #3321 closed

[2019-05-01 10:24] TrueHatori commented on #3788
Why should I work with outdated code in a CMS that offers such nice possibilities?
I solved the last problem by not working on the output side with the possibilities offered. But I can not use shortcodes and templates with that. That can not be the point of the matter.
What I do not understand at all: There is the option ORDER BY in MySQL for the SELECT-Statement, why can not I use it? That makes

[2019-05-01 11:29] Jimmi08 opened #3792 "poll menu and not installed poll plugin"
poll menu is causing neverending redirection and site stops to work

if you have a theme with demo data
[code]

and the poll plugin is not installed, then site stops to work

I think it's because of this in poll_menu.php:
[code]

[2019-05-01 16:32] #3792 closed

[2019-05-01 16:33] CaMer0n commented on #3792
@Jimmi08 btw. links_page plugin has a menu with something similar.

[2019-05-01 16:39] CaMer0n commented on #3711
@Alex-e107nl Thanks.

[2019-05-01 17:19] Jimmi08 commented on #3792
@CaMer0n Thank you, I fixed it in my local version now, but I didn't want to maintain this plugin anymore.  But it looks like who else would do, doesn't it?  But this could explain some problems.

[2019-05-02 10:33] TrueHatori commented on #3788
I give up, I can not do that. Now I have to use a CMS which offers great possibilities but must use old code. On a v1.x I can not go, on my server runs PHP 7. Without a detailed manual, the system is not usable for an advanced amateur as a programmer. I have no time (and no desire) to study thousands of lines of program code to make a little progress. There are too many questions left. Small appli

[2019-05-02 13:52] Jimmi08 commented on #3788
Did you check _blank plugin as the documented example?  everything is written there.
A:  //required - default column user prefs

A:   // optional, if $pluginName == 'core', core prefs will be used, else e107::getPluginConfig($pluginName);

I understand your frustration, I was there some years ago and I am still with anything new I try.  Maybe if that time were more people who believed in the new v

[2019-05-02 16:39] TrueHatori commented on #3788
Where is the "basic question" with my question? I know how to write checkboxes, only the system does not know or I do not explain it properly. I have already posted the code 2x, but for you also a third time.

In Protected fields:

`'kk_HWirkung_ID_fremd'	=>   array (`
`'title' => 'Wirkungsbereiche',`
`'type' => 'checkboxes',`
`'data' => 'safestr',`
`'width' => 'auto',`
`'inline' => true,`
`'readP

[2019-05-02 17:00] Jimmi08 commented on #3788
Last ones are basic. Sorry if I understood you incorrectly.
[code]

I don't need your code here, it will not work for me.  I wanted you to post your plugin in your repository so I can install it and try.  The problem can be somewhere else because I am sure I gave you the correct answer before.

[2019-05-02 17:16] TrueHatori commented on #3788
I was just trying to upload the files, it does not work. I have the problem here with everything, I can not upload screenshots either. It always comes only here: "Something went really wrong, and we can't process that file".

[2019-05-02 17:27] Jimmi08 commented on #3788
You can't insert files here.   This is working example:
[code]

![image](https://user-images.githubusercontent.com/5429548/57093987-a0ba1f00-6d0f-11e9-986e-aaf1a27ead31.png)

output code

![image](https://user-images.githubusercontent.com/5429548/57094060-d3641780-6d0f-11e9-8d89-5bfba158ba2f.png)

I wrote you this solution some posts above...

With Chrome you can post images directly here, not wit

[2019-05-02 18:24] TrueHatori commented on #3788
Fine thing your example, but goes past the topic :( I have an array, this is in the init() generated, but the values are not correctly assigned. I have the values in the database, there they are read and in the array written ... and then? In ALL Values a 1 ... And you have a dropdown list, I'm talking about checkboxes.

I have created a repository. I should then select my files and upload ... and

[2019-05-02 18:33] Jimmi08 commented on #3788
Do you see screenshots?  What is it if not checkboxes?
dropdown means that you click and some list is opened...
$this->fields['your fields']['writeParms']['optArray'] =   - just put your array here in init() like you have here: `$this->fields['kk_HWirkung_ID_fremd']['writeParms']['optArray'] = $this->wirkung;`

You don't need next list in read mode.

https://www.e107.sk/knowledge_base/multicheckbo

[2019-05-02 18:52] TrueHatori commented on #3788
That brings nothing, nothing at all. What you say, I did the same and ... in ALL Values a 1.
I'll let that be. For a week I try that now and it does not work. In time I would have done it on the old method for a long time and also all the database entries in it. I wanted to do it with the new possibilities, but if I need it longer than with the old method, then I do not care about new possibilitie

[2019-05-02 18:52] #3788 closed

[2019-05-04 19:46] CaMer0n commented on #1809
It's currently at 400mb.

[2019-05-04 19:56] #1330 closed

[2019-05-04 20:39] CaMer0n commented on #1982
The default when the `system` attribute is not set is **system=true**

When the `system` attribute IS set, it must be `system='true'` (not '1') to set it to **true**.
Any value other than 'true' for the `system` attribute will set it to **false** (even a value of "1").
To set it to false, it would be best to use `system='false'`

So, there is no bug here, just an incorrect syntax in the plugin.xml

[2019-05-04 20:39] #1982 closed

[2019-05-04 20:44] CaMer0n commented on #1728
@Moc Looks like a good solution. Would you like to add it?

[2019-05-04 21:21] CaMer0n commented on #3195
@Jimmi08 Please remind me about this as soon as v2.2 is released. We can then experiment with something in the github repo with e_template.php etc.

[2019-05-04 22:06] CaMer0n commented on #1538
@Moc

I have added tests for getTemplate().  https://github.com/e107inc/e107-test/commit/022109c3347d3a2b76a6bae978f2d580981b6acd (there's still some refinement to do)

I believe that setting 'merge' to **true** by default (as well as keeping override=**true** as default) could solve most of the original issue mentioned above. ie. theme template keys would merge with existing plugin template keys.

[2019-05-06 08:58] Moc commented on #1728
Done

[2019-05-06 08:58] #1728 closed

[2019-05-06 11:47] Jimmi08 opened #3793 "How to insert video to tinymce ?"
I have self-hosted video.

I want to insert it to the news body/extended.  It's not displayed.  TinyMCE messed the code.

Neither using bbcodes f.e. in my forum without TinyMCE [video]

Only way is using html5 tag manually via editing forum post, but then the problem with new lines will start.

[2019-05-06 13:11] tgtje commented on #3793
Hey @Jimmi08
The only way i can succeed is using the base url for movie from media manager
ex :  {e_MEDIA_VIDEO}2019-05/destination_moon_1950_movie_trailer.mp4

Now what normally happens (normal?) it strips (plain post inside tinymce editor) the src tag.
So no path...
Now i go into CODE mode inside tinymce and paste the following:
`<video width="420" height="400" src="{e_MEDIA_VIDEO}2019-05/destin

[2019-05-06 13:18] Jimmi08 commented on #3793
I use this way in the forum with bb codes.  There has to be another way, this is basic functionality...   But thanks

[2019-05-07 12:25] Jimmi08 commented on #3793
https://github.com/e107inc/e107/issues/3781

[2019-05-07 12:27] Jimmi08 commented on #3793
https://github.com/e107inc/e107/issues/3675

[2019-05-07 12:29] Jimmi08 commented on #3240
https://github.com/e107inc/e107/issues/3793

[2019-05-07 12:30] Jimmi08 commented on #3781
https://github.com/e107inc/e107/issues/3793

[2019-05-08 09:47] Jimmi08 opened #3794 "Notice: problem with jQuery.noConflict()"
I am porting theme, I noticed that if I include the script with code:  `jQuery.noConflict()  `
this error happens:

![image](https://user-images.githubusercontent.com/5429548/57366273-ed29b280-7186-11e9-801f-f3d84923f963.png)

![image](https://user-images.githubusercontent.com/5429548/57366347-134f5280-7187-11e9-8435-63dcbc9c79eb.png)

[2019-05-08 23:11] sparuj opened #3795 "Captcha disappeared after logout"
Hello everyone!

Today I wanted to check my 4 years old website that I did back in the day, so I downloaded the newest version of xampp. Knowing that there won't be any way of me to make it work with the latest php version right of the bat I downgraded to 5.6.23 and everything worked. I saw the captcha on the login page and I logged in. However for some reason, after I logged out I could not see a

[2019-05-09 06:47] Jimmi08 commented on #3795
This happened to me on my old Nuke site too with PHP 5.6. I spent days on it, it's a common issue if you look for it. But it happened on live site too, so...  then I found it has something with error reporting. I set it off on live site, but hosting has its own settings.  Try to set PHP error reporting off at first and you will see. And error log on xampp.

[2019-05-09 06:51] Jimmi08 opened #3796 "fpw.php and problem with hash"
This is link for pasword reset

![image](https://user-images.githubusercontent.com/5429548/57432875-4f41f080-7237-11e9-93ba-f163af8da126.png)
but because this test:

`	$tmpinfo = preg_replace("#[\W_]#", "", e107::getParser()->toDB(e_QUERY, true));			// query part is a 'random' number`

user is always redirected to frontpage
`	if ($tmpinfo != e_QUERY)`

![image](https://user-images.githubuserconten

[2019-05-09 08:39] Moc commented on #3795
Also check if the GD extension is enabled

Btw, e107 should work fine with PHP 7.1 and 7.2. The 7.3 release is more challenging.

[2019-05-09 08:46] Moc commented on #3796
Discussed on Github. Code was changed in February: https://github.com/e107inc/e107/issues/3443

New hashes should only generate with `AaBbCcDdEeFfGgHhIiJjKkLMmNnPpQqRrSsTtUuVvWwXxYyZz` and no hashes or numbers. Probably used outdated/cached code which caused the hash to be there, which triggered the check and redirect.

Closing

[2019-05-09 08:46] #3796 closed

[2019-05-09 11:06] sparuj commented on #3795
The thing is I tried different versions of php and it was the same.
Error reporting on xampp was off by default.
This is what I found in the error log
[error.log](https://github.com/e107inc/e107/files/3161759/error.log)

[2019-05-09 11:17] Jimmi08 commented on #3795
@Moc he uses old version, not version
Did you try PHP 5.5?  Because I still think it was something with xampp related vs 5.6

[2019-05-09 11:21] Jimmi08 commented on #3795
I use 1.0.4 with php 5.6.39  on live site with captcha.  And I had to have on localhost 5.3  because xampp.

![image](https://user-images.githubusercontent.com/5429548/57449804-22083900-725d-11e9-94cf-fa28e3b8e4f3.png)

[2019-05-09 11:30] sparuj commented on #3795
@Jimmi08 Yes. I tried downgrading every php version from latest to 5.3. Also my e107 version should be 0.7

[2019-05-09 11:48] Jimmi08 commented on #3795
@sparuj did you downgraded only PHP version or did you install XAMPP with that PHP version? Maybe on live site, it will work.  By the way, there is recaptcha plugin for version 0.7:  https://github.com/Jimmi08/recaptcha

[2019-05-09 12:00] Moc commented on #3795
Issues with v1 should be posted here: https://github.com/e107inc/e107v1/issues

- Make sure you are using 1.0.4 (and not 0.7)
- PHP 5.6 max for v1 (perhaps even 5.3)

In fact, I recommend using v2.

Closing this issue to avoid confusion with v2.

[2019-05-09 12:00] #3795 closed

[2019-05-09 20:42] sparuj opened #3797 "files to edit after backuping"
Hello everyone!

I was wondering after I backup a website and upload it to another domain, host and etc. do I have to edit anything else besides e107_config.php or are there more files that I need to edit?

Cheers!

[2019-05-10 06:22] Jimmi08 commented on #3797
You need to fix your hash folder. Or move everything from old to the new one (media and system folders)

See:
https://www.e107.sk/knowledge_base/hashed-names-for-media-and-system-folders/?content.50

[2019-05-10 08:42] Jimmi08 opened #3798 "forum - after inline editing forum name, sef-url was changed without any warning"
It's only with inline editing, normal edit doesn't change SEF-URL.

[2019-05-10 08:52] Jimmi08 opened #3799 "Q - how to do some action after saving prefs in admin UI"
After saving custom plugin pref I need to do some action (change some data in another table).

There is only method beforePrefsSave() but not after like with it's with a normal table.

The only way I found was full copy PrefsSaveTrigger() and add my code after
`$this->getConfig()->save(true);`

[2019-05-11 12:57] Jimmi08 opened #3800 "Report - problem with installation"
The reason is at the end, this is report.

Without debug mode:
![image](https://user-images.githubusercontent.com/5429548/57569711-4b5dcc00-73f9-11e9-8355-383ba8cd1cac.png)

Just to show how long is this:
![image](https://user-images.githubusercontent.com/5429548/57569726-7811e380-73f9-11e9-9b38-20578c583c0d.png)

It starts:
[code]

With debug mode:
[code]
Check database validity:

![image](https:

[2019-05-11 20:52] #3454 closed

[2019-05-11 21:03] Jimmi08 opened #3801 "Q - how to style / choose theme layout for error page"
How to set layout for error page?

I found that not the existing page is using the default layout.  So if default layout is with sidebar,  how to get full page layout for error page?

EDIT:
if I use Redirect to System not found page, then URL is /error/  and it can be set in theme layouts. But not without this setting.  Am I missing something?

[2019-05-11 21:55] BlastFM commented on #3791
Well, for some unknown reason this issue seems to have resolved itself. If only it was always that simple eh.

[2019-05-12 19:33] sparuj commented on #3797
Thank you!

[2019-05-13 10:06] Jimmi08 commented on #3693
@CaMer0n
Just happened on total new site, installed 2.1.9 by user version from e107.org, updated to 2.2.0 by me with git sync.

[code]

![image](https://user-images.githubusercontent.com/5429548/57613549-72420c80-7577-11e9-8248-621a66268282.png)

[2019-05-13 18:09] CaMer0n commented on #3693
@Jimmi08 Could you please paste here exactly what is in the user_password field for the user you tried to login as? (ie. You'll need to use Phpmyadmin)

[2019-05-13 19:31] #3799 closed

[2019-05-14 11:30] Jimmi08 opened #3802 "Q how to make captcha more darker"
I was asked this question. I can see that color CCCCCC is used, but is it possible to change to something darker?

![image](https://user-images.githubusercontent.com/5429548/57694356-ccac9d00-764b-11e9-9cec-59d6cba6e49e.png)

With 222222 it looks like this:

![image](https://user-images.githubusercontent.com/5429548/57694573-5f4d3c00-764c-11e9-997a-ff6975ae3790.png)

How to change this?  Or it's t

[2019-05-14 15:00] Moc commented on #3802
`define('e_CAPTCHA_FONTCOLOR','#222222');` in theme.php

[2019-05-14 15:41] Jimmi08 commented on #3802
Thank you. It works.

[2019-05-14 15:41] #3802 closed

[2019-05-14 15:42] Jimmi08 commented on #3802
Just note, this is normal?
First change:
![image](https://user-images.githubusercontent.com/5429548/57711743-9bde5f00-766f-11e9-812a-d5f21837c092.png)

refresh page:

![image](https://user-images.githubusercontent.com/5429548/57711769-ad276b80-766f-11e9-815a-016272f2c63a.png)

[2019-05-14 16:52] Moc commented on #3802
I think so, yes

[2019-05-15 08:55] veskoto opened #3803 "Multi language prefs"
Do you plane to make site prefs multi language? E.g.:

1. **Site Name**
2. Site Link Icon/Button
3. Site Logo
4. **Site Tagline**
5. **Site Description**
6. **Site Disclaimer**
7. **Email & Contact Info**
8. Date Display options

[2019-05-15 21:06] Jimmi08 opened #3804 "Q - core checkboxes have different behaviour"
I have this code for checkbox, it can't be changed, they are pretty bootstrap checkboxes...

[code]

I noticed that with GDPR checkboxes I am able to use this in template
[code]

but not with login Remember me shortcode.  I had to set it manually

[code]

The reason is that GDPR works with array and login checkbox with string and then it always insert html markup for label.
`
return e107::getForm(

[2019-05-16 07:40] Jimmi08 opened #3805 "FR - asking for not merging featurebox templates"
If you have a theme that supports f.e. only default bootstrap carousel, all core templates are displayed and it's really confusing.

This was partially discussed here:
https://github.com/e107inc/e107/issues/2952

I understand this could be a problem for older themes, but maybe this could be set in prefs.  If I set in feature box prefs (by import demo content) not merge templates, only theme ones s

[2019-05-16 13:16] Jimmi08 opened #3806 "radio buttons have class checkboxes not radio"
[code]

This one:
`return "<div class='checkbox'>".e107::getForm()->radio('threadtype',$opts, $thread_sticky)."</div>";`

there should be class radio.

[2019-05-16 18:06] #3806 closed

[2019-05-16 18:15] #3804 closed

[2019-05-16 18:16] CaMer0n commented on #3804
@Jimmi08 Should be fixed, but not tested. Please confirm. Thanks.

[2019-05-16 18:16] Jimmi08 commented on #3806
Perfect, thank you

[2019-05-16 18:18] CaMer0n commented on #3803
hi @veskoto !
Typically, this can already be done with custom LANs. But it's a good suggestion.

[2019-05-16 18:18] CaMer0n commented on #3800
@Jimmi08 Server related maybe? e107 will support hyphens, but I believe some servers don't like it.

[2019-05-16 18:38] Jimmi08 commented on #3800
@CaMer0n It was xampp installed on localhost.  And it happened only update from 2.1.9 to 2.2.0

[2019-05-17 07:45] Jimmi08 opened #3807 "menu manager error for themes with dash in name"
Tested with Basic light too (basic-light is theme name), not only Gaia and Denice.

The error looks like this:

![image](https://user-images.githubusercontent.com/5429548/57911142-3f558c80-7887-11e9-9874-818b57c58914.png)

Error is caused by this line:

`$themeFileContent = str_replace('tablestyle', $theme."_tablestyle",$themeFileContent); // rename function to avoid conflicts while parsing.`

  M

[2019-05-17 16:11] tgtje commented on #3803
Errors or something other meant??  : they all are present in languages/admin/lan_prefs php
(working with latest git;tested)

[2019-05-17 19:21] CaMer0n commented on #3798
@Jimmi08 Does the last commit fix it?

[2019-05-17 19:53] CaMer0n commented on #3807
Thank you @Jimmi08 !! :+1:

[2019-05-17 19:54] #3807 closed

[2019-05-17 19:57] Jimmi08 commented on #3798
Thank you

[2019-05-17 19:57] #3798 closed

[2019-05-17 20:11] CaMer0n commented on #3717
@Moc No, looks normal here. Using the latest firefox. @LaocheXe Try using a "New Private Window" in Firefox. Does it help?

[2019-05-17 20:51] CaMer0n commented on #3774
Ideally, I'd like to see them all commented out. (see last commit)

[2019-05-18 17:50] CaMer0n commented on #3801
@lonalore may know more about this.

[2019-05-19 12:16] sparuj opened #3808 "Avatar links not saving in usersettings.php"
Hello everyone.

I've been trying to figure out this for so long and I'm going crazy right now.

(On my webhosting provider):
The problem is when I try to upload a avatar in usersettings.php through Choose File Option and click Save settings I get a message Successfully uploaded '131676.jpg' and Settings updated and saved into database. However nothing is saved in the database and in usersettings.

[2019-05-19 12:41] Moc commented on #3808
What's your PHP and MySQL version?

[2019-05-19 12:47] sparuj commented on #3808
This is the live server information

Apache Version | 2.4.39
PHP Version | 7.1.29
MySQL Version | 10.3.15-MariaDB

I tried all possibilities running php 5.6, running v1.04, v2 and everything works on my PC server.
(did not try to run different versions of mysql on my pc server.)

[2019-05-19 16:10] tgtje commented on #3808
Just adding (no intention to interfere) the description is (when read) applicable to v 1.0.4 due to the path : e107_files. This folder exist only on v0.7.x and v2 _upgraded_ versions. In v2 the avatar path is to e107_media/hash/avatars.. When experimenting, keep this in mind.

[2019-05-20 11:52] Jimmi08 opened #3809 "USERLIST - errors in shortcode"
`	$text .= "<a href='".e_HTTP."user.php ?id.$oid'>$oname</a>".($c == MEMBERS_ONLINE ? "." :", ");`

-there is empty space after user.php and so link doesn't work.

This displays empty page (empty content not blank page)

`	$text .= "<br /><a rel='external' href='".e_BASE."online.php'>".LAN_FORUM_0037."</a> ".LAN_FORUM_0038;`

Statistic plugin is not installed

[2019-05-20 18:51] CaMer0n commented on #3775
Unfortunately, it seems this broke the link in v2.2.0. Reassigned for 2.2.1

[2019-05-20 19:20] #3775 closed

[2019-05-20 21:26] #3809 closed

[2019-05-21 10:10] Moc commented on #3808
Not being able to reproduce this so far.

Can you enable debug mode for SQL?
Change your URL to `/usersettings.php?[debug=sql+]` then try saving your usersettings again (try uploading a new avatar).

This way we may see any possible SQL errors.

[2019-05-21 11:36] sparuj commented on #3808
@tgtje Thank you for pointing this out. When I wrote the post I had v1.04 installed and just copy/pasted the path => because lazy and tired and forgot about the other path for v2

@Moc This is what I get from the debug message:

[code]

[2019-05-21 12:00] Moc commented on #3808
Can you verify with a tool such as phpmyadmin that the column user_login actually exists in your database table e107_user

You can also run the database verify tools to see if that helps: Admin Area > Tools > Database

[2019-05-21 12:25] sparuj commented on #3808
I can only say uh wow. I didn't even realize that I have deleted user_login from the database and it seems that it fixed the issue after adding it back. O_O
Guess I should try sleeping more often, heh.
Thank you so much for the help.

[2019-05-21 12:34] sparuj commented on #3808
P.S. Is there a way to turn off the debug mode? I assume that regular user can also use this on the website and I don't want that.

[2019-05-21 12:50] Moc commented on #3808
No worries. I recommend using the Tools > Database page to verify your database structure is intact. Also, e107 should provide alerts for this in the admin area as well, if it detects incorrect database structures.

Debug mode can be turned of by changing the URL to `/index.php?[debug=none-]`
There are several  permission checks that control the visibility of specific debug information. Non-logged

[2019-05-21 12:51] #3808 closed

[2019-05-22 05:04] ithinkmatt opened #3810 "V2.2 Available in Softaculous?"
We like using Softaculous to easily deploy and backup software.

We are looking and currently testing CMSs to use instead of WordPress on basic websites. The version on Softaculous is 2.19.

Will V2.2 be available on Softaculous in the future?

[2019-05-22 08:36] Moc commented on #3810
Yes! We are working with them to make sure the latest version is available through Softaculous as well. Unfortunately there's a minor issue preventing them from being able to update, and we are fixing it shortly.

I expect 2.2.0 to be available on Softaculous within two weeks.

[2019-05-22 10:47] Jimmi08 commented on #3741
I can confirm it too now.  Something between 19.4.2019-20.5.2019 caused this.
PHP 5.6
some the old updated plugins used
core pref installed plugins list was correct
all plugins with needed installation had set installed flag value as 0

[2019-05-22 11:01] Moc commented on #3741
@CaMer0n Perhaps related https://github.com/e107inc/e107/commit/cb02f705b69fcd566201aa12f83102803218a89e https://github.com/e107inc/e107/issues/3592

[2019-05-22 11:19] Moc commented on #3741
Copied from Gitter:

[2019-05-22 11:19] #3797 closed

[2019-05-22 17:37] CaMer0n commented on #3741
@Jimmi08 Could you please list every plugin that you have installed, prior to the upgrade?

I just did a test upgrade from 2.1.9 to 2.2.0 without any such issue.
So I'm thinking it could be related to a third-party plugin.

Thanks.

[2019-05-22 17:59] Jimmi08 commented on #3741
@CaMer0n I had 2.2.0 git, I am sure about it.
I just sync localhost copy and without a problem, but it's 7.2.  On live site, it's PHP 5.6 .

Now I have installed OLD ones:
Content Plugin
Links Page
New Forum Posts
Signup Secure
spoiler

Not available old plugins (I mean others shouldn't have them)
User Class Badges Plugin
Class Membership

Custom plugins (again others shouldn't have them)
JM Eleme

[2019-05-23 07:41] veskoto commented on #3803
It is not about translations, i talking about e.g. "Site Name" input field

[2019-05-23 11:14] TrueHatori opened #3811 "Database Test"
Can everyone tell me, what this is and how I can repair it? This is for 32 tables the same, I want not make a so big Picture.

![image](https://user-images.githubusercontent.com/17859550/58248508-9a422480-7d5c-11e9-82ef-cd5ac170a7d3.png)

[2019-05-23 12:43] tgtje commented on #3811
Related or identical #3800

[2019-05-23 13:30] tgtje commented on #3803
In regards to INPUT field : you mean : tooltip ?

All other parts on site (during install and by lang pack - latest Bulgarian) react as intended.
Anyway here's a screenshot of Bulgarian ( mind i use the php version as name, Bulg. txt works too)
![bulg](https://user-images.githubusercontent.com/1811857/58256633-a4215300-7d6f-11e9-8a87-64f17bf056d2.jpg)

[2019-05-23 13:32] Moc opened #3812 "PHP 7.3 - SQL Insert error when creating page"
PHP Version
7.3.2

MySQL
10.3.13-MariaDB-log
Database: clean2
PDO: Enabled
Mode: NO_ENGINE_SUBSTITUTION

Created new custom page when using PHP 7.3, error:

[code]

Working fine with PHP 7.1.

[2019-05-23 14:24] tgtje commented on #3800
Hi, found a remarkable issue in regards to this when answering and testin an issue from Veskoto.( in working with language packs).
I used for different installs (and tests) the newest xamp php 7.3.5 10.1.40-MariaDB (PDO). and Git version about 1/2 hour old

2 things (after a lot of installs....pfff)
case 1 : Now assume i did not read good enough when let create sql dbase during install and used **

[2019-05-23 18:09] CaMer0n commented on #3812
@Moc What if you modify the table and make the default null? (ie. remove the **NOT NULL** )
Does it help?

[2019-05-23 18:14] #3812 closed

[2019-05-23 18:19] CaMer0n commented on #3800
Thank you @tgtje . This is helpful. Are you referring to the prefix, the database name or both? (re : numbers)

[2019-05-23 21:11] CaMer0n commented on #3803
@tgtje I believe @veskoto is talking about saving multiple versions of the "Site Name" input value (for example) in different languages.

[2019-05-23 21:13] TrueHatori commented on #3811
Not quite. My English is not so good, but if I understood correctly, it is in xampp. For me it's about a live server.
Apache API Version 20120211, MySQL Server Version: 5.6.43-84.3-log, PHP Version 7.2.18-he.0
I do not know if that is relevant, but something should be done … ;)

[2019-05-23 21:37] TrueHatori commented on #3745
Ok, it's a Problem with Firefox, with Edge I can send Images.
![image](https://user-images.githubusercontent.com/17859550/58288282-6cd49580-7db3-11e9-8629-196dca2e0bb0.png)
This after all savings.
And here is the end of preferences.
![image](https://user-images.githubusercontent.com/17859550/58288371-b1f8c780-7db3-11e9-9fbe-02cb563ea064.png)
No more come after this.

[2019-05-24 08:55] Moc opened #3813 "Comment avatar not displayed correctly in comment form"
Generic default avatar is displaying as user_id is not passed on correctly in the comment form.

![image](https://user-images.githubusercontent.com/577978/58315712-57428880-7e12-11e9-8aa5-f785e3760c4c.png)

[2019-05-24 08:56] #3813 closed

[2019-05-24 08:56] tgtje commented on #3803
Ok, at least i know it is not a real language issue.
As for the Site Name's input field (have to guess now) a kind of array that depending on the 'displayed site' real name it auto converts it to language in use (eg English display will show Greeting Cards, and when Bulgarian Поздравителни картички.

The inputfield itself can store in any language..
I will leave it at that.

[2019-05-24 09:06] Moc commented on #3811
Are you using the latest files from Github?

[2019-05-24 09:06] tgtje commented on #3800
When installing the _name for the database_ (sql) when (by accident... if not read the tooltip) only numbers are put in.
When starting (as in tooltip displayed! ) with a Letter (capital or normal) no issues.

Strange that sql (or install) is accepting the 'wrong' primary input (identifiers...guess that the name for it?...unknown area for me) in a later stage (after install) it messes up things.

[2019-05-24 09:10] Moc commented on #3801
Does setting  `error.php$` help?

[2019-05-24 09:11] tgtje commented on #3811
Yes testcases are primary local, but (can be sql related for you too) If it happens local, it could indicate (hence tests) live has/gets issues too... This case similarity is to be seen in both cases...

[2019-05-24 09:22] TrueHatori commented on #3811
@Moc: Whether it's the very latest, I do not know, got the last time in mid-March, all files from Github.

[2019-05-24 09:25] Moc commented on #3811
@TrueHatori In that case, I do recommend updating to the latest files from Github to make sure you have all fixes included.

Then clear your e107 cache and see if the issue persists.

[2019-05-24 09:51] TrueHatori commented on #3811
Ok, I did, the problem is the same as before. In addition, the admin theme tabbed does not work anymore.

[2019-05-24 13:07] tgtje commented on #3800
@CaMer0n In addition; took the time to do some more installs (not upgrading) but now used a 2.2.0 Git version (dd 03-30-19) and run some.
To eliminate any possible closed issues/commits between 30-3 v 2.2.0 and latest 2.2.1 i also used some with and without Voux theme (as that is 'pre install select).
Outcome ( testing ONLY the databasename with numbers vs letters).

I may conclude that when using

[2019-05-24 18:18] CaMer0n commented on #3800
Thank you @tgtje I have a made a minor change to install.php

[2019-05-24 18:48] CaMer0n commented on #3800
@Jimmi08 What is your database name?

[2019-05-25 06:43] ithinkmatt commented on #3810
@Moc Great. Thanks for the update.

[2019-05-25 07:27] martyshep opened #3814 "Forum moderator options not visible after upgrade to 2.2.0"
2.2.1 I mean

[2019-05-25 13:46] Moc commented on #3814
Cannot reproduce on a clean git install, using the Bootstrap 3 theme.

- Which theme are you using?
- Check the moderator class of the specific forum
- Make sure you are assigned to that userclass

![image](https://user-images.githubusercontent.com/577978/58370211-335f6f80-7f04-11e9-942e-10af2692305f.png)

![image](https://user-images.githubusercontent.com/577978/58370216-3fe3c800-7f04-11e9-8209-9

[2019-05-25 15:59] Killer0561 opened #3815 "Fatal error in Menu Manager"
Hello all,

i have a problem about my Menu Manager, site is blank and have this error:

PHP Fatal error: Uncaught Error: Call to undefined function deftrue() in /var/www/_[EGU]Seiten/homepage/class2.php:2385\nStack trace:\n#0 /var/www/[EGU]_Seiten/homepage/e107_config.php(41): error_handler->handle_error(8, 'Constant eDEBU...', '/var/www/[EGU]...', 41, Array)\n#1 /var/www/_[EGU]Seiten/homepage/cla

[2019-05-25 16:11] Moc commented on #3815
Confirmed. I have the same issue on my local windows installation. I don't have the issue on my live Linux installations.

[2019-05-25 18:53] #3815 closed

[2019-05-25 18:54] CaMer0n commented on #3815
@Moc Please confirm. Thanks.

[2019-05-25 19:00] CaMer0n commented on #3814
@martyshep Are you using a custom template?

[2019-05-25 20:01] CaMer0n commented on #3803
@veskoto @tgtje I believe this feature in the MultiLan plugin could be enhanced to include site-name etc.

e107_plugins/multilan/admin_config.php?mode=main&action=tools

![image](https://user-images.githubusercontent.com/2825679/58374127-369b3100-7eed-11e9-8a98-08f25a48df74.png)

[2019-05-25 21:15] martyshep commented on #3814
Do you mean using a custom theme? If so just using default bootstrap 3. The
user classes are correct. It was working before move to 2.2.1

On Sat, 25 May 2019, 20:00 Cameron, <notifications@github.com> wrote:

[2019-05-27 17:48] CaMer0n commented on #2990
@Jimmi08 @Moc I believe this one has been fixed. Hopefully it doesn't break other prefs.

[2019-05-27 17:48] #2990 closed

[2019-05-27 18:00] CaMer0n commented on #2981
@Jimmi08 I'll fix this after 2.2.1 is out  Please remind me.
https://stackoverflow.com/questions/26928828/html5-srcset-mixing-x-and-w-syntax

[2019-05-27 18:03] CaMer0n commented on #3668
@Moc I haven't encountered any issues recently. (other than PHP notices) Have you?

[2019-05-27 18:05] CaMer0n commented on #1797
@Moc Featurebox was mostly rewritten by Miro. I'm guessing it was intentional due to conflicts of some kind.

[2019-05-27 18:18] #1818 closed

[2019-05-27 18:20] CaMer0n commented on #3721
Closing, as the added crop support should fix it. Please re-open if necessary.

[2019-05-27 18:20] #3721 closed

[2019-05-27 18:21] CaMer0n commented on #3741
@KiraTheUltimate Could you please list all the plugins you use? Thanks.

[2019-05-27 19:47] KiraTheUltimate commented on #3741
Hi!
I using this plugins:

Banners
Cookie Consent (by Lóna Lore)
Downloads
Forum
Gallery
Google Analytics (by lonalore)
Google Site Map
Hits (by CaMer0n)
Linkwords
Statistics
Mentions (by Arun S. Sekher)
On This Day (by Father Barry)
Private Message
Social
Tags
TinyMce4
User
Youtube (by CaMer0n)

[2019-05-28 09:51] Jimmi08 commented on #3800
@CaMer0n  e107-gaia

[2019-05-28 15:38] martyshep commented on #3814
I've done a clean install of 2.2.0 downloaded today from E107, installed the Forum plugin and I get the same issue.  No forum moderation items and no moderators are listed at the bottom of the forum window.

![Moderators none](https://user-images.githubusercontent.com/15772899/58491517-05c63080-8167-11e9-9062-3f6f3a551633.png)

[2019-05-28 16:33] Naktsputns opened #3816 "SQL insert error after adding language packs"
Hello, I upgraded to version 2.2 and everything was fine, but after language packs was added, cant create new page/menu. News, chapter pages and everything else working fine. Aswell i can directly create new page in SQL table. After that i can copy/modify that page inside e107 without any trouble.

[2019-05-28 17:12] Moc commented on #3816
Which language?

[2019-05-28 17:14] Moc commented on #3814
Again, please make sure that you (your user account) belongs to the userclass that is selected for that specific forum in the forum administration.

[2019-05-28 17:15] Moc commented on #3814
Please show us a screenshot of the user and forum page of a clean install so I can compare.

[2019-05-28 17:20] martyshep commented on #3814
It's a new fresh install with only an admin user on it, let me create main admin users on it for Moc and Tijn and you can look for yourself :) I'll PM you two.

[2019-05-28 17:26] CaMer0n commented on #3816
@Naktsputns Please go to this URL on your site: `e107_admin/page.php?[debug=showsql+] ` and then reproduce the issue. What errors do you see?

[2019-05-28 17:28] CaMer0n commented on #3814
@martyshep Could you please upgrade to the github version. I tweaked some forum things since the release of 2.2.0

[2019-05-28 17:34] CaMer0n commented on #3800
@Jimmi08 Okay Thanks. So just the hyphen is causing the issue.

[2019-05-28 17:35] martyshep commented on #3814
just synch'd with latest on Github now and same issue on the new install site.

[2019-05-28 17:49] #3800 closed

[2019-05-28 17:51] CaMer0n commented on #3814
@martyshep Can you please PM me on Gitter?

[2019-05-28 18:26] #3814 closed

[2019-05-28 18:40] Naktsputns commented on #3816
To Moc: I fixed latvian language pack

To CaMer0n: System Debug
searchQuery:
Array
(
)
Using Custom listQry
QRY=SELECT SQL_CALC_FOUND_ROWS p.*,u.user_id,u.user_name FROM e107_page AS p LEFT JOIN e107_user AS u ON p.page_author = u.user_id ORDER BY p.page_order asc

[2019-05-28 18:44] Naktsputns commented on #3816
To Moc: I fixed latvian language pack

[2019-05-28 18:44] Naktsputns commented on #3816
System Debug
Admin-ui Trigger fired: admin_page_create
SQL Qry:
Array
(
    [_FIELD_TYPES] => Array
        (
            [page_id] => int
            [page_title] => str
            [page_chapter] => str
            [page_template] => str
            [page_author] => int
            [page_text] => str
            [page_datestamp] => int
            [page_class] => str
            [page_rating_fla

[2019-05-28 18:45] Naktsputns commented on #3816
That strange, i named Menu, but it all the time reverting menu_name to my user name

[2019-05-28 19:13] CaMer0n commented on #3816
@Naktsputns Thank you! If you update to this version on github, and run the database update, normally this error should no longer occur.

[2019-05-28 19:23] CaMer0n commented on #3741
Thank you @KiraTheUltimate . I'm not seeing any correlation between your plugins and those of @Jimmi08 .

When issues like this arise, it's better to contact me via PM on Gitter before you attempt to fix it, as there is no guarantee that I will be able to reproduce the issue later in order to correct any issue in e107.

I don't think we can do anything for this issue at the moment, until it can be

[2019-05-29 01:35] Naktsputns commented on #3816
Thank you! Everything is fine now.

[2019-05-29 01:35] #3816 closed

[2019-05-29 09:40] Moc commented on #3811
@TrueHatori This should be fixed with the latest files. Please check.

[2019-05-29 15:07] Jimmi08 commented on #3816
It's because of Chrome behaviour and prefilling input fields a weird way.  I would kill sometimes for this and sometimes I notice this only in menu manager when I see a weird menu with the user name.  And it's not only this field.  There is already an issue about this.

[2019-05-29 15:45] Jimmi08 commented on #3803
Guys, I would be very careful about this.

At first, neither plugin prefs are solved in a perfect way. You can't change multilan option later for plugin preference and in most case plugin developers forget on this.  If they change this later, you lost your values and you need to set it again.  One field could be text or array.  And because plugins prefs are in core table, you can't use already inb

[2019-05-30 09:59] Moc commented on #3810
@ithinkmatt We have just released an update (v2.2.1) which solved an issue that prevented Softaculous from updating their package. They will be testing the v2.2.1 update shortly. Once that is done, the latest version will be available through Softaculous.

[2019-05-30 19:59] MikeyGMT opened #3817 "Social Plugin > HTTPS blocked content"
Hi Team,
I am getting blocked/unsafe warnings due to Social plugin.

Blocked loading mixed active content
"http://xxx.yyy/e107_plugins/social/font/fontello.eot?25587411#iefix"

Any idea how to use HTTPS instead?

Thanks
Mikey

[2019-05-31 08:03] Moc commented on #3668
The one in theme_handler seems fixed. I do notice this one:
`Warning "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?, Line /e107_handlers/admin_ui.php`

[2019-05-31 10:31] tgtje commented on #3817
Peaked into some cause... could be a) related to some caching by browsers OR (do not know jow exactly the identify of ssl/https runs... maybe a small change IN the font also could work.
That is a test method anyway, but it is a core plugin, so not sure if it will work and how to implement this iff any... Testing for you best since you have that issue..)
Get yourself an font editor (example is base

[2019-05-31 11:19] TrueHatori commented on #3811
Yes, with v2.2.1 it works ;)

[2019-05-31 11:28] TrueHatori opened #3818 "Problem with SEF"
I have a problem with the search engine friendly URLs. The news works wonderfully. Look here:
![image](https://user-images.githubusercontent.com/17859550/58702853-3ac0c600-83a7-11e9-8a80-c87881c72248.png)

However, it does not work on the pages.
![image](https://user-images.githubusercontent.com/17859550/58702940-722f7280-83a7-11e9-9e7f-106918d27bea.png)

If I call a page from the admin area, righ

[2019-05-31 11:32] #3811 closed

[2019-06-01 01:01] CaMer0n commented on #3668
@Moc Thanks. Yeah, I've been putting that one off until after 2.2.0 (now 2.2.1)

[2019-06-01 13:17] Jimmi08 commented on #3818
Hm, you have not SEF URLs in your site links.  I am not aware this worked itself (automatically) anytime.   Just find SEF-URL (from admin) and then replace it in site links.  And welcome to double content issue with google.
PS. just to be sure - post here your actual site links setting for page 9 (http://ninja4ever.de/seite/dojo-infos/)

[2019-06-01 23:10] CaMer0n opened #3819 "CRITICAL ERROR after updating to v2.2.1 if corrupted linkwords plugin prefs present."
An issue with the way the linkwords plugin saved its preferences in past causes the website to throw and CRITICAL ERROR concerning missing prefs. This may even occur if the linkwords plugin is no longer installed.

v2.2.2 contains a workaround to prevent this issue from occurring.

This can also be prevented **prior** to upgrading by deleting the corrupted pref using the `Database > Preferences Ed

[2019-06-01 23:11] CaMer0n commented on #3819
Fixed by https://github.com/e107inc/e107/commit/248dc0408b3b08fc9fcef381c35b1d7922a3f3be

[2019-06-01 23:11] #3819 closed

[2019-06-02 10:18] Jimmi08 opened #3820 "question - mysql gen() function"
I have a question to gen()
the description says: Function to handle any MySQL query

I know that I can use `count()` method, but this is about saving time - to use the original query from the script I am trying to adapt.

My query is "SELECT COUNT(*) FROM #table"

but using gen() never returns 0, it always return 1,  because there is no error in query.

but I can see it uses this part
[code]

Mayb

[2019-06-02 12:03] TrueHatori commented on #3818
I'm not sure, if I understand, what you mean :(
I think, you mean that:
![image](https://user-images.githubusercontent.com/17859550/58760965-fcf6a580-853e-11e9-8734-50a35b1d21ce.png)

But URL is with number:
![image](https://user-images.githubusercontent.com/17859550/58760995-30d1cb00-853f-11e9-8228-aad0bff818f6.png)

[2019-06-02 12:08] Jimmi08 commented on #3818
No, your sitelinks  for this exact page.  Maybe you have there "hardcoded" url. Example:

![image](https://user-images.githubusercontent.com/5429548/58761045-dedd7500-853f-11e9-855a-43d3ec28be18.png)

[2019-06-02 12:11] TrueHatori opened #3821 "Preferences are not complete"
I still can not do all the presets.
![image](https://user-images.githubusercontent.com/17859550/58761075-3a0f6780-8540-11e9-9f9a-e342d9e87edb.png)

There is no more, nothing more. I can not activate the tinymce. But I have to write something urgently. Can I somehow activate the TinyMce differently? Before the update to v.2.2.1 he was active.
![image](https://user-images.githubusercontent.com/17859

[2019-06-02 12:37] TrueHatori commented on #3818
Ok, yes, that's how it looks to me. Then the numbers stay, I have no desire or time to do it all by hand. If anyone wants to find our site, find us without SEFs. Thanks.

[2019-06-02 14:25] Moc commented on #3821
Please check the browser console for any errors or warnings

[2019-06-02 15:01] TrueHatori commented on #3821
TinyMCE has done it, there is a new JavaScript in it from yet another source. That was not yet released in the FF plugin NoScropt, sorry.

Konsole:
SyntaxError: unexpected token: identifier - prefs.php:1860:5
TypeError: $(...).find(...).once is not a function - selectize.init.js:67:52
    attach http://www.ninja4ever.de/e107_web/js/selectize/js/selectize.init.js?1559481688:67
    each jQuery
    a

[2019-06-02 17:49] Moc commented on #3821
So did you fix it now or is it still broken?

[2019-06-02 18:19] Jimmi08 commented on #3817
Hm, I haven't this problem, it's loaded as a relative link:
`<link  rel="stylesheet" media="all" property="stylesheet" type="text/css" href="/e107_plugins/social/css/fontello.css?1559393465" />`
What is your site url?  Thanks

[2019-06-02 18:41] Jimmi08 commented on #3179
I think this should stay open.  I didn't get an answer to how 404 works.
I try again to explain what I am asking.

url_error_redirect is FALSE

1. if there is a wrong URL (standalone page, f.e. some mistypo)  f.e. contact2.php  -  URL is not changed and the error page template is displayed.

2. in the same case but with url_main_module = page, this code is executed:
	function processViewPage()
		i

[2019-06-02 21:06] MikeyGMT commented on #3817
Hi @tgtje , @Jimmi08 ,
Looks like it is ok today. I agree caching issue. I think we can close.
https://gangesfield.wales/
Mikey

[2019-06-02 21:10] #3817 closed

[2019-06-02 22:18] TrueHatori commented on #3821
TinyMCE is ok, but not the preferences. There are even more, where nothing is in it.
Security & Protection is completely empty, as well as Javascript Framework and Advanced Settings.

I do not think it's great that you include so many javascripts from different sources, this time Cloudflare. Any source I need to share with Javascript is a potential risk.

[2019-06-03 07:34] Moc commented on #3821
What does the console say on the preferences page? Is that the extract you posted in your previous reply?

e107 uses CDN's, which is a common method to optimise performance (loading times mostly) for visitors. You can change this to 'local files' in the preferences (when they are working again for you).

[2019-06-03 08:49] Jimmi08 opened #3822 "question - replace constants"
Just note.

I noticed that from shortcodes replaced in replaceConstants()
those are not replaced in relative mode
{e_MEDIA_VIDEO}
{e_MEDIA_IMAGE}
{e_MEDIA_ICON}
{e_WEB_IMAGE}

But they are correct in the absolute mode.
It's not probably the intention, because there is $e107->getFolder() used and not '' like with not replaced shortcodes.

I use the only full path, so it's not a real problem for me,

[2019-06-03 10:30] Jimmi08 opened #3823 "note: default_install.xml"
the version in default_install.xml is still 2.2.0

[2019-06-03 12:49] TrueHatori commented on #3821
![image](https://user-images.githubusercontent.com/17859550/58802303-1f56f480-860d-11e9-9551-35515b41df9d.png)

That is all that can be read in the console.

And the Plugins:
![image](https://user-images.githubusercontent.com/17859550/58802490-98564c00-860d-11e9-9bf8-3c65e688d504.png)

The presets did not work right after installation, without any plugins installed. The problem was and is always t

[2019-06-03 13:35] Moc commented on #3821
Can you switch back to the English language temporarily to see if that makes a difference?

If not, please enable debug mode by editting the URL to /e107_admin/prefs.php?[debug=basic+]

Now PHP warning or errors may show up.

[2019-06-03 15:42] Moc commented on #3821
So there's an error in the German language pack somewhere. Are you using the latest Language pack for 2.2.1? https://github.com/e107translations/German/

I have asked @Killer0561 to upload the latest files, rather than to just upload a ZIP file in the releases section. For now you will need to upload the latest files manually until the files on Github are updated.

[2019-06-03 16:10] Moc commented on #3823
@CaMer0n Is this field used at all?

[2019-06-03 16:11] Moc commented on #3818
@CaMer0n Would be interesting to render the SEF URL if enabled, and filled in, right?

[2019-06-03 16:13] TrueHatori commented on #3821
I have this: https://github.com/e107translations/German/releases/tag/v2.2.1
Have copied the files over the old ones.

[2019-06-03 16:20] Moc commented on #3821
Please submit this as an issue here: https://github.com/e107translations/German/issues

Did you download this file? https://github.com/e107translations/German/releases/download/v2.2.1/e107_2.2.1_German_de_DE-utf8.zip

[2019-06-03 16:54] TrueHatori commented on #3821
Yes, exactly this file ... I downloaded it this morning, unzipped it and copied the new files over the old ones.

[2019-06-03 18:08] Moc commented on #3821
You don't need to click install. Then it will retrieve the outdated files again. So simply overwrite it, and leave it as it is. If that doesn't fix it, please create an issue for it in the German translation repository linked above.

I'm closing this issue here, as it is not a core issue. I'll help you further in a new issue in the German translation repository.

[2019-06-03 18:08] #3821 closed

[2019-06-03 21:57] CaMer0n commented on #3823
@Jimmi08 It is, but the value is updated automatically in the prefs by e107.  Unless the admin area is displaying the wrong version, this issue is not a bug.

[2019-06-03 23:37] CaMer0n commented on #2146
@Deltik I made the change by renaming to loadBatch(). Hopefully nothing broke. If you spot anything unusual, please let me know. Thank you.

[2019-06-03 23:51] CaMer0n commented on #2146
@Moc @Jimmi08 @tgtje This change has the potential to break a few things. (particularly news-related items). Please keep a look out. Thank you.

[2019-06-04 06:22] #3823 closed

[2019-06-04 06:31] Jimmi08 commented on #2146
@CaMer0n
feature box on frontend show nothing now
no themes are available in theme manager (I tried to switch to bootstrap3 because of FB)
PHP 7.0.

[2019-06-04 09:34] Moc commented on #2146
Confirmed theme manager issue ("No records found")
News section appears to be fine for me so far. Pages/menus as well.

[2019-06-04 10:10] Moc commented on #3559
@Jimmi08 Can this issue be closed?

[2019-06-04 10:11] Jimmi08 commented on #3559
Yes, I will create a new one if I find something new.

[2019-06-04 10:11] #3559 closed

[2019-06-04 10:22] Moc commented on #3733
@CaMer0n I've done some testing on it and I think we can add this feature without having to add another field and without needing to modify the update routines.

- If I change `'writeParms' => 'media=forum&max=1',` to 'writeParms' => 'media=forum&max=1&glyph=1',` the Glyph tab shows up and selecting the glyph icon works fine.
- It saves in the database as (for example) `glyphicon-book
.glyph`
- Fo

[2019-06-04 11:37] Jimmi08 opened #3824 "admin UI - field type email and validation"
My settings:

[code]

because Chrome autofilling is filled with the user name, so validation is always true.

But why there is not at least check if it's email address?   What is the difference between the text field then?  Thanks

PHP  7.0

[2019-06-04 17:45] CaMer0n commented on #2146
@Moc @Jimmi08 Thank you. I think any news issues would be in the frontend. (menus, grid, etc).
Fix for Theme Manager coming shortly.

[2019-06-04 19:14] Moc commented on #2146
Theme menu indeed fixed. So far, no issues with news on admin area nor frontend.

[2019-06-04 19:34] aducom opened #3825 "Statistics not working well for referal stts and search string stats."
I had issues with the statistics generating php errors which are currently solved. However, I still have issues with referal stats and search string stats under php 7.1(+). Sometimes there's a line showing one record of statistics which is empty the next day. It does not reply with a consistent answer, most of the time the statistics are empty. I'm sure that at least something should be presented

[2019-06-04 20:08] CaMer0n commented on #2146
@Jimmi08 Featurebox should be working now.

[2019-06-04 20:14] CaMer0n commented on #3733
@Moc Great! That's even better. `glyph=1` should work for FontAwesome too.
Also, `toIcon()` should automatically detect the `.glyph` extension.
Or, you could use `toGlyph()` if you already know it's a `.glyph`.

Re: FontAwesome in MediaManager..
Is it possible you need to scroll a few more pages before you see them? (note, I'm on slide 4 here)

![image](https://user-images.githubusercontent.com/28

[2019-06-04 20:17] CaMer0n commented on #3743
@Jimmi08 What is confusing about it?

[2019-06-04 20:42] Jimmi08 commented on #3743
If I do website for a client, they don't need to know this e107 stuff (in good meaning). In fact, they would like to have there their links to their own sites.  Nothing important, I am just trying to avoid core changes.

[2019-06-04 20:49] CaMer0n commented on #3818
@Moc I'm not sure I'm following the issue here.
The value stored in sitelinks is added automatically during installation of the plugin. It is the 'key' that should be used when generating the SEFURL. ie. the one of the keys defined in e_url.php.

Example:

### gallery/plugin.xml

![image](https://user-images.githubusercontent.com/2825679/58912492-ff880500-86ce-11e9-908c-f6b98df85e34.png)

### gall

[2019-06-04 20:55] Jimmi08 commented on #3818
@CaMer0n
I understood this like:
- you have page f.e. with ID 9
- you added it to sitelinks (no idea if manually, by the installation or by generating from pages)
- then you change URL configuration and users are waiting that it will change itself to SEF version.

I tried to explain that it depends on how it was added to sitelinks.

[2019-06-04 20:57] CaMer0n commented on #3743
A small price to pay for free software. :grinning:

However, I believe these links may be more appropriate in a new 'Support' area, which could be added here.

![image](https://user-images.githubusercontent.com/2825679/58913200-838ebc80-86d0-11e9-8c1c-795ee3a7f5a6.png)

I would also add a link to the gitter chatroom in there.

[2019-06-04 21:11] CaMer0n commented on #3818
@Jimmi08 I understand.  I guess the only work-around would be to store the SEF and non-SEF urls in the sitelinks table when it is generated. Of course, it would need to be manually edited if the page SEF url is ever modified.

[2019-06-04 21:17] Jimmi08 commented on #3818
@CaMer0n There is already solution with sitelinks function.  All pages or All pages from the chapter. I suppose it uses inside e107::url(), so it's always correct.

And with generating sitelinks directly from pages... it's not so hard to change this manually.  People just don't know about those possibilities.

[2019-06-04 21:19] CaMer0n commented on #3818
@Jimmi08 Yes, the sitelinks function is a good solution for sub-links.

[2019-06-04 21:24] CaMer0n commented on #3771
@LaocheXe You could try messing around with this: https://tinymceplugins.com/plugins/local-autosave

[2019-06-05 05:51] Jimmi08 commented on #2146
@CaMer0n Confirmed, it works now.

[2019-06-05 06:21] Jimmi08 opened #3826 "feature request - templating contact page"
Actual state:
- content of contact.php is displayed in {---) and you can use tablerender()
- 2 parts have different templates already (contact info and contact form

Problem:
- contact info is always rendered before form

With different position, it's a bit complicated to get this right (in fact contact info code has to be moved to form template in theme)

Suggestion:
- to use contact _page_ templ

[2019-06-05 06:37] Jimmi08 commented on #2146
@Moc Could you confirm this? It worked before this change.  Problem with correct layout for page .

How to test this:
- install bootstrap3 theme and forum plugin
- by default jumbotron full layout is set only for forum plugin - it works (body has correct class)
- as soon as you add there next setting (f.e.  forum, page) it changes to default layout

![image](https://user-images.githubusercontent.c

[2019-06-05 10:55] Jimmi08 opened #3827 "forum templating - probably ranks ?"
Sorry, I haven't time to look from where is this now, but there is some shortcode what output empty HTML code.
PS. I am trying to avoid custom theme template.

If the value is empty, it should return nothing or there should be some default value (f.e. user, quest) so there would be always something displayed.

![image](https://user-images.githubusercontent.com/5429548/58951196-c6b06480-8790-11e9-9

[2019-06-05 19:50] Jimmi08 opened #3828 "news grid menu - weird behavior"
I use the standard news grid menu (added in menu manager standard way).

If I don't fill the caption, tablestyle is not used

![image](https://user-images.githubusercontent.com/5429548/58985406-8d511680-87db-11e9-88ad-1a16ce1a03d4.png)

As soon as I fill the caption, it behaves normal way:
![image](https://user-images.githubusercontent.com/5429548/58985479-ace83f00-87db-11e9-8f52-1fbd0f954035.png)

[2019-06-06 11:28] Evgura opened #3829 "Without authorization comments."
![eddv](https://user-images.githubusercontent.com/25720089/59029504-e66e8800-8877-11e9-9441-ba2315f0678c.jpg)

If you leave comments without logging in we get this...

![erty](https://user-images.githubusercontent.com/25720089/59029479-d5257b80-8877-11e9-9c43-3285b95c1a02.jpg)

If you then log in it turns out here that...

![edss](https://user-images.githubusercontent.com/25720089/59029583-13229f8

[2019-06-06 11:36] Moc commented on #3733
@CaMer0n I'm going to do a *facepalm* on the mediamanager FA icons..... I am not sure how I missed that haha, thank you!

I'll work on the needed edits as discussed above :)

[2019-06-06 13:21] Moc commented on #3829
I am not sure I understand your issue.

From the title I understand that there is unauthorized comments. I assume that this means that Guests are able to post comments, even though you do not want this.

In "Admin Area > Comments Manager > Preferences", the setting `Allow users to post comments` is turned off?

[2019-06-06 13:25] Moc commented on #3828
Confirmed, not sure if this intentional or not.

@CaMer0n your thoughts? :)

[2019-06-06 13:38] Jimmi08 commented on #3828
I have no problem if this is the intention.  So no need to change it only because of me.  It just surprised me.

[2019-06-06 13:45] Evgura commented on #3829
Yes, comments are allowed without registration.
What with the English language without it turns out the same.
Previously, you could write just like that.

[2019-06-06 13:56] Moc commented on #3829
I cannot confirm this. I get this when I am not logged in:

![image](https://user-images.githubusercontent.com/577978/59038637-a1485700-8873-11e9-86ab-32531e9b2394.png)

Are you using the latest files?

[2019-06-06 13:58] Evgura commented on #3829
e107
Версия 2.2.2 (git)

[2019-06-06 14:36] Moc commented on #3545
@Deltik I just came across this when testing a v1 forum upgrade to v2.

On v1, I created Parent 1, Child 1.1 and Subforum 1.1.1. In v1, there is only one way to add a subforum, and that is to click on the forum (1.1), so I am sure that this is the right hierarchy.

This is how it looks after the v2 update:

All forums:
![image](https://user-images.githubusercontent.com/577978/59041293-98a64f80-887

[2019-06-06 14:44] Moc commented on #3733
After toying around with this and after having discussed this with Cameron, we decided to go for adding a new field, rather than to (ab)use the forum image field for this. It would require many tweaks which in fact is adding a mess and is also a reinvention of the wheel (since the Admin UI already provides for an 'icon' type).

See latest changes. Closing the issue, but let me know if there are an

[2019-06-06 14:44] #3733 closed

[2019-06-06 18:34] Jimmi08 commented on #3829
@Moc
I think he is trying to say:
- quests can comment (it's ON)
- if you post comment as quest, you get time of posting  49 years ago
- if you post comment as quest, quest content of comment is not visible
- as soon as you log in, all icons on comments are changed to user icon
- as soon as you log in, time and comment content is visible.

I could be wrong...
Maybe this is related to that php 7.3

[2019-06-06 18:39] Evgura commented on #3829
@Jimmi08 Версия PHP 7.2.18
Maybe it is connected with the engine version 2.2.2

[2019-06-06 18:40] Jimmi08 commented on #3686
I can confirm that this is still the problem.

Next solution is for bootstrap 4 not insert class fade in for alert boxes.  Problem is combination s-message + fade classes

[2019-06-06 18:43] Jimmi08 commented on #3829
@Evgura
Very probably,  I meant - after 2.2.1 release there was a big change in the core.  If this is related, very good that you find it.  But until full testing, you shouldn't use 2.2.2 on live site.

https://github.com/e107inc/e107/issues/2146

Did I get correct what you had on mind?

[2019-06-06 18:48] Evgura commented on #3829
@Jimmi08 Maybe it has something to do with it. I'll try to roll back to 2.2.1

[2019-06-06 19:59] Jimmi08 opened #3830 "feature request - reset database data to default"
In developer mode, Database Tools -
option to reset the database to default (like clean installation)

[2019-06-06 20:14] Jimmi08 opened #3831 "Page/ Menus problem"
In Menus should be listed only record where menu name is filled.
Now it displays all records.

![image](https://user-images.githubusercontent.com/5429548/59063186-d4a4d900-88a7-11e9-99e1-d4f145942502.png)

![image](https://user-images.githubusercontent.com/5429548/59063220-e8e8d600-88a7-11e9-8cf5-ea30a556bd20.png)

Plus search is searching only menu body, not menu title (name)

[2019-06-06 21:28] CaMer0n commented on #3831
@Jimmi08 In a recent change it also checks if Menu-title is not empty when retrieving the list. Can you please confirm if those items have a Title value or not?

[2019-06-06 21:30] CaMer0n commented on #3830
Thanks @Jimmi08 .  It's a good idea.
Right now you can do this, which may help in some situations:  `Tools > Database > Import Site Data > e107_core/xml/default_install.xml`

[2019-06-06 21:30] Jimmi08 commented on #3831
There are imported data. Page content:

[code]

[2019-06-06 21:33] CaMer0n commented on #3828
It's intended.

`news_template.php` works like this. When a caption value is found, **tablerender()** is used.
`news_view_template.php` now works like this also.  See https://github.com/e107inc/e107/commit/be627b8c7bec6bb9f27de21d5b1e56e05cb7187d

[2019-06-06 21:38] Moc commented on #3828
Alright. Closing.

[2019-06-06 21:38] Jimmi08 commented on #3828
Ok. caption key is not defined.  I mean this:
`if(isset($tmp['caption']) && $tmp['caption'] !== null)`

But if you insert data in menu manager, tablerender is used. Without template key.
Correct?

[2019-06-06 21:39] Jimmi08 commented on #3830
It will only replace data, not remove reductant. It still helps. Thanks.

[2019-06-07 03:38] CaMer0n commented on #3831
@Jimmi08 Please feel free to have a play around:

Line 707 of `e107_admin/cpage.php`
[code]

[2019-06-07 15:57] Deltik commented on #2146
@Jimmi08: I noticed that your screenshot has a comma (`,`) after `forum`.  Try removing that comma.

[2019-06-07 17:00] Jimmi08 commented on #2146
@Deltik Thanks. Good eye. Now I need to find how I got it there...  yes, this was problem, but I didn't see it before.

[2019-06-07 17:10] Jimmi08 commented on #3831
@CaMer0n  I can see it now. Image or icon is tested too. But this is not correct.

You can create menu only with image/icon,  you always need to fill name.
`You must enter either a page title or a menu name.`
So you never have a menu only with an image or icon.

That test should be only for the menu name field.

[2019-06-07 18:08] CaMer0n commented on #2146
@Jimmi08 Check theme.xml - it's a common mistake.

[2019-06-07 18:33] Jimmi08 opened #3832 "comment display - prob. mistypo for Boostrap4"
For nesting comments there is code:
`$indent = ($action == 'reply') ? " class='media col-md-offset-1 offset1' " : " class='media' ";`

I think it should be `offset-md-1` not `offset1`.

EDIT: it's not from there, but there is code for replay and it doesn't work in bt4
`<div class="media offset1 col-md-offset-1">`

[2019-06-08 14:21] CaMer0n commented on #3545
@Moc This will likely be solved with changes to: `public function afterSort($result, $selected)` in **forum_admin.php** line 317. Ie. check if the moved item has children and update their values in the db.

[2019-06-08 15:32] CaMer0n commented on #3831
@Jimmi08 What has me curious is how your menu_title has a value?

[2019-06-08 17:09] Jimmi08 commented on #3831
No, see xml example above - only menu_image is used

[2019-06-08 17:38] CaMer0n commented on #1775
@CaMer0n This should be working now.

[2019-06-08 17:40] CaMer0n commented on #3831
@Jimmi08 Yes, I saw already. Could you do an export directly from phpmyadmin?

[2019-06-08 17:59] Jimmi08 commented on #3831
[code]

[2019-06-08 18:34] Moc commented on #1775
Done some testing with @CaMer0n and it is now working like it should.

@LaocheXe Three years later, but it is implemented haha :)

[2019-06-08 18:34] #1775 closed

[2019-06-08 20:28] Moc opened #3833 "TinyMCE not loading for non-admins"
The TinyMCE WYSIWYG editor is not showing up when logged in as a non-admin user.

- TinyMCE4 installed
- PHP 5.6 and 7.3 tested
- Activated WYSIWYG editor in prefs

Tested in forum and usersettings (extended user field)
- Forum set to default editor (changing to TinyMCE makes no difference)

@Jimmi08 confirmed this on her installation as well (forum)

[2019-06-08 21:13] Jimmi08 opened #3834 "Feature request - possibility to use e_help with theme manager"
With Site theme adding new menu like with e_help.php with plugins.
Just if this file exists inside the theme folder, load it.  (if it's possible :) )
Thank you

[2019-06-08 21:37] Jimmi08 opened #3835 "Feature Request - ability to use admin message"
Maybe this is there already.  I have a vague idea that there was file theme_setup.php very long ago...

I would like to have the option for the theme to check something and display an error and warning messages.
For example, if the theme needs some plugin, then message similar like a warning about outdated plugins would be nice.

The same for the plugin. How to display some warning message not onl

[2019-06-09 07:56] Evgura commented on #3829
@Jimmi08 On version of engine 2.2.1, too, not earned.
2.2.0 not found where download.
Failed to start all without errors on version 2.1.9

[2019-06-09 11:20] Moc commented on #3829
Al releases are available here https://sourceforge.net/projects/e107/files/e107/ and here https://github.com/e107inc/e107/releases

[2019-06-09 13:08] Evgura commented on #3829
@Moc With the version of CMS 2.2.0 works fine.

[2019-06-10 19:32] CaMer0n commented on #3834
@Jimmi08 e_help.php (which was always specific to the admin area) has been deprecated in favor of the Admin-UI renderHelp() method.

Theme Manager will display an extra tab for Help if the help() method is found in the theme_config.php.

[2019-06-10 19:36] Jimmi08 commented on #3834
Thank you. e_help is easier to maintain and copy than the method in admin UI but what to do.

[2019-06-10 19:36] #3834 closed

[2019-06-10 20:38] Jimmi08 opened #3836 "not working comments"
Tested, it works with php 5.6
But I have new demo site on version 7.2 (not sure if it's related)

- version 2.2.1 from e107.org is used, not latest github version

- I switched to bootstrap3 to be sure it's not theme related or bootstrap version.

After click on button Send it looks like nothing happened, but comment is visible after refresh.

There is error in console:

![image](https://user-imag

[2019-06-10 23:06] CaMer0n commented on #3833
@Moc Could you please confirm that you're using the following settings?

![image](https://user-images.githubusercontent.com/2825679/59232558-bbe33e80-8b99-11e9-8e43-ddecc32891c6.png)

[2019-06-11 08:35] Moc commented on #3833
Ok, setting the "Class which can post HTML" from Admin to Members definitely fixed it.
It makes sense, as TinyMCE posts things as HTML to the database. For novice users, I do feel that this may be confusing (seeing how it also confused me).

I don't know yet how to make this easier for novice users, but I do think it would be good to make this clearer/easier to understand.

[2019-06-11 08:39] Moc commented on #3835
There is a file called `theme_config.php` which allows for customization of the theme through the Admin Area, but I don't think there's a setup file... but I may be mistaken.

I do understand the use case and I think having such functionality would be good for themes.

As for plugins; there is a list in core which warns users if there are plugins installed that break e107 (due to incompatibilities

[2019-06-11 08:40] Moc commented on #3836
Yeah reproduced, still need to test this further to see what's causing it.

[2019-06-11 09:00] Jimmi08 commented on #3835
`As for plugins; there is a list in core which warns users if there are plugins installed that break e107 (due to incompatibilities or old and unsecure coding). Now, this is not a way for plugin authors to add 'conflicting' plugins but it may be a start. I do wonder how often this would occur though.`
no, this is not needed.  It was just example how message should look (on dashboard, not only on t

[2019-06-11 09:15] Moc commented on #3835
This may be very useful to add indeed!

I haven't used this yet. Good hint.

It checks for dependencies (other e107 plugins or PHP modules such as GD) and then it stops plugin installation with a message stating which requirement is not met. As far as I know this is for plugins only but I suppose adding this for themes would not be too difficult.

[2019-06-11 10:42] Jimmi08 opened #3837 "FR - add parameter class to signup shortcode"
Only note,
[code]

just to save time with styling.
PS. I can PR this in future, so this is more reminder if this change is ok.

[2019-06-11 11:36] Jimmi08 commented on #3837
Next limited part:
FPW button

[code]

it calls, in fact, adminnutton() method, wouldn't be better call it directly?
This really looks too overcomplicated for simple submit button.

[2019-06-11 12:00] SimSync commented on #3820
If you want the "value" from the `COUNT(*)` column, you need to use the `fetch()`command to get the value from the `COUNT(*)` column. That's why it is easies to use the `e107::getDb()->count('table', '(*)')` command.

With `e107::getDb()->gen('SELECT COUNT(*) FROM table')` you need this commands:

[code]

[2019-06-11 12:23] SimSync commented on #3783
@Jimmi08 It looks to me as if you are "overwriting" the standard content type `application/x-www-form-urlencoded` with `application/json`. If you remove this key completely of set it to the default `application/x-www-form-urlencoded; charset=UTF-8`, it shouldn't be needed tom use `beforeSend` anymore.

Usually, if i need to post somethig with ajax, i use the "shortcut":
`$.post(url, data, success,

[2019-06-11 12:44] Jimmi08 commented on #3783
@SimSync but it is not my code, I am afraid to change anything. Without e107 it works.

[2019-06-11 12:59] Jimmi08 opened #3838 "problem with checkbox, discussion"
I am missing something somewhere....

Standard checkboxes work but look ugly.  My theme uses very nice checkboxes (nothing special, only CSS).

code is here:
[code]

I am trying to fix this shortcode:
{LOGIN_TABLE_REMEMBERME}

 I am not able to rid label tags. From the code it should be inserted only if _label_ parameter is used, but it's always there.
Normally I use javascript to change some hard

[2019-06-11 13:02] SimSync commented on #3783
@Jimmi08 I'm not sure what `dataToSend` contains. Usually this is a json object like `{field: value, anotherfield: anothervalue}`. In this case, `processData: false` could break the ajax call from what i've found online so far. Just from the small code snippet i can't see what should break here and i'm also unsure what you mean whth "The code without e107 worked correctly."

[2019-06-11 13:02] Jimmi08 commented on #3820
@SimSync I understand, but I am a problem with this in the documentation:  the description says: Function to handle any MySQL query. It doesn't handle **any** MYSQL query.

[2019-06-11 13:04] Jimmi08 commented on #3783
https://github.com/Jimmi08/visualbuilder/blob/master/qoob-e107-driver.js
line 50

[2019-06-11 13:24] SimSync commented on #3783
Without having tested this (of course not...;)), i think it should look like this:
In the original, the dataToSend was converted to a string, instead of posting the json object (Of course, i don't know what `data` contains, i assume it's a string, array or json object).
When processData is not set or true, the conversion to a string is done automatically and fitted into "application/x-www-form-url

[2019-06-11 13:38] SimSync commented on #3820
@Jimmi08 Which query is not handled?
It handles the (any) query (tablename only or complex sql string) by fixing the tablenames (prefix), but it doesn't return a result (in terms of returning the queried fielddata).
It only returns if the query failed (false), the number of records (on SELECT queries) or true on INSERT, UPDATE, etc. queries.
If you want to get the result (the queried field data) o

[2019-06-11 13:38] Jimmi08 commented on #3783
Thank you 👍

My notes to this part when I tried to understand how it works:
[code]

I have really no idea why they convert JSON to string, then use ajax and decode back to JSON...

[2019-06-11 13:45] Jimmi08 commented on #3820
Hm, maybe I understood the word "handle" wrong way.  Ok, so I should use this only to execute the query and don't wait for any data back. Yes, it's clear now, and using fetch() too.
Thank you

[2019-06-11 13:45] #3820 closed

[2019-06-11 13:58] SimSync commented on #3783
with my proposal, you can just use the `$_POST` php array to access the single "elements" like 'data', 'func' or 'pageId'. I don't know why they (you?) did it so complicated...?!

[2019-06-11 14:08] Jimmi08 commented on #3783
Not me, I don't understand this stuff. It's from HTML or WP version of this. I am not able to remember now.

[2019-06-11 14:08] #3783 closed

[2019-06-11 16:00] CaMer0n commented on #3836
I just tested submitting a news comment using Firefox. I had no issue.

[2019-06-11 16:08] CaMer0n commented on #3827
Yes, if there is no value is should return null, so that shortcode wrappers can know not to render.

[2019-06-11 16:09] CaMer0n commented on #3826
`$CONTACT_TEMPLATE['layout']` sounds like a good approach. Similar to the comments template.

[2019-06-11 16:11] CaMer0n commented on #3739
Okay, so the problem is the drop-down doesn't have an empty value.

[2019-06-11 16:18] #3739 closed

[2019-06-11 17:28] SimSync commented on #3837
Don't know what's the change in post 1.
Post 2 using the button() function makes sense, so you can make general changes to buttons in 1 place. It would make sense to be able to supply some options via the $parm parameter in my opinion. That would help with styling the button.

[2019-06-11 17:54] Jimmi08 commented on #3837
@SimSync  post 1 - parameter $class there is only ID.  I can manually fix this in style.css but with next update original css, I need to do it again..  it's just saving time

post 2 - you are right. Simple submit button with parameters would be nice (like with other elements).  Now it's calling next method and it outputs not needed code.

[2019-06-11 17:57] Jimmi08 commented on #3827
Correct.  The problem is that wrappers render something or it doesn't return null. There is reductant html code, but <span> tag.

[2019-06-11 18:32] CaMer0n commented on #3836
@Moc Traced this to debug code attempting to be parsed as json.

[2019-06-12 06:01] Jimmi08 opened #3840 "FR - RSS plugin - update template paths to v2 standards"
just note

[code]

[2019-06-12 06:02] Jimmi08 opened #3841 "FR list_new plugin - update template paths to v2 standards"
just note

[code]

[2019-06-12 06:58] Moc commented on #3829
I really am unable to reproduce this on my test installations. Using PHP 7.2, and the BS_Magazine_01

In `Admin Area > Comment manager > Preferences`:

- `Allow users to post comments`: On
- `Allow anonymous posting?`: Off

Avatars are working fine, logged in and logged out.
When not logged in, I get the message saying that I should sign up first.

If I switch the anonymous posting to On, the name

[2019-06-12 09:03] Jimmi08 opened #3842 "news vs tablerender - problem with {NEWSCATEGORY}"
{NEWSCATEGORY} - if it's used for **default layout** (not tried yet list layout)
returns category of some post  on news homepage (news.php)

it should return some LAN  News or something

`$NEWS_TEMPLATE['default']['caption'] =   '{NEWSCATEGORY} this is caption';  // add a value to user tablerender()`

![image](https://user-images.githubusercontent.com/5429548/59337815-93765400-8d01-11e9-8956-f9fcc

[2019-06-12 09:27] Jimmi08 opened #3843 "news category list - how to use category template"
I have a news category listing

`/news/category/Fashion`

it's still using default template, but $NEWS_TEMPLATE['category'] exists.

Where to set this or how?

![image](https://user-images.githubusercontent.com/5429548/59339709-f74e4c00-8d04-11e9-88a3-40a33b3e59ed.png)

![image](https://user-images.githubusercontent.com/5429548/59339714-f9b0a600-8d04-11e9-9d71-5d76b6e4d208.png)

[2019-06-12 09:40] Evgura commented on #3829
@Moc I do not understand, does not work on this subject, other fine.

[2019-06-12 09:58] Jimmi08 opened #3844 "contact page is redirecting to homepage"
version 2.2.1  from e107.org

[code]

but my site contact info is filled

![image](https://user-images.githubusercontent.com/5429548/59342115-688ffe00-8d09-11e9-8d54-31fb7dd6f058.png)

[2019-06-12 10:09] Jimmi08 commented on #3844
It's not caused with this. class2.php is doing this.

[2019-06-12 14:09] Alessandro461988 opened #3845 "Installation Problem e107 for capital letter database name"
hello, I am trying to install e107 v2.2.1 and in step 2 this error "SQLSTATE [42000]: Syntax error or access violation: 1044 Access denied for user 'Sql1332576' @ '%' to database 'sql1332576_1'". How do I resolve? I state that the User is what you see, while the database as a name has a capital "s", but I am obliged to put it in small letters.

[2019-06-12 14:12] Alessandro461988 commented on #3845
I solved the problem by modifying the "install" file where it specifies the accepted parameters of the text box. Thanks for the availability

[2019-06-13 09:45] Moc commented on #3810
I recently had some other people asking me about the update on Softaculous, as it is still on 2.1.9. I will check what the status is on this.

[2019-06-13 11:28] Jimmi08 opened #3846 "How to load language in Frontend theme config file in admin area"
in file theme_config.php  this doesn't work:  (you can this in bootstrap3 theme)

`e107::lan('theme', 'admin',true);`

it loads bootstrap3 theme LANs.

This works:
`e107::themeLan('admin','bootstrap4', true);`

[2019-06-13 11:55] Jimmi08 commented on #3826
In this commit, you have an example how it should work. (don't mind fix for 2.2.1)
https://github.com/Jimmi08/bootstrap4/commit/1b7061f08c62e40d3db942d7bd76398a959d3179

The second problem is that both tablerenders have the same IDs. I think there is already an issue about this.
Layout for contact is only header and footer, everything else is managed with contact template.

For me, this is solved

[2019-06-14 00:09] CaMer0n commented on #3846
That makes sense. It is being used in the admin area. :+1:

[2019-06-14 00:13] #3845 closed

[2019-06-14 19:43] Jimmi08 opened #3849 "FEATUREBOX_CATEGORY_INFO - not able to add new category"
I added new featurebox category in the theme template

Info is set this way:
[code]

But the result is this:
![image](https://user-images.githubusercontent.com/5429548/59533882-0e4f9280-8eed-11e9-9435-3d2402d85d23.png)

I can change existing keys (f.e. bootstrap_carousel) but it ignores new template key.
The only option is to use existing keys in core template (in image bellow default)
![image](ht

[2019-06-14 20:45] Jimmi08 opened #3850 "featurebox button - some problem"
FB button is now using this:  return $this->sc_featurebox_url('button=1');
but inside this method is code:
`$title = vartrue($parm['text']) ? defset($parm['text']) : LAN_MORE;`
this is never used now, so you can't set button text in template.

I would change it this way:

[code]

Thanks

[2019-06-15 15:12] Jimmi08 commented on #2962
@Moc this one too: $DOWNLOAD_TEMPLATE['view']['nextprev']

[2019-06-15 16:15] CaMer0n commented on #3810
Sent another email and a tweet. We wait and see.

[2019-06-15 16:18] CaMer0n commented on #3844
@Jimmi08 What is the value for "Contact Form Visibility" ?

[2019-06-15 16:23] CaMer0n commented on #3842
@Jimmi08 You mean, when no category has been selected, you want {NEWSCATEGORY} to fall-back to "News". Is this correct?

[2019-06-15 16:24] CaMer0n commented on #3840
Yes, but only once the template has been upgraded to v2 standards.

[2019-06-15 16:38] Jimmi08 commented on #3844
Closing, because it's htaccess or something like this problem. After renaming file contact.php to something else, it works. So it's not in data

[2019-06-15 16:38] #3844 closed

[2019-06-15 16:51] CaMer0n commented on #3843
@Jimmi08 The debug table is missing information. Please use the github version and repost. Most likely the database category has another template set.

[2019-06-15 20:38] Jimmi08 commented on #2962
@Moc I did quick fix this way, but not nested with bootstrap3 and padding bottom is too small.
[code]

[2019-06-16 20:54] CaMer0n commented on #3828
@Jimmi08 Correct. It's intended.

[2019-06-16 20:54] #3828 closed

[2019-06-17 18:48] CaMer0n commented on #2970
Bootstrap 3.x | Bootstrap 4
-- | --
.col-*-offset-* | .offset-*
.col-*-push-* | .order-*-2
.col-*-pull-* | .order-*-1
.panel | .card
.panel-heading | .card-header
.panel-title | .card-title
.panel-body | .card-body
.panel-footer | .card-footer
.panel-primary | .card.bg-primary.text-white
.panel-success | .card.bg-success.text-white
.panel-info | .card.text-white.bg-info
.panel-warning | .card.bg-w

[2019-06-17 22:39] inferno-prime opened #3851 "Feature request multiple download images"
Instead of being able to only attach one image I would like to be able to attach several.

Can this be added ?

[2019-06-18 19:39] Deltik opened #3852 "Flaky test: e_mediaTest: Import file"
**Test author:** @CaMer0n
**Dependent on other tests?:** Yes
**Cause of failure:** The outcome of this test depends on another test that runs in the unit test suite.  This test needs to be corrected so that it always returns the same result regardless of the order in which it is run.

## Failure Message

[code]

[2019-06-18 19:39] Deltik opened #3853 "Failing test: eBounceTest: Process"
**Test author:** @CaMer0n
**Dependent on other tests?:** No
**Cause of failure:** The expected and actual values always differ.  If the expected value is wrong, e107-test needs to be fixed.  If the actual value is wrong, e107 needs to be fixed.

## Failure Message

[code]

[2019-06-18 19:39] Deltik opened #3854 "Failing test: e_menu_layoutTest: Get layouts"
**Test author:** @CaMer0n
**Dependent on other tests?:** No
**Cause of failure:** The expected and actual values always differ.  If the expected value is wrong, e107-test needs to be fixed.  If the actual value is wrong, e107 needs to be fixed.

## Failure Message

[code]

[2019-06-18 19:39] Deltik opened #4030 "Failing test: e_menu_layoutTest: Get layouts"
**Test author:** @CaMer0n
**Dependent on other tests?:** No
**Cause of failure:** The expected and actual values always differ.  If the expected value is wrong, e107-test needs to be fixed.  If the actual value is wrong, e107 needs to be fixed.

## Failure Message

[code]

[2019-06-18 19:39] Deltik opened #3855 "Flaky test: e_formTest: Render link"
**Test author:** @CaMer0n
**Dependent on other tests?:** Yes
**Cause of failure:** The outcome of this test depends on another test that runs in the unit test suite.  This test needs to be corrected so that it always returns the same result regardless of the order in which it is run.

## Failure Message

[code]

[2019-06-18 19:39] Deltik opened #3856 "Flaky test: e107_user_extendedTest: Get structure"
**Test author:** @CaMer0n
**Dependent on other tests?:** Yes
**Cause of failure:** The outcome of this test depends on another test that runs in the unit test suite.  This test needs to be corrected so that it always returns the same result regardless of the order in which it is run.

## Failure Message

[code]

[2019-06-18 19:53] CaMer0n commented on #3853
@Deltik Shouldn't these be in the test repo?

[2019-06-18 19:54] Deltik commented on #3853
Oh my goodness, yes.  I duplicated the wrong tab for issue creation.

[2019-06-18 19:55] CaMer0n commented on #3703
@Jimmi08 I'm sorry, I must not have understood your request. "possibility to add custom panel to admin dashboard" is exactly what e_dashboard.php allows a plugin to do.

[2019-06-18 19:56] CaMer0n commented on #3855
@Deltik Move to tests repo?

[2019-06-18 19:57] Deltik commented on #3855
@CaMer0n: I don't have access to move issues.  Is this something you can do?

[2019-06-18 20:00] Jimmi08 commented on #3703
@CaMer0n Hi, no, you get it right. e_dashboard add only left menu part.
That request was to have the option to have a custom dashboard.
If I remember correctly, I needed to remove stats (graph) and RSS from e107.org.

[2019-06-18 21:09] Jimmi08 opened #3857 "export/import problem with CDATA in code tag"
Content of forum post:

[code]

exported XML is not able to import back to e107

_Discussed on gitter_

[2019-06-18 21:40] CaMer0n commented on #3854
@Deltik I'm unable to get this test to fail.

[2019-06-18 21:44] CaMer0n commented on #3703
This is on the right. Just drag-n-drop where it is needed.

![image](https://user-images.githubusercontent.com/2825679/59722009-7cd76d80-91d7-11e9-963f-b99621cfc5e5.png)

[2019-06-18 21:48] CaMer0n commented on #3857
Specifically: ```]]>```

[2019-06-19 07:47] Jimmi08 opened #3858 "FR improve debug message about tablerender ID"
This debug message is nice, but I have no idea what tablerender() has problem.

`Possible issue: Missing a Unique Tablerender ID. Use $ns->setUniqueId() in the plugin script prior to setContent().`

[2019-06-19 07:55] Jimmi08 commented on #3858
Sorry, it's in source code

![image](https://user-images.githubusercontent.com/5429548/59746991-4bfb4500-9278-11e9-8b8e-4d9ef0c13c63.png)

[2019-06-19 08:06] Jimmi08 opened #3859 "FR - possibility to use inline style with featurebox category"
Possibility to use something like this:

[code]

[2019-06-19 12:23] Jimmi08 opened #3860 "debug code displayed in code"
![image](https://user-images.githubusercontent.com/5429548/59765191-d013f380-929d-11e9-806b-b161b7eea1bd.png)

[2019-06-19 12:30] Jimmi08 opened #3861 "pdf icon has different classes"
![image](https://user-images.githubusercontent.com/5429548/59765589-b3c48680-929e-11e9-8f5f-5248c447ba85.png)

[2019-06-19 13:05] Jimmi08 opened #3862 "news months menu - archive button"
It looks different than other buttons
 contact menu:
![image](https://user-images.githubusercontent.com/5429548/59767537-d3f64480-92a2-11e9-9077-a94f53a5b87c.png)

![image](https://user-images.githubusercontent.com/5429548/59767631-fbe5a800-92a2-11e9-8581-3b31a9a24e08.png)

some button is btn-primary, news months is btn-secondary

[2019-06-19 19:56] #3860 closed

[2019-06-19 20:38] #3862 closed

[2019-06-20 12:19] sparuj opened #3863 "adjusting text box size for signup"
Greetings everyone!

I was wondering, where can I adjust the textbox size="" for the fields in signup.php (username password email etc...)

Cheers!

[2019-06-20 14:02] #2583 closed

[2019-06-20 14:02] Jimmi08 commented on #2603
Thanks

[2019-06-20 14:02] #2603 closed

[2019-06-20 14:03] Jimmi08 commented on #2320
Multisite plugin works without problems.

[2019-06-20 14:03] #2320 closed

[2019-06-20 14:04] #3863 closed

[2019-06-20 14:04] Jimmi08 commented on #1829
Not needed anymore

[2019-06-20 14:04] #1829 closed

[2019-06-20 14:05] #2402 closed

[2019-06-20 14:08] Jimmi08 commented on #2708
Closing, will be solved by magic shortcode breadcrumb with the same style on all site

[2019-06-20 14:08] #2708 closed

[2019-06-20 14:10] #2670 closed

[2019-06-20 14:10] #3230 closed

[2019-06-20 14:12] Jimmi08 commented on #3374
It was solved long time ago.

[2019-06-20 14:12] #3374 closed

[2019-06-20 14:16] Jimmi08 commented on #3567
Solved with e_CURRENT_PLUGIN and magic shortcode for page CAPTION

[2019-06-20 14:16] #3567 closed

[2019-06-21 05:50] Jimmi08 opened #3864 "FR - add param $class to pager shortcodes in download view"
[code]

Other pagers have class pager-button btn btn-primary

[2019-06-21 06:19] Jimmi08 commented on #3864
[code]
those shortcodes are not able to return only name, it's needed for alt tag of download images

[2019-06-21 06:40] Jimmi08 opened #3865 "download icons - fix for bootstrap 4"
Problematic shortcode:
{DOWNLOAD_CAT_NEWDOWNLOAD_TEXT}
and probably there are others too.

it returns glyphicon icon.

FIX:
[code]

[2019-06-21 06:45] Jimmi08 commented on #3865
Next one:

{DOWNLOAD_ADMIN_EDIT}

returns:
`<i class="glyphicon glyphicon-edit"></i>`

but there is this code:
`$icon = (deftrue('BOOTSTRAP')) ? e107::getParser()->toGlyph('edit') : "<img src='".e_IMAGE_ABS."generic/edit.png' alt='*' style='padding:0px;border:0px' />";`

[2019-06-21 21:13] CaMer0n commented on #2308
@Jimmi08 I think you'll like this change. :-)

[2019-06-22 17:57] CaMer0n commented on #3865
@Jimmi08 Thanks. Just needs to be changed to `toGlyph('fa-edit')` instead of  `toGlyph('edit')`. Pull-requests welcome. :-)

[2019-06-23 19:12] Jimmi08 opened #3866 "gsitemap manual entry doesn't work"
Because this:
	`'WHERE'             => ' gsitemap_id= '.intval($_POST['gsitemap_id']) `
gsitemap_id is always 0 with new record, so no record is created.

[2019-06-24 08:06] Jimmi08 commented on #3859
Not needed anymore.

[2019-06-24 08:06] #3859 closed

[2019-06-26 19:17] CaMer0n commented on #3714
@Jimmi08 @Moc I believe this may have been fixed already in 2.2.1.

[2019-06-26 19:24] CaMer0n commented on #2484
@Jimmi08 The issue still exists?

[2019-06-27 01:07] sbwMikael opened #3867 "e107_class -> set_paths(), infinite loop if invoking e107 from script in another directory"
Hello; I'm not sure how worthy this is of attention, or how it might be fixed if it is.

I have some PHP scripts that I wish to be executed once per day, and I'm using a cron job for this purpose. Obviously I don't want these scripts to be accessible from the outside world, so per advice on Stackoverflow (and elsewhere) I've placed them into a directory separate from the web root, with a folder st

[2019-06-27 05:59] Moc commented on #3867
Yes, I would recommend this as a temporary solution. The issue needs to be fixed in core, but as you said that are many other things that require attention. But now it is tracked here on Github, so that's good! :)

[2019-06-27 07:27] #3865 closed

[2019-06-28 01:43] sbwMikael commented on #3867
Thanks Moc, I appreciate the feedback, I'll go ahead with this interim solution for now.

[2019-06-28 09:02] Moc commented on #3867
I'm keeping the issue open so it can be tracked on the future and fixed at some point :)

[2019-07-01 07:03] Jimmi08 opened #3868 "featurebox - default installation data problem + FIX"
There are default data, so it should work out of box, but it doesn't

1. Wrong templates are set:

![image](https://user-images.githubusercontent.com/5429548/60416508-4984dd80-9bde-11e9-940d-896c8d98a6f8.png)

2. no categories are set

![image](https://user-images.githubusercontent.com/5429548/60416548-65887f00-9bde-11e9-8672-5b285092c37b.png)

Ad 1.
problem was caused with this
https://github.com

[2019-07-01 07:08] Jimmi08 commented on #3868
That fix solves 2. too, of course, template name was Unassigned, so it looked like not set.

[2019-07-01 07:17] Jimmi08 opened #3870 "Feature request - add custom fields functionality to featurebox plugin"
Similar way as with pages/chapters

chapter = featurebox category
page = featurebox item

Limitation for example to use 2 buttons with 2 links causes either using HTML code in tinymce field (what causes unexpected results - f.e. adding reductant <p> tags) or looking for other solution.

I have own plugin for carousel elements, so I can live without this feature, but it would be great if this would

[2019-07-01 08:34] #3858 closed

[2019-07-01 08:42] Moc commented on #3836
I think this only occurred in debug mode, right?

[2019-07-01 08:48] Jimmi08 commented on #3836
Yes, and only in one case. It was probably related to multisite version of site. Some weird debug output code was there (I probably messed up something, not problem in plugin itself)
Fixed now with CaMeRon help. Thanks

[2019-07-01 08:48] #3836 closed

[2019-07-02 07:55] Moc commented on #3827
Wasn't able to reproduce on a test install, but added a fix which which may help.
@Jimmi08 When you have time, can you check to see if this solves the issue?

[2019-07-02 08:00] Moc commented on #3700
Closing, assumed to be fixed. If not, let us know and I'll re-open.

[2019-07-02 08:00] #3700 closed

[2019-07-02 08:46] Jimmi08 commented on #3827
Solved.

[2019-07-02 08:46] #3827 closed

[2019-07-02 11:58] Jimmi08 opened #3871 "bootstrap 4 and toLabel() + tags type field"
This was replaced by badge

`$opt[] = "<span class='label label-".$type."'>".$v."</span>";`

This is correct fix:
`$opt[] = "<span class='badge badge-".$type."'>".$v."</span>";`

But for cpagefields (field type tags)
there is $type  "default",  it needs to be replaced by "secondary", otherwise, it's not styled.

[2019-07-02 12:01] Jimmi08 commented on #3871
History:
Bootstrap 4 Alpha replaced labels with tags.

Bootstrap 3 doesn't have the .tag class. It uses labels, and badges (both of which were dropped in Bootstrap 4 Alpha).

Actual:  Tags have now been renamed back to badges as of Bootstrap 4 Alpha 6.

[2019-07-02 16:48] sudakk commented on #3831
@Jimmi08 I don't understand problem... For example, I have custom pages and I want to make visual menus for it with custom menu template (I don't need Name or Title, just Description and Image). So I fill description and choose image, and can see my menu without name & title. It's good because I can filter menus for my custom pages by menu template... It's usefull.

[2019-07-02 17:14] JoniPeti opened #3872 "TinyMce4 Unsuccessful YouTube code embedding 403 error"
Hi!

I would have a problem (in the case of a website I run) that when I want to embed YouTube code, I get 403 error messages. I attach a picture to understand what it would be like.

I use the latest e107 version.

<img src="https://jonasportalstudio.hu/github/1.jpg">

<img src="https://jonasportalstudio.hu/github/2.jpg">

<img src="https://jonasportalstudio.hu/github/3.jpg">

[2019-07-02 17:36] sudakk opened #3873 "Social login does not work?"
![4](https://user-images.githubusercontent.com/11300090/60533661-d2983380-9d08-11e9-9f01-9a523729e939.png)
![3](https://user-images.githubusercontent.com/11300090/60533666-d6c45100-9d08-11e9-8ee4-60eb5dc59819.jpg)
After enable & testing /?route=system/xup/test I get false.
"Forbidden
You don't have permission to access /system/xup/login on this server."

[2019-07-02 17:49] Jimmi08 commented on #3831
@sudakk
` I have custom pages`
exactly, you have pages, not the menu.  So your page shouldn't be listed between menus. If you want a menu, you need to fill the menu name.
 To see both, pages and menus, there is Overview option.

[2019-07-02 19:05] LaocheXe commented on #3873
You got your Key/ID, Secret, and Scope set for Facebook?

[2019-07-03 00:13] nesjett commented on #3873
Social login works, I just tested a fresh install from git repo.
As LaocheXe said, you need to fill your facebook API data.

About accessing your site url, maybe you have some permission on some file wrong, I can access there properly

[2019-07-03 02:47] sudakk commented on #3873
@LaocheXe Yes, everything is filled in. But if it works, I will try to find what’s wrong by myself.

[2019-07-03 02:47] #3873 closed

[2019-07-03 03:22] sudakk commented on #3831
@Jimmi08 I just mean that it is convenient for me to see the menu without name and title. I do not consider it a bug.

[2019-07-03 05:00] Jimmi08 commented on #3831
Can you use it in Menu manager. NO. So its not menu. If you have missing functionality in pages or overview, ask for it. It has no logic and it wasnt this wsy before. I would like to know how you explain now what its menu in e107 for somebody new. Try.

[2019-07-03 13:04] sudakk opened #3875 "Question about social login"
![1](https://user-images.githubusercontent.com/11300090/60593638-dfba2e80-9dab-11e9-838c-2fc5d446b04f.png)
![2](https://user-images.githubusercontent.com/11300090/60593645-e47ee280-9dab-11e9-996b-3ac27ba7c6aa.png)
I receive such mistake from any login provider. Why can the problem be?

[2019-07-03 13:16] sudakk commented on #3831
I can... Only last edited.
![1](https://user-images.githubusercontent.com/11300090/60594494-cade9a80-9dad-11e9-9eaf-c45bd7ffdcfd.png)
![2](https://user-images.githubusercontent.com/11300090/60594496-cf0ab800-9dad-11e9-9447-a70dbef0ff46.png)

[2019-07-03 13:53] Jimmi08 commented on #3831
Sorry, it's not your problem, I meant this generally - are you kidding me?  So if you have Book/Chapter/Pages system with hundred pages that are using menu image field, all are listed in menu manager?

This is totally bug, you can't have menu with only ID listed in menu manager. It's nonsense.
See the result in menu table? What menu is used where?

![image](https://user-images.githubusercontent.co

[2019-07-03 14:25] sudakk commented on #3866
![1](https://user-images.githubusercontent.com/11300090/60599622-7809e080-9db7-11e9-9298-e892c2e0d052.jpg)

comment as I did - no need gsitemap_img & gsitemap_cat... and averything will work.

[2019-07-03 15:09] LaocheXe commented on #3875
Might be server issue with permissions?

[2019-07-04 04:31] sudakk commented on #3875
Yes. Thank you for detailed answer.

[2019-07-04 04:31] #3875 closed

[2019-07-04 06:09] LaocheXe commented on #3875
@sudakk well was it the issue, or not?

[2019-07-04 07:06] sudakk commented on #3875
![C2EDBBC8-FD18-40BE-90BE-288A6AE447EB](https://user-images.githubusercontent.com/11300090/60645735-36724780-9e42-11e9-9374-96f5dce8c32f.jpeg)
@LaocheXe Not completely understand: deny from all added for securities reason? Nobody uses social login now? It works without this rule.

[2019-07-04 07:48] Jimmi08 opened #3876 "gallery issue after update"
It looks like problem with breadcrumb shortcode

![image](https://user-images.githubusercontent.com/5429548/60648618-8e0fb380-9e40-11e9-8494-009ca3fa5ede.png)

[2019-07-04 10:22] Jimmi08 opened #3878 "FR - possibility to template breadcrumbs"
It would be great if you could template breadcrumbs.
`e107::getForm()->breadcrumb($bread)`

with keys start, end, item, separator, home

Thanks

[2019-07-04 11:05] nesjett opened #3879 "Right way to update User Extended fields from code"
I've been trying to update extended fields from withing the code and It looks really complex, looking into usersettings.php looks like the proper way of doing so, but I think it could be done in just 2 methods, one for sanitizing and the other for actually inserting the data.

Actually, the way I found to do it, based on usersettings.php is like this:

` $d = ['user_gender'=> $genderize->gender];

[2019-07-04 11:38] nesjett commented on #3879
A detailed look into userExtendedValidateAll() shows that this line is returning false, so the function does not do its job:

`if (1==1 ||($isSignup && (int) $defs['user_extended_struct_applicable'] === (int) e_UC_MEMBER && (int) $defs['user_extended_struct_write'] === (int) e_UC_MEMBER) || (check_class($defs['user_extended_struct_applicable']) && check_class($defs['user_extended_struct_write'])))

[2019-07-04 11:40] Jimmi08 opened #3880 "code doesn't work in 7.2, but works in 5.6. and 7.1"
Just note. This code doesn't work in php 7.2. Any idea why?

It returns no records, so I think the problem is in queries.

[code]

It should return the array in this format:

[code]

[2019-07-04 12:09] Moc commented on #3879
There are lots of functionalities related to the EUF in core already so I doubt that you'll need to change the code.

Can you explain the end result that you are trying to achieve?

[2019-07-04 14:18] nesjett commented on #3879
I just want to modify the value of an user extended field, taking into account its params, for example if its a radio button, it should only accept one of it's configured params.

[2019-07-04 14:44] Moc commented on #3879
Not sure if I understand you correctly still, but can you not edit that by editing the user in the admin area?

[2019-07-04 16:05] nesjett commented on #3879
No, I need to edit values programatically, for example, I'm updating the extended user field "gender" when the event user_xup_signup is fired.

This would be perfect:

`e107::user()->setExtendedFront('gender', 'M => UE_LAN_MALE');`

But it checks for the right permissions of the user, this means this cannot be fired when the user is "anonimous"

[2019-07-04 16:45] nesjett opened #3881 "Extended user fields saving data translated, (not supporting multinlang?)"
Im trying to use the extended field gender and I find that I'm setting the values as, for example "UE_LAN_MALE" which is a constant for translations, thats ok.

The problem comes that when storing the value into the DB, the real value beign stored is "Male", in order of "UE_LAN_MALE"

Is there an easy solution/workaround to this?

** EDIT: I tried setting the value to "UE_LAN_MALE" in database by

[2019-07-04 16:50] #3868 closed

[2019-07-04 16:51] #3876 closed

[2019-07-04 16:58] LaocheXe commented on #3875
Odd, I use  it, for Steam Login - I've had the issue once, and dont remember what caused it.

[2019-07-05 10:02] Jimmi08 opened #3882 "FR - don't use cached theme prefs in admin Theme Manager"
While this is ok for the frontend to save time, when I use Theme manager, I want to see data form core table (real data from database) and not values from cached file.

It could be confusing for user if you change data manually in database and then you go to the Theme manager and you still see your old data.

Clearing cache (it's cached always, with cache off too) helps of course. But in administr

[2019-07-05 10:08] Jimmi08 commented on #3879
@nesjett sorry, I didn't read it in detail (it's too complicated) but we used the birthday as mandatory field and it worked for anonymous too.

[2019-07-05 13:09] nesjett commented on #3879
Thank you @Jimmi08 , what I'm asking is just for the best way to modify a extended user field WITHOUT an input element.

I'll check the way signup does it anyway, thank you!

[2019-07-06 19:17] Jimmi08 opened #3883 "link_class in e_sitelinks is ignored"
Example
[code]

Sublink is always visible

[2019-07-07 13:00] nesjett opened #3884 "javascript e107.behaviour context"
I'm trying to use contexts but I can't find any example of ussage, only about settings but not context.

Someone can add some light on this?

Thank you

[2019-07-07 19:00] tgtje commented on #3884
Maybe here's an answer found ? #1259

[2019-07-08 08:50] #3880 closed

[2019-07-08 10:52] nesjett commented on #3884
Thank you @tgtje but this is the same info that appears in the developer manual, but no example or notice about using context.

[2019-07-09 00:06] nesjett opened #3885 "Extending documentation flood and cache"
I'm asking for someone to add moremenus in the Developers guid for including this info:

Instantiate:
`$fp = new floodprotect;`

Use like this:
`if ($fp->flood('chatbox', 'cb_datestamp')) `

What the function actually does:
[code]

Thi sjust adds one extra SQL to your proccessess, be aware that if you are using custom tables (for example for plugins) and you dont have a well optimized table, with

[2019-07-09 00:35] nesjett opened #3886 "Flood protection cant work with datetimes, only unix times"
Actually, flood protection works this way:
`if ($fp->flood('chatbox', 'cb_datestamp'))`

What the function actually does:
[code]

This means that if you build a plugin that stores dates in DateTimes in order of timestamps, the system wont work.

- Nestor

[2019-07-09 11:32] Jimmi08 opened #3887 "Question - why there duplicates in download request table"
I updated download tracker plugin, so now I can watch download requests.  I noticed something like this:

![image](https://user-images.githubusercontent.com/5429548/60884519-57c1a200-a24d-11e9-9748-7c3dc7804f3a.png)

It's not possible for somebody to download the same file 3x at the same time
Or there is something wrong and it's refreshing or something like that.

It's not only one example, there

[2019-07-09 18:59] CaMer0n commented on #3887
@Jimmi08 Please check the timestamps in the actual database table. Are they identical?

[2019-07-09 19:04] CaMer0n commented on #3831
@Jimmi08 You're right, if removing the menu-name hides it in Menu-Manager then technically it is not a menu and shouldn't display here.

[2019-07-09 19:07] CaMer0n commented on #3886
@nesjett MYSQL has a function to convert datetime to unix time.

[code]

[2019-07-09 19:23] Jimmi08 commented on #3887
No, only some
![image](https://user-images.githubusercontent.com/5429548/60916836-bf004600-a28f-11e9-804b-82cbb04abdad.png)

[2019-07-09 21:54] nesjett commented on #3886
@CaMer0n The think is that this conversion should be done in the flood() function, which is a e107 core function (because you only provide a table and a column, not a real query)

Taking into account that what I posted is the only thing the function does, replicating it in custom plugins is really easy, but I think it's something that should be taken into account for the future.

[2019-07-10 07:00] Jimmi08 opened #3888 "Help needed - birthday field"
Core birthday field is saved as  YYYY-MM-DD string in database.
After changes how e107 works with date and time, comparing this field with actual time fails.

The birthday plugin with sending congratulation mail has a problem with timezones. The site uses site timezones + users use user timezones too.

Actual time:  $BDAY_now = time();

and then $bday_datestring = date("Y-m-d", $BDAY_now);
For dis

[2019-07-10 08:37] Jimmi08 opened #3889 "Question - weird behaviour with import xml file"
I did mistypo, so imported file didn't exit.

[code]

but from some reason, it always returned theme.xml from the blank theme.

![image](https://user-images.githubusercontent.com/5429548/60954003-86e41c00-a2fe-11e9-9d17-69cffda7b509.png)

As soon as I fixed path, it returned the correct file.

![image](https://user-images.githubusercontent.com/5429548/60954089-b09d4300-a2fe-11e9-9291-fb2343ade934.

[2019-07-10 09:00] Jimmi08 opened #3890 "FR - import theme demo content after theme installation"
I did changes in boostrap4 theme to show what I am trying to do.
https://github.com/e107inc/bootstrap4/commit/85731e3551e5226f289bd144a7ebea57158249a1

1.  import demo content during theme installation is not always a good idea. Mainly because you don't get an error message if something fails and if required plugins are not installed, the import fails too.
You need to reinstall theme if you want i

[2019-07-10 12:08] Jimmi08 opened #3891 "comments in news return word Array"
php 5.6
latest github from 2.7.
pages works

![image](https://user-images.githubusercontent.com/5429548/60967912-1cda6f80-a31c-11e9-8a74-bd0a750f06d0.png)

no custom view news template, no  custom comment template

[2019-07-10 12:48] Moc commented on #3891
Confirmed

[2019-07-10 19:16] CaMer0n commented on #3891
hmm, I thought I fixed this already.

[2019-07-11 10:11] Moc commented on #3891
Hmmm, just updated again and cleared cache. Now it now longer appears. Seems fixed.

[2019-07-11 10:11] #3891 closed

[2019-07-11 10:31] Jimmi08 commented on #3891
Fixed.  No idea why I have to sync always 2x.

[2019-07-11 13:31] Jimmi08 opened #3892 "bootstrap 4 - look of dropdown button"
![image](https://user-images.githubusercontent.com/5429548/61055011-e3276880-a3f0-11e9-9ea2-8e7310b5dd9f.png)
Tested:
`e107::getForm()->button('test', $testarray ,'dropdown', 'LABEL' , array('align'=>'right','class'=>'btn-primary'));`

[2019-07-11 17:28] nesjett opened #3893 "indexes in plugin_sql.php"
Hello, seems that you cannot create indexes from this file (or I couldn't find a way)

Would be good and a great improvement for plugin developers to be able to configure table indexes for better performance.

Example of index creation for a plugin table in sql:
[code]

Thank you

[2019-07-11 20:28] Jimmi08 opened #3894 "breadcrumbs - problem with pages"
Reported by user with standard page template  (no chapter, single page)
Template without breadcrumb shortcode outputs:
[code]
In my case, only {CHAPTER_BREADCRUMB} is used.

Now confirmed with magic shortcode
For single page, output is only

[code]

For page with chapter, page breadcrumbs and magic breadcrumbs are correct.

[2019-07-11 20:31] Jimmi08 commented on #3893
you can use plugin_setup.php file  - see _blank plugin for inspiration
in plugin_sql.php you should have SQL for table with index already.

[2019-07-15 12:12] Jimmi08 opened #3895 "question - why this old code doesn't work?"
Normally, old shortcode way still works.
But now I hit on plugin what uses this way:

[code]

If this $tp->e_sc->parse_scbatch  is used only one time, everything works (of course global shortcodes are missing).
After second using, the result is:

![image](https://user-images.githubusercontent.com/5429548/61215195-61924c00-a70a-11e9-9675-3e2fad7720ce.png)

Thanks

[2019-07-16 17:08] Jimmi08 opened #3896 "bootstrap4 - social login icons"
It looks like this:

![image](https://user-images.githubusercontent.com/5429548/61314113-28d29f80-a7fc-11e9-9b8c-83fd565a0c9a.png)

Images are displayed because there is hardcoded test for fontawesome 4:

				`	$button = (defset('FONTAWESOME') === 4) ? $tp->toGlyph('fa-'.$ic, array('size'=>$size, 'fw'=>true)) : "<img class='e-tip' title='".$tp->lanVars(LAN_PLUGIN_SOCIAL_XUP_SIGNUP, $p)."' src='".e

[2019-07-17 19:32] Jimmi08 opened #3897 "question - how to load material icons in theme.xml"
This is only example from LZ theme:

[2019-07-18 04:12] LaocheXe opened #3898 "Feature Request: Polls in News"
I don't recall but when the Polls menu is enabled, and the forums is enabled, you could allow users to create individual polls in new forum post? Maybe extend that function to news post as well?

[2019-07-21 05:15] yesszus commented on #3872
Did you enter the youtube api key?

[2019-07-21 16:53] chory opened #3899 "Feature Request: URL SELF for SITE LINKS"
Please, a link of the type http://www.dominio.com/e107_plugins/pluginname/page.php, is not viable or attractive and very long to remember or share

[2019-07-23 08:25] Moc commented on #3810
@ithinkmatt It took a while but they have finally updated e107 to v2.2.1.
Closing this issue :)

[2019-07-23 08:25] #3810 closed

[2019-07-23 08:33] Moc commented on #3899
Check your URL configuration, there are already plenty of options for Search Engine Friendly URLs.

`Admin Area > Settings > URL configuration`.
If you  have selected friendly URLs there, you can use those in Sitelinks.

For plugins, you can make use of the `e_url.php` addon. Examples are in several plugins, including the `_blank` one. You can also check my Wrapper plugin for a simple example.

[2019-07-23 08:39] Moc commented on #3893
What happens when you use `INDEX (......)` within the CREATE TABLE statement in plugin_sql.php?

If you want to add it after the table already has been created, you need to use the setup file indeed: plugin_setup.php.

[2019-07-23 08:51] Moc commented on #3884
@lonalore knows most about this part of e107 :)

[2019-07-23 08:52] Moc commented on #3878
Is this still relevant with the latest changes in magic shortcodes and BS4?

[2019-07-23 08:54] Jimmi08 commented on #3878
It is. All breadcrumbs now use e107::getForm()->breadcrumb($bread) and there is no option to template output.

[2019-07-24 00:45] #3894 closed

[2019-07-24 00:50] CaMer0n commented on #3894
This has been corrected to it's previous output which is **null** when no chapter is in use.
However, the magic shortcode is a "universal breadcrumb" and the output should be:

[code]

[2019-07-24 18:15] chory commented on #3899
**Mod-rewrite is disabled. To enable, please add the following line to your e107_config.php file:**
Sorry, work fine

[2019-07-26 06:29] akogo1 opened #3901 "menumanager_class.php as malware"
The menu manager does not work because menumanager_class.php file can not be copied to the server.
info during copying:
menumanager_class.php {HEX}Malware.Expert.generic.eval.file.get.contents.1.UNOFFICIAL FOUND

[2019-07-26 10:59] Moc commented on #3901
This is because of the `eval()` method used in e107_handlers/menumanager_class.php
Rest assured, it is not malware, but it is indeed discouraged by PHP themselves to use the `eval()` method.

@CaMer0n Are there any alternatives?

[2019-07-26 19:53] chory commented on #3899
http://www.clan-toro.es/e107_plugins/clan/servidorSandstorm.php << Works OK
http://www.clan-toro.es/clan/sandstorm << it does not work

[2019-07-26 21:11] Moc commented on #3899
Several things to check:

- Make sure you have an .htaccess file that is the same contents as the e107.htaccess file on GitHub.

- Ask your hosting provider if mod rewrite is enabled.

- Add the code as instructed in the admin area, to your e107_config.php.

Ajax and jQuery are not likely to be related to this issue.

[2019-07-26 21:36] Jimmi08 commented on #3899
@Moc Ajax/ JS can be a problem.  with SEF-URL page URL is changed and if ajax or js use relative URLs, they will stop to work (or better they call the wrong path)
If you check the console, there are errors about this

![image](https://user-images.githubusercontent.com/5429548/61982665-c77dae00-affd-11e9-98d1-807cbb179168.png)

In fact, I think that I asked a similar question some years ago without

[2019-07-26 21:42] Jimmi08 commented on #3896
Funny, I came here to create the same issue.  Workaround: use FA 4 in theme.xml and load FA 5 in theme.php  or define 'FONTAWESOME' = 4 without using library.

[2019-07-26 22:04] chory commented on #3899
@Jimmi08 Yes, I have already seen the error.
I will have to look at how to solve it.
Thank you very much, if I find out I will share it.

[2019-07-26 22:14] LaocheXe commented on #3899
could it be an issue within the plugin e_url.php???

Maybe not coded right?

`class awards_url // plugin-folder + '_url'
{
	function config()
	{
		$config = array();

		$config['awards'] = array(
			'alias'         => 'awards',
			'regex'			=> '^{alias}(.*)$',
			'sef'			=> '{alias}/awards',
			'redirect'		=> '{e_PLUGIN}awards/awards.php'
		);

		return $config;
	}`

that would point to https://50

[2019-07-27 07:30] Jimmi08 commented on #3899
@LaocheXe
That example looks correct, but that line with` 'sef'	=> '{alias}/clan/'.$ClanName.'',` not.
Is this another plugin for clans?

[2019-07-27 08:54] Moc commented on #3899
@jimmi08 i understand, but as chory is getting a warning about mod rewrite in the admin area, I think it is more likely to be a server configuration or htaccess issue

[2019-07-27 09:26] Jimmi08 opened #3902 "noticed error in installation log"
[code]

Localhost, php 7.2, latest github,

[2019-07-27 09:43] LaocheXe commented on #3899
@Jimmi08 I don't know, was just giving an example of how I would do it

[2019-07-27 10:17] Jimmi08 commented on #3878
Next example:
if separator is done via css this way

[code]

workaround: style.css
solution:  template without separator

[2019-07-27 12:07] Jimmi08 opened #3903 "download plugin - loading templates for not bootstrap theme"
no legacy theme but theme without bootstrap defined

because of this test, only theme templates are not loaded

[code]

[2019-07-27 18:48] chory commented on #3899
@Moc The warning is fixed.
Now I have to look at how to make AJAX load the file it calls correctly.

[2019-07-27 20:13] chory commented on #3899
Solved

`class clan_url
{

	function config()
	{
		$config = array();

		$config['sandstorm'] = array(
			'regex'			=> '^sandstorm/?',
			'sef'			=> 'sandstorm',
			'redirect'		=> '{e_PLUGIN}clan/servidorSandstorm.php',
		);
// File called from {e_PLUGIN}clan/servidorSandstorm.php
		$config['ñaca'] = array(
		'regex'			=> '%C3%B1aca.php',
		'sef'			=> '%C3%B1aca.php',
		'redirect'		=> '{e_PLUGIN}c

[2019-07-27 21:45] Jimmi08 commented on #3899
So you added "e107 internal redirects" for ajax calls?  It's very bad name for this, it's not "redirect" but  you know what I mean.
If yes, I need to decide if this is terrific or brilliant :)

Hm, on second thoughts, easy and brilliant, you let on e107 SEF-URL system to "offer" content on different URL for ajax call.  I will test this when I will have time with old clanmembers plugins.  Thanks fo

[2019-07-27 22:12] chory commented on #3899
A pleasure to help with something

[2019-07-28 20:09] Jimmi08 opened #3904 "FR - to ability import image to more categories at once"

[2019-07-28 20:13] Jimmi08 opened #3905 "FR - to have the same rules for displaying images in media manager"
I used news and download plugins.  Image was added to both categories. Common images weren't displayed in download image.
In news  -  displaying image was correct, the latest image was on the first position.
In download - images have a different order and only way how to find image was by the filter.
Thanks

[2019-07-28 20:15] Jimmi08 opened #3906 "FR - fix to display thumbnail in download categories"
There is no resizing or thumbnail in read mode. If your images have different size, it looks really very bad.
![image](https://user-images.githubusercontent.com/5429548/62012314-23bf0a00-b185-11e9-814c-8e488e0a16ee.png)

[2019-07-29 02:58] mostym opened #3907 "Fatal error: Uncaught Error: Call to a member function query() on null in /var/www/domain.com/e107_handlers/e_db_pdo_class.php:224"
[code]

[2019-07-29 07:28] Moc commented on #3907
When exactly does this happen? I can see it is related to the userclass page, but do you click something specifically?

[2019-07-29 11:09] Jimmi08 opened #3908 "bbcodes and signature on signup page"
I can see that there is the template for signature textarea
[code]
`		$temp['signature'] 	= $BBCODE_TEMPLATE_SIGNATURE;`

But I have custom bbcodes with e_bb.php defined
I don't want to display those bbcodes on the signature field.

It's because using $BBCODE_TEMPLATE for them.
But in new version this is different template then $BBCODE_TEMPLATE_SIGNATURE.
Thanks

[2019-07-29 15:10] mostym commented on #3907
I created a custom page called /add

[2019-07-29 15:59] mostym opened #3909 "Uncaught Error: Call to a member function breadcrumb() on null in /var/www/domain.com/e107_plugins/download/handlers/download_class.php:576"
[code]

[2019-07-29 20:22] mostym opened #3910 "Filterable Download Keywords"
I would like to be able to filter download keywords.  I don't know if this is something that could be added to the current core of e107, however, I envision that this would benefit those in the community that need a robust way of filtering.

Keywords are usually singular/plural items when entered in the keywords field.  However, the idea I have is, is to make them like meta data.  Let's say I crea

[2019-07-29 20:23] Jimmi08 commented on #3909
Do you use github version? Latest?

[2019-07-29 20:28] Jimmi08 opened #3911 "problem with correct test for meta tags in header template"
In the header template there is test:

[code]
they return wrong value if e107::meta() is used (f.e. metatag plugin)

Singleton has values:
[code]

but metas are saved here:

[code]

So either is something wrong with metatag plugin, or with getMetaDescription(); method.

Thanks

[2019-07-29 20:40] mostym commented on #3909
Yes and Yes.

[2019-07-30 09:31] Jimmi08 opened #3912 "theme visibility filter problem with $"
On first look everything looked correct
![image](https://user-images.githubusercontent.com/5429548/62115782-4a7e5d00-b2b9-11e9-937a-1e37006d4513.png)
But I couldn't get it to work.

if I do this
` var_dump($kpage); print_a($kpage); `
result is:
![image](https://user-images.githubusercontent.com/5429548/62116443-76e6a900-b2ba-11e9-8546-dc5c43a893eb.png)

so I checked the database and there is value

[2019-07-30 09:50] Jimmi08 commented on #3912
Adding this line helped:  `$kpage = html_entity_decode($kpage, ENT_NOQUOTES, 'UTF-8');`

[2019-07-31 07:21] Jimmi08 commented on #3909
Confirmed.

[2019-08-01 10:47] akogo1 opened #3913 "Buttons with save and cancel option"
Is this a js scripts conflict? On each custom page appear buttons with save and cancel option. Links looks viewable but overlapped.

[2019-08-01 13:01] tgtje commented on #3913
Confirmed.; more info at http://e107help.org/4672/buttons-with-save-and-cancel-option

[2019-08-01 13:53] Moc commented on #2308
@Jimmi08 Can this one be closed?

[2019-08-01 13:57] #2308 closed

[2019-08-01 14:04] #2949 closed

[2019-08-01 14:05] Jimmi08 commented on #2860
@Moc I would close this one.

[2019-08-01 14:07] Jimmi08 commented on #1806
It can be solved with custom plugin, closing this,

[2019-08-01 14:10] Moc commented on #1806
I think this is a good addition in core, so keeping it open :)

[2019-08-02 10:49] Moc commented on #3910
I think keywords are interesting for downloads. I'm surprised they are not already there.

I am not too sure about the 'metatag'-like structure however. I don't think this would be a widely used feature. I think this could also be dealt with by a plugin, which extends the admin ui with another tab and hooks into the download core.

The use case for you sounds like you need additional custom fields

[2019-08-04 06:59] keuninckx opened #3914 "Problem with big blacklist"
When the blacklist contains several thousands of entries (in my case > 400,000), adding a new entry will cause the website to break down. Removing the file "banlist.php" located in  "../e107_system/../cache"brings the website back up.

[2019-08-04 10:08] gothicdude1044 opened #3915 "e107 port v1 plugins to current v2"
I found a plugin that shows the members user class. However i would like to see some way we can port v1 plugins over to v2

[2019-08-05 12:35] Moc commented on #3915
Hi,

This question is more suitable for e107help.org. Some contributors around here are working on porting over plugins to v2 standards. However, all v1 plugins should be functional (to the most extent) on v2.

You can find our regular contributors on Gitter as well: https://gitter.im/e107inc/e107

[2019-08-05 12:35] #3915 closed

[2019-08-05 19:31] chory opened #3916 "[Feature] publication collaborators"
Allow the creator of a publication, indicate that collaborators can modify it.
This feature would be when a user is going to be absent, to be able to select other users, to keep an updated publication, or so that several users can keep it updated.

[2019-08-06 08:29] sudakk opened #3917 "chapter_meta_keywords is missing in page.php"
In function listChapters($book=1)
[code]
Must be:
[code]
in function listPages($chapt=0)
[code]
Must be:
[code]

[2019-08-06 09:05] Moc commented on #3916
Sounds like an interesting idea. Are your refering to the pages/menus functionality?

[2019-08-06 14:44] LaocheXe opened #3918 "Question: Custom Plugin Search"
Plugin Manager generated Admin Area for a custom plugin - I've gone through the code and see no where how to search/filter the details on the page.

I got plugin that has a  few things like (user_id (but shows user_name)), unit id number, rank, etc... I can't search for user names, if I search their unit id number - it displays.

Basically I'd like to expand the functionality of the search, to inc

[2019-08-06 18:39] #3741 closed

[2019-08-07 19:22] chory commented on #3916
I refer to the forums mainly, but it could be applied to other sections.
For example, if it is a download website, the creator of a publication of a television series, at a given time, cannot continue with the publication, it could delegate to another user to continue with the task.

[2019-08-08 11:08] Moc commented on #3918
Is it this plugin? https://github.com/LaocheXe/RSystems?

[2019-08-08 11:10] Moc commented on #3917
Thank you, pull-request welcome :)

[2019-08-08 11:14] Moc commented on #3916
Hmm this may be trickier than expected, and also different for various sections. Ideally, you'd use userclasses or userclass groups for all of the sections.

For the download plugin, you could give someone admin access to the download plugin specifically but then that person would be able to edit all downloads.

For the forum you'd be dealing with forum categories vs individual forum topics.

Woul

[2019-08-08 12:09] Moc commented on #3912
Confirmed

[2019-08-08 16:58] chory commented on #3916
For the forum it could be used as for books / chapters, with the field 'Can be edited by' for books / chapters, the idea would be to have this feature in the main thread.

[2019-08-08 17:36] LaocheXe commented on #3918
Yes it  is - Admin Area > Roster System > Service Records - Add some  records, then try to search user name, or others.

[2019-08-09 08:09] lonalore commented on #3884
e107 core will call attached behaviors when the DOM (the object representation of the HTML) is fully loaded, passing in two arguments:
- **context:** which contains the DOM.
- **settings:** which contains all the settings injected server side

You can find many exampe usages here:
https://github.com/e107inc/e107/blob/master/e107_web/js/core/all.jquery.js

For example:
[code]

[2019-08-10 21:30] Jimmi08 commented on #3916
Isn't easier to change creator to someone new?
Classes are the correct solution.  And the forum already has moderators.
Sorry, I don't understand fully what is the goal.

[2019-08-11 00:16] chory commented on #3916
The goal is for any user to decide that another user can help them maintain / update a topic in a forum, without the need for that user to be an administrator / moderator on the web.
Because he is absent, or simply because he cannot update it personally.
I am making a website, to offer information about my city.
My intention is to make a section so that the different cultural / sports / recreation

[2019-08-11 09:59] akogo1 opened #3919 "Formatting the signature in the user profile"
When wysiwyg editor is enabled, user cannot format the signature in his profile. Bold, italics etc. don't work. Everything is ok when using html tags.

e107 2.2.2 git

[2019-08-11 10:01] Jimmi08 commented on #3916
Thank you, good luck with this.  I don't know a forum system that allows this.
PS. In my former work, we used for this user system based on roles. So there was a special user 'association_manager_01' _02 etc, which post and edit that information for one association. If they quick (be ill), the password was changed and access was given to another user.  So one user has access to 2 users account. Hi

[2019-08-11 10:19] akogo1 opened #3920 "Users searching in the admin panel"
User search don't work in the admin panel. I can't find a user. I put a nickname, email, ip etc. and nothing, no results...

[2019-08-11 10:33] chory commented on #3916
Yes, something like that I had done on another website, and it seems a bit "chaotic" to have to modify privileges, for something specific.
I find it more "simple", less complicated, and a way of not burdening administrators with work, that one user can delegate to another to do a task.
After all, it is as it is done in real life among people, "I designate You to help me with this task, or replace

[2019-08-11 10:38] Jimmi08 commented on #3919
https://github.com/e107inc/e107/issues/3540

[2019-08-12 07:29] Moc commented on #3920
Are you using the latest e107 version?
Which PHP version are you using?

So you get the "No Records Found" message right? Even when you type just two letters in the search bar (first two letters of your username for example?)

[2019-08-12 07:30] Moc commented on #3919
Closing in favour of #3540

[2019-08-12 07:30] #3919 closed

[2019-08-12 09:58] akogo1 commented on #3920
Latest e107 - 2.2.2 git
PHP 5.3
![screenshot-blueknights6 pl-2019 08 12-11_55_14](https://user-images.githubusercontent.com/3391851/62857642-70175780-bcf8-11e9-82f4-2e628b647814.png)

![screenshot-blueknights6 pl-2019 08 12-11_56_02](https://user-images.githubusercontent.com/3391851/62857655-786f9280-bcf8-11e9-973f-a3a0e8d52c09.png)

[2019-08-12 10:09] Moc commented on #3920
And your MySQL info?  (`/e107_admin/phpinfo.php`)
Version, using PDO or not, and mode

[2019-08-12 10:14] akogo1 commented on #3920
MySQL - 5.6.36
PDO: Enabled
Mode: NO_ENGINE_SUBSTITUTION

[2019-08-12 12:04] Jimmi08 commented on #3920
I can't confirm this, but I use extended fields. Tested 7.0 latest github and 5.6 github 2.2.2. from - who knows, there is no date.

Set debug on `[debug=showsql+]` and check sql query;
![image](https://user-images.githubusercontent.com/5429548/62863684-d8bb0000-bd09-11e9-9e85-264e6a60811a.png)

[2019-08-12 12:12] akogo1 commented on #3920
I have this result

![screenshot-blueknights6 pl-2019 08 12-14_10_50](https://user-images.githubusercontent.com/3391851/62864110-22f0b100-bd0b-11e9-9c0a-221f4163b656.png)

[2019-08-12 12:22] Jimmi08 commented on #3920
@akogo1 After insert name in searching box?

[2019-08-12 12:26] akogo1 commented on #3920
Yes, user search engine finds nothing :/

[2019-08-12 12:38] Jimmi08 commented on #3920
@akogo1 Could you do some test?
Add birthday as extended field, try search.
If nothing, add it to list form (like on my picture - with right option button) and try.
Oh, and check your URL, this should work too:
e107_admin/users.php?searchquery=yourtext

[2019-08-12 12:58] Moc commented on #3920
@akogo1 Does this issue occur only in the Users area, or also other areas using the Admin UI?

[2019-08-12 13:14] akogo1 commented on #3920
So on quickly... Now I can see that the search only works properly in news section. Welcome message, pages/menus, media searching don't work.

[2019-08-12 13:16] Moc commented on #3920
@akogo1 That makes sense. The areas in which your search is not working, are using the Admin UI. So I suspect there's something wrong in the Admin UI handler or the MySQL/PDO class.

@CaMer0n Any ideas?

[2019-08-12 13:27] Jimmi08 commented on #3909
@Moc
this issue is related to theme changes.

there is code:
[code]
$sc->breadcrumb(); was added without testing if $sc is empty or not like on lines bellow.

it is this commit:
https://github.com/e107inc/e107/commit/1d311ff543f4ee0ea614386bb7e290a5557c61a2

maybe there should be just test if it's empty or instead of $sc use $this.

[2019-08-12 13:31] Jimmi08 commented on #3846
@Moc this should be marked as documentation, it is not the issue (bootstrap3 is admin theme, so it's work), for any other theme with config file second calling is needed to use.

[2019-08-12 13:37] Jimmi08 commented on #3195
@Moc I would close this or move milestone far far away.  I was asking this and I don't need it anymore. Plugin global shortcodes are enough for me.

[2019-08-12 20:19] sparuj opened #3921 "change password and email after typing old password"
Hello everyone!

Just a quick question.
I've been searching in the admin panel for this option and can't seem to find it. After a quick "investigation" I came to the understanding that in no version of e107 this has been added.
Would this be added in future releases?
I really think that it is more or less essential for password security.

Cheers!

[2019-08-13 05:52] mostym commented on #3907
Removing the following makes the page load.  However, this is not the desired result.  I need this logic to only allow a specific user class access to this page.  Any help would be appreciated.  Thanks!

[code]

[2019-08-15 13:06] LaocheXe opened #3922 "Feature Request: Admin Area Templates"
Would like to see templates for the admin areas - Kinda like how the theme custom templates are used.

Example: Admin Area > Users
![Annotation 2019-08-15 080311](https://user-images.githubusercontent.com/5818022/63096316-45fda980-bf33-11e9-9f87-add21b2ce80b.png)

I would add Forum Post - which would add how many forum post a user has made.

(I know you can go to the user profile  to see that info

[2019-08-15 14:03] Moc commented on #3922
Answered this in Gitter already. You can use the `e_admin` addon to extend the Admin UI functionality to add this.

However, the feature request may be to have an option to display user extended fields in there as well.

[2019-08-15 19:33] LaocheXe opened #3923 "Issue: Having Same Multiple Display Names"
For one site, I have social plugin enabled, and set up where users use it to login (so they don't need to make an account). I use the Steam method, and multiple people can have the same display name.

Notice that when some one tries to login that has the same display name as someone else - they cant login, with no error on the reason why (logs in the failed login attempts, but doesn't really give

[2019-08-16 09:51] Jimmi08 commented on #3922
Maybe better FR is to display **user forum posts between extended fields**. Your version for FR is already there.
![image](https://user-images.githubusercontent.com/5429548/63159478-f050fc00-c01b-11e9-8929-685a283bfe7e.png)

[2019-08-16 18:26] fsLeg opened #3924 "How do I set navcount for NEXTPREV shortcode?"
I'm still working on my theme and now I encountered another issue: pagination is too long. It gives access to the first page, previous page, 10 adjacent pages, next page and the last page. And all of that doesn't fit the screen of a mobile device, so it either looks weird or stretches the screen.

After a lot of digging I found what I was looking for: NEXTPREV shortcode. Or, rather, its parameters

[2019-08-17 15:19] Jimmi08 commented on #3924
Maybe this helps you.
https://www.e107sk.com/knowledge_base/example-of-using-pagination/?content.84

Check nextprev single shorcode to get idea.

[2019-08-17 15:39] fsLeg commented on #3924
@Jimmi08 Nope, I already knew that by checking nextprev.php. What I was looking for is a way of setting `navcount` in the `$parms` of existing plugins, specifically news, which, according to your link, has "wrong" pagination.

After reading more closely, it turns out `navcount` is undocumented and it does exactly what I need: limits amount of adjacent pages available for navigation. So, there's th

[2019-08-17 15:42] Jimmi08 commented on #3924
I learnt something new :)
` * - navcount (integer) [optional]: number of navigation items to be shown, minimal allowed value is 4, default is 10`

there are examples:
	$parms = "total={$thread->pages}&type=page&current={$thread->page}&url=".urlencode($url)."&caption=off&tmpl=default&navcount=4&glyphs=1";

[2019-08-17 15:43] fsLeg commented on #3924
@Jimmi08 Yes. And my question is, how do I set it for news?

[2019-08-17 15:45] Jimmi08 commented on #3924
According this:
`		$nitems 	= defined('NEWS_NEXTPREV_NAVCOUNT') ? '&navcount='.NEWS_NEXTPREV_NAVCOUNT : '' ;`

define it in your theme. Not tested. I need to add this to docs, I never noticed this.

[2019-08-17 15:50] Jimmi08 commented on #3924
`define('NEWS_NEXTPREV_NAVCOUNT', 	6);`
it works
![image](https://user-images.githubusercontent.com/5429548/63214346-71d98480-c117-11e9-8c5e-d5fbfbf3a25e.png)

[2019-08-17 15:52] fsLeg commented on #3924
Thank you! That what I was looking for. I had no idea define() existed and how to use it.

[2019-08-17 15:52] #3924 closed

[2019-08-17 16:05] Jimmi08 commented on #3924
Neither me. Added to constants list.

[2019-08-17 16:12] fsLeg commented on #3924
It's not necessary to define the constant in theme.php, I defined it in a template (news_template.php, to be exact) and it works too while keeping theme.php cleaner.

Also, it you're looking to adding more parameters, here's a bunch straight from nextprev.php:

[code]

[2019-08-17 17:58] Jimmi08 commented on #3924
Yes, I know.  But constants should be defined in theme.php, not template file. The template file can be loaded more times and you get php warning that constant is already defined.  Yes, you can test this to avoid this warning, but I still think that this shouldn't be in template. But it's on you.

[2019-08-18 13:17] fsLeg opened #3925 "Private Message title setting doesn't seem to do anything"
Today, a friend of mine who came up with a theme I'm working on asked if I could change pm_menu's title. Apparently, I could, as there's a field just for that in admin panel.
![image](https://user-images.githubusercontent.com/9852210/63224855-defe2000-c1d2-11e9-82a3-6086b7e99dbd.png)

Or so I thought, because changing the field does absolutely nothing, menu's title (the one tablestyle() sees as $c

[2019-08-18 21:13] fsLeg opened #3926 "onclick attribute gets stripped when last"
While editing one of my severely outdated pages I noticed one extremely annoying behavior: onclick attribute gets stripped if it's the last attribute of a tag.

Example of stripping (add this code to a page and save):
[code]

Example of not stripping:
[code]

Considering that a lot of my links on certain pages are in form of buttons that rely on onclick attribute, quite a lot of information was lo

[2019-08-19 07:08] Jimmi08 opened #3927 "alt parameter for img tag is stripped in tinymce"
I can't use in tinymce this code:

[img width=200 alt="title"]imagepath[/img]

alt is stripped although I can see it's a parameter for img BBCode

[code]
**To use caption field for image is useless.**
It's still don't insert caption as alt attribute for image and alt has value = file name. And it adds not needed tags.

If you use image description, it's stripped too and alt tag has file name value

[2019-08-19 08:40] Jimmi08 commented on #3925
Yes, you are right.  And there is not used PMLAN_PM value used too.
Quick fix:

replace

`$ns->tablerender(LAN_PM, $txt, 'pm');`

with

[code]

[2019-08-19 22:39] sparuj opened #3928 "Can't create a download link"
Hello everyone!

I am currently updating from v1.4 to v2.2.1 and when I install the download plugin and submitting a new download link it redirects me to the Manage field. In addition I cannot see my already created (in v1.4) links in Manage.

I tried going to Admin Area > Settings > URL Configuration > Default, Friendly but it says:

Error
Table: download
3  SEF URLs were NOT updated.
Table: down

[2019-08-19 23:07] #3928 closed

[2019-08-20 08:29] Jimmi08 opened #3929 "gsitemap and e_module"
Hi,
shouldn't be e_module from gsitemap plugin removed?

News has its own ping solution and blogsearch.google.com doesn't work anymore.

Thanks

[2019-08-20 10:22] akogo1 opened #3930 "Forum quickreply lan bug"
In this part of the view_shortcodes.php file should be lan LAN_FORUM_2007 instead LAN_FORUM_2006.

`<div class='center text-center form-group'>
							<input type='submit' data-token='" . e_TOKEN . "' data-forum-insert='" . $ajaxInsert . "' data-forum-post='" . $this->var['thread_forum_id'] . "' data-forum-thread='" . $this->var['thread_id'] . "' data-forum-action='quickreply' name='reply' value='

[2019-08-20 19:32] CaMer0n commented on #3927
@Jimmi08 Did you try [img width=200 alt=title]imagepath[/img] ? (ie. without the quotes)

[2019-08-20 19:35] CaMer0n commented on #3923
@LaocheXe Maybe I can improve the failed-login info so we can find out the exact cause.

[2019-08-20 19:51] Jimmi08 commented on #3927
`[img width=200 alt=GSitemap plugin]xx[/img]`

I inserted it via source code. Ok for close Source code window. Reopen and no alt there. It's stripped before saving.

[2019-08-20 22:03] LaocheXe commented on #3923
@CaMer0n that would be awesome! However, it comes back to allowing multiple people to use the same display name (maybe an option that allows it for social plugin)?

[2019-08-21 14:03] Jimmi08 opened #3931 "seach menu and bootstrap4 - for discussion"
Group inputs have different markup in BT4

This is the working code:

[code]

there is no inline class with form tag too

before fix
![image](https://user-images.githubusercontent.com/5429548/63438482-a6598300-c42c-11e9-9cc0-32f936f75f2f.png)

after fix:
![image](https://user-images.githubusercontent.com/5429548/63438430-90e45900-c42c-11e9-9469-9a839506b114.png)

with theme that styles form a bit

[2019-08-21 19:39] Jimmi08 opened #3932 "FR - menu manager versus HTML layouts"
There is a small limitation for Menu Manager now because it parses only {MENU=x} in theme.html and _layout.html files.

Now you can have different footer per layout very easy, so it's easier now. But there can exist a more complicated theme where you need to change footer or header on the fly or by extended functionality.  But if they have menu areas (footers mainly), they are not displayed in Men

[2019-08-21 23:22] sparuj opened #3933 "Where is the .css for define("BOOTSTRAP", 3); located?"
Hello everyone!

Can someone please tell me where the .css for
`define("BOOTSTRAP", 	3);`
`e107::library('load', 'bootstrap');`

in 107_theme/TEMPLATENAME/theme.php is located? I just can't seem to find it.

I'm trying to edit my custom theme from 1.4 version and without these two lines for example when I try to register a new user and if I enter already existing username/email an error message po

[2019-08-22 11:09] Jimmi08 commented on #3933
Settings / Libraries
define("BOOTSTRAP", 3);  - this has nothing with css, only with templates and html markup
e107::library('load', 'bootstrap'); - you can deleted it. New way is set to set in xml file. Or load with e107::css from CDN or from theme folder.

Here:  (you have probably only icons in main menu, not titles)
![image](https://user-images.githubusercontent.com/5429548/63509821-66060d80-c

[2019-08-22 14:36] sparuj commented on #3933
Thank you for responding!

The thing is, when I delete `e107::library('load', 'bootstrap');` from my theme for example on signup.php when I enter a duplicate username an error pops out in the upper part of the screen. That's okay. However when I click close on the popup it redirects me to the signup page, but my text turns white and it gets bigger. In addition when I try to post a reply on the for

[2019-08-22 14:55] Jimmi08 commented on #3933
You have something else wrong.  Do you updating old theme? What e107 version do you use? Upload your theme to your repository to see what us wrong. No core files shouldnt be changed.

[2019-08-22 15:51] sparuj commented on #3933
I updated from e107 v1.4 to v2.2.1 and I'm currently editing a theme that I used in 1.4.

[2019-08-22 18:26] sparuj commented on #3933
It seems that I've found a solution to this, however I feel that it isn't the correct one, but it works. No idea how I did it tho. :D

Thank you for taking time to help!

[2019-08-22 18:26] #3933 closed

[2019-08-22 21:03] Jimmi08 commented on #3933
You can look at core, khatru or Nightvision themes, they were updated from 1.0.4 versions. Of course, now I would do it a different way, but they still work. And there is Blackv2 theme in my repositories, next example.  And you always can ask on my site forum. Oh, and RideBlue, of course. It's the best one :)

[2019-08-22 21:29] #3932 closed

[2019-08-22 21:30] CaMer0n commented on #3932
Modify `bootstrap4/theme_shortcodes.php` , method:  `sc_footer()` to test.

[2019-08-22 21:36] CaMer0n commented on #3912
@Jimmi08 Please re-test and open again if necessary. Thank you.

[2019-08-22 21:52] #3909 closed

[2019-08-22 21:52] CaMer0n commented on #3909
@mostym @Jimmi08 Please test and re-open if necessary. Thanks.

[2019-08-23 06:50] Jimmi08 opened #3934 "FR - using shortcode MENUAREA instead MENU"
Using {MENU=9} is very confusing for new users.  {MENUAREA=9} is better term.

this issue is for this change
https://github.com/e107inc/e107/commit/68e4fd7d03421827a1e9b7687c830e65faa696f7

Tested with boostrap4  theme

It doesn't work if {MENUAREA} is used in _layout.html file.
It works if {MENUAREA} is in theme.html

The reason is that parseheader() in footer_default.php needs a single shortcode

[2019-08-23 07:01] Knezzen commented on #3496
How far into the future is a fix planned for this? Just wondering if it's in the roadmap for the next few releases or so.

[2019-08-23 11:45] Moc commented on #3496
I'll start working on this early september. Shouldn't be too hard :) *says hopefully*

[2019-08-23 16:56] akogo1 commented on #3913
Links on every custom page don't work properly. Where can I find a solution to this bug?

[2019-08-24 11:04] Jimmi08 commented on #3913
It's because of sidebar.  This functionality was probably planned/tested with full page layout.

Try this:
[code]

[2019-08-25 07:24] Jimmi08 opened #3936 "fatal error with boolean admin UI after using batch option"
Boolean field defined this way:

[code]
Set yes / no on modify Active is working
There 20 records on one page
After using Invert batch option:

`Fatal error: Uncaught ArgumentCountError: Too few arguments to function e_admin_ui::handleListBoolreverseBatch(), 2 passed in xxx\e107_handlers\admin_ui.php on line 3444 and exactly 3 expected in xxx\e107_handlers\admin_ui.php:5329 Stack trace: #0 xxx\e10