[2015-12-13 10:59] Moc commented on #1211
@CaMer0n I'll try this asap but I don't think this is the issue.

I just browser the admin area just fine, edited some settings. Then switched to another tab and worked for a few minutes (less than 24 minutes - 1440 seconds - for sure, maybe 5 minutes max). Then I went to Sync with Github (Tools > Database) and it suddenly threw me back to the index page and I was logged out.

[2015-12-13 11:20] CaMer0n commented on #1211
Thanks @Moc. I understand. Is this happening on Linux or Windows for you?

[2015-12-13 12:24] Moc commented on #1211
At the moment Linux but I think I experienced it on Windows as well.

[2015-12-14 09:35] lonalore commented on #1269
Yes, everything works fine with default config, but I tried to set additional cache rules to improve performance.

[2015-12-14 13:50] willem010 commented on #1211
@moc  i just noticed my site keeps logging me off, just when i set Redirect all requests to site URL
when turned off, the problem isnt as bad.

[2015-12-14 14:22] Moc commented on #1211
@willem010  'Redirect all requests to site URL' is turned off on my websites.

[2015-12-14 14:56] willem010 commented on #1211
.. ever since i checked that one, i cant stay logged on.
i turned it back off, but it keeps doing this now.
damn.

[2015-12-14 15:01] pricey1981 commented on #1245
@Moc , sorry, only just seen your post. No, I didn't not try Cameron's suggestion as I am getting the error when the form has been open for only a very short period of time, e.g. less than one minute.

As I said above session.save_path is set to /tmp, which is in the non-public root, and this folder exists and is writable.

[2015-12-14 15:03] willem010 commented on #1211
omg omg.. i am an ass.. lol..
solved it, by entering the correct url in the site url box.
(it was set to / , which came from my development environment..)
now everything seems ok again. still logged on after 4 mins..
as always .. will keep u posted.

[2015-12-16 08:04] pricey1981 opened #1274 "Error uploading user photograph"
Getting the following error when uploading a photograph on the usersettings page

Fatal error: Call to undefined function exif_imagetype() in /home/uknetrun/public_html/e107_handlers/upload_handler.php on line 565

[2015-12-16 17:18] Moc commented on #1274
This is because the upload handler has been rewritten to fix bugs, add more functionalities and increase performance (commit https://github.com/e107inc/e107/commit/af5ca367e80412a0860ff5a263d985df1a09be08). As a result, your webhosting provider needs to have the EXIF extension enabled.

This is part of the regular server configurations on most hosting platforms but apparently not on yours. You'll

[2015-12-16 17:20] Moc commented on #1222
@OTroccaz Can you please provide step by step instructions to reproduce this issue?

[2015-12-16 17:21] Moc commented on #1250
@ronaldocb Please update from github and see if the issue persists. If it does, please let me know and I'll reopen. Closing this issue for now.

[2015-12-16 17:21] #1250 closed

[2015-12-17 07:51] pricey1981 commented on #1274
thanks for this, investing with my host now

[2015-12-17 07:51] #1274 closed

[2015-12-17 08:07] OTroccaz commented on #1222
When I create an article or a page > e107 will give it today's date after backup (17/12/2015 for example). If I edit it, after backup, the creation date will be lost one month (17/11/2015). If I change it again and save it again, the creation date will have still lost one month (17/10/2015). And so on...
Actually, I have commented the line 736 in date_handler.php ($vals['tm_mon'] -= 1;) and everyt

[2015-12-17 20:52] septor commented on #1267
@CaMer0n Sorry it took so long to reply, I forgot about this!

Yeah, I could. But for reasons mentioned above I don't see the point in adding it to each plugin I want to use it on. It could cause conflicts or make me have to work harder to check if it's already loaded.

I think I'm going to just throw together a quick plugin that loads the required file, then just add an if/else clause to my stuff

[2015-12-19 12:13] Jimmi08 opened #1276 "How to... add divider in admin menu in new admin UI"
It's just triviality, for saving time.

To add divider (line) to divide menu parts:
![image](https://cloud.githubusercontent.com/assets/5429548/11912904/1ecd5156-a652-11e5-86ee-2d345634ee6d.png)

[code]

[2015-12-20 22:32] LaocheXe commented on #1262
Have them check the junk mail, not to sure, right now I am running into an weird 500 error for user sing-ups

[2015-12-20 22:48] LaocheXe opened #1277 "Bug: Sign Up/500 Error/Subscribe Required"
URL: http://the63ar.x10host.com/
Bug: After filling out user registration form, hitting submit button the user ends up getting 500 Error
URL that the error happens on: http://the63ar.x10host.com/signup.php

PHP Version 5.5.30
PHP Warnings - allow_url_fopen: If you have Curl enabled, you should consider disabling this feature. and expose_php: Disabling this will hide your PHP version from browsers.

[2015-12-21 22:23] Moc commented on #1196
I consider this a bug as the dependencies should already be checked by the XmlDependencies() method in plugin_class.php. Apparently this is not functioning as intended at the moment.

[2015-12-21 22:35] Moc commented on #1277
Please check the HTTP apache error log as 500 errors provide further information in that log. This way it's easier to find out what's causing the error. Consult with your hosting provider if you don't know where your apache error log files are located.

[2015-12-21 22:37] Moc commented on #1262
As @LaocheXe, make sure that the email did not end up in the spam folder.

If that's not the case, I'd suggest changing the email method settings to smtp (Preferences > Email & Contact). Check with your hosting provider if you don't know the SMTP information to fill in.

[2015-12-22 08:07] lonalore commented on #1267
Well, (in my opinion) the best solution would be if it were possible to define new field types by third-party plugins, then these field types were available from the core e107::getForm(). So, in my opinion, e107 should provide a solution for the expansion of the methods in e_form class, e.g. with addon file (e_fields or e_form).

@CaMer0n This would be feasible?

[2015-12-22 16:08] willem010 opened #1278 "feature request : autoblock known vunarabilities for various cms systems."
It would be great if there is a way to enter known vulnerabilities for various cms systems, like people searching for wordpress hacks / patched e107 hacks etc. on my sites.

currently my server log shows a lot of attempts to a known xmlrpc.php wordpress hack, or attempts to find login pages etc for wordpres and joomla.

it would be great if those #$@@#! beep #@$@# are added to the blocklist automa

[2015-12-22 23:24] LaocheXe commented on #1278
http://www.spambotsecurity.com/zbblock.php

[2015-12-22 23:51] LaocheXe commented on #1277
Sadly that host provider doesn't like to show the errors - was able to re-create the issue on my main site (blank page - no 500 error (even had e107 debugger enable and nothing)), error:

[Tue Dec 22 18:42:54 2015] [error] [client X.X.X.X] File does not exist: /home/clancoy1/public_html/defiantz/404.shtml, referer: http://defiantz.org/e107_admin/users.php?searchquery=&filter_options=user_ban__2
[T

[2015-12-23 10:37] CaMer0n commented on #1277
is .htaccess correct? (using the data from e107.htaccess) ?

[2015-12-23 16:07] Moc commented on #1278
This is outside of the scope of the core. There are tools such as zbblock as posted above to help you out. There are plenty of proper blacklists already (google for 5G blacklist for example - it's quite effective I can say from experience, you'll found more tools on their website).

I don't think this will be included as it will also need continuous maintenace to check the quality of the blacklist

[2015-12-23 16:14] willem010 commented on #1278
cool. thanks for the tips. i will look into it later on.

[2015-12-23 16:24] tgtje commented on #1278
Just as comment for the readers that are unaware of the import function for blacklists in v2 : it is available (members/ban)...

[2015-12-23 16:34] willem010 commented on #1278
so the second part of my request actually already exists
haha .. thnx @tgtje
totally missed that one.

[2015-12-23 17:04] Batatafrita opened #1279 "Plugin Forum"
Forum plugin the option to move the topic of a forum to another forum does not work or not exist!

[2015-12-23 17:09] Batatafrita opened #1280 "feature request for forum plugin"
In the future it is possible that the publications of forums and topics were listed from newest to oldest ?

[2015-12-24 08:02] #1278 closed

[2015-12-24 10:55] willem010 opened #1281 "quick question about image uri"
first of all.. i would like to take this opportunity to wish you all happy holidays
and thank you for all the hard word you guys do!

I noticed in the admin section (plus og:images) a direct url to the images is being used.
no thumb.php, but a link to the image folder in the hash folder. (revealing the hash to the outside.)

we found this because my admin tried to disable php in the root of the me

[2015-12-24 16:40] septor opened #1282 "[Request/Issue] User Extended Items Need Updated"
As I'm writing a new plugin (Demograph) that utilizes the user_extended table (and fields) I've noticed a few issues/errors that should be corrected. This list could get updated if I encounter more things.

Note: These are not being brought up because my code isn't working, or because they don't work as they are now, but because they are wrong and complicate things more than they should.

1. `user

[2015-12-26 13:29] nesjett opened #1283 "[Documentation needed] Help with uploaded images and thumb.php"
Hi, I just added image uploading (extracted from submitnews.php) to a plugin, Im uploading this images to e_MEDIA/plugins/plugin-name/ (I´m not sure if its the best place, please, point me on the right way if not) but now, I dont know how to use thumb.php to print those images (cause I dont want people to see the real path to the image directory, which looks like e107_media/77e5b4o/plugins/plugin-

[2015-12-26 20:28] willem010 commented on #1283
i think you just can use thumb.php?src={e_MEDIA_IMAGE}/plugins/pluginname/image.jpg&w=400
i found you have to specify at least width for it to render an image.
in html you can use img src="{e_BASE}thumb.php?src={e_MEDIA_IMAGE}..... "

[2015-12-26 20:50] willem010 commented on #1254
i now do know some of these issues are caused by ownership and permissions.
my server is not using the same accounts for ftp and www. creating issues where e107 does not own certain folders and cant change file attributes in there..
(which in some cases is annoying, files created by e107 cannot be changed by ftp user and vise versa )

i do not think the database issues mentioned here were caused b

[2015-12-26 21:10] willem010 commented on #1245
i just ran into this issue again where i got unauthorized acces when trying to edit an (very old) news item. as soon as i tried to save an edit i was thrown out with unaut. acces
i was unable to save the item in any way.

the body text had an old image in there which didn't exist at that url, and i was trying to get that edited  but i wasnt allowed.
any changes to this news item threw an error. no

[2015-12-27 01:34] CaMer0n commented on #1245
Thank you @willem010 - this is a good clue!

[2015-12-27 10:16] Jimmi08 commented on #1283
You could try to find this somewhere (fe. gallery plugin):
```$att 		= 'aw='.$w.'&ah='.$h.'&x=1'; // 'aw=190&ah=150';```
```e107::getParser()->thumbUrl($this->var['media_cat_image'],$att); ```
But how you were able to use custom folder in e_MEDIA...  does your uploading really work? I wasn't able to get this work with new Admin UI.

[2015-12-27 10:41] Jimmi08 opened #1284 "How to... add plugin menu in theme.php"
There is missing part in documentation about using this. It can be really helpfull when you are developing new theme, it saves time without using menu manager.
http://e107.org/developer-manual/theme-basics#core-shortcodes

`{MENU=your_plugin_name/your_menu_name}`
 example:
`{MENU=clock_menu/clock}`

[2015-12-29 12:58] OTroccaz commented on #1262
The parameters are already set to SMTP and the test procedure is working.

[2015-12-29 15:36] mcpeace-maw opened #1285 "User settings"
If you go to user settings and try to change the avatar, when you click on the default avatar image to change the avatar, an empty space is expanding under it and no avatar images. Checked with core bootstrap theme and is the same.

[2015-12-29 16:35] mcpeace-maw commented on #1285
Strange thing, after some time I opened again admin area and a notification ask for database update. After update, user setting avatar it works OK, I see the avatars for e107_images/avatars folder now. So I think it is works. Maybe someone will check also.

[2015-12-29 18:14] Jimmi08 opened #1286 "How to... admin UI and SEF URL field"
If you need SEF URL field (when you create your plugin) and you want:
- to have generated this field from f.e. title
- to have unique text for this field

 ```your_sef_url_field ```
```your_field_for_default - title, name, any text field that are used if you left empty field   ```
```your_table - table, you need to be your SEFURL unigue  ```
```your_id_field - field, that is primary key```

[code]

[2015-12-29 21:07] Moc commented on #1285
https://github.com/e107inc/e107/issues/543

[2015-12-30 12:10] realG opened #1287 "Problems with SSL"
Hi, I'm having issues getting SSL to play nicely with e107. If I enable SSL in the preferences, set my site url as https://mysite.com and turn on redirects, I get a Redirect Loop error.

I've tried leaving these settings alone and just forcing SSL through rewrite rules in .htaccess, and this seems to work ok, but I lose the ability to change any settings through the admin panel for some bizarre re

[2015-12-30 14:10] tgtje commented on #1287
Comment : Used ssl a long time ago, but always used a single /  for site url and redirection off ( had no issues)  ( / how strange in this case.... would stand for ht*p and NOT for ht*pS)  Try.. (htaccess not used as redirector).

[2015-12-30 16:45] realG commented on #1287
I have tried just turning SSL on in the preferences, and leaving site url default (/) and redirection off, but that also results in a Redirect Loop.

The only documentation about SSL use with e107 seems to be on the old v0.7 wiki, and that suggests to manually set site url to https://mysite.com and turn on redirection when turning on SSL in the preferences... I'm not sure whether that's still the

[2015-12-30 21:01] Moc commented on #1287
Interesting one. Not sure. I've assigned Cameron to this issue, hoping that he knows something about it :)

[2015-12-31 09:32] nesjett commented on #1283
Thank you guys, I´ve already tried to find this out on news, without good results, Ill take a look to the gallery plugin.

Thanks for the snippet Jimmi, Ill start testing with this.

[2016-01-02 22:28] Jimmi08 opened #1288 "missing active class with active item in first level of navigation"
Hi, maybe just question. Is this intention or not?
Active item has no active class.  You need to copy template to theme and add class to be able styling active link. Thanks.

![image](https://cloud.githubusercontent.com/assets/5429548/12076338/11f4f2f2-b1a8-11e5-9525-5bc240f0279c.png)

[2016-01-06 11:01] lonalore commented on #748
In recent days, we published the new "e107 Hungary" website to provide support for hungarian e107 users. Several people have indicated to us that it is impossible to signup with using Chrome. After submiting the form, a blank page receive them. Any idea what could be wrong?

[2016-01-06 12:03] TheDeathRaw commented on #1251
Something new?

[2016-01-06 14:13] Jimmi08 opened #1289 "menu manager - e107 is not defined"
Hi,
I noticed error with menu manager:

![image](https://cloud.githubusercontent.com/assets/5429548/12144373/7d6e07d0-b487-11e5-910c-3fef994d8f31.png)

![image](https://cloud.githubusercontent.com/assets/5429548/12144559/d582269e-b488-11e5-8646-2902f97bd0da.png)

Fresh install. I didn't notice it before because it seems to work but with testing my new plugin menu manager started to behave very odd

[2016-01-06 14:20] LaocheXe commented on #1289
I get a few error's on my console and the e107 is not define is one of them as well and I just synced with GitHub

Errors:
============================================
TypeError: "Are you sure?".addModLan is not a function
menus.php (line 96, col 3)

TypeError: "Are you sure?".addModLan is not a function
menus.p...r_right (line 350, col 3)

ReferenceError: e107 is not defined
=====================

[2016-01-06 14:39] Jimmi08 commented on #1289
If this helps:
![image](https://cloud.githubusercontent.com/assets/5429548/12144608/48e1d328-b489-11e5-835b-148464e365ba.png)
![image](https://cloud.githubusercontent.com/assets/5429548/12144615/4e77a0f6-b489-11e5-96bc-607d923688ba.png)

I have the same plugin used on localhost (just error from above,menu manager works). And the same code online and menu manager is "blinking/flashing" and error is

[2016-01-06 15:22] lonalore commented on #1289
Because of "all.jquery.js" is not loaded, and "e107" is defined in "e107_web/js/core/all.jquery.js".

[2016-01-06 15:27] Jimmi08 commented on #1289
I see that file there...
![image](https://cloud.githubusercontent.com/assets/5429548/12146140/56ef35ec-b492-11e5-9ef5-b50beb4c5ed0.png)

[2016-01-06 15:31] lonalore commented on #1289
@Jimmi08 try with this URL (this is the iframe content):
view-source:http://yourdomain.com/e107_admin/menus.php?configure=jumbotron_home

[2016-01-06 15:52] Jimmi08 commented on #1289
Ups, I see, so menu manager (it's iframe) strips this. Thanks for this, I found reason why my plugin causes problems.
I use e_header.php with including scripts just in frontend (testing if(USER_AREA) {}  But in theme display (layout in menu manager) I can see this code. And because it's code to change select options to tabs, menu manager doesn't work.
Is there way how to use e107::js() without inf

[2016-01-06 16:11] lonalore commented on #1289
Hmm... Use "e107.behaviors" to run your scripts. Behaviors never run on menus.php, because of "all.jquery.js" is not loaded on that page.

[2016-01-06 16:29] lonalore commented on #1289
[Documentation for JavaScript Behaviors](https://github.com/e107inc/e107/issues/1259)
[Example usage](https://github.com/lonalore/libraries_test/blob/master/libraries_test.js)

[2016-01-06 17:31] Jimmi08 commented on #1289
Thank you very much for your time and help. I confirm that your fix solved this problem, so this issue can be closed after they merge it.
I solved problem with script now by testing e_REQUEST_URI and use e107::js() just if path is plugin path. It's just for demo purpose, so I think it's enough.

Your solution look absolutely amazing. I already noticed you are working on this but I am not too much

[2016-01-06 17:56] lonalore commented on #1289
Just create a javascript file (e.g. quickselect.init.js) in your plugin's folder with this code:
[code]

then, in your e_header.php file:
[code]

:)

[2016-01-06 18:06] lonalore commented on #1289
Using e107.settings:

[code]

then, in your e_header.php file:
[code]

[2016-01-06 18:12] lonalore commented on #1289
If you're interested, I show you how to use [libraries](https://github.com/lonalore/libraries) plugin to load external libraries (e.g. jquery.quickselect). :)

[2016-01-06 19:16] Jimmi08 commented on #1289
I got t it work with one plugin, this is result, does it?
![image](https://cloud.githubusercontent.com/assets/5429548/12151490/a970eed8-b4af-11e5-92c2-08874b26401c.png)
Of course I am interested, but I want to try it myself. I will have time during weekend, I create issue in your repository.  When I get stuck.  I am sure I will get, the question is only in what point :)
Thank you again.

[2016-01-06 19:25] lonalore commented on #1289
Yes, it does. :)
All right, good luck! :)

[2016-01-06 22:27] dmitripot commented on #1207
Hey, sorry about the late response. I'm back at it (helping somebody set up a site, they upgraded to v2).
So my sql-mode isn't set from the default location my.cnf, however I was able to get this:
'''
mysql> SELECT @@GLOBAL.sql_mode;
+------------------------+
| @@GLOBAL.sql_mode      |
+------------------------+
| NO_ENGINE_SUBSTITUTION |
+------------------------+
1 row in set (0.00 sec)

mysql>

[2016-01-07 07:28] armpit commented on #927
I have this issue when trying to set the newsfeeds or downloads modules as the front page using the release version from e107.org

'Bad request - destination unreachable - e107_plugins/downloaddownload.php'

I'm not familiar with the source of 2.0, I haven't used e107 for a few years, so sorry I haven't been able to look into it more.

I've forked the project and will get familiar with the source

[2016-01-07 07:49] lonalore commented on #1251
Same issue with signup using GitHub profile.

[code]

[2016-01-07 19:59] dmitripot opened #1290 "Shortcodes can't render some links properly in forum post due to incorrect IDs, etc when using non-Bootstrap theme."
Post subject missing, polls missing, etc. They are missing, too, not just hidden due to CSS. I checked. On the other hand, including Bootstrap breaks the old 1.x themes. What do?

EDIT: Manually overriding the forum template, for example, and replacing the post style shortcodes like {SUBJECTBOX} with a concatenated .$subjectbox works. But why is it behaving like that?

[2016-01-07 20:23] LaocheXe commented on #1290
Bootstrap is just a theme, it has no influence with any e107 v 1.xx themes - I also don't quite understand what you are saying, you said a few elements are missing with a theme you are working on? Example the buttons are missing?

[2016-01-07 20:29] dmitripot commented on #1290
Yes, some don't work, etc. I managed to make the fields in new thread show up, but the quick reply button doesn't work. I have included JQuery into the theme, but still, no matter how much I add to my v1 theme, it's less functional than the Bootstrap one by far.

[2016-01-07 20:35] LaocheXe commented on #1290
Did you use the Theme Manager's convert old v1 themes to v2 before working on your version 1 theme?

[2016-01-07 20:40] dmitripot commented on #1290
Yes. I figured it out that it's mostly the AJAX stuff that's breaking it. Is there a quick way to disable all AJAX-related forum stuff?

[2016-01-07 21:06] tgtje commented on #1290
As comment on last posted comment : overall issues with v1 themes do exist; but generally it is css related or 'size of boxes. The described other problems i have seldom seen being posted (as e107help org for source). Being a v1 theme, a 'free' one or premium (name? ). Most issues can be overcome when applying the recommended changes ( http://e107.org/developer-manual/theme-basics#upgrading-v1-x-t

[2016-01-07 21:19] dmitripot commented on #1290
Forum template changed as of now. V2 style (theme/templates/forum/*_template.php). I am getting rid some of the layout problems using this method. The theme is actually based off of sebes. I guess I could re-add the original banner and post the updated theme so v2 people can use it later. The posting problems might not be theme-related now that I think of it. Is there a special function for themes

[2016-01-07 21:35] dmitripot commented on #973
Still issue for editing posts after forum db upgrade from 1.x to 2.

[2016-01-07 22:24] dmitripot commented on #1290
Found it. Must be a problem with the {EDITIMG} shortcode when Bootstrap is not defined in theme.php

Problem? I guess so.

[2016-01-07 23:03] dmitripot commented on #1290
Good news. I have made a fix that seems to work. Please check this:
In e107/plugins/forum/forum_viewtopic.php, somewhere not far after line 1200:

Old code is commented out, new code is not commented, seems to work:
[code]

[2016-01-07 23:10] LaocheXe commented on #1290
how much have you tested on that? Does it still work with the Bootstrap theme? Does it work on other themes as well?

[2016-01-07 23:11] dmitripot commented on #1290
Haven't tested if my fix works on BS yet. I'm being rushed by a community with a 1.x theme conversion as I am GitHubbing here all at once :P
I'll test it out in a bit more thoroughly.

[2016-01-07 23:22] LaocheXe opened #1291 "Issue: Upgrade website and Downloads"
I've just notice that when I upgraded the site from v1.0.4 to 2.xx that all the downloads are listed but when you try to download the file you get sent to a page saying File not found. Could this be an issue because e107_files folder is no longer used and since the upgrade the core of v2.xx doesn't support e107_files anymore?

[2016-01-08 03:49] LaocheXe opened #1292 "Issue: Upgrad website and Members list"
After upgrading the site from version 1.0.4 to version 2.xx I notice on the Users.php (Member's List) it shows this: "Using v1.x user template"

With nothing under that point.

[2016-01-08 11:50] lonalore opened #1293 "Rendering avatar in cron callback."
I would like to render some HTML contents (with user avatar) in a cron callback, but the avatar image has wrong URL.

In a cron callback, $tp->toAvatar() method generates image with URL like:

[code]

instead of:

[code]

This is a bug?
Or how can I make it generate proper URL for avatar image?

[2016-01-08 20:21] tgtje commented on #1292
called : user php line 107 ( if ..else) debug mess. ( bc fix old templates)

[2016-01-08 20:24] LaocheXe commented on #1292
anyway to get this to show the members? Tried taking that out and still wont show anything.

[2016-01-08 21:07] tgtje commented on #1292
Not noticed such behaviour before, possible there is a user template in theme (non BS) ?
Or test: add v1 usertemplate in themes (add) template folder. htaccess file ok by name ?
At present no actual test sites available to replicate...

[2016-01-08 23:23] LaocheXe commented on #1292
Four templates in the theme, comment_template.php, forum_icons_template.php,  gc_custom_login.php, and news.php

I don't know to much about .htaccess files but all seems to be okay

[2016-01-09 08:34] Jimmi08 opened #1294 "e_frontpage.php - doesn't work for newsfeed plugin"
There is error about missing class2.php,  instead of

[code]
there should be
[code]

By the way, e_frontpage.php is missing in documentation in the list of e_ files.

[2016-01-09 16:25] tgtje commented on #1292
Ok, just installed a v1 site and updated : correct?  for memberlist (although i do not get the message), i only get the.... go to page numbers.. (no content). (calling user php ? for memberlist)
After investigation (for me it works, but unsure if it is mis..coding in file) i de-commented line 102 of user php and the list appears (multiple themes). Now why did i do that ? line 108 also calls basica

[2016-01-09 16:39] tgtje commented on #1291
Normally NO; it should work out of the box. Just updated a new system with about 900 downloads.
No issues, downloads available; all works, even the url's for outside source (mirrors etc..)
Note! v1 to v2 keeps the folders and files also config has the paths..Images could be/are an issue!!

[2016-01-09 20:57] LaocheXe commented on #1291
Well some how when trying to download a file the page goes to the "File not found" screen - while in Admin Area > Downloads: it displays the filename - but clicking on it to to see where only shows the media manager upload or select file section. so I don't know what is going on for this, I get no error's on the pages.

[2016-01-09 21:01] LaocheXe commented on #1292
commenting out line 102 seems to allow the page to show, i dont know why it's acting like that.

[2016-01-09 21:41] dmitripot commented on #1290
I just realized something: my fix might not be proper. I was fixing the other oldschool image buttons, and found out that there is sometimes commented out code near the line which has the thread and post id's properly set. Why was this code changed? Anyways, my "fix" above is actually working backwards from whatever the plan seems to be. I don't advise it.

[2016-01-09 22:26] tgtje commented on #1292
Just adding : thought about the leftover template (themes/templates) when above is done, and i rename the template, differences on user 'image/icon' do display, so it looks like the system does switch between the themes/templates one, and the core one (style)

[2016-01-09 22:44] tgtje commented on #1291
Strange.. my admin area also displays the filename, and clicking (select local file) brings me to media manager > files are present....

[2016-01-10 00:34] LaocheXe opened #1295 "Bug: Searching for File Download"
Admin Area -> Download -> Create (or edit) a download -> select file -> use search function and the select file disappears and edit files (what you would see in media manager) shows.

[2016-01-10 11:21] patchie opened #1296 "Where can i find the MRBS plugin for the new version of e107?"
Our server has been running for a loooong time, and just crashed when the webhotel updated to a newer php version.

We have until now used e107 version 0.617 date 2005, and plugin for mrbs(https://sourceforge.net/projects/mrbs/).

But now we have to update to a newer version it seems, and since we mostly only use mrbs functionality, we have installed and setup mrbs on our server. But we just found

[2016-01-10 12:33] TealFox opened #1297 "Custom user extended fields are inoperative"
Hey Dev Team.

I am experiencing some issues with e107. Essentially I have added custom user extended fields and made them optional checkboxes, but users are not able to save their profiles or make any modifications unless they check off each and every of the checkbox.

@myovchev reckons the whole user extended field might need a review and I note that @septor has also suggested the same.

Thanks

[2016-01-10 19:18] tgtje commented on #1296
This one ? http://e107.org/plugins/?id=616  (do not know if it runs in v2). Never used it

[2016-01-10 19:25] tgtje commented on #1297
related ? #1255

[2016-01-12 23:41] Jimmi08 commented on #1296
http://e107help.org/1453/booking-plugin?show=1453#q1453
See my last comment.

[2016-01-12 23:45] Jimmi08 opened #1298 "e_list.php in forum plugin, SQL error"
I just noticed this error:
![image](https://cloud.githubusercontent.com/assets/5429548/12280516/d2377d62-b98e-11e5-85d3-c20fdd44ab5c.png)

[2016-01-13 02:10] CaMer0n commented on #1294
@Jimmi08 Thank you! How about making a pull-request for this one? I know it's simple, but you could be an even greater help if you were up to speed on making pull-request. What do you think?

[2016-01-13 02:23] CaMer0n commented on #1297
thanks @TealFox. I just create a custom extended field with 3 checkboxes and was able to save and update. btw. I reviewed a fair chunk of it prior to release. Are you using a custom usersettings_template.php ?

[2016-01-13 02:26] CaMer0n commented on #1291
@LaocheXe Could you please locate one of the "File Not Found" downloads in the downloads table, (using phpmyadmin) and post the exact value of download_url ?

[2016-01-13 02:34] CaMer0n commented on #1251
@lonalore @TheDeathRaw in admin -> Preferences -> User Registration/Login , do you have "User login method" set to "Username and Password" ?

[2016-01-13 07:38] Jimmi08 commented on #1294
I suppose this is correct solution, so yes, I can do it. No problem.  Probably it's time to fork this. By the way, is there way I can delete my old pull?  It's not needed now.

Could you please look at my languages request? I didn't know what I did wrong. There should be separate requests for Slovak and Czech translation, it joined it to one pull. I am sure I did two pull requests. And I just foun

[2016-01-13 07:58] lonalore commented on #1251
No, it is set to "Username/email and password".
In my case, Facebook login works properly, but the GitHub not.

[2016-01-13 11:55] lonalore opened #1299 "Connect existing account to social profiles"
It would be possible that connect existing e107 account to social profiles?
Becasue, if a user creates account using signup form (without social profile), it will be impossible to login with social profiles (in case a different email address, I think). So, it would be nice to connect existing e107 account to social profiles, and let users login with using any social profile, avoiding user profile

[2016-01-13 21:13] LaocheXe commented on #1291
Yes, in the database it only list the file  - no url just the file 'clanscrepair.zip'

Also I went in and had to go and move all the download files from e107_files/downloads/ and send them to e107_system/{FOLDER-NUMBER}/import  and used media manager to import them into the system, then go and edit each of the downloads and select the file. Had to do over 18 pages that listed 10 downloads lol I'm

[2016-01-13 21:56] CaMer0n commented on #1251
Github is working (on e107.org) last time I checked.

[2016-01-13 22:15] CaMer0n commented on #1291
There is probably just a minor backwards compatibility path to add to request.php. Where is clanscrepair.zip normally located? (before your moving/importing)

[2016-01-13 22:17] CaMer0n commented on #1294
Yes, they are all merged into one request and merged now. Please update your fork and make any further changes in a new pull-request. thank you!!

[2016-01-13 22:29] Jimmi08 commented on #1294
Thank you, but Norwegian was just test, request was created somehow itself, I did something wrong.This is reason I am afraid to create request here.

[2016-01-13 22:39] LaocheXe commented on #1291
e107_files/downloads

[2016-01-13 22:42] CaMer0n commented on #1291
Thank you. And what is the value of your $DOWNLOADS_DIRECTORY in e107_config.php ?

[2016-01-13 22:47] LaocheXe commented on #1291
heh well the e107_config.php has nothing for $DOWNLOADS_DIRECTORY

This is in the config -

$ADMIN_DIRECTORY     = 'e107_admin/';
$FILES_DIRECTORY     = 'e107_files/';
$IMAGES_DIRECTORY    = 'e107_images/';
$THEMES_DIRECTORY    = 'e107_themes/';
$PLUGINS_DIRECTORY   = 'e107_plugins/';
$HANDLERS_DIRECTORY  = 'e107_handlers/';
$LANGUAGES_DIRECTORY = 'e107_languages/';
$HELP_DIRECTORY      = 'e107_do

[2016-01-14 02:10] #1279 closed

[2016-01-14 02:10] #1290 closed

[2016-01-14 02:15] CaMer0n commented on #1291
If you upgraded, your e107_config.php file should have contained these variables:

$FILES_DIRECTORY = 'e107_files/';
$DOWNLOADS_DIRECTORY = 'e107_files/downloads/';

..but not these variables..

$MEDIA_DIRECTORY = 'e107_media/';
$SYSTEM_DIRECTORY = 'e107_system/';

[2016-01-14 02:17] #1294 closed

[2016-01-14 09:42] lonalore commented on #1289
Commit has been merged, so this can be closed.

[2016-01-14 09:49] Jimmi08 commented on #1289
Thank you to all

[2016-01-14 09:49] #1289 closed

[2016-01-14 10:11] lonalore commented on #748
Ok, I've also been this issue, and I think I found the source of the problem: old cookies.
I always got blank page after submitting the signup form, but after I deleted cookies (with EditThisCookie Chrome extension), the issue is resolved.

[2016-01-14 14:05] Moc commented on #1296
This is a question for e107help.org not Github.

[2016-01-14 14:05] #1296 closed

[2016-01-14 14:18] Moc commented on #1295
Which browser are you using?

[2016-01-14 14:19] willem010 commented on #1035
closing this one, as this most probably was caused by a hacked server.

im unable to reproduce on the newly installed server.

we cannot find what was causing this (i really have no idea what happened )
but its more likely to be a server (config) issue

[2016-01-14 14:19] #1035 closed

[2016-01-14 17:12] LaocheXe commented on #1295
Mozilla FireFox - Happens in Microsoft Edge as well - once you use the search function it removed the select file button and uses edit notpad and delete buton.

[2016-01-15 14:43] KSSilence commented on #828
Bump, Has there been any progress yet?

Still cant get this cron.php to run using the various method that most recomend for windows which is executing it via php.exe / php-win.exe (the latter is headless)
C:\Webserver\PHP-x64\php.exe -f C:\Webserver\htdocs\4th-id.net\cron.php <cron password>

php appears to execute (shows in task manager very briefly) and doesnt return any errors (when run manuall

[2016-01-15 22:33] CaMer0n commented on #828
@KSSilence The e107 cron.php can be sent the pwd/token in a few ways.

    cron.php {token}

or

    cron.php token={token}

or

    cron.php?token={token}

Have you tried all of these methods?

[2016-01-16 19:58] LaocheXe opened #1303 "Issue: Contact Us Page"
Using the contact.php - the page displays the content but no theme, listing the basics this is what it reports:

Warning: explode() expects parameter 2 to be string, array given, Line 88 of /e107_core/templates/header_default.php
Warning: Invalid argument supplied for foreach(), Line 92 of /e107_core/templates/header_default.php
Warning: strstr() expects parameter 1 to be string, array given, Line

[2016-01-16 20:01] LaocheXe commented on #1291
Odd, guess I upgraded it wrong

[2016-01-16 22:41] CaMer0n commented on #1303
It's a problem with the value of $HEADER. Which theme are you using?

[2016-01-16 23:55] LaocheXe commented on #1303
Bootstrap 3

[2016-01-17 08:10] lonalore opened #1304 "e107.org feed - Invalid XML"
I found an error in the XML while building a plugin/theme filtering plugin: unescaped double quotes in attributes in XML string.

URL: http://e107.org/feed/?limit=1000&type=plugin
Error on line 1958: name="" Simple Image Upload ""

[2016-01-17 15:03] KSSilence commented on #828
@CaMer0n
I tried all 3 today and same thing.

First one was what i was always trying, Fails silently
Second one i tried it and appeared to silently fail as well

the third method wont work with php.exe because PHP.exe thinks its part of the filename and throws a wammie that it cant find it (presumably because of no space and interprets different to a broswer?).

i even tried executing https://www.

[2016-01-17 20:38] CaMer0n commented on #828
@KSSilence Yes, just try enabling it without any token or query. It should send an email with variables etc. so we can see what is going on.

[2016-01-17 20:55] pierre0042 commented on #1255
Hello, I am still stuck with this, can I check anything else ?

[2016-01-17 23:12] CaMer0n commented on #1255
@pierre0042 Thanks for those screenshots. Would you mind also sending sending one of the content of the table: `e107_user_extended_struct` ?

[2016-01-18 00:39] pierre0042 commented on #1255
Thanks for your answer.
Here is the table export :

[e107.zip](https://github.com/e107inc/e107/files/93687/e107.zip)

[2016-01-18 12:38] tgtje commented on #1287
Just changed host : ssl avalaible so testing
Ssl through Dir-Admin set

On site settings:
site url                >            /     (bottom line displays https://domain)
redirection          >            enabled

Security setting   >            ssl enabled.

Next things i had to do (so certificate is working correct) change some http  (hardcoded url's)
like fonts call etc.. to eliminate.
Waited s

[2016-01-18 16:24] LaocheXe commented on #1303
Thinking about the theme more, I went into theme manager and added contact.php to Modern Business:layout - default layout was the Jumbotron (sidebar-right) and it now displays in the theme.

[2016-01-18 16:47] LaocheXe commented on #1303
Now the odd thing about this, is that after setting the theme to bootstrap 3 and back to the customized bootstrap 3 I have, the hole issue is gone now - which is odd.

[2016-01-18 16:47] #1303 closed

[2016-01-19 12:42] Jimmi08 commented on #1288
Thanks

[2016-01-19 12:42] #1288 closed

[2016-01-19 21:26] LaocheXe commented on #1292
I would like to point out, a way to fix the issue if Members list doesn't show is to put the user_template.php that is in core templates folder, copy and paste it into the theme you are using - it fixes the issue.

On the site which was upgraded has an old theme, the theme was converted to be used for version 2.xx and I have been doing fixes, because I had issues with the forums - I had to add the

[2016-01-20 15:43] TealFox commented on #1297
Sorry! I wasn't keeping a close enough attention to my inbox! I think we might very well be doing that (I'm not sure we've left anything not customised lol). Do you want admin access to check it out?

[2016-01-20 20:11] CaMer0n commented on #1297
@TealFox Maybe you can just post your template in a gist so I can see which shortcodes you are using. Thanks.

[2016-01-20 20:12] CaMer0n commented on #1292
@tgtje @LaocheXe Would it be possible to get direct FTP access to this problem in your upgrade so I can troubleshoot it?

[2016-01-20 21:36] LaocheXe commented on #1292
@CaMer0n sure thing, give me an e-mail address to shoot you the ftp info

[2016-01-21 15:33] LaocheXe opened #1307 "Feature Request: Mobile Detection with Theme Layouts"
Right now e107 v 2.xx theme (Bootstrap 3) was created with mobile devices in mind, I was thinking what is you used just 1 layout for mobile? Confused yet?

Admin Area - > Theme Manager - > Layouts: (Where you can put in different web pages in for different layouts inside that theme) - Add the ability to use Mobile on the layout Jumbotron (home) or Jumbotron (full-width) - so when a user is using a

[2016-01-21 16:44] tgtje commented on #1292
Sorry, xampp installation (testing purposes),
Can try to create an ftp server though ( not done before, and pc is not
always 24/7 online.
??

[2016-01-21 22:28] CaMer0n commented on #1307
I believe the point of bootstrap3 was to allow a single page/template to render on both mobile and desktop versions without having to make a different template for each (by using css classes). Please correct me if I'm wrong.

[2016-01-21 23:04] LaocheXe commented on #1307
You are right, just thought maybe something to do in the future - or something to allow for customized theme's etc..

[2016-01-22 00:23] #1292 closed

[2016-01-22 00:26] CaMer0n commented on #1307
:+1:

[2016-01-22 10:39] tgtje commented on #1292
:+1:

[2016-01-23 18:53] LaocheXe opened #1308 "Feature Request: Plugin/Theme Sync with GitHub"
I don't know how this would be done but allow a feature to plugin and theme developers to connect their gist repos to their plugins/themes and allow users to upgrade the code they have on the webserver with the GitHub Repo.

Kinda like Developer Mode for e107 v2.xx Github sync.

[2016-01-23 21:54] Jimmi08 opened #1309 "Links with e_BASE in path doesn't work with SEF URL"
I noticed weird thing with my plugins
~~(Just only with mine, so I do something wrong). The same with new plugin or with rewriting old one.~~

e_BASE  is empty. With other plugin (gallery, download) there si value ../..

I found the reason here (code is from e107_class.php).
![image](https://cloud.githubusercontent.com/assets/5429548/12532979/0f576b58-c222-11e5-8cd6-4ff4b688cc41.png)

~~With other

[2016-01-23 23:40] tgtje commented on #1308
Wouldn't it be an easier choice (it does exist in v1 in some plugins) to create a message that there's an update avalable. Saves you a lot of time and effort, and by link etc.. let the choice by user ? ( i realise it would have some security related issues if upgrade would be a sec.fix or alike and user does not take action).
I get the idea but i think it will be a though one; there's no real chec

[2016-01-24 04:46] septor commented on #1308
To be fair, I think this is something that could be handled by the plugin developer. Sure there could be hooks added to the core code, but I don't imagine a great deal of plugin developers use GitHub for their code.

[2016-01-24 07:41] CaMer0n commented on #1287
@tgtje I found some ssl code in class2.php added by someone. Try commenting it out and see if that helps. ie. Line 513 - 526

[2016-01-24 08:37] #1268 closed

[2016-01-24 13:48] Jimmi08 commented on #1309
After more testing. Gallery plugin with enabled SEF URL has the same problem:
without SEF URL:
![image](https://cloud.githubusercontent.com/assets/5429548/12536562/44b5e54a-c2a9-11e5-9cb2-54a94b585d37.png)

with SEF URL:
![image](https://cloud.githubusercontent.com/assets/5429548/12536565/50b6ff3c-c2a9-11e5-9409-da9b25b11e52.png)

[2016-01-24 19:48] tgtje commented on #1287
@CaMer0n did the test (if i comment out the sec lock (+ssl)  is disabled for all) Site reporting > not private.. so it is necessary to use !.

The 2 remaining present issues (no lock, but still https url) needs more investigating. I presume due the content, there could be a http in use  (now knowing that any hardcoded url for http can have an effect).

[2016-01-24 20:39] LaocheXe commented on #1308
@tgtje I checked out the Sync with GitHub that e107 dev mode has, just a simple download the master.zip and extracting tool.

To have check the plugin/theme and see what version the GitHub repo has and what version they have is to add the .git to the plugin/theme folder and have code that checks the plugin/theme git to the one on GitHub.

There is already php code that does the job: https://github

[2016-01-24 21:59] CaMer0n commented on #1309
e_BASE is for files (includes etc.), not for URLs. The same for e_PLUGIN (file-system) vs e_PLUGIN_ABS (links). If you find them, please replace.

[2016-01-24 22:42] Jimmi08 commented on #1309
This code is in 12 files:
```<a href='".e_BASE."user.php```
I would replace it if I know how.

[2016-01-25 10:43] willem010 commented on #1281
no one to answer this?  i didnt think this was a hard one to answer ? :P
is this direct url in the og images something thats still on a todo list?
(or do i need to enter a feature request for this? )

anyway.. looking at the og:images,
is there an (easy) way to add an ogimage to a page?

[2016-01-25 12:38] septor commented on #1308
Eh, I didn't say it was a bad idea. I kind of like it, but it depends so much on server configuration that I don't really know if it will be added to the core.

[2016-01-25 16:51] LaocheXe commented on #1281
I don't know would be a simpler answer and really I don't know - are the other images using the direct url?

[2016-01-26 02:24] CaMer0n commented on #1281
@willem010 Could you be a little more specific. Which part of the admin area, for images for what exactly? Thank you.

[2016-01-26 02:32] CaMer0n commented on #1255
@pierre0042 Thank you. Could you also send me a Structure/Data dump of a few rows of e107_user_extended? Thanks

[2016-01-26 02:40] CaMer0n commented on #1248
@schlrech Is this still an issue?

[2016-01-26 02:41] CaMer0n commented on #1227
@SPooCK @OTroccaz Is this still an issue? There were some similar bugs corrected recently. Thanks

[2016-01-26 02:51] CaMer0n commented on #1199
Closing this for now. If someone else comes across this problem, please try running "Repair" from the Plugin Manager on the downloads plugin.

[2016-01-26 02:51] #1199 closed

[2016-01-26 03:18] CaMer0n commented on #1270
@Jimmi08 Which block-level field is that in your example image?

[2016-01-26 05:15] schlrech commented on #1248
yes it is

[2016-01-26 06:43] Jimmi08 commented on #1270
@CaMer0n You don't use help field with block-level size field in core (or I didn't find it). Screen is from plugin. But if you add a help f.e. to news_title in newspost.php, you will see it.

![image](https://cloud.githubusercontent.com/assets/5429548/12574013/1daf6dd8-c400-11e5-90d4-caec5a314eb8.png)

[2016-01-26 06:47] Jimmi08 commented on #1309
@CaMer0n waw, with this I think I am able to replace others. Just quick question, why did you use e107::getUrl()->create() and not e107::url()?

[2016-01-26 07:55] OTroccaz commented on #1227
Since the templates have been copied, every thing is fine. I will have to develop a new e107 site soon: I will test and see.
Thanks!

[2016-01-26 07:57] pierre0042 commented on #1255
Here are the first 20 rows

[e107_user_extended.sql.zip](https://github.com/e107inc/e107/files/104576/e107_user_extended.sql.zip)

[2016-01-26 08:45] willem010 commented on #1281
sure, let me elaborate on this a bit :

first, only the ogimages are important here, cause this exposes the hashed folder to the outside:
<meta property="og:image" name="og:image" content="http://localhost:81/e107_media/e741e482f0/images/2015-11/12247953_1001831499873822_6338143045580469932_o.jpg" />
(taken from my xamp ;) )
that should use the thumb.php instead.

but more direct image urls are fo

[2016-01-26 21:58] #1270 closed

[2016-01-26 22:26] CaMer0n commented on #1309
@Jimmi08 Some of the core is still using the older more complex/advanced method of creating SEF Urls. (news, page, search, system and user still use this). e107::url() is a newer, simpler developer-friendly method for doing the same thing.

[2016-01-26 22:27] CaMer0n commented on #1227
Thank you! :+1:

[2016-01-26 22:33] CaMer0n commented on #1281
The hash is less about security and more about running multiple sites off of the same core installation.
thumb.php is for resizing images. I recently made a correction to news.php so that it also resized the og:image as it could share overly large images with Facebook unnecessarily. Whatever happens inside the admin area is not public anyway so it shouldn't be a concern. Admins should normally be

[2016-01-26 22:47] willem010 commented on #1281
ah ok. that answers my question about the urls. thnx. im running a git from last month. didnt get this og using thumb yet and that probably should fix it.

for the question about og image on pages.
the only thing i can think of is using an e_meta.php scanning for the url and add a custom og inage on this specific page.
im sure there is a better way?

[2016-01-27 05:05] Serios opened #1311 "Setstyle doesn't get applied to custom pages"
Using {SETSTYLE=X} doesn't have any effect in custom pages when viewing single page and thus applying default style defined. Is not theme depending, since {SETSTYLE=X} sc doesn't work in bootstrap theme too.

However it is working properly in Books list and in Chapters list, so I'm thinking the problem is somewhere in processViewPage function.

[2016-01-27 09:01] Jimmi08 commented on #1309
@CaMer0n I am replacing e_BASE now (with user.php),  is it possible (when I comment line with e_BASE code) to replace it f.e to ex_BASE, just not have already done code in searching result? I use Total Commander,it is going throught commented code too.

[2016-01-27 19:05] CaMer0n commented on #1281
@willem010 You mean detecting the images in the "Page" body and including them in the header with og:image ?

[2016-01-27 19:07] CaMer0n commented on #1311
Thank you!. So I guess you tested this by echoing '$style' from inside the theme tablerender() function?

[2016-01-27 19:14] willem010 commented on #1281
thats an even better idea than what i had in mind. good one. mucho gracias!

[2016-01-27 19:14] #1281 closed

[2016-01-27 19:40] CaMer0n commented on #1311
@Serios Where are you using {SETSTYLE=X} specifically? Are you placing it in $PAGE_TEMPLATE['default']['start'] ?

[2016-01-27 19:41] LaocheXe commented on #1309
I don't know if this is the same issue as I am having, But here we go.

On a website, I use the donation plugin AnteUp - when I go to the forums or downloads everything is okay, but going into a download catagory or forum catagory the menu donate image and link are broken, at first I thought it was the theme and went looking and found nothing, then started looking at what pages affected the image

[2016-01-27 20:02] CaMer0n commented on #1309
Sounds like AnteUp is not using e_PLUGIN_ABS, but e_PLUGIN for it's links?

[2016-01-27 20:05] CaMer0n commented on #1281
@willem010 That should fix it ;-)

[2016-01-27 20:31] pricey1981 commented on #1245
@CaMer0n any further progress on this?

As a test, I have set up a fresh install of e107 in a subdirectory of my live site. I appear not to receive any errors with this install which leads me to believe it is not server based. My live site was an upgrade from e107 v1. I'm assuming therefore, on the presumption that the v2 files have overwritten v1, that this is something to do with the DB? Or, mig

[2016-01-27 20:57] pricey1981 commented on #1245
I've manually replaced the contents of SitePrefs in the e107_core table of my live site with the data from the newly installed dummy site. I no longer get the unauthorized access error. I will now setup the site preferences again to see if this resolves the issue. It seems it might be to do with some legact settings in this table/record

[2016-01-27 21:08] CaMer0n commented on #1245
@pricey1981 Thank you!

[2016-01-27 21:12] Moc commented on #1309
Correct. Fixed now (@LaocheXe)

[2016-01-27 21:14] CaMer0n commented on #1245
@pricey1981 https://gitter.im/e107inc/e107# in case you wish to discuss it.

[2016-01-27 22:05] tgtje commented on #1287
Just confirmation : the padlock not displaying is due to insecure http links ( on 1 page it are the 'stills' for YT movies), they come from outside but ssl check reports them. (deleting movie for test > padlock appears).

So it's up to @realG tot test further.

[2016-01-27 23:19] Serios commented on #1311
Nope, not in page_template. Setstyle in theme

[2016-01-28 13:55] #991 closed

[2016-01-30 18:58] LaocheXe opened #1314 "Question: e107 tools in admin_ui"
Since the feature request about syncing plugins and themes, I went into the db.php and took out the Github code someone did and put it in my own plugin..

I copy the db.php from e107_admin and put it in my plugin folder and renamed it to sync.php and commented out a bunch of code because I want to focus on the github functions in the file. This works and does what the default sync with github does

[2016-01-31 01:27] #1179 closed

[2016-01-31 15:09] Jimmi08 opened #1315 "Sync with Github on localhost"
Does this work on localhost?

I got this error, but file is downloaded:
![image](https://cloud.githubusercontent.com/assets/5429548/12702808/337219cc-c833-11e5-839e-adc12dd3cb30.png)

After dump curl_error() in file_class.php I got this error:
SSL certificate problem: unable to get local issuer certificate

After adding curl_setopt($cp, CURLOPT_SSL_VERIFYPEER, FALSE); sync worked.

This setting is

[2016-01-31 19:16] #497 closed

[2016-01-31 19:17] CaMer0n commented on #201
Closing for now. please re-open if necessary.

[2016-01-31 19:17] #201 closed

[2016-01-31 19:41] #1136 closed

[2016-01-31 19:43] CaMer0n commented on #1311
{SETSTYLE} should normally be used in the template it is being applied to.

[2016-01-31 19:43] CaMer0n commented on #1187
@Alex-e107nl is this still an issue?

[2016-01-31 19:46] martyshep commented on #784
Hi experts, Any progress with this issue resolution?  I have same issue, my e107 v2 website does not allow tracking of forum threads.  If I add in the shortcode as mentioned I get same, it doesn't work correctly.

[2016-02-01 03:26] #784 closed

[2016-02-01 03:27] CaMer0n commented on #784
@Minnn @martyshep @Moc This should be fully functional, but if you find an issue, please create a new issue.

[2016-02-01 10:47] pricey1981 opened #1317 "DB caching"
I have disabled caching on my site, but it still appears to be caching DB data. For example, I have a page that loads records from a table, but if you add/update records in that table and refresh the page it doesn't update with the new values.

Any ideas?

[2016-02-01 15:09] tgtje opened #1318 "Translation issue (class names)"
Class names (user classes + class description) can be changed for own locale or liking. Working fine !

However : the change is **not bound to locale, but to system** !! (using multilanguage !!)
i.e. Change 'Main admin' class name from English to Dutch so it reads 'Hoofd beheerder'.
Also ok.

Reverting back to English the changed class name STAYS as changed; so English will read> Hoofd beheerder a

[2016-02-01 15:12] tgtje commented on #1318
Developert discussion needed, so closing as issue (more side aspects to it

[2016-02-01 15:12] #1318 closed

[2016-02-02 00:45] CaMer0n commented on #1193
@tgtje @Jimmi08 Is this still an issue or can it be closed now?

[2016-02-02 09:34] pricey1981 commented on #1245
Have been using the site OK and no further issues

[2016-02-02 14:37] Moc commented on #1245
It would be interesting to know which specific preference(s) caused this issue though..

[2016-02-02 18:32] CaMer0n commented on #1245
@pricey1981 Others who upgrade may face similar issues. Would you be okay to send us your sitePrefs from before your replaced them and after? We could then run a file comparison and try to find where the issue arose.

[2016-02-02 20:48] pierre0042 commented on #1255
Thanks, will you release a release 2.0.1 soon?

[2016-02-02 22:12] pierre0042 commented on #425
I am having the same issue

[2016-02-02 22:29] CaMer0n commented on #1255
Yes, that's the plan.

[2016-02-02 22:30] pierre0042 commented on #1255
Great, thanks!

[2016-02-03 08:45] Moc commented on #1315
I can confirm that I get the same error message on localhost. On a live website it works fine.

[2016-02-03 12:21] tgtje commented on #1193
As far as i am concerned, the issue can be closed. The installer file
has been adjusted by one of the last commits, and as for the existing
OLD  LAN re-use... that can happen (and probably will as older commented
lan's will be re-used again at point in time.

---
Dit e-mailbericht is gecontroleerd op virussen met Avast antivirussoftware.
https://www.avast.com/antivirus

[2016-02-03 12:24] Jimmi08 commented on #1193
Ok, I think you are right. If I find something, I create new issue. Thanks to both.

[2016-02-03 12:24] #1193 closed

[2016-02-03 12:37] Jimmi08 commented on #1309
Closing this, I will create new issue if I notice next one. Thanks to all.

[2016-02-03 12:40] Jimmi08 commented on #699
Closing this, because there is new issue, this was changed after rewritting news plugin. Too confusing after so much time.

https://github.com/e107inc/e107/issues/1219

[2016-02-03 12:40] #699 closed

[2016-02-03 13:14] lonalore opened #1320 "How to add multiple authors in plugin.xml?"
The question is the title: How to add multiple authors in plugin.xml? :)

[2016-02-03 13:38] tgtje commented on #1320
Maybe i do misunderstand, than please broaden question).
In plugin xml (usually line 3 > author name) It is just a txt field, so adding any name there will do.
The names will be displayed in plugin manager
In plugin builder i can not add a second

[2016-02-03 13:46] lonalore commented on #1320
Yes, I can list authors separated by commas, but URL attribute allows only one value.
Instead of single author line it should be something like this:
[code]

[2016-02-03 16:41] CaMer0n commented on #1320
It's not supported at this time. I would have to make the plugin/theme uploads and feeds also support multiple authors. In all, a LOT of work. Another tag for 'contributors' could avoid that perhaps.

[2016-02-03 17:36] LaocheXe commented on #1320
@CaMer0n sounds like a good idea for contributors

[2016-02-03 20:03] pricey1981 commented on #1245
@CaMer0n no problem, what's your e-mail?

[2016-02-04 02:20] CaMer0n commented on #1257
@willem010 Please give it a try. You'll need to add some lines to your .htaccess file. (see e107.htaccess)

[2016-02-04 09:03] willem010 commented on #1257
cool!
i will check it out this weekend.
a huge thank you!

[2016-02-04 21:36] CaMer0n commented on #220
@Moc I believe this is complete, unless you have spotted some LAN issues in forum recently?

[2016-02-05 08:30] schlrech opened #1323 "Forum view are not correct"
The imported Forum view is not correct
![image](https://cloud.githubusercontent.com/assets/1758577/12841236/9882de18-cbea-11e5-8340-5b053f986500.png)

and the threads
![image](https://cloud.githubusercontent.com/assets/1758577/12841247/b1c7dc66-cbea-11e5-9b4f-94791f6a7791.png)

in the old forum show this

[2016-02-05 12:31] lonalore opened #1324 "Wrong SEF URLs are generated for user profiles"
Example:
"/user/L%C3%B3na%20Lore"

According to URL settings, SEF URLs should not contain "space", or "uppercase letter":
![kepernyokep - 2016-02-05 - 13 25 23](https://cloud.githubusercontent.com/assets/6043821/12846324/2e0351d6-cc0c-11e5-8665-aeee28463a5a.png)

Furthermore, transliteration is missing too: "Lóna Lore" should be "lona-lore".

[2016-02-05 12:32] MikeyGMT opened #1325 "Banlist - many entries in the banlog.log"
I had a problem looking at one of my sites.
It went over it's 500 MB file size limit, apache locked me out.
I found some very big log files. Cleaned them out.

Still, I found each time I went to the site I got "Invalid File List" and could not access the site.

I found the phrase in e107_handlers/iphandler_class.php  Line 439
			echo 'Invalid list file';
			die();			// Debatable, because admins ca

[2016-02-05 12:47] Moc commented on #220
@CaMer0n I've quickly skimmed through the files that were still remaining according to my checklist in the initial post. It appears all work has been completed. Closing :)

[2016-02-05 12:47] #220 closed

[2016-02-05 12:53] tgtje commented on #1323
Although i am not able to recreate, i would advice to upgrade your site's files or just for testing ( and if you would do, please report back to change )
about two weeks ago @CaMer0n made the following changes https://github.com/e107inc/e107/commit/7a38046e4e6dab025e5da084bc234ca5712ac55d
Please test to see if it helps ( 3.3.6 had many css changes and browser bugs fixes > 'external sourcing'.

[2016-02-05 13:10] lonalore opened #1326 "Missing SEF URL Profile for Forum plugin"
I can't select SEF URL profile for the plugin:
![kepernyokep - 2016-02-05 - 14 08 59](https://cloud.githubusercontent.com/assets/6043821/12847251/2dffc2e0-cc12-11e5-899a-21eb1c7ceb0c.png)

[2016-02-05 13:24] lonalore opened #1327 "Last cron refresh: Never"
I created a crontab to run the command (suggested by e107) on my server every minute. And it works properly, it runs every minutes.

But, after visiting "e107_admin/cron.php" page, I get this:
![kepernyokep - 2016-02-05 - 14 15 52](https://cloud.githubusercontent.com/assets/6043821/12847456/a4ac9fb6-cc13-11e5-95ac-0df64f8800be.png)

After refreshing the page continuously, (maximum a minute later)

[2016-02-05 13:36] lonalore opened #1328 "Cache issue: update cache entry after changes?"
"Content Cache" works fine, but (e.g. by news pages) if a comment arrives, the comment item won't show up on the site, because e107 does not update the cache entry.

[2016-02-05 13:56] lonalore opened #1329 "How to override admin template?"
I just want to override "e107_themes/bootstrap3/admin_template.php" because I want to increase the width of left side-bar, becasue it's terrible as it appears, especially on smaller screens.

For example, on 1440x900 resolution (with hungarian translation):
![kepernyokep - 2016-02-05 - 14 44 31](https://cloud.githubusercontent.com/assets/6043821/12848058/c17cc37e-cc17-11e5-8cf7-b0c44c419072.png)

[2016-02-05 14:14] lonalore opened #1330 "Wrong type is set for input field in inline editor"
Wrong type is set for input[type=number] field in inline editor.

I have an integer field, which has proper type (number) on create/edit form:
![kepernyokep - 2016-02-05 - 15 09 08](https://cloud.githubusercontent.com/assets/6043821/12848526/d9bddf2e-cc1a-11e5-836b-e90435683a94.png)

But in the inline editor, it has type "text":
![kepernyokep - 2016-02-05 - 15 09 30](https://cloud.githubuserconten

[2016-02-05 14:37] schlrech commented on #1323
With the forum it’s like this:
Upgrade done, weeks ago. Everything was read.
Then neither entrys were made nor modified, and also no update on E107.
At some stage it simply was like that.
This is already the fourth time.
If I copy the old E107 forum into the new database again and let it convert ones more, it does work too.
But after a while the same problem occurs again.
Next Tuesday I will bring

[2016-02-05 15:17] Moc commented on #1324
https://github.com/e107inc/e107/issues/545

[2016-02-05 15:38] MikeyGMT commented on #1325
Checked User audit trail class Pref : was set to Everyone.
However I have set to no-one inactive.
New entries keep appearing in Banlog.log.

[2016-02-05 17:04] Moc commented on #1325
What do the entries look like? (you can mask the IP of course)

[2016-02-05 17:06] Moc commented on #1323
In combination with this discussion (http://e107help.org/1915/cant-make-comments-on-new-news-item-nor-on-forum-threads) I think there may be a bug which has some conflict with the v1 templates/shortcodes used in the forum.

[2016-02-05 17:13] schlrech commented on #1323
i don't have any v1 templates is a fresh v2 installation without old files and i'm using bootsrap v3 theme

[2016-02-05 17:33] Moc commented on #1323
Blegh, sorry, I misread your post. Still looks like a bug though :)

[2016-02-05 17:49] CaMer0n commented on #1245
@pricey1981 - will send via gitter. Thank you!

[2016-02-05 18:11] MikeyGMT commented on #1325
1454674436 0000:0000:0000:0000:0000:aaaa:nnnn:annn 100 result --> 100
1454674436 0000:0000:0000:0000:0000:aaaa:nnnn:annn 100 result --> 100
1454674439 0000:0000:0000:0000:0000:aaaa:nnnn:annn 100 result --> 100
1454674441 0000:0000:0000:0000:0000:aaaa:nnnn:annn 100 result --> 100
1454674441 0000:0000:0000:0000:0000:aaaa:nnnn:annn 100 result --> 100
1454674442 0000:0000:0000:0000:0000:aaaa:nnnn:annn

[2016-02-05 19:12] Moc commented on #1325
Let's debug.

In iphandler_class.php, change this:
[code]

to

[code]

Then go to your homepage, there should be a new box with a value. What's the value?

[2016-02-05 19:17] Moc commented on #1325
Ok, it's adding those lines because you are whitelisted.
Try removing yourself from the whitelist and see if the entries stop.

Now I need to figure out why it is logging so often when someone is on the whitelist.

[2016-02-05 19:27] MikeyGMT commented on #1325
Yes removing me from Whitelist stopped the entries being generated.

[2016-02-05 23:36] CaMer0n commented on #220
Thanks :+1:

[2016-02-05 23:37] CaMer0n commented on #1326
@lonalore This needs to be removed entirely. There is no profile selection for the forum plugin.

[2016-02-05 23:44] CaMer0n commented on #1329
Overriding is disabled for admin themes. So, we'll need to find a way to fix the core theme and make it look good.

[2016-02-05 23:46] CaMer0n commented on #1327
@lonalore I have noticed this one too.

[2016-02-06 03:06] #1326 closed

[2016-02-06 03:06] #1327 closed

[2016-02-06 11:21] Moc commented on #1325
I'm just trying to figure out what the exact issues are. Obviously when an IP is whitelisted, it should not create a new entry on every single action and that's what I suspect is happening at the moment.

Are these e107 log files or other? If e107, what are their file names and where are they located?

[2016-02-06 12:26] pricey1981 commented on #1245
@CaMer0n hmmmm, unfortunately I have received the same "unauthorized access" error. Previously it was with posting news / pages etc. that is still working ok, but I am unable to edit users via admin as this error appears. Even trying to access the page e107_admin/users.php?mode=main&action=list I receive the error - without having even tried to submit any changes

[2016-02-06 12:54] pricey1981 opened #1331 "Question: plugin creation"
A quick, and hopefully simple question about admin_config.php when creating a plugin.

How do you trigger a function to run after a record is added via the create page and then redirect to the list page?

[2016-02-06 18:55] CaMer0n commented on #1331
@pricey1981 You can search for the "afterCreate" method in most of the admin files for examples.

[2016-02-06 18:57] MikeyGMT commented on #1325
The main one to be concerned with I think is banlog.log where the duplicates occur on every navigation.

Adding the debug line

When I am not whitelist, I see iPStatus 0
When whitelisted = 100, regardless if logged on our off (separate browser)

[2016-02-06 19:02] MikeyGMT commented on #1325
The other logs were possibly because I left the logs enabled, i.e. forgot to reset to off.

Meanwhile (not really relevant to the Banlist Log issue here) I also saw MJ12bot bot was hitting my site thousands of times, so have added an exclusion to .htaccess

[2016-02-06 19:10] MikeyGMT commented on #1325
In this line, we are checking status not 0 then call logBanItem which I think writes the log.

if ($ipStatus != 0)

But Whitelist >0
Blacklist < 0

Hence should the check be less than 0

if ($ipStatus < 0)
then call logBanItem

[2016-02-06 19:14] MikeyGMT commented on #1325
Ah no, maybe move the logBanItem into the blacklist nested if. Hence : -

[code]

[2016-02-06 19:25] CaMer0n commented on #1325
@MikeyGMT Would you mind testing that change on your site?

[2016-02-06 19:26] MikeyGMT commented on #1325
Yes doing that now :+1:

[2016-02-06 19:27] CaMer0n commented on #1325
Thanks! :+1:

[2016-02-06 19:46] MikeyGMT commented on #1325
Yes - this worked.

Whitelisted my IP.

Navigated around in sessions logged-on and logged-off.

Checked banlist.log timestamp unchanged. No new entry.

Regards the die line, not sure what was going on, as the logs have all been cleared, I can't recreate the conditions.

My Git Repo needs a total refresh. I'll try to do that. But it may be quicker for one of you guys who are nicely up to date to do

[2016-02-07 01:20] MikeyGMT commented on #1325
Tested, working correctly, no log entries for whitelist ip's,
@CaMer0n sorted my git issues - you may see some odd activity generated by me - hopefully I have reverted the incorrect git transactions!

[2016-02-07 07:41] pricey1981 commented on #1331
thansk

[2016-02-07 07:41] #1331 closed

[2016-02-07 10:41] willem010 commented on #1257
i have been trying to figure out what you did here, but it didn't have the effect i was expecting.

this sort of does what i want. (cropping / sizing probably should be different . )

[code]
this would be nice. (original sized img)
` RewriteRule ^img/(.*)\.(jpg|jpeg|png|gif)$ thumb.php?src=$1.$2 [NC,L]
`
but doesnt work without the h param.

[2016-02-07 11:38] MikeyGMT commented on #1325
Thanks @CaMer0n - somehow my git got messed up - it thought my fork was the main fork. I think it's sorted now. I'll try do a small LAN change and test a pull request from my fork instead of committing to the master.

[2016-02-07 11:38] #1325 closed

[2016-02-07 14:49] MikeyGMT opened #1333 "LAN Verifier and Editor - Pop-Up Editor poor usability - Not saving"
Hi
Admin > Settings > Languages > Packs > Verify > Edit
Renders a pop-up editor.
Has only a Close - No obvious way to save changes, no save button?
Is it possible to put the Editor in a full size page?
Thanks
Mike

![image](https://cloud.githubusercontent.com/assets/2847651/12872964/4ed45074-cda9-11e5-89b2-2c5c071bac15.png)

[2016-02-07 15:02] MikeyGMT commented on #1333
Ah save is at the bottom of the pop-up.
Would still be nicer in a full page or resizeable pop-up.

[2016-02-07 15:37] MikeyGMT commented on #1333
Also noticed some recycling of LAN ID's, e.g.
![image](https://cloud.githubusercontent.com/assets/2847651/12873247/6e36495c-cdb0-11e5-98c7-e4a779a9523f.png)
Maybe suggest, verbal name, this is not easy to spot in the verifier.
e.g. LAN_HANDBOOK vs LAN_REPRODUCE_THEME_DEMO

[2016-02-07 15:51] Jimmi08 opened #1334 "missing documentation for Admin UI - validation"
There is nothing about validation in documentation,
F.e. how to use required, validate, rules attributes.

[2016-02-07 16:52] CaMer0n commented on #1257
@willem010 What result did you get? What is currently in the code does exactly what you mentioned. To use your example, the generated URL would look like this:

    /media/img/500x500/2014-10/lock_n_load.jpg

or, to crop:

    /media/img/a500xa500/2014-10/lock_n_load.jpg

I have tested using https://gtmetrix.com/ and the performance improvement is there. I will upgrade e107.org shortly so you can

[2016-02-07 17:06] MikeyGMT opened #1335 "Enhancement: LAN Verifier / Editor - Auto Detect Non-Escaped Apostrophe marks, bad HTML etc"
When populating and verifying a new Lan, if I miss to escape an apostrophe or miss to spot some bad html command, then I get sent to an error page. I can go back and search through each entry.

The idea is to detect the bad line as you exit the field or to highlight before proceeding with the save.

[2016-02-07 17:13] CaMer0n commented on #1257
For reference: https://gtmetrix.com/reports/e107.org/17edmTWT
Specifically, see "Remove query strings from static resources"

[2016-02-07 17:14] CaMer0n commented on #1335
:+1:  Thanks. Btw. Are you using the multilan plugin?

[2016-02-07 17:22] willem010 commented on #1257
ah, thats the url i should have tested haha.. i'm not that great at reading regexps.

i did look for a changed url, but both my frontpage news and featurebox still use the thumb.php link,
now i realize the news part on my frontpage is using the latest_news plugin and this probably uses an older method for creating image links, but i would have expected the featurebox to use em..
o well, probably c

[2016-02-07 17:30] MikeyGMT commented on #1335
I have Multilan, not looked at it recently, I'll download the fresh one. I did not like that it changed admin values e.g. in Links to LAN_ZZZ_123 so you could not see what a link was. If it's the same thing.

The problem phrase I have found is
LANINS_144
IMPORTANT: Please copy and paste the contents of the [b]e107.htaccess[/b] into your [b].htaccess[/b] file. Please take care NOT to overwrite any

[2016-02-07 17:51] MikeyGMT commented on #1335
Oh wow, I'm blocked altogether now :O

[2016-02-07 18:16] CaMer0n commented on #1257
Any URLs in the content (such as added by TinyMce) would need to be resaved in order to update the links. Others rendered from a separate image field should auto-update if they are using thumbUrl()

[2016-02-07 18:21] Moc commented on #1335
Quick note regarding `i\'ch`, I'm pretty sure that these escapes are no longer required since the standard is double quotes now. For example:
[code]

[2016-02-07 19:05] MikeyGMT commented on #1335
True, if you are updating the file with an editor, but it bombs when translating on the fly in the application. I've totally locked my home cable IP out of the site.
Checked IP Deny Manager in cPanel, nothing there to lock me out. Removed the .htaccess.
Cannot even reach a Test html page in a non-e107 sub-folder. Logging call with my host.

Can connect via my phone data connection and to e107 as m

[2016-02-07 19:07] CaMer0n commented on #1335
@MikeyGMT Is your IP still whitelisted?

[2016-02-07 19:13] MikeyGMT commented on #1335
It was, but I have copied the table and deleted the row.

It wont even load a test page, outside of the e107 fs. htaccess deleted.

Think it may be the host security, at a level I can't see, even though I have been able to connect to other sites on the same host.

Anyway, I'm sure the host can help with unlocking my IP. At worst I can hard boot my cable router and probably get an new IP.

Don't wo

[2016-02-07 21:20] pierre0042 opened #1336 "Database update message shown after upgrade"
Hello,

I have managed to upgrade my e107 to v2.0, but in keep getting this message in the admin saying :
"System Information
There is a database update available, please click button to install ..."

What could be the cause ?

[2016-02-07 21:45] pierre0042 opened #1337 "Cannot display users list due to broken newforumposts_menu"
I use e107 v2.0.

When I load /user.php, nothing is shown and I get this error :

 SQL Analysis

1 Query Errors!
Index	Query / Error
63  	SELECT p.post_user, p.post_id, p.post_datestamp, p.post_user_anon, p.post_entry, t.thread_id, t.thread_datestamp, t.thread_name, u.user_name FROM `e107_forum_post` as p LEFT JOIN `e107_forum_thread` AS t ON t.thread_id = p.post_thread LEFT JOIN `e107_user` AS u

[2016-02-07 22:55] CaMer0n commented on #1336
If you enable 'debug' (using the Firefox addon for example) it should display the reason for the notification.

[2016-02-07 23:10] pierre0042 commented on #1336
System Debug
Plugin Update(s) Required - different version

[2016-02-07 23:19] pierre0042 commented on #1336
Ok so I see that in the plugins list, e107 says that "Forum" must be upgraded :

forums_32.png 	Forum 	1.2 	2012-08-01 	content 	e107 Inc. 	Made for v2 	This plugin is a fully featured forum system.

but the problem is that I have already upgraded this plugin...

[2016-02-07 23:22] Moc commented on #1336
If you go into Tools > Database > Check for updates. You should still see some updates you can perform.

[2016-02-08 00:39] pierre0042 commented on #1336
It shows me

Update from 1.x to 2.0	OK
Add additional/missing core settings	OK
Forum 	UPDATE

Same issue : I have already done that.
If I try it fails on the tables creation.

[2016-02-08 05:27] CaMer0n commented on #1320
Feel free to go ahead and add them with the following format:

[code]

[2016-02-08 05:27] #1320 closed

[2016-02-08 06:26] CaMer0n commented on #1298
Fixed the query, but I'm not sure about the plugin itself. Is it working for you @Jimmi08 ?

[2016-02-08 06:34] CaMer0n commented on #1323
I tested with jayya on v2 with forums, and its working correctly. I don't quite grasp the full issue here. Can someone paraphrase it for me? Please enable debug to be sure an SQL query is not failing.

[2016-02-08 06:35] CaMer0n commented on #1317
Hard to say without seeing your code. Can you share it with us? (gist)

[2016-02-08 06:41] CaMer0n commented on #1311
Sorry, I read this as {SETIMAGE} you are correct {SETSTYLE} is used in theme.php
Does your tablestyle function look like this?

[code]

[2016-02-08 06:44] CaMer0n commented on #1315
@Jimmi08 If that fixed it for you, would you like to send a pull-request?

[2016-02-08 06:50] schlrech commented on #1323
![image](https://cloud.githubusercontent.com/assets/1758577/12879735/944ada94-ce38-11e5-9cb0-3bb73ce702b2.png)

![image](https://cloud.githubusercontent.com/assets/1758577/12879741/a94d4f26-ce38-11e5-89e9-8c49fd9efd10.png)

[2016-02-08 06:56] Serios commented on #1311
Yes, exactly like this. As I mentioned above, in Books and Chapters lists style is returned but in single page view doesn't.

[2016-02-08 07:07] schlrech commented on #1323
missing following fields
in
![image](https://cloud.githubusercontent.com/assets/1758577/12879936/d3608b00-ce3a-11e5-9912-2a5ca146411e.png)

![image](https://cloud.githubusercontent.com/assets/1758577/12879951/eb7fc6ce-ce3a-11e5-9c7f-cff850e8603d.png)

[2016-02-08 07:37] CaMer0n commented on #1293
It may require some experimenting. I have updated the cron test email function for you. Run the cron and then wait for the test email. It will display all the environment paths available etc.

[2016-02-08 07:45] CaMer0n commented on #1323
Did you run the forum upgrade process? These fields are normally created in "Step 3".

[2016-02-08 07:47] schlrech commented on #1323
Yes i run the upgrade process without errors.... and the DB check ist also correct

[2016-02-08 07:56] CaMer0n commented on #1323
Does e107_user_extended contain columns with the names: user_plugin_forum_viewed and user_plugin_forum_posts ?

[2016-02-08 08:00] schlrech commented on #1323
no, these fields are missing
![image](https://cloud.githubusercontent.com/assets/1758577/12880562/68e1c700-ce42-11e5-889b-dcaa5f751cbf.png)

[2016-02-08 08:14] CaMer0n commented on #1323
Please run this single command in Phpmyadmin.
[code]

[2016-02-08 08:23] schlrech commented on #1323
@CaMer0n
many thx, now the forum functionaly correct
thx

[2016-02-08 08:28] lonalore commented on #1329
Bootstrap list group with badges?

[2016-02-08 08:31] lonalore commented on #1329
Or simply increasing the with for sidebar? Not, it has class "col-md-2". It looks nice with "col-md-3".
And right panel: "col-md-10" => "col-md-9"

[2016-02-08 12:13] tgtje commented on #1335
Like Moc already mentioned >keep it easy example from Dutch (by system or on the fly)

BELANGRIJK: Kopieër en plak de inhoud van het [b]e107.htaccess[/b] in jouw [b].htaccess[/b] bestand. Wees voorzichtig dat je eventueel bestaande data NIET overschrijft!.

[2016-02-08 12:15] #1315 closed

[2016-02-08 12:35] Moc commented on #1329
This is how it would look in English with the suggested changes by @lonalore
@CaMer0n If you agree I can commit...

<img width="935" alt="dashboard" src="https://cloud.githubusercontent.com/assets/577978/12885783/db5da90e-ce68-11e5-972b-87e563e16950.png">

[2016-02-08 12:41] tgtje commented on #1337
related to or part of #1336 ? ; ( i.e.  forum..post/threads called..)

[2016-02-08 12:47] pierre0042 commented on #1337
maybe... it's the same installation

[2016-02-08 13:01] Moc commented on #1337
Yeah definitely related. The forum update did not go properly. Closing this issue. Please continue discussion in the other one.

[2016-02-08 13:04] Moc commented on #1336
This shows the the forum update has not been completed properly. I suggest going back to the backup and trying again. You can enable debug to have it display extra information which may be useful in case you run into issues.

- Restore to backup
- Download files from Github
- Overwrite existing files with files from Github
- Go to the admin area and follow the database updates
- Remember to perfor

[2016-02-08 13:48] willem010 commented on #1257
jep, noted.

btw, a similar trick for the .js files would also help.

just my 2 cents again.

[2016-02-08 13:57] lonalore commented on #1329
"Hungarian" version. :)
![kepernyokep - 2016-02-08 - 14 56 11](https://cloud.githubusercontent.com/assets/6043821/12887396/3388683e-ce74-11e5-9c6f-3ca3f231414c.png)

[2016-02-08 14:27] MikeyGMT commented on #1335
Thanks, of course for the help, as always you guys are great.
I know it's fast in the file system. By me doing some translating, I hope to improve my skills in php and Welsh. And for e107 I aim to reduce repeated phrases (less work for translators). I hope we can make Translation in the UI faster, easier and more accessible to the non-technical user community, which I hope translates in to more la

[2016-02-08 15:40] Jimmi08 commented on #1298
Yes, it works. Thank you very much.

[2016-02-08 15:40] #1298 closed

[2016-02-08 16:09] Jimmi08 opened #1339 "question to e_search.php"
Ok, I got it working new way. Amazing. Thank you.

Just because links_page plugin is special by adding onclick functionality to its links (similar like sitelinks, to set open in new window, small window etc), I noticed this:
- there is no possibility to set target for a tag, isn't?
- there is no possibility to have title without link (a tag) and then add link to details

I mean this:
code from sea

[2016-02-08 18:25] CaMer0n commented on #1323
:+1:

[2016-02-08 18:26] #1323 closed

[2016-02-08 18:29] CaMer0n commented on #1315
Nice one @Moc :+1:

[2016-02-08 18:31] CaMer0n commented on #1257
@willem010 Try the "JS/CSS Cache" - it's not a friendly URL, but it should achieve the same performance boost.

[2016-02-08 18:38] CaMer0n commented on #1329
The problem is that on large tables with many fields, we want as much space as possible in the "right" panel. Did you try the Bootstrap list group with badges, did it help?

[2016-02-08 20:37] tgtje commented on #1255
Having EXACTLY same issue, new fix does not offer solution  (some more extended fields is only difference, not the message)

[2016-02-08 21:26] Jimmi08 opened #1340 "gallery.php - titles from template"
In gallery.php there is title always as gallery title. I would like to replace it by template.

Could you confirm thi? If it is correct change, I can create request:

![image](https://cloud.githubusercontent.com/assets/5429548/12899661/b2ddcc12-ceb2-11e5-8f9d-714df287b0d8.png)
![image](https://cloud.githubusercontent.com/assets/5429548/12899697/e479afac-ceb2-11e5-859c-79eafffb2f52.png)

[2016-02-08 21:55] CaMer0n commented on #1255
Please share your *_sql.php file for testing

[2016-02-09 01:13] LaocheXe opened #1341 "Issue: Converted Themes show error"
Error
There is no layout in theme.php with the key: default

![capture](https://cloud.githubusercontent.com/assets/5818022/12904856/dcd0a528-ce97-11e5-911b-848e34896ee2.PNG)

I sync the e107 core files the other day and now this error is displaying.

[2016-02-09 05:36] CaMer0n commented on #1341
Please share your theme.xml

[2016-02-09 08:35] willem010 commented on #1257
yep, that does the trick (Y)
totally missed that one again.. haha.

btw, this also makes google fonts availabe using
e107::css('url', "//fonts.googleapis.com/css?family=fontname;"); in theme.php :) )

which didnt work before without adding &amp; to the url ..

[2016-02-09 09:38] lonalore commented on #1293
I sent you an email with environment variables. I think it contains sensitive information, so I did not post it here.

[2016-02-09 10:36] Jimmi08 commented on #1341
I noticed this too in custom theme, I needed to add to theme $LAYOUT['mykey'] ...
But his theme use old way with  $layout = "_default";  Maybe legacy problem?
in xml: ```<layout name='default' title='Default' default='true'/>```

[2016-02-09 11:44] willem010 commented on #1257
hmm.. just updated my xamp to latest git..

(it does mention experimental..  but i do have a few issues with using that js/css cache.)
first notice.. for the first time script consolidation started working .. but only when this cache is enabled.
when disabled it doesnt consolidate.
(the settings disable consolidation / disable consolidation cache have no effect at all
i did delete cache on every c

[2016-02-09 12:29] willem010 commented on #1257
o.. and the most important part i forgot to mention.

the new short url is nowhere to be found.
all scripts just output the old fashioned thumb.php?src= url for the images.

[2016-02-09 16:19] martyshep commented on #1016
+1 for this, well +200 if I include the users of my forum.
I would love to see some new functionality like this.  I moved our site from e107 v1.7 to V2.0 and it would be great to have things like:  Opt in to be able to follow ALL posts.  Also to have the icon for new post on an existing thread change to the new post icon.  I only see the New Post icon come up when the new thread itself it created,

[2016-02-09 17:39] CaMer0n commented on #1341
theme.php should contain a $HEADER['default'] and $FOOTER['default'] or the entry should be removed from theme.xml

[2016-02-09 18:18] tgtje commented on #1255
Please provide a mail address (previous messages never arrived)

---
Dit e-mailbericht is gecontroleerd op virussen met Avast antivirussoftware.
https://www.avast.com/antivirus

[2016-02-09 18:47] CaMer0n opened #1342 "Cleanup: Replace all hardcoded <img> tags with $tp->toImage();"
<img> tags are inconsistent throughout the core.
For icons we already have toIcon() but for everything else they are currently hard-coded.
Having a central method for rendering will provide enhancements for rendering on hi-res mobile devices/tablets as well as easier updates. (eg. 'img-responsive' will become 'img-fluid' in Bootstrap 4).

I understand this is a HUGE task, so pull-requests are VERY

[2016-02-09 18:52] martyshep opened #1343 "Email notify option/checkbox for new post in forum does not appear."
I can see {EMAILNOTIFY} in forum_post_template.php but it does not put a checkbox on the New Post screen to enable or disable (if default behaviour) like it used to in V1.7.

In fact I don't think the Email Notify works, as even when I enable it 'on by default', I do not get notification of a reply to a new forum thread.  However, I do get a notification if I select to 'Track' the forum post after

[2016-02-09 19:17] willem010 commented on #1257
ok, after some bug hunting sessions..
i found 2 issues, one with consolidation as mentioned before
and one with preload images combined with consolidation.

(with preload images turned off, i can get everything to work.
not the way it should be.. but i'm not complaining haha.)

@CaMer0n  do you want me to add new issues for this?

[2016-02-09 19:38] Jimmi08 commented on #1342
I take Gallery plugin. Did you mean this?
![image](https://cloud.githubusercontent.com/assets/5429548/12928276/cc51fdfc-cf6c-11e5-84e2-d4d6cd3a1ecf.png)

[2016-02-09 19:54] CaMer0n commented on #1257
Just re-opened this one, that's fine. I found another issue with the fontello.css messing up shared buttons.

[2016-02-09 19:57] CaMer0n commented on #1257
btw. Your Admin -> Preferences -> Javascript should look like this:

![javascript_settings](https://cloud.githubusercontent.com/assets/2825679/12928750/254a7ff4-cf24-11e5-9855-5007eb50b881.png)

[2016-02-09 19:58] CaMer0n commented on #1342
@Jimmi08 Yes, something like that. But $att needs to be merged with array('alt'=>'whatever');

[2016-02-09 20:06] Jimmi08 commented on #1342
@CaMer0n
I did it by e_rss.php. I don't see diffs. What I am missing?
![image](https://cloud.githubusercontent.com/assets/5429548/12928962/b6a05216-cf70-11e5-9d13-7f2ac354c68f.png)

[2016-02-09 20:07] willem010 commented on #1257
haha, i had it exact the opposite of this.

i want the scripts to be consolidated into 1 scripts.. so i would think disable consolidation would turn this off,
i want zlib compression on the consolidated script.. so would think enabling it would add zlib on the js. (which my server will do anyway.. ).
disable the cache.. using it seems ok to me? lol  please use cache.. save every bit.
and browser c

[2016-02-09 20:14] willem010 opened #1344 "ejs_preload issue on consolidated script"
looks like a script conflict somewhere,
when all scripts are consolidated into one file ejs_preload is undefined.

when theme img preloading is turned off, everything seems ok.

[2016-02-09 20:19] willem010 opened #1345 "consolidation into 1 file only working when js/css cache is on."
For some reason the js/css cache switches consolidation.
when caching is on, i get 1 css and 1 js file just like i want.
when turned off, i get lots of js and css files.
regardless of the javascript framework settings in prefs.
(those do not seem to do anything?)

[2016-02-09 20:22] CaMer0n commented on #1342
gallery parses some special parms to thumbUrl(), which are in $att. So you need to build on that array by adding alt and class.

[2016-02-09 20:24] CaMer0n commented on #1257
All the preferences above are for an older js management method which loads a url pointing to e_jslib.php and has PHP handle everything on the fly. The new "cache" system, just loads all the files and saves them in one compressed file located in e107_web/cache.

[2016-02-09 20:26] CaMer0n commented on #1344
If you take a look at the files generated in e107_web/cache perhaps you will see the issue?

[2016-02-09 20:27] CaMer0n commented on #1345
Most of it was experimental from what I see.

[2016-02-09 20:31] willem010 commented on #1344
i have been trying to find out whats happening here,

the function is loaded, present in the window object,
but when called it returns undefined.

maybe the call is too soon? and the js is not loaded yet?

[2016-02-09 20:34] CaMer0n commented on #1344
That javascript image preload code is VERY old. Perhaps we should be doing something like this instead? https://perishablepress.com/a-way-to-preload-images-without-javascript-that-is-so-much-better/

[2016-02-09 20:45] willem010 commented on #1344
everything works just as fast without it haha.
no idea why i was using it anyway.

but that method seems to make more sense yep.

[2016-02-09 20:50] tgtje commented on #1343
Different settings achieved ? mail has to be enabled
notify settings enabled ?
forum settings (2) enabled ?
mail working ?
if yes you would see this (files 3-4 days old)
![mail](https://cloud.githubusercontent.com/assets/1811857/12930196/204a8366-cf77-11e5-881a-46bea8299b19.jpg)

[2016-02-09 20:54] xenos88 opened #1346 "News are not visible and cannot be chosen from blog calendar"
News are not visible and cannot be chosen from date picker. Tried several fresh installations and changing themes, did not work. The problem is also visible on the e107 website, f.e. (http://e107.org/blog/day/20160902.html).

[2016-02-09 20:59] willem010 commented on #1345
if it's not doing anything, i opt for a removal ? or revival of the options?

imo, just having one file should be all we want, but maybe turning consolidation off helps some devs when they encounter scripts issues. its a lot easier to debug small files.
caching on or off should be ok with just the one setting in cache prefs.

[2016-02-09 21:16] Jimmi08 commented on #1342
Yes, I know what you mean. There are reasons why I can't do it and I let it to you  (I can be wrong, of course, I wrote this just to show that I tried :) )
- paths in gallery images (default from installation) includes {e_PLUGIN}, but thumbUrl() is called only for path with e_THEME or e_MEDIA, so they never be hashed with toImage();

-$att is not array in gallery plugin
![image](https://cloud.gith

[2016-02-09 21:54] CaMer0n commented on #1346
Thank you! Will look into it! :+1:

[2016-02-09 22:11] willem010 commented on #1257
ok. from now on im setting those like you said. will leave it at that.

for the img url topic.
i did a quick rewrite of my plugins to use the new short uri on our production server.
cloudflare now takes > 70% of the load where it was just 20 before..
(which is a huge deal on a 800mb traffic-a-day website.)
the server load dropped dramaticly. a money saver.
just perfect

[2016-02-09 22:22] CaMer0n commented on #1257
:+1: Thanks for that.

[2016-02-09 22:23] CaMer0n commented on #1344
This is the future of preloading. This old javascript is probably best removed. http://caniuse.com/#search=prefetch

[2016-02-09 22:24] CaMer0n commented on #1257
Would you consider running a report on your site and posting the URL?
https://gtmetrix.com/

[2016-02-09 22:33] willem010 commented on #1257
![image](https://cloud.githubusercontent.com/assets/6122908/12932775/dd7b4e5e-cf84-11e5-9e55-b8595d119f6d.png)
this should show it :)
gtmetrix still doesnt like the frontpage of gabber.fm very much  ..
but that still needs latest git (consol. not working there yet).  and it uses a lot of external scripts.
 gt metrix now scores 84 / 72 %
the big change here is it is using short uri (for 1,5 days no

[2016-02-09 22:37] willem010 commented on #1344
:D perfect !!

[2016-02-09 22:46] CaMer0n commented on #1257
Excellent! Thank you!! :+1:

[2016-02-09 22:56] CaMer0n commented on #1346
@xenos88 I just realized the link you provided is for a day without a news release. Does this work for you? http://e107.org/blog/day/20150208.html

[2016-02-09 23:11] xenos88 commented on #1346
Hello, the link does work. However, i can not still make the news working on my local machine. Spent already like 2 weeks on that. After a fresh installation it does not display any news (created by me in the admin panel or provided). It always shows no items. Moreover, after adding news it get's them to the count to the amount of posts in the month, but with "No news items for specified month".

[2016-02-09 23:25] martyshep commented on #1343
I do see the Forum Tracking icon and that works, since I installed the latest from repository to fix #784 and if I click the track thread after creating a new post, I do get notified but I do not get notified when I enable email notification ON by default.
![forum - admin area three percenters mcc 2016-02-09 23-22-05](https://cloud.githubusercontent.com/assets/15772899/12934092/0b0cbc78-cf84-11e5-

[2016-02-09 23:35] martyshep commented on #1343
Also I get the same where when Notify TEST run, email received, but when new thread made on forum no email is received.
![admin area three percenters mcc 2016-02-09 23-33-48](https://cloud.githubusercontent.com/assets/15772899/12934346/c755444e-cf85-11e5-9389-4b4510131e15.png)

[2016-02-09 23:49] CaMer0n commented on #1346
@xenos88 - Perhaps we can talk about it on gitter: https://gitter.im/e107inc/e107

[2016-02-09 23:57] #1344 closed

[2016-02-10 00:11] pierre0042 commented on #1336
Ok I will try this but I am sure I have already done this forum update.

[2016-02-10 00:17] pierre0042 commented on #1336
The problems I encounter are that the tables creation at step2 fails, because the tables already exist.

Adding a check for this case would be nice.

[2016-02-10 01:26] CaMer0n commented on #1336
@pierre0042 I'll work on something.

[2016-02-10 02:04] CaMer0n commented on #1336
Please update from github and try again. Thanks

[2016-02-10 02:17] #1345 closed

[2016-02-10 02:18] CaMer0n commented on #1341
I made a minor change which could affect this. Please test again.

[2016-02-10 03:13] #1311 closed

[2016-02-10 03:14] CaMer0n commented on #1311
@Serios This should be working now, please update and let me know how it goes for you. Thanks.

[2016-02-10 05:20] LaocheXe commented on #1341
The error no longer displays

[2016-02-10 06:53] CaMer0n commented on #1341
okay. Thank you. :+1:

[2016-02-10 06:53] #1341 closed

[2016-02-10 07:36] pierre0042 commented on #1336
Thanks. I have less errors but it still fails :
http://imgur.com/j6W4JB0

Some tables exist and are not empty...

[2016-02-10 08:28] lonalore commented on #1329
Could we use this layout (with "col-md-3" and "col-md-9") only for admin frontpage?
Layout with "col-md-2" and "col-md-10" could be used by other admin pages.

[2016-02-10 09:47] Serios commented on #1311
@CaMer0n Thanks it works perfectly now.

[2016-02-10 19:45] CaMer0n commented on #1336
@pierre0042 Please restore your v1.x forum tables, remove the new ones, and start again.

[2016-02-10 20:03] CaMer0n commented on #1329
@lonalore I have committed some changes. There was some excess padding there leftover from the bootstrap2 version. Please test and send a screenshot. thank you!

[2016-02-10 20:03] CaMer0n commented on #1311
:+1:

[2016-02-10 20:19] lonalore commented on #1329
It's better. :)

1440x900:
![kepernyokep_2016-02-10_21-16-29](https://cloud.githubusercontent.com/assets/6043821/12960488/d2209764-d03b-11e5-99df-973c48e2a28b.png)

1280x800:
![kepernyokep_2016-02-10_21-17-01](https://cloud.githubusercontent.com/assets/6043821/12960494/db2ff91c-d03b-11e5-927b-6f295844ebda.png)

[2016-02-10 21:35] pierre0042 commented on #1336
Ok I will try that, just to be sure, the v1 tables are :
e107_forum
e107_forum_t
e107_forum_thanks (from a plugin I think)

[2016-02-10 21:48] CaMer0n commented on #1336
Yes!  (I have no idea about e107_forum_thanks)

[2016-02-10 21:51] pierre0042 commented on #1336
Success
Congratulations, the forum upgrade is now completed!

Forum Version updated to version: 2.0

Ok so I run through the 12 steps without error.
I have chosen to keep the v1 tables as backup.
I hope it will be ok now.

[2016-02-10 22:23] pierre0042 commented on #1336
It's not working... In the plugin manager, it says that Forum must be upgraded to v2.0 :(
Is it maybe because I kept the old tables ?

[2016-02-10 22:55] pierre0042 commented on #1336
I tried to rename the old tables but it's the same problem :
http://imgur.com/WxhYnVW

[2016-02-10 22:57] CaMer0n commented on #1336
@pierre0042 If you need to talk in real-time, please join us: https://gitter.im/e107inc/e107

[2016-02-11 06:27] CaMer0n commented on #1342
There were some bugs to fix first. Thank you for trying.

[2016-02-11 13:33] pierre0042 commented on #1336
Thanks to CaMer0n the upgrade is now fully done and no more message is displayed.

[2016-02-11 13:33] #1336 closed

[2016-02-11 13:35] pierre0042 commented on #425
I have no more this issue since #1336 is fixed

[2016-02-11 13:46] rica-carv opened #1348 "plugin.xml wrong parse "error"?"
Somehow, the plugin.xml check doesn't like portuguese language....
If i put this line
`<e107Plugin name="FilLis - Listas Filatélicas" version="0.30a" compatibility="2.0" installRequired="true" xhtmlcompliant="true" >`
or any other accented portuguese text inside the plugin.xml file, the plugin manager returns

and the plugin is not even listed on the installed plugins or to be installed plugins...

[2016-02-11 13:47] #425 closed

[2016-02-11 14:30] pierre0042 commented on #1337
So actually the SQL error comes from the "newforumpost" menu. After a Forum upgrade from v1 to v2 this menu doesn't work anymore. I have removed the menu as a temporary solution...

However, I still have the PHP warning.

[2016-02-11 15:12] kevinmui opened #1349 "class2.php errors after install"
CRITICAL ERROR:

Line 483 /var/www/html/class2.php
Error reported as: [3]: Core settings saved - backup made active.
CRITICAL ERROR:

Line 485 /var/www/html/class2.php
Error reported as: [4]: No core backup found. Check that your database has valid content.

What's a guy to do?

[2016-02-11 15:33] Moc commented on #1337
No this can be sorted out through this issue, no need to create a new one. Thanks!

[2016-02-11 15:35] Moc commented on #1349
Are you using the ZIP file from the e107.org website or are you using the latest files from Github?

Try downloading the latest files by clicking here: https://github.com/e107inc/e107/archive/master.zip
Then reinstall.

This way, you get all the recent bugfixes. If I remember correctly, there were some issues with the MySQL strict mode, causing the issue you are experiencing. Using the newest file

[2016-02-11 15:37] kevinmui commented on #1349
Yes just grabbed the master.zip from Git ~15 minutes ago.  I will try again (tried many times over for the past 2 days!)  It's hit and miss thus far.  Sometimes install would go through (but with image problems), most of the time, class2 error.

php 5.5.9
mysql 14.14
ubuntu 14.04.2 lts

[2016-02-11 15:51] Moc commented on #1349
That's actually pretty interesting (the fact that sometimes it works and sometimes it does not)

@CaMer0n Any suggestions on how to debug this?

[2016-02-11 15:51] kevinmui commented on #1349
@Moc

I tried the master.zip, and that tar.gz from the sourceforge.  Difference I see from the installer is that master.zip does one extra check.

EXIF extension	Installed	 PASS

Aside from that, same outcome.

[2016-02-11 16:13] Moc commented on #1349
@kevinmui Can you check if MySQL runs in strict mode? Also, can you provide an export from your database table directly after install?

[2016-02-11 16:20] Moc commented on #1349
Related: #1207 and #1102

[2016-02-11 16:27] kevinmui commented on #1349
@Moc https://app.box.com/s/uun0rx4ip31z3nbtlfc78qkjw04ck8kk export file directly after install leading to the error.

[2016-02-11 17:46] tgtje commented on #1348
just commenting : when using plugin builder it IS mentioned that plugin name and some more... have to be English ....

[2016-02-11 17:49] rica-carv commented on #1348
I didn't use the plugin builder on that specific plugin, since i'm upgrading to v2 all my plugins, so i didn't noticed that crumbersome rule....
So, all the plugins have to be written in English?
Good way to go.....

[2016-02-11 18:01] CaMer0n commented on #1348
plugin.xml is in English, with lan="LAN_DEFINITION" to other languages for specific tags. (see forum/plugin.xml for an example)

[2016-02-11 19:21] #1337 closed

[2016-02-11 19:24] CaMer0n commented on #1337
@pierre0042 This menu is working again.

[2016-02-11 20:24] CaMer0n commented on #1349
@kevinmui Please join us at https://gitter.im/e107inc/e107 to troubleshoot in real-time, if you have time.

[2016-02-11 23:40] pierre0042 commented on #1337
Not completely it seems :
http://imgur.com/wsE4t1Q

[2016-02-12 04:58] CaMer0n commented on #1337
Did you scan your plugin directories?

[2016-02-12 08:00] pierre0042 commented on #1337
Now yes...
Here is what I got :
http://imgur.com/tmvc7I1

[2016-02-12 09:54] rica-carv commented on #1348
So, on other words, i'll also have to upgrade all the lan files from my 1.4 plugins to the v2 structure (as in forum/languages)???

[2016-02-12 11:03] Moc commented on #1348
Well that would be the most optimal solution yes, especially to prepare for future updates.

The minimal requirement however, is having English language files. These should already be present. The plugin.xml also needs to be in English, but you can reference the LAN_* for multilanguage. (See the forum plugin.xml for an example). So the only thing you need to change is:

`<e107Plugin name="ENGLISH

[2016-02-12 11:30] pierre0042 opened #1351 "Unable to add comment on downloads"
I cannot add a comment on a download page, despite the fact that I allowed comments on the admin options.

"0 comments" is shown but there is no field to add a comment.

Screenshot :

![qka9f1c](https://cloud.githubusercontent.com/assets/577978/13017683/e4258e0c-d1c5-11e5-8114-4ea3f284cca8.png)

[2016-02-12 14:46] #1348 closed

[2016-02-12 16:07] Moc commented on #369
@lonalore Would you mind taking a look at this issue when you have a spare few minutes? Much appreciated!

[2016-02-12 16:09] Moc commented on #410
Should be sorted out by now, if not please re-open

[2016-02-12 16:09] #410 closed

[2016-02-12 16:12] Moc commented on #1177
With all the LAN changes I'm pretty sure this has been addressed by now. If not please re-open.

[2016-02-12 16:12] #1177 closed

[2016-02-12 16:13] Moc commented on #867
@LaocheXe Is this issue still happening?

[2016-02-12 16:15] #769 closed

[2016-02-12 16:15] Moc commented on #805
There have been many changes with regards to http/https. If there are any outstanding problems, please open up a new issue.

[2016-02-12 16:15] #805 closed

[2016-02-12 16:17] Moc commented on #605
Where are we on this?
@CaMer0n @lonalore

[2016-02-12 16:22] willem010 commented on #805
works perfectly. thnx!

[2016-02-12 16:47] tgtje commented on #1177
Yes, it was waiting for a response from the poster ( test)

---
Dit e-mailbericht is gecontroleerd op virussen met Avast antivirussoftware.
https://www.avast.com/antivirus

[2016-02-12 17:36] CaMer0n commented on #605
@Moc It should be fully functional, but will require more testing. Yesterday I got the install working with PDO. You can try it by uncommenting these lines at 240:
[code]

[2016-02-12 17:45] CaMer0n commented on #1337
Thanks. You can delete e_latest.php and e_status.php. Btw. you know you can drag images straight in there, right?

[2016-02-12 17:48] CaMer0n commented on #1351
Please tell me, what theme is that you're using?

[2016-02-12 17:49] pierre0042 commented on #1351
Information:	Supplementary theme ported by veskoto. Desing Free CSS Templates.

[2016-02-12 19:54] tgtje commented on #1351
Theme has not issues on this.... (comments work)
![dlc](https://cloud.githubusercontent.com/assets/1811857/13018609/c9bad68a-d1ca-11e5-8f0e-043b26d7fdb7.jpg)

[2016-02-12 20:09] lonalore commented on #369
Okay, I'll fix it tomorrow. :)

[2016-02-12 23:07] pierre0042 commented on #1337
Ok thanks after files deletion its working again

[2016-02-13 09:33] pierre0042 opened #1353 "Some errors after plugins scan"
I see this errors after a plugin scan :

![e107plugins](https://cloud.githubusercontent.com/assets/4124597/13026988/3bce291c-d23d-11e5-88d3-a5a947e602e2.png)

[2016-02-13 12:48] tgtje commented on #1353
These are not real errors,   > hover mouse for info <  ; it warns you (due to older plugin) that  inside uses deprecated coding/standards which have been changed in v2

[2016-02-13 14:02] pierre0042 commented on #1353
So I can basically ignore this ?

[2016-02-13 14:13] pierre0042 commented on #1351
Running "Repair plugin" doesn't fix the problem for me

[2016-02-13 17:16] CaMer0n commented on #1353
Yes, they're just warnings.

[2016-02-13 17:16] #1353 closed

[2016-02-13 18:50] CaMer0n commented on #1351
Tested with jayya v1.x theme and it works as expected. @pierre0042 This would appear to be an issue with this theme in particular. Could you try with some others?

[2016-02-13 18:54] pierre0042 commented on #1351
Ok I will try to do that.

[2016-02-13 19:57] CaMer0n commented on #1346
@xenos88 Please update and test again. Thank you.

[2016-02-14 15:47] dimante opened #1356 "PHP 7.0 not working with e107"
Does E107 v2 support PHP 7.0.3 ?

[2016-02-14 17:46] LaocheXe commented on #1356
Just changed my server to PHP 7.0 - get a blank screen. So I don't think it does support it yet.

[2016-02-14 17:49] Moc commented on #1356
That may indeed be the case, since e107 is likely to use some outdated code which has been deprecated and removed since 5.3. It would be interesting to see what kind of errors it throws. So please use the debugger and post some of those errors here if you like. Then for the future, these can be reviewed.

[2016-02-14 18:13] LaocheXe commented on #1356
I used the e107 Debug tool for FireFox and nothing showed up on my end.

[2016-02-14 18:14] Moc commented on #1356
Ah probably because it throws a fatal error before debug can be initialized. Well all right. Then it will be manual debug work. I might fire up a test environment with PHP 7 to test sometime, but knowing me it will take a while haha.

[2016-02-14 18:31] LaocheXe opened #1357 "Fix: YouTube and Media Manager"
So I've been trying to use the insert YouTube Videos via Media Manager - but running into issues.

First issue is the Debug: gives the url like this - https://www.googleapis.com/youtube/v3/search?part=snippet&channelId=&type=video&maxResults=20&key=

Issue is it is missing the API key that is entered into the Media Manager settings, it is also missing the channelid as well

e107_admin/image.php
On

[2016-02-14 18:52] LaocheXe commented on #1356
Fatal error: Uncaught Error: Call to undefined function mysql_connect() in /home/xxxxxxx/public_html/xxxxxx/e107_handlers/mysql_class.php:203 Stack trace: #0 /home/xxxxxxx/public_html/xxxxxx/class2.php(410): e_db_mysql->db_Connect('localhost', 'dbUser', 'dbPass', 'dbTableName') #1 /home/xxxxxxx/public_html/xxxxxx/index.php(56): require_once('/home/clancoy1/...') #2 {main} thrown in /home/xxxxxxx/p

[2016-02-14 18:56] LaocheXe commented on #1356
looks like on my server the PHP 7 extensions are missing mssql and mysql

[2016-02-14 19:55] CaMer0n commented on #1356
Finally got PHP7 running on a portable webserver. Fixes coming shortly.

[2016-02-14 20:08] pierre0042 commented on #425
Finally the problem is back :/

[2016-02-14 20:19] pierre0042 commented on #1351
Ok it works with another theme (I tried with bread_of_life).
So this is probably theme-related...

[2016-02-14 20:31] LaocheXe commented on #1351
I had a legacy theme - what I did was copy the core templates and added them to the theme folder

themefolder -> templates

[2016-02-14 20:38] CaMer0n commented on #1351
@pierre0042 Just delete or rename the download template in your theme's folder, and it will automatically load the default one.

[2016-02-14 20:40] pierre0042 commented on #1351
There is no "templates" folder in the theme currently

[2016-02-14 20:41] pierre0042 commented on #1351
Adding the one from the "core" makes a "Submit comment " text appear but no box to enter text aside...

[2016-02-14 20:42] pierre0042 commented on #1351
It's maybe related to this error I see at the bottom of the page :

PHP Errors:

Warning array_change_key_case() expects parameter 1 to be array, null given, Line 134 of [MYPATH]/www/e107_handlers/comment_class.php

[2016-02-14 20:43] pierre0042 commented on #1264
I have the same problem: contact is empty after upgrade

[2016-02-14 20:57] dimante commented on #1356
Nice!!

On Sunday, February 14, 2016, Cameron <notifications@github.com> wrote:

--

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

*This email may contain information that is confidential or attorney-client
privileged and may constitute inside information. The contents of this
email are intended only for the recipient(s) listed above. If you are not

[2016-02-14 21:00] LaocheXe commented on #1264
Again this is a theme issue, you need to add the core template of contact_template.php into your selected theme folder

e107_core/templates/contact_template.php
copy and paste into
e107_themes/yourtheme/templates/contact_template.php

[2016-02-14 21:08] pierre0042 commented on #1264
e107_core/templates/ ok...
I thought it was e107_themes/templates/

[2016-02-14 21:09] pierre0042 commented on #1264
With e107_core/templates/ I have now my contact page correctly displayed.
Thanks.

[2016-02-14 21:10] pierre0042 commented on #1351
Adding the e107_core/templates/ directory in my theme fix the problem (and the php error).
Thanks.

[2016-02-14 21:10] #1351 closed

[2016-02-14 22:22] pierre0042 opened #1360 "Error when updating download file"
In the Downloads > Manage section, when I edit one download, I change the file, select it from the Media Manager, Close, and when I click on "Update Download", I got this error displayed at the bottom of the page :

PHP Errors:

Warning filesize(): stat failed for ../../e107_files/downloads/Il y a un merveilleux a se dire que l on invente sa vie.mp3, Line 1630 of /home/polyamou/www/e107_plugins/do

[2016-02-14 22:29] pierre0042 commented on #1246
I have the same question :)

[2016-02-14 22:36] pierre0042 commented on #550
Same error for me

[2016-02-14 23:23] CaMer0n commented on #1246
Categories are created by plugins, not by admins. The only exception is the gallery plugin.

[2016-02-14 23:28] pierre0042 commented on #1246
I don't understand your comment?

I am speaking of /e107_admin/image.php?mode=cat&action=create

[2016-02-15 03:01] CaMer0n commented on #1287
@realG Please update and try again. Also you can enable debug in e107_config.php using:
`define('e_DEBUG', true);`

[2016-02-15 04:27] HDG-Krypt opened #1361 "Error when attempting to modify or create welcome messages."
when trying to edit or create welcome messages on the latest source from github this error is displayed.

Fatal error: Cannot use string offset as an array in -snip-\www\e107\e107_handlers\form_handler.php on line 4001

Thought it would be an idea to pass this on to you.

[2016-02-15 04:39] HDG-Krypt commented on #1361
Update: this also seems to happen for any page that can edit any type of form input.

[2016-02-15 08:03] #1361 closed

[2016-02-15 09:10] CaMer0n commented on #1246
I guess my question should be, what kind of category are you attempting to create?

[2016-02-15 10:50] tgtje commented on #1356
Well, it's not 7.0.3 but 7.0.2 will do too ? (visual confirm)
![php7](https://cloud.githubusercontent.com/assets/1811857/13046656/509640de-d3da-11e5-965a-834a01b6a727.jpg)

[2016-02-15 14:11] dimante commented on #1356
http://php.net/ChangeLog-7.php#7.0.3

On Mon, Feb 15, 2016 at 4:50 AM, leo <notifications@github.com> wrote:

--

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

*This email may contain information that is confidential or attorney-client
privileged and may constitute inside information. The contents of this
email are intended only for the recipient(s)

[2016-02-15 15:19] lonalore commented on #369
Merged. Please test it... :)
It works fine for me.

[2016-02-15 15:27] tgtje commented on #1356
Thanks but was aware of already 3thrd version in 3 months..., my hoster may or may not update at point in time ( not using 7 normally  as too much going on in 'the head', and since guessing most users are in the 5 versions , thats prime target.. at least for me ).

[2016-02-15 16:35] Moc commented on #369
Hmm for me, when using Chrome, the button does correctly expand and hide but the text stays 'More..'. When expanded, it should change to Less..

[2016-02-15 17:08] CaMer0n commented on #1360
@pierre0042 If you re-import your vile and remove all the spaces from it's name, does it stop the error?

[2016-02-15 17:43] lonalore commented on #369
I tested it with:
- Mozzilla Firefox for Linux v44.0.2
- Chrome v48.0.2564.109 (64-bit)
- IE 11

And it works properly. o.O
Please clear your cache and try again. It should work.

[2016-02-15 19:24] CaMer0n commented on #1349
@kevinmui I ran some tests on PHP7 and committed some changes. Would you mind testing again?

[2016-02-15 19:25] CaMer0n commented on #1357
Thanks for the fix.

[2016-02-15 19:25] #1357 closed

[2016-02-16 11:58] Moc commented on #369
I guess there was a caching issue indeed. It's working fine now. Thanks a lot.

[2016-02-16 11:58] #369 closed

[2016-02-16 19:26] Jimmi08 opened #1363 "questions to github update"
To be able to update in developer mode from github is absolutely amazing. Really thanks for this.

But could it be possible set the path in preferencies? If I don't want to update from main repository (with latest changes) but from fork or other repository?

Also how this could be used for custom plugins?

[2016-02-16 21:50] Moc commented on #1363
https://github.com/e107inc/e107/issues/1308

[2016-02-16 22:00] LaocheXe commented on #1356
Fatal error: Uncaught Error: Call to undefined function mysql_connect() in /public_html/defiantz/e107_handlers/mysql_class.php:206 Stack trace: #0 /public_html/defiantz/class2.php(411): e_db_mysql->db_Connect('localhost', '*************', '*************', '********') #1 /public_html/defiantz/index.php(56): require_once('...') #2 {main} thrown in /public_html/defiantz/e107_handlers/mysql_class.php

[2016-02-16 23:00] CaMer0n commented on #1356
@LaocheXe If you switch to PHP7, you'll need to add: `define('e_PDO', true);` in your e107_config.php

[2016-02-16 23:15] CaMer0n commented on #1356
Added an auto-detect for an easy upgrade. ;-)

[2016-02-17 17:43] Jimmi08 opened #1365 "errors in console"
Hi,
latest github files, I didn't notice this before, it has to be related to latest changes:

- fresh install
- go to news category
- edit category
- upload icon via media manager - first error
- insert icon (still in edit form) -  two errors

![image](https://cloud.githubusercontent.com/assets/5429548/13118659/8df79604-d5a5-11e5-8add-d0f30b729b70.png)

insert image to news:
![image](https://clou

[2016-02-17 20:24] pierre0042 commented on #1246
Just a music category for mp3 files.

But it seems to be working now for me.

[2016-02-17 20:27] pierre0042 commented on #1360
I cannot reproduce anymore.

[2016-02-17 20:27] #1360 closed

[2016-02-17 20:37] pierre0042 opened #1366 "Errors in categories list"
In /e107_plugins/download/admin_download.php?mode=cat&action=list

At the bottom of the page I have :

PHP Errors:

Warning strlen() expects parameter 1 to be string, array given, Line 1459 of /home/polyamou/www/e107_handlers/e_parse_class.php
Warning strpos() expects parameter 1 to be string, array given, Line 1459 of /home/polyamou/www/e107_handlers/e_parse_class.php
Warning preg_split() expects

[2016-02-17 20:45] pierre0042 opened #1367 "Cannot create a new thread"
When trying to create a new thread in the forum, I don't have all the fields displayed, and I see this error at the bottom of the page :

System Debug
Using Permlist cache: True
Query failed (e107forum::threadGet ): SELECT * FROM `e107_forum_thread` WHERE thread_id = 92

[2016-02-17 20:57] pierre0042 opened #1368 "Error when rebuilding class hierarchy"
Success
Rebuilding class hierarchy: completed

but at the bottom :

PHP Errors:

Warning Invalid argument supplied for foreach(), Line 1329 of /home/polyamou/www/e107_handlers/userclass_class.php

[2016-02-17 21:09] pierre0042 commented on #1367
So actually the query works but returns nothing, which is perfectly normal because 92 is the id of the forum where I want to make a new thread, it's not a thread id...

[2016-02-17 22:19] pierre0042 commented on #550
Screenshot :

![e107-import](https://cloud.githubusercontent.com/assets/4124597/13126898/d1eee3fe-d5cc-11e5-9049-3c7aec2c61d7.png)

[2016-02-17 23:17] pierre0042 commented on #1285
I have the same problem with avatar on user registration.
Nothing happens when you click on the image.

See :
![e107-register](https://cloud.githubusercontent.com/assets/4124597/13128294/fcb89f8c-d5d4-11e5-9278-b6b17bb44690.png)

[2016-02-17 23:25] pierre0042 commented on #1285
Seems a duplicate of https://github.com/e107inc/e107/issues/1191

[2016-02-18 01:05] Aegypticus opened #1369 "Forum Plugin URLs incorrect."
When I install the base Forum plugin it does not form the URLs for links correctly. It point to a "Forums" folder in the root instead of the \e107_plugins\Forums folder. The redirects listed in URL Configuration for the Forum plugin do not seem to work. If I disable SEF for the Main Forum link, it works, but any Forums I create do not create their sub filder or files and link to the non-existant F

[2016-02-18 09:41] Moc commented on #1369
- Is your .htaccess file working? The e107.htaccess file should be renamed to .htaccess.
There is no need to create any folder with redirects.

- Please also try using the latest files from Github. You can easily update to the latest Github files using the 'developer mode': go to preferences > advanced > developer mode > enable, then into Tools > Database > Sync with Github.

[2016-02-18 09:55] KonzolozZ opened #1370 "eURL bug in the forum plugin?"
Hello,

I updated the e107 CMS from v1.04 to v2. I upgraded the forum (each steps compleated prefectly). If i disable eURL in the e107_config (and also renamed e107.htaccess to .htaccess) file the forum works perfectly, but if i enable eURL option i have lots of same forum name and the forum link not contain forum ID. In this situation i access only one forum.

Once a time i get valid url, but i d

[2016-02-18 10:48] pierre0042 opened #1371 "RSS feeds not working"
I tried to repair the RSS plugin but it doesn't change anything.

Clicking on the RSS button
/e107_plugins/rss_menu/rss.php?cat=news&type=2&topic=
gives me this :

rssCreate Object
(
    [e107:protected] => e107 Object
        (
            [server_path] => /
            [e107_dirs] => Array
                (
                    [ADMIN_DIRECTORY] => e107_admin/
                    [IMAGES_DIRECTOR

[2016-02-18 11:14] Jimmi08 opened #1372 "problem with demo content for gallery plugin"
Default (with installation) value for gallery category is gallery_image.  New gallery (manually inserted) has category gallery_image_2.
If somebody tries to use slideshow gallery menu for default category/from install, it doesn't work, because slideshow menu looks for image category gallery_image_

Thanks

[2016-02-18 11:34] Jimmi08 commented on #1226
I have still problem with this when using $frm->datepicker().  Is @mcpeace-maw solution something that should be done in core or can I solve this in plugin? And how?

[2016-02-18 12:27] #575 closed

[2016-02-18 12:27] #672 closed

[2016-02-18 12:28] #703 closed

[2016-02-18 12:28] #708 closed

[2016-02-18 12:29] #735 closed

[2016-02-18 12:29] #875 closed

[2016-02-18 12:31] Jimmi08 commented on #750
https://github.com/e107inc/e107/issues/1219

[2016-02-18 12:31] #1160 closed

[2016-02-18 12:33] pierre0042 opened #1373 "Cannot display all forum posts"
When I look at an user details
/user.php?id.42 for example
It shows at the end  :
Forum posts 	1387 ( 14.09% )
Comments posted	3 ( 2.88% )

With a link on the number to display these posts/comments
But when I follow the link
(for example for forum posts it is /userposts.php?0.forums.42 )
only 1 result is shown... (seems to be the more recent)

[2016-02-18 12:38] tgtje commented on #1372
Just adding : maybe intentional use ???, i do not know, i was in understanding that when adding new pictures and added them to a new cat was the way..as cat 1 already is a kind of demo ???
But as Jimmi mentioned : the behaviour is there.. (out of the box with just adding menu = empty black box ( with message below; which when having 3 ??  images disappears)

[2016-02-18 12:44] Jimmi08 commented on #1372
There should be at least warning, not use demo category for slideshow menu. I know it, but other people don't and they got black box with something like:  jumper has to be loaded before...

[2016-02-18 12:47] tgtje commented on #1372
Agree on that , i had to figure the use out for myself too....... maybe something for the admin field, or help docs??.

[2016-02-18 12:49] Jimmi08 commented on #1372
Ha, maybe is problem somewhere else. After changing category for slideshow menu, I can't select default gallery back...  If this preferencie would be empty, people will know that they need to create new category.

[2016-02-18 16:39] CaMer0n commented on #1370
Thank you. Could you please share a screenshot of what you are enabling?

[2016-02-18 16:58] mcpeace-maw commented on #1285
@pierre0042  It is working like this: first go to admin-area/users/options/Allow members to upload an avatar? = Yes (check yes). After that if you go in user-settings and click on avatar you will see the button to upload an avatar. When you check yes, you allow just members to upload an avatar, unregistered users in user registration page don't have an upload avatar button when they click on avata

[2016-02-18 17:04] pierre0042 commented on #1285
The option "Allow members to upload an avatar?" is already set to "Yes".

I see that it works for an existing user to upload an avatar in /usersettings.php

But it was working in v1 at the registration step...

[2016-02-18 17:08] Moc commented on #1285
@pierre0042 I agree, this needs enhancement.

Listed as bug/enhancement: Fix avatar upload on registration and/or remove from signup page when avatar upload option is disabled

[2016-02-18 17:17] mcpeace-maw commented on #1285
@Moc maybe it is not a bad idea to have 3 options with avatars: allow avatar upload for members, allow avatar upload for unregistered users and admin option to upload avatars in Media Manager and let new users or/and members to use them.

[2016-02-18 17:31] Moc commented on #1285
@mcpeace-maw
The first two are already present:
- Preferences > signup page options
- Users > Options > Allow members to upload an avatar?

The third one is possible through directly uploading avatars into the e107_media/hash/avatars/default folder. I think there is no interface available in the admin area to do this, so this could be an addition.

[2016-02-18 17:33] mcpeace-maw commented on #1226
@Jimmi08 it was an idea, not tested, but you can try to add in the plugin css .e-datetime (this is the trigger class in news, check if it is the same) position:relative;. Datepicker div is appended to the body outside the page wrapper div.

[2016-02-18 18:32] KonzolozZ commented on #1370
Hello,

I put define('e_MOD_REWRITE',true); to the config file. Downloads working correctly, but i have lots of same forum links:
https://dl.dropboxusercontent.com/u/2731244/e107/konzolozz-forum.jpg

[2016-02-18 18:45] Jimmi08 commented on #1226
@mcpeace-maw thanks, it didn't help, but I found it was already solved.
https://github.com/smalot/bootstrap-datetimepicker/issues/363
Just replaced new version from here:
http://www.malot.fr/bootstrap-datetimepicker/
![image](https://cloud.githubusercontent.com/assets/5429548/13154195/149ce754-d678-11e5-8101-eaac3cf1251a.png)

[2016-02-18 23:29] Aegypticus commented on #1369
Thanks for Pointing the way Moc! I ended up needing to uncomment the line below in .htaccess (worked without using renamed e107.htaccess) for the rewrites to work properly.

### Set this to your e107 site root, path relative to web root
 ### Uncomment it in case your server isn't able to rewrite proper
  RewriteBase /

Maybe it is something with the Gadaddy Host server.

[2016-02-18 23:30] #1369 closed

[2016-02-18 23:39] Moc commented on #1369
Glad you sorted it out!
GoDaddy has a terrible history with e107, just so you know haha. Don't be surprised if you run into more issues.

[2016-02-19 02:15] CaMer0n commented on #1371
Please disable DEBUGGING.

[2016-02-19 07:26] Jimmi08 opened #1375 "smtp settings don't send emails"
Tested just with sending test email in Email preferencies, not contact page.

Result was message that mail was succesfully sended (no error) but never received

Reason for this is empty "sender", It has to be the same as "from" on my hosting. After manually changing this in code, mail was received and notification mail works too.

Because there are new settings, maybe I forgot somewhere to set "se

[2016-02-19 12:49] tgtje commented on #1356
Still have some issues on an update but here's a fresh one (not meant as advertising, and not up to date by content > tgtje.nl  > running on php 7.0.3   **(fresh install)** 1 issue = create database not accepted  who's error ? mine? or credentials from server..?

[2016-02-20 17:01] LaocheXe commented on #1375
Tested SMTP as well - got message was sent but nothing in the e-mail or junk-mail, used the SSL and TSL settings as well as the other settings (POP3 before SMTP) and no go.

[2016-02-20 19:17] LaocheXe opened #1377 "Question: MyPlugin - Media Catagory"
I am developing a plugin that allows a admin to create ranks, awards, medals, etc......... each award, rank, medal gives them an option to upload an image - how do I create categories for the images?

Does my plugin get just one catagory or can I have unlimited categories?

I did not see anything about this in the Dev plugin section on the e107 website.

[2016-02-21 03:43] LaocheXe opened #1378 "Bug: Steam Auth (openID) Login fails"
I would like to ask someone to add a Steam Login to e107 - Steam uses OpenID and can be used as a Provider

https://steamcommunity.com/dev/

This should only take someone with better skills than me like 5/10 mins - all it needs is the API Key

[2016-02-22 08:37] Jimmi08 opened #1379 "no test in news if social plugin is installed"
With news (not important if theme use social shortcode or not), there is no test if social plugin is installed (it's not default)
Result:
![image](https://cloud.githubusercontent.com/assets/5429548/13213220/93ba347a-d947-11e5-9007-a349e64e9161.png)

I think that problem is in news.php here:
![image](https://cloud.githubusercontent.com/assets/5429548/13213249/c5bb628c-d947-11e5-982f-af929ebc6a95.pn

[2016-02-22 10:03] pierre0042 commented on #1371
Ok it seems that the debug mode was responsible for this.
With debug disabled it now works fine.
Thanks.

[2016-02-22 10:03] #1371 closed

[2016-02-22 11:40] pierre0042 opened #1380 "Cannot use non-ASCII characters in menu name"
When editing one of my menu I got this error :

![e107menu](https://cloud.githubusercontent.com/assets/4124597/13217157/c210bf24-d960-11e5-9faf-10240362cb67.png)

I think it was working in v1.

What is strange is that in the Menu list I can edit the menu names and use accents without error.

[2016-02-22 18:59] CaMer0n commented on #1380
The bug is that the inline editing is allowing it. Menu names should be ascii only. They are not displayed to the public, but are used by the code.

[2016-02-22 19:00] CaMer0n commented on #1379
You're right. It needs a check added.

[2016-02-22 19:02] CaMer0n commented on #1378
See if hybridauth has a plugin for it.

[2016-02-22 19:44] LaocheXe commented on #1378
http://hybridauth.sourceforge.net/userguide/IDProvider_info_Steam.html

https://github.com/hybridauth/hybridauth/blob/master/additional-providers/hybridauth-steam/Providers/Steam.php

Is that what you are asking for?

[2016-02-23 00:57] CaMer0n commented on #1260
It could be an issue with a regexp somewhere in the install code. To avoid errors in these xxx_sql.php files (and rule this out as a possible cause), it's good to always use a "structure" export from phpmyadmin or equivalent in these files.

[2016-02-23 00:59] CaMer0n commented on #1377
You should only need one category as the plugin will become the "owner" of that category. Check plugin.xml of gallery for an example to set it up.

[2016-02-23 01:01] CaMer0n commented on #1375
Some hosts block sending emails this way. Try enabling debug and then sending a test email.

[2016-02-23 01:03] CaMer0n commented on #1356
I've run the full install process on 7.0.2 (including create database), but not 7.0.3 yet.

[2016-02-23 01:55] #1377 closed

[2016-02-23 08:59] Jimmi08 commented on #1375
@CaMer0n Was your answer for me?  if yes, I did it and I found Sender is empty and I know from before that my hosting needs to have From and Sender the same values (and domain hosted in their servers)  I don't know how to get Sender filled.

[2016-02-23 09:47] pierre0042 commented on #1380
If they are not displayed to the public, I think I can deal with it.

[2016-02-23 09:52] pierre0042 opened #1381 "PHP error when trying to see all comments from a user"
I go to /userposts.php?0.comments.42

It only display one comment, and at the end of the page I see (with debug mode) :

PHP Errors:

    Internal Error Message: Bad stored array data -

$data = array ( \'admin_cols_userclass_classes\' => array ( 0 => \'checkboxes\', 1 => \'userclass_id\', 2 => \'userclass_icon\', 3 => \'userclass_name\', 4 => \'userclass_description\', 5 => \'options\', ), );, Li

[2016-02-23 13:53] tgtje commented on #1356
@CaMer0n still got the private window ? ;-)

[2016-02-24 17:18] MikeyGMT commented on #1110
If you have only one or two menus, a very quick workaround to this is to ...

1) Go to Menu's
2) Copy all Menu contents to a text file or to a page
3) Delete all Menus
4) Run the update and it will succeed.
5) Recreate your menus again

[2016-02-24 17:53] MikeyGMT commented on #1109
If you have only one or two menus, a very quick workaround to this is to ...

1) Go to Menu's
2) Copy all Menu contents to a text file or to a page
3) Delete all Menus
4) Run the update and it will succeed.
5) Recreate your menus again

[2016-02-24 18:25] LaocheXe commented on #1378
I think that is what you asking for, I add that php file to e107_handlers/hybridauth/Hybrid/Providers correct? Then what, I add the apikey info in the social plugin?

Do I have to make any changes to the Providers/Steam.php file for e107?

[2016-02-24 21:07] MikeyGMT opened #1383 "Custom Menu/Page > Update Page > LINK BB Code fails after 4 links in a list."
When attempt to update a page, I add a fourth link e,g. Three to I get 403.

[code]

It does not seem to matter what site is used.

I have tested
- using Lorem Ipsum .... , 3 x paragraphs - so it's not a size thing.
- using bb editor
- using tinymce

It just bombs each time when I add the 4th URL in the page.

It does NOT bomb when I put

LINK
Lorem ipsum ...
LINK
Lorem ipsum ...
LINK
Lorem ipsum

[2016-02-24 21:25] LaocheXe commented on #1378
Okay so I added the Steam.php and added a steam with apikey to the admin_config.php uploaded it and added my Steam API Key - go to front page and get a Steam Icon to login with (not logged in) - click on the button and got ×
Error
[2]Signup failed! Wrong provider.

I don't know if I did something wrong or not.

[2016-02-25 01:14] LaocheXe commented on #1378
http://defiantz.org/?route=system/xup/test

Test login only with Steam I get error number [22]
Test signup/login with Steam I get error number [2]

[2016-02-25 01:48] LaocheXe commented on #1378
Okay I got it to work (some what) - added the Steam info into the config.php.tpl

(Using the Test xup to login/signup)
I click on the link to login - takes me to steam - Click the login button
Get this link (wrong link I think)
http://defiantz.org/?route=system/xup/endpoint&hauth.done=Steam&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.mode=id_res&openid.op_endpoint=https%3A%2F%2Fste

[2016-02-25 18:50] CaMer0n commented on #1383
Is mod-security active?

[2016-02-25 19:19] CaMer0n commented on #1373
Please run this query in phpmyadmin:
[code]

[2016-02-25 20:29] #1372 closed

[2016-02-25 20:53] #1285 closed

[2016-02-25 20:55] #1226 closed

[2016-02-25 23:24] pierre0042 commented on #1373
Showing rows 0 - 29 (1,390 total, Query took 0.0004 sec)

[2016-02-26 02:45] #1379 closed

[2016-02-26 02:49] CaMer0n commented on #1356
Thanks @tgtje  - I saw it thanks. I will try to get a local version of 7.0.3 first, but thank you for setting it up. It will be good to have it tested on a remote machine also.

[2016-02-26 02:58] CaMer0n commented on #1378
If you added the files, and the details to social/admin_config.php, I'm not sure what else to suggest.
Some configs use 'key' while others use 'id'. Perhaps that's worth checking?

[2016-02-26 12:26] dimante commented on #1356
I have a 7.0.3 install on Windows so we can get that one tested too :-)

On Thu, Feb 25, 2016 at 8:49 PM, Cameron <notifications@github.com> wrote:

--

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

*This email may contain information that is confidential or attorney-client
privileged and may constitute inside information. The contents of this
email

[2016-02-26 16:17] LaocheXe commented on #1378
Okay so it might be something I haven't done then?

What have I done so far:

Added Steam.php into the e107_handlers\hybridauth\Hybrid\Providers directory

Added this to e107_handlers\hybridauth\Hybrid\resources\config.php.tpl
`"Steam" => array (
            	"enabled" => #STEAM_ADAPTER_STATUS#,
                "keys"	  => array ( "key" => "#STEAM_APPLICATION_KEY#" )
            ),`

Added this to

[2016-02-26 17:08] LaocheXe commented on #1378
I went and uploaded the current repo of hybridauth (https://github.com/hybridauth/hybridauth/tree/master/hybridauth)

making sure not to grab anything besides the files that e107 uses - that did nothing, found the log file from e107 (had to look in the system folder)

Im gonna delete that log and re-upload the e107 version of the hybridauth folder and add Steam to it once again

Attached below is

[2016-02-26 18:07] CaMer0n commented on #1356
@dimante Excellent! the more the merrier!

btw. For anyone wishes to run a test webserver on Windows (@Moc, @MikeyGMT  ?) , I just started using this:
 **Uniform Server Zero XII**

A modular system, and I can test SSL locally as well. :+1:

More info:
http://www.uniformserver.com/ZeroXII_documentation/
https://sourceforge.net/projects/miniserver/files/Uniform%20Server%20ZeroXII/

[2016-02-26 18:07] CaMer0n commented on #1356
Update: Just ran a fresh install on 7.0.3 without issues.

[2016-02-26 18:22] dimante commented on #1356
But what about all the fun challenges of iis lol :)

On Friday, February 26, 2016, Cameron <notifications@github.com> wrote:

--

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

*This email may contain information that is confidential or attorney-client
privileged and may constitute inside information. The contents of this
email are intended only for

[2016-02-26 18:39] MikeyGMT commented on #1383
I believe not, checked php_info, not found on page.

[2016-02-26 19:07] Jimmi08 commented on #1342
@CaMer0n Could you check if this is intention?  a tag and img tag have the same class. It's weird to have img-responsive class with a tag. Thanks.
![image](https://cloud.githubusercontent.com/assets/5429548/13362342/11f3090a-dcc4-11e5-8b54-cb19c721ad26.png)
![image](https://cloud.githubusercontent.com/assets/5429548/13362364/3a12c07e-dcc4-11e5-934b-0a735cb4f8ee.png)

[2016-02-26 19:33] Jimmi08 opened #1387 "weird behaviour with statistic logging plugin"
Latest github, localhost
Developer mode ON (tested the same result with OFF)
I got this page when click to configure stats plugin:
![image](https://cloud.githubusercontent.com/assets/5429548/13362976/863cd518-dcc7-11e5-9b46-24ba6f6fcc89.png)

But when set on Firefox e107 debugger , page is changed:
![image](https://cloud.githubusercontent.com/assets/5429548/13363019/cd6ab680-dcc7-11e5-9b13-28dfe24

[2016-02-26 20:28] CaMer0n commented on #1378
From what I remember, e107 doesn't use  hybridauth\Hybrid\resources\config.php.tpl - it is there just as a reference.

[2016-02-26 20:32] CaMer0n commented on #1342
Normally img-responsive should be on the `<img>` tag. If you remove it from `<a>` how does it look?

[2016-02-26 22:09] Jimmi08 commented on #1342
Good, without change.
But I notice next problem with description. There should be test if it's empty and this (when prefs downloaded is set to True) look weird too)
![image](https://cloud.githubusercontent.com/assets/5429548/13366697/55f86942-dcdd-11e5-95e4-e6626a2b93d2.png)

[2016-02-26 22:20] Jimmi08 commented on #1342
If this is right solution, I could try to pull request:
![image](https://cloud.githubusercontent.com/assets/5429548/13367024/7fee6362-dcdf-11e5-9288-e27bbe04313f.png)

![image](https://cloud.githubusercontent.com/assets/5429548/13366965/efc83682-dcde-11e5-8a6a-ed8974072f22.png)
Remove description is important, it should be done via template, there is shortcode for this.

[2016-02-27 00:45] LaocheXe commented on #1378
Well what am I doing wrong here then? Should I take this to their github for more information/help?

[2016-02-27 17:44] CaMer0n commented on #1378
@LaocheXe Could you upload your changes to your fork and send a pull-request? Then I could check your code. Thanks.

[2016-02-27 17:54] dimante commented on #1356
Should I grab the latest GIT and try this?

On Fri, Feb 26, 2016 at 12:22 PM, John Gates <dimante@dimante.net> wrote:

--

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

*This email may contain information that is confidential or attorney-client
privileged and may constitute inside information. The contents of this
email are intended only for the rec

[2016-02-27 20:00] LaocheXe commented on #1378
@CaMer0n done - did the pull request, take a look when you can.

[2016-02-27 23:04] HDG-Krypt commented on #1387
I can also confirm by default with statistic logging installed, the admin (e107_plugins/log/admin_config.php) page only renders the top image.

I am yet to try the solution with the FireFox e107 Debug Extension, but surely there is something amiss here.

Also I will note, I have not tried to replicate this same issue with alternate browsers just yet.

[2016-02-28 10:48] nesjett opened #1389 "[Documentation] small mistake"
Well, there is no real problem with this, just a little correction to reach perfection hehe:

**_e_dashboard.php_**
Adds custom plugin information to the dashboard of e107's admin area. The 'latest', 'status' and 'website stats' areas may all contain information from your plugin.
See e107_plugins/chatbox_menu**_/e_status_**.php for an example of usage.

You are describing e_dashboard, not e_status

[2016-02-28 13:24] nesjett opened #1390 "[Banner plugin issue] counting every render (even on admin panel)"
Well, I dont know if this is a bug or you did it that way, but I think that when you are managing a campaign, or editing them, your page prints shouldnt increase the impresions count.

Grts
- Nes

[2016-02-28 14:22] tgtje commented on #6
@CaMer0n  Question : Translation >  _Download_ is a CORE PLUGIN (likely always will be); Since several defines have a 'general' textual explanation, would it be agreeable to replace them with general LAN's in _ English php_ ,  so these ** new lan's** can be used site-wide (also in other plugins and files ?)
Example : Timestamp (as title) becomes LAN_TIMESTAMP  (in English php) which can be used in

[2016-02-28 14:27] Moc commented on #6
@tgtje Yes. That is exactly what is meant by "Check for duplicate/similar terms (frontend or admin) against e107_languages/English/English.php" in the first post in this issue. Most of these are already defined in English and need to be applied to the plugins (core or non-core - for plugin developers).

[2016-02-28 15:44] CaMer0n commented on #1356
@dimante Sure :+1:

[2016-02-28 15:48] CaMer0n commented on #1390
@nesjett Please provide the steps to reproduce. You are using the latest files from here on Github, correct?

[2016-02-28 16:09] CaMer0n commented on #6
@tgtje Just to note that LAN candidates for the English.php file should appear at least 3 (preferably 4) or more times throughout the core. (including plugins) and be used in the frontend also..

ie. The term "Timestamp" appears only twice, and both times only in the admin area - so it is **not** a candidate (used less than 3 times) as a generic LAN, but if it were, it would be for  `English/admin

[2016-02-28 16:19] #1387 closed

[2016-02-28 16:52] CaMer0n commented on #1370
@KonzolozZ I'm unable to reproduce this problem. Could you please check that all your forum categories have SEF Urls?

[2016-02-28 16:56] tgtje commented on #6
Ok sirs, thats agreed.. 3 > pref more before general lan usage
As for Timestamp > was idea for lan admin, but found the same in downlan hence the question arose

[2016-02-28 17:00] nesjett commented on #1390
I´m surprised because it stopped happening when I was trying to tell you an answer, but I found the path to make it happen.

Im using the github version, but downloaded some days ago.

When you create your first campaign, you activate the banner menu on the web, and you config the menu to show the newly created campaign (I also checked that the ad was showing on the menu), if you go to the campaig

[2016-02-28 17:18] Brooniee opened #1391 "[Forum] Subjectbox not rendering in v1 theme"
On creating a new topic, there is no subject box.

This was an upgrade from a v1 to v2.

![screenshot](https://cloud.githubusercontent.com/assets/11775356/13380606/459c3aa2-de3f-11e5-8135-714948b977b7.PNG)

[2016-02-28 17:19] Brooniee opened #1392 "[Admin] New 1.x upgrade to 2.0 every few hours"
This pops up every few hours, I go and carry out the upgrade but it always re-appears

![screenshot](https://cloud.githubusercontent.com/assets/11775356/13380627/82ab2c0a-de3f-11e5-9be8-9060668c9d41.PNG)

[2016-02-28 17:21] Brooniee opened #1393 "[Admin] Saving preferences results in white screen after upgrading 1.x to 2.0"
Source code of page is blank, nothing is displayed in error.log of apache2

[2016-02-28 17:21] LaocheXe commented on #1391
You need the forum templates added to your theme - e107_plugins/forums/templates

Just copy and past them into your theme's folder (ex: mytheme/templates/forum) <--- add them into that folder

[2016-02-28 17:23] LaocheXe commented on #1392
That is because of the site has old preferences saved into the database I believe - don't quote me on this.

[2016-02-28 17:35] LaocheXe commented on #1393
Do you remember what changes you made that made this happen?

[2016-02-28 18:14] CaMer0n commented on #1390
@nesjett hmm, it only increments the impressions when the banner is rendered. The method used to render the banner in the admin area is completely different. I can't understand why you would experience that.

[2016-02-28 18:24] CaMer0n commented on #1392
@Brooniee Thank you for sharing. Could you please enable debug and visit that upgrade page again?

[2016-02-28 18:45] #1391 closed

[2016-02-28 18:50] Brooniee commented on #1391
@LaocheXe @CaMer0n

tried this, still getting no subject box :(

my theme didn't have the structure templates/forum, so i created it and popped them in there, didn't work,
/e107_themes/Shaolin/templates/forum

i then tried in the root of the theme directory, still no luck ethier.
/e107_themes/Shaolin/

any suggestions?

[2016-02-28 18:51] Brooniee commented on #1393
@LaocheXe happens every time after upgrade from 1.x to 2.0, even if i change no values.

[2016-02-28 18:52] Brooniee commented on #1392
@CaMer0n thanks for quick response, currently can't enable developer mode due to:
https://github.com/e107inc/e107/issues/1393
:(

[2016-02-28 18:52] LaocheXe commented on #1393
do you have the bootstrap 3 theme in your e107_themes folder?

[2016-02-28 18:53] nesjett commented on #1390
I´ve created more campaigns and this keeps happening only to the first one (the one which I aded to the menu)

![screenshot_14](https://cloud.githubusercontent.com/assets/7051231/13381160/e60576b0-de54-11e5-9122-a8c26ffca544.png)

[2016-02-28 18:54] LaocheXe opened #1394 "Bug: Social Plugin Get API Links"
The get API Keys links do not work properly - it links back to admin_config.php

[2016-02-28 18:54] Brooniee opened #1395 "forum moderators listed as 'Array' when viewing a topic"
![screenshot](https://cloud.githubusercontent.com/assets/11775356/13381165/af7dc082-de4c-11e5-9c8a-c85de017c6be.PNG)

Another upgrade from 1.x to 2.0 bug, forum moderators are displayed as 'Array' instead of the usernames.

It is ok in forum view though.

[2016-02-28 18:55] Brooniee commented on #1393
@LaocheXe yes.

[2016-02-28 19:00] LaocheXe commented on #1391
@Brooniee - CamEr0n just made a fix in the forum_post.php - I would download the e107 files from githum here and upload them to your site and see if they show up

[2016-02-28 19:02] LaocheXe commented on #1393
@Brooniee would you like me to help you with this? Send me an e-mail to forbiddenchaos@gmail.com

[2016-02-28 19:08] Brooniee commented on #1393
@LaocheXe any help is welcome, thanks :)

though could i ask we go through steps here on github? might help if any other e107 users have issues when searching

[2016-02-28 19:09] LaocheXe commented on #1393
@Brooniee - very well, can I have a link to your website?

[2016-02-28 19:14] Brooniee commented on #1393
@LaocheXe http://www.crazy-fools.co.uk :)

[2016-02-28 19:25] Brooniee commented on #1391
@LaocheXe @CaMer0n yup after downloading latest git files and merging, the subject box is back. thanks!

[2016-02-28 19:28] LaocheXe commented on #1393
Well Notice that I can't create an account - you got any extended user fields enabled?

[2016-02-28 19:31] Brooniee commented on #1393
@LaocheXe another new issue :(

i have a few enabled yeah, but aren't be required at sign up.

[2016-02-28 19:31] LaocheXe commented on #1393
Which ones? I believe it was Birthday or another one that did this

[2016-02-28 19:34] Brooniee commented on #1393
On the page:

country 	Country.
x 	Favourite Minecraft Thing?
y 	IGN:
z 	Alternative IGN
birthday 	Birthday
location 	Location
timezone 	Timezone

[2016-02-28 19:36] LaocheXe commented on #1393
try disabling Birthday for me, let me know and I will try to sign up again

[2016-02-28 19:38] Brooniee commented on #1393
set: Applicable to No One for birthday

[2016-02-28 19:43] LaocheXe commented on #1393
I made an account, can you delete it?

[2016-02-28 19:43] LaocheXe commented on #1393
Also would you like help with your theme? Can I have your theme files?

[2016-02-28 19:46] Brooniee commented on #1393
@LaocheXe ah yeah, i see your account, now deleted.

sure, the theme needs some correcting too after upgrade but want to get the core issues fixed first :)

[2016-02-28 20:05] LaocheXe commented on #1393
Can you do me a favor - go into your e107_config.php and add this
`define('e_DEBUG', true);`

[2016-02-28 20:10] CaMer0n commented on #1391
@Brooniee :+1:

[2016-02-28 20:35] #1394 closed

[2016-02-28 20:52] dimante commented on #1356
Cameron.  Good work!  With the latest GIT pull my windows existing installation is working with PHP 7.0.3  I can keep this open if you wish to wait for feedback on other versions besides windows.

[2016-02-28 21:08] #1395 closed

[2016-02-28 21:11] CaMer0n commented on #847
I suspect this was fixed recently by https://github.com/e107inc/e107/pull/1385. Closing, but reopen if it continues.

[2016-02-28 21:11] #847 closed

[2016-02-28 21:13] CaMer0n commented on #1356
Great! :+1:   I'll close this now. We can now consider any news bugs with PHP 7 as regular bugs with their own issue number.

[2016-02-28 21:13] #1356 closed

[2016-02-28 21:15] CaMer0n commented on #1392
@Brooniee This is an upgraded site, correct? What third-party plugins are you using?

[2016-02-28 21:16] dimante commented on #1356
Sounds good!

On Sun, Feb 28, 2016 at 3:13 PM, Cameron <notifications@github.com> wrote:

--

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

*This email may contain information that is confidential or attorney-client
privileged and may constitute inside information. The contents of this
email are intended only for the recipient(s) listed above. If yo

[2016-02-28 21:30] CaMer0n commented on #1378
Tested by @LaocheXe and confirmed working. :+1:

[2016-02-28 21:32] LaocheXe commented on #1378
Alright, it work once - issue is - re-logging on.

So if a user uses Steam to login - they come back and use Steam to login again and then an issue comes up.

An error occurred while processing your request.

Reference #30.1675f648.1456694813.21ced38e

Going to try this with Facebook to see if I can recreate it - but no - I am allowed to re-login with Facebook.

GitHub login re-login works as well

[2016-02-28 21:36] CaMer0n commented on #1378
@LaocheXe Try enabling e_DEBUG again, it could be related to e107_class.php again.

[2016-02-28 21:39] LaocheXe commented on #1378
It is enabled

Odd I just tried it again and it works

Thing I was testing out is that Steam allows users to change their display name, I wanted to see if I logged out and logged back in using Steam if my display name would change to what I changed it on Steam and it doesn't - keeps the first time display name.

I will keep trying to see if it comes up again

[2016-02-28 21:41] LaocheXe commented on #1378
Also with Steam you don't stay logged in

[2016-02-28 21:42] LaocheXe opened #1396 "Feature Request: Social Plguin Return_URL"
I've notice a few sites such as Google, and Twitter request for a callback_url a.k.a return url - without them then people cannot login to the site.

Request - when clicking on the enable button on social -> admin panel (under the key and salt) have the bottom display what the return url should be.

[2016-02-28 23:28] Brooniee commented on #1392
@CaMer0n yeah a recent git clone too, but was happening on upgrade to 2.0

Plugins installed are:
Banners
Downloads
Feature Box
Forum
Gallery
Private Messenger
Poll
RSS
TinyMce4
User

[2016-02-28 23:29] Brooniee commented on #1393
@LaocheXe done.

[2016-02-28 23:34] Brooniee opened #1397 "Last Post by username missing"
Hello again,

I cloned latest git, and overwrote files.

Username is missing from last forum posts. see screenshot

![screenshot](https://cloud.githubusercontent.com/assets/11775356/13382740/d14c0d3c-de73-11e5-89d2-80cc2f4a080b.PNG)

[2016-02-28 23:36] Brooniee commented on #1393
@LaocheXe referencing to original issue (saving preferences), debug that comes up is:

Bad Request: e107::filter_request : 3170

@CaMer0n may be of interest?

[2016-02-29 00:56] CaMer0n commented on #1392
@Brooniee Thank you!

[2016-02-29 01:03] CaMer0n commented on #1393
@Brooniee,  Please check all your preference values for one of these:
[code]

[2016-02-29 09:30] nesjett commented on #1396
If Im right you dont have to configure it on your site but on the twitter apps management.

Its here:
![screenshot_15](https://cloud.githubusercontent.com/assets/7051231/13390550/64396436-decf-11e5-9c99-c37c6b701ce0.png)

Grts,
- Nes

[2016-02-29 20:35] Brooniee commented on #1393
@CaMer0n where do i find these? sorry.

[2016-02-29 20:46] MikeyGMT commented on #6
Is the correct way to replace lans to remove rather than comment out deprecated lines?
For example, rather than changing
define("ADLAN_4", "Preferences");
to
// define("ADLAN_4", "Preferences");//LAN_PREFERENCES
Can I suggest we remove the redundant line?
It would help reduce the file size.

Adding New Lans ...
can we refrain from re-using LAN_123, when replaced with a generic LAN?
can we also ins

[2016-02-29 22:12] nesjett opened #1399 "[Documentation] small mistake on "typeahead""
There is another small mistake on the docs, it says "typehead" in order of "typeahead"

http://e107.org/developer-manual/classes-and-methods#forms

![screenshot_16](https://cloud.githubusercontent.com/assets/7051231/13410783/eced526e-df39-11e5-89ca-a50f937e2cf8.png)

[2016-03-01 00:37] nesjett opened #1400 "[help] how to use the built in selectize"
Hi, I´m trying to use the selectize library, that there is bundled with e107 v2, to add an user search input.

Im using the form methods to achieve this, but I came across an issue, the form->text() method gets an array to configure the selectize parameters, but when I try to add a parameter that is a jquery function, it pass this as a string, so jquery does not executes this function.

Example:

[2016-03-01 01:27] CaMer0n commented on #1393
Database -> Preference Editor should list everything.

[2016-03-01 01:30] CaMer0n commented on #6
@MikeyGMT I'm not sure what the purpose of renaming ADLAN_4 to LAN_PREFERENCES is? Is it a real-life example? It looks nicer, but it will break any old plugin that happened to be using ADLAN_4 if you comment it out. And if you leave it, then we have duplication. So if it's already in lan_admin.php that is enough.

Generic LANs don't use numbers, while all others should. Hope that answers the quest

[2016-03-01 01:31] CaMer0n commented on #1400
Mentioning @lonalore who did the work on integrating this.

[2016-03-01 09:06] MikeyGMT commented on #6
@CaMer0n a couple of aims :-
* Reduce translation from 4k+ defines / ease the translation task (yes some are commented out in that count)
* Cleaner and easier to read (and learn) code, e.g. LAN_SOMETHING is easier to read and remember than LAN_1234 means "Something".
* Removing commented lines, reduce the filesize, improve performance, all be it only a small performance gain.
* GitHub remembers th

[2016-03-01 09:34] Moc commented on #1399
Thanks for reporting. Fixed!

[2016-03-01 09:34] #1399 closed

[2016-03-01 09:37] Moc commented on #1389
Thank you! Fixed.

[2016-03-01 09:37] #1389 closed

[2016-03-01 09:50] MikeyGMT commented on #6
I've just had a play with Languages > Deprecated LANS, chosen

admin/lan_updateadmin.php + Script > LAN + Autodetect.

OK so learned that commented out LANs show up as Disabled, so commenting out is actually useful.

UDALAN_4 "Name" has been identified as Common (Use LAN_NAME instead).

Interesting.

[2016-03-01 09:51] lonalore commented on #1400
Yes, the best choice to achieve it is using "userpicker" method.

Some usage examples:

[code]

Furthermore, you can use additional "selectize.js" options. [See documentation (General or Data/Searching options)](https://github.com/selectize/selectize.js/blob/master/docs/usage.md#options)

Using "selectize.js" callbacks are not supported at this time. But if you really want to use them, you can ove

[2016-03-01 10:40] nesjett commented on #1400
Thank you so much for your effort on this answer lonalore, you show me some interesting things, you guys made a great work with this cms, from v0.7 that Im using it, but (I know it´s annoying) you should improve the docs, cause you did a loot of work to make somethink really interesting for developers, but a good part of this awesomeness is hidden.

Keep up the good work!

[2016-03-01 10:49] Moc commented on #1400
Keeping this open with the documentation label as a reminder to incorporate this info into the documentation.

[2016-03-01 11:52] Jimmi08 opened #1401 "spam in logs"
Hi,
just notice this, I suppose anonymous shoud be able to do something with database. After I banned it, it change adress and start again. 2 days site live, latest github version. How to ban an range of adress? Asterix seems not work in ban user.

![image](https://cloud.githubusercontent.com/assets/5429548/13426100/a45c98bc-dfab-11e5-8695-29c63c5623ff.png)
![image](https://cloud.githubusercontent

[2016-03-01 12:20] tgtje commented on #1291
Candidate for closure of issue ?

[2016-03-01 12:23] lonalore commented on #1401
Do not bann these IP addresses. These IPs belong normal (anonymous) users.
The log-entries are generated by e107 after updating the number of "most ever online" (statistics).

[2016-03-01 12:44] Jimmi08 commented on #1401
On other installation (older e107 version) there is nothing like this. And they are Chine adress.

[2016-03-01 13:08] Moc commented on #1291
@LaocheXe Any feedback on this one? Did you attempt another update and did the same issue occur? Or did it update properly and did the config file look as Cameron illustrated above?

[2016-03-01 17:51] CaMer0n commented on #6
Thanks @MikeyGMT , :+1: for the aims. Commenting-out is indeed useful in case something is broken and we need to find what the original term was quickly.
The "Deprecated LANs" is very useful to finding issues, but doesn't check includes etc.. so testing after commenting out unused terms is a must. Most of the 'common term' stuff should be okay to implement. (taking into consideration if it's an ad

[2016-03-01 20:06] pierre0042 commented on #1367
Any news on this? This is really a blocking issue....

[2016-03-01 20:08] LaocheXe commented on #1367
Give them some time, they got a lot on their plate.

[2016-03-01 20:14] LaocheXe commented on #1291
@Moc - I am sure what CaMer0n posted would have fixed my issue, I did do the upgrade wrong - what I did was installed the new version, then copied the e107_config.php and replaced the old one when I went and added the other files and did the upgrade.

I was almost done importing the downloads manually when CaMer0n posted but it is all done and finished now.

No other update was performed since the

[2016-03-01 20:14] #1291 closed

[2016-03-01 20:41] rica-carv commented on #1190
Hi all
I've got this same issue, and further more, i can't upload files form my PC, using the file upload on Media Manager....
How can i resolve this issue?

[2016-03-01 21:24] Moc commented on #1291
Thanks for the feedback!

[2016-03-01 22:09] Moc commented on #1367
This is just a quick answer as I don't have that much time right now but IIRC a similar issue to yours was caused by incorrect templates used by the theme.

Please try this:
- Change theme to bootstrap 3 to see if that changes things. This will rule out theme issues.
- Temporarily remove any forum templates from your theme folder

Is this is an upgraded website or a fresh install?
Are you running

[2016-03-01 22:59] Brooniee commented on #1393
@CaMer0n yup, site disclaimer, google analytics code.

removed that and it's fixed it

thanks much!

[2016-03-01 23:22] pierre0042 commented on #1367
Ok I will make those tests.

This is an updatet website, and I use a few forum plugins :
- Forum Thanks
- New Forum Posts
- Poll

[2016-03-01 23:32] pierre0042 commented on #1373
Changing the theme doesn't fix the problem for info

[2016-03-01 23:42] pierre0042 commented on #1367
I tried with bootstrap3 theme but my site doesn't seem to work well with it so I can't really test :

![e107-newtopic](https://cloud.githubusercontent.com/assets/4124597/13445934/b0492820-e00f-11e5-9408-2fa2b21e9e98.png)

[2016-03-01 23:45] pierre0042 commented on #1367
The problem is :

![e107-msg](https://cloud.githubusercontent.com/assets/4124597/13445967/f49376ac-e00f-11e5-982d-4d6f3fb8a9d1.png)

but the fields are not present/visible on the new topic creation page...

[2016-03-01 23:55] pierre0042 commented on #1367
I renamed my templates folder in the theme directory and it doesn't change the issue

[2016-03-02 01:54] CaMer0n commented on #1393
@Brooniee :+1:  You can use the google analytics plugin instead, if required.

[2016-03-02 01:54] #1393 closed

[2016-03-02 02:02] CaMer0n commented on #1367
@pierre0042 I just tested with bootstrap3 and cannot reproduce the problem. Perhaps try uninstalling Forum Thanks, and see if that corrects it?

[2016-03-02 02:04] CaMer0n commented on #1401
I believe this issue is due to storing IPs in IP6 format. Not sure how to get around it. Any ideas?

[2016-03-02 12:49] Moc commented on #1392
@Brooniee Now that #1393 is resolved, do you still get this upgrade message frequently? If yes, please enable debug mode when you get the message.

[2016-03-02 21:02] pricey1981 commented on #1317
Sorry for delayed response. I don't believe it's anything to do with my code, it's a simple $sql->retrieve call.

I note that the DB Structure caching cannot be disabled in admin. When I clear this cache after an update, the issue does not occur. Is there a reason why this can't be disabled?

[2016-03-02 21:55] nesjett opened #1405 "Question about login, cookies/sessions and possible issue."
Hi, well, this issue happened in v1.0.4, but I´m concerned about if that could happen on v2, because its an important security issue.

The problem is that 2 users logged in to the same account, but one of them was trying to login into his own account, that means that one user logged in on other user account at the same time as the other.

This happened 2 times in different days, on computers conne

[2016-03-03 01:11] CaMer0n commented on #1397
@Brooniee Could you please provide the exact name of the menu? (as displayed in Admin->Menu Manager)

[2016-03-03 01:16] CaMer0n commented on #1396
@LaocheXe Normally http://_yourdomain.com_/index.php should work.

[2016-03-03 01:23] CaMer0n commented on #1392
This is usually caused by an older menu saving prefs in a serialized format.

[2016-03-03 01:25] CaMer0n commented on #748
@lonalore Is this still an issue? Did the chrome update fix it?

[2016-03-03 01:29] CaMer0n commented on #927
@armpit Please update from Github and see if the problem continues.

[2016-03-03 01:30] CaMer0n commented on #727
@Moc Closing this, as the related issue in closed also.

[2016-03-03 01:30] #727 closed

[2016-03-03 05:21] lonalore commented on #748
It looks like it is no longer an issue.

[2016-03-03 14:17] armpit commented on #927
@CaMer0n Made a fresh install from git on a VPS, activated downloads plugin, then set it as front page. Same error. Sorry I cant give you more, so much on my plate at the moment I forgot about this until I got pinged by github.

[2016-03-03 22:39] CaMer0n commented on #748
Thanks. Closing.

[2016-03-03 22:39] #748 closed

[2016-03-03 23:04] pierre0042 commented on #1367
Apparently removing the "Forum thanks" plugin fixes the problem

[2016-03-03 23:08] pierre0042 commented on #1367
But the SQL error is still visible...

and I have a PHP error at the bottom :

PHP Errors:

    Internal Error Message: Bad stored array data -

[2016-03-03 23:10] CaMer0n commented on #1367
@pierre0042 I'm in the chatroom. Interested to take a closer look.

[2016-03-03 23:17] pierre0042 commented on #425
Removing the "Forum thanks" plugin fixed the problem it seems

[2016-03-03 23:35] CaMer0n commented on #1367
Closing this now. But please re-open if it occurs again.

[2016-03-03 23:35] #1367 closed

[2016-03-04 00:21] CaMer0n commented on #1373
@pierre0042 Please update from Github and try again. Thanks.

[2016-03-04 01:06] LaocheXe commented on #1378
After a few days and testing on other web browsers - logging in with Steam does not leave the person logged in - they can login, go to the forums and get logged out - I don't think it is a cookie thing but could be wrong.

Also can we add to the code to update the users Display name each time they login via Steam?

[2016-03-04 07:29] pierre0042 commented on #1373
It doesn't fix it, sorry

[2016-03-04 17:40] CaMer0n commented on #1378
Thanks. And if you use the github login, do you get logged out also?

[2016-03-04 20:07] LaocheXe commented on #1378
Right now it is allowing me to stay logged in - must have been a cookie/cache issue

[2016-03-05 11:40] nesjett opened #1406 "[Question] Proper way to add comments in a page"
Well, since v1.0.4 my comments in plugins got broken, so after some hours figuring out how to proper display comments, I came up with this conclusion:

[code]

But I´m pretty sure that there is a better way, am I right?

PD: news and page are very complex to understand.

PD2: Also, this solutions seems not to work as espected, I cant add a new comment nor delete or vote the existing ones.

Thanks,

[2016-03-05 11:52] Jimmi08 commented on #1401
Could you explain me what this mail means? I didn't find this in code and there is weird www.www. adress. It's spam IP adress, but I didn't find it in ban list. Thanks

![image](https://cloud.githubusercontent.com/assets/5429548/13547364/4bc4ddf4-e2d0-11e5-83d5-a1b1811e8c96.png)

[2016-03-05 13:02] Moc commented on #1401
@Jimmi08 I'm pretty sure this is a bounce email report. In other words: an email has been sent to one of your users (spam account), for example an email verification email, but it bounced back (e.g. emailadddress was incorrect/fake or mailserver was down, or the inbox was full, etc.).

[2016-03-05 13:05] Moc commented on #1401
Also, I think these are valid entries. Sure they are spambots but there is nothing wrong with the log itself. If you want, you can disable the logs in Tools > System logs > Preferences. I think it's the 'Login/Logout' option.

[2016-03-05 13:28] Moc commented on #1381
Is this issue still relevant seeing the other issues you created (of which some were fixed?)

[2016-03-05 13:30] Moc commented on #1349
@kevinmui Is this issue still happening?

[2016-03-05 16:18] Jimmi08 commented on #1401
@Moc thanks, but they are no other user then me. I see it's valid email but adress is not in database (maybe it's correct, I just don't know how this works in e107, in Nuke it was easy).
There is second problem, I wasn't able to find where (in what part of code) it was sended to check www adress. Because there is something wrong and if this is sended by e107, it could send wrong www with normal em

[2016-03-05 16:21] pierre0042 commented on #1381
I fixed this error which was not related

[2016-03-05 16:21] #1381 closed

[2016-03-07 06:57] KonzolozZ commented on #1370
Yes, all category has SEF URL, but some URL is same because it is generated from the topics name.
The SEF why not contain the topic id example?

[2016-03-07 15:35] Brooniee commented on #1397
@CaMer0n Apologies if not clear, this is within the forum itself and viewing the topics

See http://crazy-fools.co.uk/e107_plugins/forum/forum_viewforum.php?id=2

Thanks :)

[2016-03-07 20:10] MikeyGMT opened #1407 "Enhancement: Admin>Pref>SiteIcon & Logo Media Picker - Allow Admin to choose any Img or Glyph."
Hi All,
We have lots of pre-loaded media files within the system, but Admin does not seem to be able to use many of these.
For Example: Admin > Prefs it would be useful to enable imagepicker any Image or Glyph in the Prefs for Site Icon & Logo.
To do show the glyps, I tried  adding this option, '&glyphs=1' on line 377
$text .= $frm->imagepicker('sitebutton',$pref['sitebutton'],'','help='.PRFLAN_22

[2016-03-07 21:03] CaMer0n commented on #1370
@KonzolozZ Forum category SEFs (as set in the admin area) should all be unique. Forum topic SEFs are auto-generated and do include the topic id.

[2016-03-07 21:12] CaMer0n commented on #1397
@Brooniee I see. Thank you. Are you using a custom forum template?

[2016-03-07 21:14] CaMer0n commented on #1407
Point taken about the glyphs, but for the rest, setting any image to _common_image will make it available to the SiteIcon/Logo imagepicker.

[2016-03-07 21:18] MikeyGMT commented on #1407
Oh, cool, thank you!

[2016-03-07 21:33] CaMer0n commented on #1110
@MikeyGMT I came across this error message too and have corrected it.

[2016-03-08 01:58] CaMer0n commented on #438
Closing this issue. The simple answer is to create a media-category for your plugin and then use e107::getMedia()->importFile() to add to your media-category.

[2016-03-08 01:58] #438 closed

[2016-03-08 05:09] sanslash332 opened #1408 "Reversed email displayed on profile pages"
Hello,
I have setup a stock e107 on a test server, and without touching any configuration, the email displayed on the profile page of users, appear reversed.
The e107 versión that I've used, is directly the last comit . I test it, aprox 30 minutes ago.
Example: if the registered email for an user is abcd@zxcv.com, on the profile of the user, the email appear as moc.vcxz@dcba
But, if you review the

[2016-03-08 09:54] Jimmi08 commented on #706
Works now.

[2016-03-08 09:54] #706 closed

[2016-03-08 09:57] Jimmi08 commented on #438
@CaMer0n Just a note to this. Or feedback. I was really testing/active using media manager and it works amazing. Great work at this area and big thanks to you. I noticed little issues/questions and I will create new issues later, but just after more testing (I haven't access to my localhost now)
- with new plugin I wasn't able to create new media owner. It should still be done according gallery pl

[2016-03-08 10:25] Jimmi08 opened #1409 "Invalid list file error - how can this happen?"
I checked my site first time today and got this error. "Invalid list file"  I found it's because this:
![image](https://cloud.githubusercontent.com/assets/5429548/13598602/0976530a-e51f-11e5-97b7-6252531ef14f.png)

after echo $filename , result was
![image](https://cloud.githubusercontent.com/assets/5429548/13598626/2dae6b18-e51f-11e5-9cf3-249106fff73c.png)
and after checking this path
![image](ht

[2016-03-08 18:12] CaMer0n commented on #438
@Jimmi08 e107_plugins/banner/plugin.xml has a simple example. Indeed, some kind of check needs to be added for missing categories.

[2016-03-08 18:14] CaMer0n commented on #1409
Looks like something has emptied banlist.php. Try adding the `<?php `back to  it.

[2016-03-09 07:44] Jimmi08 commented on #1409
Thanks. Done.

[2016-03-09 07:44] #1409 closed

[2016-03-09 10:05] Jimmi08 opened #1411 "meta tags stopped work"
I noticed this with my plugin, but it is happened with news too.  (on older version it works, on newest not)
I use e107::meta() function, but now it has be used before
` require_once (HEADERF);`
otherwise meta tags are not loaded.

It should work this way?  I like it :)

[2016-03-09 13:40] Jimmi08 commented on #1286
Just addition. Test in beforeUpdate has to be:

[code]
otherwise you get (sometimes needed) effect that with inline editing title you sef-url is edited too after click on GO button.

[2016-03-09 20:12] #1408 closed

[2016-03-10 00:03] CaMer0n commented on #1257
Closing this, as it appears to be reliable from what I can tell. Please re-open if necessary.

[2016-03-10 00:03] #1257 closed

[2016-03-10 00:05] CaMer0n commented on #928
Closing this as it is not related to e107, but server configuration.

[2016-03-10 00:05] #928 closed

[2016-03-10 00:34] LaocheXe opened #1412 "Feature Request: Forum Link Icon/Image"
Give admin the option to give forum thread parents options to add an image/icon/font into the name - like Links you can add a image/icon at the front of the link name.

Also give an option to select if the image can be at the front or behind the text.

[2016-03-10 10:04] lonalore commented on #1411
And... by the way, I think we need to improve "meta-tag" section of e107. The best would be to provide support for commonly used meta tags, including the page title, canonical URL, description, etc, and for Facebook's Open Graph, Twitter Cards and Dublin Core.

The best would be to provide the ability to set default values for each meta tag under the "Meta Tags" section:
![kepernyokep - 2016-03-10

[2016-03-10 12:14] chory commented on #927
Sorry, I eliminated this project

[2016-03-10 12:16] chory commented on #1412
Like it?
http://i559.photobucket.com/albums/ss37/ch0ry/Captura_zpsz4xjlfgx.jpg

[2016-03-10 15:19] nesjett opened #1413 "[issue] bootstrap3 default theme missing IMODE"
I just noticed that if you display the star rating, it wont display the star imgs cause IMODE is not defined in the theme.

Not sure if you forgot to add it to the theme o you forgot to update it on the rate code, but anyway It can be solved adding this to the theme:

define('IMODE', 'lite');

Grts,
- Nes

[2016-03-10 16:04] Jimmi08 commented on #1411
So news and other pages need to rewrite because they use HEADERF before e107::meta(), this was changed.

By the way, awesome list. Thanks. I needed it 2 days ago :)  From my experience (just used FB debugger and need only sharing plugin pages)
- FB tags needs right order of meta tags
- you can't use description with  type article
- you should use type website just for homepage
- you can use your o

[2016-03-10 17:19] CaMer0n commented on #1413
Thanks @nesjett , which page are you testing the star rating with? IMODE is deprecated but it's possible there's some old code which needs updating.

[2016-03-10 17:48] LaocheXe commented on #1412
^^^^^^ Add support for it then?

[2016-03-10 18:38] LaocheXe opened #1414 "Bug: Current Version - YouTube Video No Preview in TinyMce editor"
Latest update from GitHub no longer displays the selected YouTube video icon in the text field.

I use a YouTube video in my welcome message - there used to be an icon displayed but is no longer displaying.

[2016-03-10 21:56] Norwayman opened #1415 "Feature request: Google map option in contact info"
From the discussion on http://www.e107help.org/2148/google-map-option-in-contact-info
I do not know if this is the right place to ask, but would someone who knows programming be willing to make a contact page plugin where one has the option to include a Google Map?
Either from coordinates, from address or embed google maps code, or use API, or special scripts etc?

Moc says it could be done rather

[2016-03-10 22:32] nesjett commented on #1415
Here its explained, very easy, https://developers.google.com/maps/tutorials/fundamentals/adding-a-google-map

Cheers,
- Nes

[2016-03-10 22:35] Norwayman commented on #1415
Yes, if you know programing this is probably easy, but for someone who does not it is a lot easier to have it done from the backend where you just fill in the information :)

[2016-03-10 23:34] Norwayman commented on #1415
Thank you Nestor, I will do that while waiting on the plugin :)

[2016-03-11 08:22] nesjett commented on #1415
I forgot that on v2 you have to paste it on a menu, but on the "code editor" mode, I mean when you are editing the menu, you will have to click on the button for "code" or "html", which is located on the text editing options (near the font size, font type, inser link, etc)

If youre lost Ill try to update a screenshot as soon as possible

[2016-03-11 09:26] Jimmi08 commented on #1415
Just from curiosity. Why you just don't embed maps in contact info pref or menu? Why do you mess with script? Any reason for it?

![image](https://cloud.githubusercontent.com/assets/5429548/13698244/193ab7a8-e773-11e5-845e-f9a1943b5aec.png)

[2016-03-11 11:05] Jimmi08 opened #1416 "Just info related to langcheck"
This error is ignored by langcheck
![image](https://cloud.githubusercontent.com/assets/5429548/13700465/4ac12506-e781-11e5-9a9f-f779ff3683db.png)

![image](https://cloud.githubusercontent.com/assets/5429548/13700498/717478f6-e781-11e5-832e-1943a00b7be8.png)

I don't know if you can do something with it, just let you know.

[2016-03-11 12:15] nesjett commented on #1415
It´s another aproach, there is no special reason, I just copied the first code I found on google for doing this.

Anyway, there is no much difference from pasting an iframe or pastin an script, at the end the iframe will be calling the same sources you are calling from the script.

[2016-03-11 12:34] Jimmi08 commented on #1415
Thank you for explanation. I was asking because I know it's not so easy put script in tinymce (via button source code), not tested latest version.

[2016-03-11 12:45] Moc commented on #867
Closing this as no feedback is given. Please re-open in case the issue persists.

[2016-03-11 12:45] #867 closed

[2016-03-11 12:46] Moc commented on #950
Closing this as I think the issue is no longer present. In case it is, please comment and I'll re-open.

[2016-03-11 12:46] #950 closed

[2016-03-11 12:55] Jimmi08 commented on #1126
Confirm that this is still issue:

![image](https://cloud.githubusercontent.com/assets/5429548/13702713/e18d2872-e790-11e5-804a-68e2cb8dc6d7.png)

[2016-03-11 17:12] CaMer0n commented on #1414
@LaocheXe Could you please elaborate. Which text field is that? Are you referring to the TinyMce interface?

[2016-03-11 17:14] CaMer0n commented on #1415
I have an old v2 plugin for this, it probably needs a little cleaning up.

[2016-03-11 17:21] LaocheXe commented on #1414
Yes TinyMce - The text area for the welcome message

[2016-03-11 18:37] CaMer0n commented on #1414
![welcome_admin](https://cloud.githubusercontent.com/assets/2825679/13711763/260d6c58-e775-11e5-8e79-afe86c730127.png)

I can see the insert media-manager video..  can you?

[2016-03-11 18:41] LaocheXe commented on #1414
Oh well I feel stupid, I'm not talking about the button - I'm talking about when you select a video - the white area where you put the text in - it would show an icon from that YouTube video as a place holder - right now I can't get it to display the icon any more - on the front end it shows the YouTube video.

[2016-03-11 20:38] Jimmi08 commented on #1414
@LaocheXe  Do you mean this? Latest github.
![image](https://cloud.githubusercontent.com/assets/5429548/13714854/84286728-e7d1-11e5-9830-9cf8e51f3976.png)

[2016-03-11 20:38] #1401 closed

[2016-03-11 20:40] Jimmi08 commented on #1415
@CaMer0n Could you publish it please?

[2016-03-11 20:49] CaMer0n commented on #1414
I see it! The YouTube preview image inside the TinyMce editor window is not displaying after selecting it via Media-Manager.  - due to the TinyMce version update. Will look into it.

[2016-03-11 21:03] Jimmi08 commented on #1406
If this  helps...
 Before:
[code]
Now:
```$cobj = e107::getComment();```

Otherwise no changes, examples from code:
```$cobj->enter_comment($_POST['author_name'], $_POST['comment'], "links_page", $qs[1], $pid, $_POST['subject']);```
```$cobj->compose_comment("links_page", "comment", $qs[1], $width, $subject, $showrate=FALSE);```
I agree, the page and news are too comlex to understand. I have no ar

[2016-03-11 21:07] LaocheXe commented on #1414
@Jimmi08 yes that's the one, and thanks @CaMer0n

[2016-03-11 21:20] Jimmi08 opened #1417 "wrong day in datepicker() with locale day"
In English language value is correct.
![image](https://cloud.githubusercontent.com/assets/5429548/13715794/67aea516-e7d7-11e5-9eac-cb756f0065e9.png)

In Slovak language, date in page is correct but in datepicker() is impossible day :)
![image](https://cloud.githubusercontent.com/assets/5429548/13715783/507e7ba0-e7d7-11e5-869b-6640a1bbdcb7.png)

[2016-03-11 21:26] Jimmi08 commented on #1346
@CaMer0n You can close this. Tested on latest github. It works with EN and SK lang, with SEF url and with default.

[2016-03-11 21:27] #1363 closed

[2016-03-11 21:39] nesjett commented on #1406
Thanks for your help, Ill take a detailed look to the links page because Ive missed it had comments enabled.

Anyway, your solution is not working for me, I still cant post comments, even if I call enter_comment directly, seems that the comment is not beign created.

[2016-03-11 21:43] Jimmi08 commented on #1406
Do you have e_comment.php set?

[2016-03-11 21:49] CaMer0n commented on #1414
I have submitted a request with TInyMce to see what is going on: https://github.com/tinymce/tinymce/issues/2777

[2016-03-11 21:51] CaMer0n commented on #1346
@Jimmi08 Thank you! :+1:

[2016-03-11 21:51] #1346 closed

[2016-03-11 21:56] nesjett commented on #1406
Yes but to be honest, it was made for v1 so I dont know if it will work now, but I dont have any  v2 e_comment example.

[2016-03-11 21:57] Jimmi08 opened #1418 "menu titles for news_months_menu always in English"
Hardcoded English lang
![image](https://cloud.githubusercontent.com/assets/5429548/13716557/3230e43a-e7dc-11e5-9d9e-173be58612c1.png)

Quick Fix (I know it needs more rewriting, just to solve this):
[code]

[2016-03-11 22:17] Jimmi08 commented on #1406
Exactly. And I didn't find it either in documentation. And while there is new way with searching, searching in comments is going old way too. Probably waiting for changing in future. I will rewrite LP plugin if I find how, but for now it's enough and there important issues than this. If you find any problems with LP plugin and comments (or other), you can let me know.

[2016-03-11 22:21] CaMer0n commented on #1406
@nesjett Could you paste the old comment code you're plugin was using? (before any modifications for v2)

[2016-03-11 22:27] nesjett commented on #1406
I´ve not implemented the comment part of this plugin, so I cant reply to questions like "why you did this that way" hehe

And here is the function that was getting the comments and the comment form:

`
/**
* Add comments to a plugins
* <p>This method returns the HTML for a comment form. In addition, it will post comments to the e107v7
* comments database and get any existing comments for the curre

[2016-03-11 22:30] CaMer0n commented on #1406
@nesjett You mentioned "since v1.0.4 my comments in plugins got broken" - are you able to send me one of these plugins for testing?

[2016-03-11 22:34] nesjett commented on #1406
I found the problem, and its on this line of the function:

[code]

Anyway, for further testings you can download the plugin here: https://github.com/qam4/ebattles
On default installations of this plugin you can check for comments on e_PLUGIN/ebattles/matchinfo.php

[2016-03-11 22:44] Jimmi08 commented on #1406
I think that this is original version for 1.0.4
https://github.com/zigstum/ebattles

[2016-03-11 22:47] nesjett commented on #1406
It has not changed on the comments part, to be honest it has not changed almost nothink on the port from v1 to v2

[2016-03-12 03:39] CaMer0n commented on #685
@mcpeace-maw I'm closing this for now as the shortcode now allows one to set which social URLs to display. eg.  `{XURL_ICONS: type=facebook} `.
If you think it should be re-opened for some reason, please let me know. thank you.

[2016-03-12 03:39] #685 closed

[2016-03-12 03:45] Norwayman commented on #1415
Thanks for all the answers and recommendations. I followed Jimmy08's way of doing it with an Iframe. Worked like a charm. After 10 years of using E107 I didn't know I could just paste this code directly into the contact info prefs :) For me the issue could be closed, as it works for me, but I still think it would be helpful for people not knowing e107 that one could just paste in the required info

[2016-03-12 03:45] #1415 closed

[2016-03-12 08:22] Jimmi08 opened #1419 "plugin builder - just report"
I just noticed this, otherwise everything works.

When you have already plugin.xml and you need to repeat file's generation, these fields are not loaded from already existing plugin.xml
![image](https://cloud.githubusercontent.com/assets/5429548/13721861/b36d9302-e833-11e5-9dc4-b8e64952d080.png)
![image](https://cloud.githubusercontent.com/assets/5429548/13721863/b7941ea6-e833-11e5-95de-ba7b0b06fe

[2016-03-12 10:07] Jimmi08 commented on #1125
https://github.com/e107inc/e107/issues/1418

[2016-03-12 10:07] #1125 closed

[2016-03-12 10:10] Jimmi08 commented on #1126
Closing this. It's somehow related to localhost - xampp on windows. On installation where old version hadn't problems or on new installation. On live site coding is correct.

[2016-03-12 10:10] #1126 closed

[2016-03-12 10:11] Jimmi08 commented on #1124
Closing this. It's somehow related to localhost - xampp on windows.

[2016-03-12 10:11] #1124 closed

[2016-03-12 10:26] Jimmi08 commented on #1219
Testing (latest github):
![image](https://cloud.githubusercontent.com/assets/5429548/13722405/dd0f5a0e-e844-11e5-9dea-f92252fe09dd.png)

Download plugin with comma separator works.

![image](https://cloud.githubusercontent.com/assets/5429548/13722409/f80b4aa2-e844-11e5-99ea-1d473a6cc722.png)
Just this:
![image](https://cloud.githubusercontent.com/assets/5429548/13722415/3a7edfca-e845-11e5-9063-aab

[2016-03-12 10:27] Jimmi08 commented on #750
Closing, there si newer issue about this.

[2016-03-12 10:28] #750 closed

[2016-03-12 10:32] Jimmi08 commented on #1175
@CaMer0n
You probably could close this, there is newer issue about this  and original question wasn't bug.
https://github.com/e107inc/e107/issues/1219

[2016-03-12 11:58] Jimmi08 commented on #1379
@CaMer0n
This needs to be done else in e107_handlers/news_class.php
![image](https://cloud.githubusercontent.com/assets/5429548/13722818/fad5d5d8-e851-11e5-8b2f-5fa5b06b4b3b.png)

[2016-03-12 16:57] pierre0042 commented on #1368
Error message is displayed 4 times

[2016-03-12 17:09] CaMer0n commented on #1175
@Jimmi08 Okay, thank you! :+1:

[2016-03-12 18:17] pierre0042 commented on #1373
The fix creates an error when I update from github and try to update the database :

CRITICAL ERROR:
Line 484 /home/polyamou/www/class2.php
Error reported as: [3]: Core settings saved - backup made active

[2016-03-12 18:33] pierre0042 commented on #1373
Seems to work now

[2016-03-12 19:12] pierre0042 commented on #1373
There is the same problem for comments actually

/userposts.php?0.comments.X displays only 1, although there is many.

I can create a new issue if you prefer.

[2016-03-13 11:32] mcpeace-maw commented on #685
All good now, just 1 thing I don't like, min-width:435px hard coded style in social dropdown. If is really needed a min-width there, min-width:225px is for 2 rows of icons, if you activate all and if you use less, empty space is smaller.

[2016-03-13 15:27] Jimmi08 opened #1421 "installation - problem with htaccess"
This problem is server related, I just write this in case somebody else can the same problem.

After installation I got this error (internal error 500)
![image](https://cloud.githubusercontent.com/assets/5429548/13729543/98d1dcd8-e937-11e5-95ae-37c79855bcdf.png)

These settings are forbiden on my hosting:
![image](https://cloud.githubusercontent.com/assets/5429548/13729552/b6c7333c-e937-11e5-9f6c-

[2016-03-13 19:52] martyshep commented on #1262
I have same issue. I do not get notified of new users signup but Test email notification works ok.

[2016-03-13 20:40] pierre0042 opened #1422 "Cannot display all comments"
When I look at an user details
/user.php?id.42 for example
It shows at the end :
Forum posts 1387 ( 14.09% )
Comments posted 3 ( 2.88% )

With a link on the number to display these comments
But when I follow the link (/userposts.php?0.comments.42)
only 1 result is shown... (seems to be the more recent)

Maybe related to bug #1373

[2016-03-13 20:45] CaMer0n commented on #1421
@Jimmi08 Could you please share details of the server configuration?

[2016-03-14 04:59] CaMer0n commented on #981
@nlstart I'm going to close this as I found another method which uses only CSS and PHP.

[2016-03-14 04:59] #981 closed

[2016-03-14 05:57] CaMer0n opened #1423 "User Profile Template needs an upgrade."
I have made a start on this (see commented out section), but it needs the talent of a more experienced theme artists. @mcpeace-maw would you consider taking a look at this?

[2016-03-14 10:43] mcpeace-maw commented on #1423
OK, please check the pull request.

[2016-03-14 11:20] pierre0042 commented on #1373
Actually with the last fix the problem is not 100% solved, as I have no pagination displayed

[2016-03-14 17:40] #1414 closed

[2016-03-14 17:49] CaMer0n commented on #1423
Thank you @mcpeace-maw . I fixed the LANs and here's how it looks with Bootstrap3 for me.
![userprofile_1](https://cloud.githubusercontent.com/assets/2825679/13753782/b533d7ba-e9d1-11e5-9dc8-c1de36956e7c.png)

I believe we need tables for the data, or at least the appearance of tables (in terms of alignment).
Perhaps the data should be organized into separate tabs?. I'm interested to get everyone'

[2016-03-14 17:50] martyshep opened #1426 "membersonly.php burps out some code/variables at the bottom which shows log path. Security issue?"
![image](https://cloud.githubusercontent.com/assets/15772899/13753962/1a4bd4e6-ea0d-11e5-992a-6768f6c26b90.png)

[2016-03-14 18:07] CaMer0n commented on #1426
@martyshep Thank you. Is this the bootstrap3 without modification? Does it display every time, or just sometimes?

[2016-03-14 18:13] martyshep commented on #1426
Yes, Bootstrap3 with minor cosmetic text modification. Yes it's done it since rolling out v2 as far as I know. I think the log plugin is standard/not altered in any way.

[2016-03-14 18:14] CaMer0n commented on #1426
@martyshep Would you have time to troubleshoot it? If so, please just me here: https://gitter.im/e107inc/e107

[2016-03-14 18:23] Jimmi08 opened #1427 "newsletter plugin - bug"
I've got parse error when trying to config this plugin. The reason is mistypo in line 662

![image](https://cloud.githubusercontent.com/assets/5429548/13755115/f0560a78-ea19-11e5-80e9-033cba605477.png)

Correct:
```$userlink = "<a href='".$link."'>".$nl_row['user_name']."</a>";```

I can't pull request in these days, sorry

[2016-03-14 18:45] LaocheXe commented on #1423
Well Looking at the screenshot - maybe move the 'Click here to update your info' button down and align it with 'previous member' and 'next member'.

I have Private Message enabled on my website and it looks out of place

![capture](https://cloud.githubusercontent.com/assets/5818022/13755414/24e8b7ee-e9e9-11e5-939a-77c009897210.PNG)

I would adjust the private message - maybe even remove the little

[2016-03-14 18:53] CaMer0n commented on #1423
Yes, this is the "User Photo" that is displaying in my screenshot.

[2016-03-14 19:10] #1427 closed

[2016-03-14 19:22] mcpeace-maw commented on #1423
Please don't forget must be responsive. "Update your info" button must be visible, not a good idea to put it with other things in same row. The icon for send private message must be changed. Also used same font stars for user rating like in forum.

[2016-03-14 19:38] LaocheXe commented on #1423
Just a heads up - I don't know if it is related or not but when going to user.php - to see the Member's list - the avatars are out of place.

![capture](https://cloud.githubusercontent.com/assets/5818022/13757416/4a496ee4-e9f2-11e5-8b2e-7072f795896a.PNG)

I don't know if it was the resent changes that where done or if it is a social login issue.

[2016-03-14 20:09] mcpeace-maw commented on #1423
Yes it is for these changes, @CaMer0n please add inside user_template in inline css:
.panel-profile #user-profile-avatar { max-width: 150px; margin-top: -90px; ... }
This will fix the issue.

[2016-03-14 21:03] CaMer0n commented on #1426
Closing. Due to bad HTML markup in custom membersonly template.

[2016-03-14 21:03] #1426 closed

[2016-03-14 22:06] LaocheXe commented on #1378
@CaMer0n How can we get this to update the users display name when they login on the site with Steam again? An example, Steam I have my name set to '[DG] LaocheXe' and logged into an e107 v 2 site with the Steam login function. Later that day I change my display name in Steam to 'Here It Comes' and go back to that same e107 v 2 site and login using the Steam function again.

Currently it does not

[2016-03-14 22:18] LaocheXe opened #1428 "Issue: Social Plugin - Twitter"
AS you may know I have a few social login options on my website (defiantz.org) and all seem to be working but Twitter, it could be that I screwed something up in the Twitter API registration but I am getting this error on my site when trying to login with Twitter

Error
[5]Authentication failed! Twitter returned an error. 401 Unauthorized.

Now I google and get this - [#335](https://github.com/hyb

[2016-03-14 22:43] CaMer0n commented on #1428
@LaocheXe I need to get Twitter working on a project too. Will try it and let you know.

[2016-03-14 22:49] mcpeace-maw commented on #1423
I added visible borders, padding, aligned labels and data. Solved also the issue reported by @LaocheXe. BTW the id #user-profile-avatar must be removed from user-image shortcode (the image have user-avatar class) - in members page the id is not unique, every avatar image have it and page validation fail. Also lan_user file have many duplicates.

[2016-03-15 03:01] CaMer0n commented on #1423
@mcpeace-maw Thanks for the changes! I cleaned up the code a bit so it's clear what is v2.x and what is v1.x  . Css moved to e107.css

[2016-03-15 06:37] CaMer0n commented on #1428
Failing for me too.

[2016-03-15 11:02] lonalore commented on #1423
Well done, it looks great. :+1:
I think we should allow the users to reposition the background (cover) photo. Or provide a widget for selection based cropping an image after upload.

[2016-03-15 12:33] Moc commented on #1423
Looks a lot more up to date :) I don't have any specific feedback now on the user profile.

Seeing how the PM icon looks outdated on the user profile, I checked the plugin code and it is need of a substantial rewrite to make use of all the new possibilities (e.g. userpicker). Some inspirational styling: https://almsaeedstudio.com/themes/AdminLTE/pages/mailbox/mailbox.html

[2016-03-15 17:08] Moc commented on #1102
What's the status on this one? Is this issue still present?

[2016-03-15 17:18] CaMer0n commented on #1365
@Jimmi08 Is this one still occurring?

[2016-03-15 17:47] CaMer0n commented on #1262
@martyshep @OTroccaz Could you please update from Github, and then add the following to your e107_config.php file? Then trigger some events in the usual way and check the system logs.

    define('e_DEBUG_NOTIFY',true);

[2016-03-15 18:06] CaMer0n commented on #1187
I believe I fixed this a little while back. Please re-open if necessary.

[2016-03-15 18:06] #1187 closed

[2016-03-15 18:17] CaMer0n commented on #1422
@pierre0042 Could you please share your PHP and MySQL version? Thanks.

[2016-03-15 18:19] OTroccaz commented on #1262
Thanks CaMerOn!
I have updated from Github (every day in fact ;-) ), added the line in config.php and tested ... still nothing. And there's also nothing in the admin log. Is there somewhere to find a bug trace?

[2016-03-15 18:33] Jimmi08 commented on #1365
Tested. No error. Thank you.

[2016-03-15 18:33] #1365 closed

[2016-03-15 19:14] TrueHatori opened #1430 "PHP 5.5 and 5.6"
Since my provider upgraded PHP tu v5.6, doesn't run e107, not v1.04 and not v2.0
Any suggestions???

[2016-03-15 19:17] LaocheXe commented on #1430
Is it a blank page? If so add this to your e107_config.php

`define('e_DEBUG', true);`

After that check the page again and see if any error's are displayed.

[2016-03-15 19:37] LaocheXe commented on #1428
@CaMer0n I also notice someone said something about a space in the config - as you said e107 doesn't use the config that the Hybrth uses.

[2016-03-15 19:38] TrueHatori commented on #1430
No, no blank page and no error messages. It lacks content. Especially in the admin area. There is no safe buttons are sometimes displayed, sometimes it lacks user, it lacks sometimes News. But always different, it is always missing something different.
It is the same in PHP Version 5.5.32-1~he.0 and PHP Version 5.6.18-1~he.0.

And why can not import into v2.0 content from v1.0.4? The Update-Versio

[2016-03-15 19:44] LaocheXe commented on #1428
@CaMer0n Got it to work!!!! and great news - nothing is wrong with the code - it is a setting on Twitter's side that is causing the error.

Having Enable Callback Locking (It is recommended to enable callback locking to ensure apps cannot overwrite the callback url) checked will block the login - having it uncheck will allow people to login to site.

![capture](https://cloud.githubusercontent.com/

[2016-03-15 23:05] CaMer0n commented on #1430
@TrueHatori try adding this to e107_config.php :

    define('e_PDO', true);

[2016-03-15 23:06] CaMer0n commented on #1262
@OTroccaz There's no NOTIFY_DBG entries in the System Logs?

[2016-03-15 23:08] CaMer0n commented on #1428
@LaocheXe Cool! I'm gonna try that! :+1:

[2016-03-15 23:21] pierre0042 commented on #1422
PHP Version 5.4.45

MySQL 5.5.46

[2016-03-16 00:31] CaMer0n commented on #1428
@LaocheXe It didn't fix it for me

       [5]Authentication failed! Twitter returned an error. 401 Unauthorized.

[2016-03-16 02:16] LaocheXe commented on #1428
@CaMer0n Do you have your preferences set up? This is what I have:

![capture1](https://cloud.githubusercontent.com/assets/5818022/13800048/11471428-eaf3-11e5-9ff6-abfc420fcb38.PNG)
![capture2](https://cloud.githubusercontent.com/assets/5818022/13800049/138926e0-eaf3-11e5-8744-25f4ae894cc1.PNG)
![capture3](https://cloud.githubusercontent.com/assets/5818022/13800050/1557a2ee-eaf3-11e5-9527-2bf69f63

[2016-03-16 09:28] OTroccaz commented on #1262
I just tested on different sites, all hosted on the same server (IIS 7.5 and PHP 5.6.19)
None of these sites send a mail notification after user signup. More, for sites in French, the system logs records no action. For those in English, there is a NOTIFY_DBG recording such as:

Array
(
    [id] => user_signup_submitted
    [subject] => Event Triggered: user_signup_submitted
    [recipients] => Arr