[2017-12-06 10:56] Jimmi08 opened #2899 "problem with theme translation"
I am loading LAN theme files this way:

e107::lan('theme');

In debug I can see this:
![image](https://user-images.githubusercontent.com/5429548/33658192-14a66e78-da7c-11e7-9350-41281db41e9b.png)

- there is // instead / in path.

File exists:

![image](https://user-images.githubusercontent.com/5429548/33658216-2a7f483c-da7c-11e7-90b9-df116c7e2e9b.png)

[2017-12-06 11:58] Moc commented on #2899
Are the actual LAN defines loading? In other words, is it a typo in the debug message or is it an actual error in loading the file?

[2017-12-06 12:05] Moc commented on #2751
Agree. The styling of titles and such should be done through the theme (css) not by adding bbcodes.
Closing.

[2017-12-06 12:05] #2751 closed

[2017-12-06 12:11] Moc commented on #2753
When the cursor is blinking behind the username, you can press backspace and the user should be removed. You can then enter a new username.

Tested on chrome when adding a new page/menu.

Is this not working for you?
I guess a better version of it is to have the 'x' sign next to it so you can actually click that to change the user.

[2017-12-06 12:12] Moc commented on #2719
Sounds like a theme issue. Did this get fixed or is it still an issue?

[2017-12-06 12:15] Moc commented on #2586
It may very well be that this issue is already resolved in the latest update. Please try updating from Github before we look into this issue more closely.

There is an easy way to sync with Github:
- Enable developer mode in `Admin Area > Preferences > Advanced features`
- Go to `Admin Area > Tools > Database > Sync with Github`
- Press the `Overwrite files` button and wait until the process has f

[2017-12-06 12:16] Jimmi08 commented on #2899
No, theme LANs are not translated if I change languages - if you mean this.

[2017-12-06 12:18] Moc commented on #2899
Yep, so it's an actual bug and not a typo in the debug message. Thanks.

[2017-12-06 12:19] Moc commented on #2891
Chrome extension has been published:
https://chrome.google.com/webstore/detail/e107-dev/ikpmmbnjfndjmpmehlgeeinfkiaafdkf?hl=en

Firefox is still in publishing process as far as I know.

[2017-12-06 12:22] Jimmi08 commented on #2751
@Moc FYI - basic core forum templates were tested and all should have unique ID, so styling via css should be possible.

[2017-12-06 16:46] LaocheXe commented on #2586
![previous-button](https://user-images.githubusercontent.com/5818022/33673580-c794d696-da72-11e7-9e3d-f3bc353a34f4.JPG)

[2017-12-06 17:42] Moc commented on #2586
Did you clear the cache?

[2017-12-06 17:47] LaocheXe commented on #2586
Yes

[2017-12-06 19:26] CaMer0n commented on #2586
@LaocheXe
Please inspect and compare with mine:
![image](https://user-images.githubusercontent.com/2825679/33681002-2a4766dc-da78-11e7-88bc-d6bb1a468c67.png)

A css conflict perhaps?

[2017-12-06 19:59] rica-carv commented on #2751
But allowing bbcodes is more flexible and more directly visible, and wouldn't need more css styles & id's....
Just my two cents....

[2017-12-06 20:13] LaocheXe commented on #2586
![capture2](https://user-images.githubusercontent.com/5818022/33683158-9bd818fc-da8f-11e7-9130-a07b7058161a.JPG)

[2017-12-06 20:17] rica-carv commented on #2753
@I tested your approach, and it works,...
But's it's a "weird & twisted" way to edit users... Why not a dropdown list, to ease things?
For instance, if i just type the first chars, and save, it will save with the first user found matching those chars.... Very weird...

Anyway, there's still a glitch. I can edit the user in the form with that ankward way, and it changes correctly, but in list view,

[2017-12-06 20:18] rica-carv commented on #2719
@Moc Yes, it is theme issue, but i haven't narrow it more... Maybe i need to call Sherlock Holmes....

[2017-12-07 11:41] tgtje commented on #2899
Have an older install with a slightly changed langingzero theme;
Used>   e107::lan("theme");
debug outcome : Attempting to Load: e107_themes/lz-hcd//languages/Dutch.php
This is an identical result (double //)  HOWEVER if i change a piece of text (displaying front page etc. which only resides in Dutch php, it will actually be loaded (and displayed in changed form).
Multilang switching to English di

[2017-12-07 16:13] Jimmi08 commented on #2899
@tgtje did you try to use theme lans in plugin template? I use it in comment template and they are not changed. See e107.sk

[2017-12-07 17:28] tgtje commented on #2899
@Jimmi08 if understand correctly : templates used (or copied) to/IN theme ? If yes, (out of my head)
it will likely not be e107:lan('');   but e107::themeLAN( xxxxx). Will try to find any according related.( it is somewhere in files as commented text)

(idea behind _as i understand_, but might be wrong is the 'override'  of that file which may/does exist at 2 locations...)

[2017-12-07 21:56] Jimmi08 commented on #2899
@tgtje yes, copy of core template in theme folder.  And in it theme lans are used. I was sure it was working before but maybe I am mistaken it with theme shortcodes.  Only way you can load them is in theme.php, not in template file itself. Thanks for help

[2017-12-07 22:37] tgtje commented on #2899
Eh wait, else i get confused (took a Dutch php + English php> in theme folder languages).
Added define('LAN_COMMENT_DISCUSSION', "Discussion"); to Dutch php and the English one.
I than added e107::lan('theme'); into comment_template.
Now for it to work i had to define (for you a button alt text i guess) that LAN IN comment template.
I changed line 129 into
`<div class="comment-box-username span2 c

[2017-12-08 05:01] Jimmi08 commented on #2899
Do you add it in template file? Why is not in theme.php enough? So with more templates do you load it more times? Something like this shouldnt be in templates. I will try it. Thanks.

[2017-12-08 07:04] Serios opened #2900 "e107::getForm() and using secure image?"
Is it possible to render secure image on form generated trough e107::getForm() ? I cant't find anything in the documentation or in form_handler class

[2017-12-08 07:12] Moc commented on #2899
Jimako is right. If this works only by loading the LAN in the template files directly this is a bug. Loading them once from theme.php should be enough.

[2017-12-08 12:41] lonalore commented on #2900
Not tested, but I hope it helps:

[code]

[2017-12-08 13:04] Serios commented on #2900
Thanks @lonalore  will try it. Looking at it, it should work fine.

[2017-12-08 13:13] tgtje commented on #2899
call for lang file is made in template(e107::lan(t...);
also the new 'LAN CALL'(code) _like in any other file_ (since it is a new LAN which is coded in file> hence a template has to reflect that).

Now when multilang, one would expect a locale folder and the lang file (eg Dutch.php etc..holding these new defines).
It seems when one uses e107::lan(theme); it DOES work BUT the (eg Dutch php) may NOT

[2017-12-08 13:41] Jimmi08 commented on #2900
You should look at visual captcha plugin, its used there.

[2017-12-08 13:52] lonalore commented on #2900
@Jimmi08 If I remember well, `e107::getSecureImg()->r_image()` is not used in VisualCaptcha plugin.

[2017-12-08 19:39] tgtje commented on #2899
Okay, follow up you want to add a LAN (code) in template, but make the call ( display the textual content aka define) through theme.php imstead of adding it to template...

Yep works too... you need to add
`e107::themeLAN('','bootstrap3');`   where bootstrap3 represents your themename. do NOT forget the 2 '' in front !!!  (why are they there and what tey represent ???? i guess because it implement

[2017-12-08 20:30] Jimmi08 commented on #2899
This should be enough:
[code]

this works, thank you

[2017-12-08 22:33] AdocArg commented on #2604
Sorry for late answer, I had and have heavy days. I don't remember if i need to activate something, because appears me:

![sefurl](https://user-images.githubusercontent.com/20747469/33787994-8d5bcbaa-dc4e-11e7-93c1-928ded241371.jpg)

(I have all the files updated)

[2017-12-08 23:48] tgtje commented on #2899
Nice 👍

[2017-12-09 03:51] LaocheXe opened #2901 "Issue: e_pref::update and e_front_model::update"
Warning Declaration of e_pref::update($pref_name, $value) should be compatible with e_front_model::update($from_post = true, $force = false, $session_messages = false), Line 28 of /e107/e107_handlers/pref_class.php

[2017-12-09 12:54] Jimmi08 commented on #2900
@lonalore
Yes, but there was something with secure_image.  I see now that is different. Thanks
`e107::getOverride()->replace('secure_image::r_image',   'visualcaptcha_module::blank');`

[2017-12-09 14:32] Jimmi08 commented on #2228
this was solved in core
[code]

[2017-12-09 14:32] #2228 closed

[2017-12-09 14:34] Jimmi08 commented on #1823
Works in 2.1.7

[2017-12-09 14:34] #1823 closed

[2017-12-09 14:36] #2672 closed

[2017-12-09 14:37] #2459 closed

[2017-12-09 14:37] #2664 closed

[2017-12-09 14:38] #2850 closed

[2017-12-09 14:39] #2243 closed

[2017-12-09 15:33] Moc commented on #2891
Firefox has been published as well: https://addons.mozilla.org/en-US/firefox/addon/e107-dev/
Thanks @lonalore

Closing this issue. For more feedback on the extensions, please use https://github.com/e107inc/e107-dev/

[2017-12-09 15:33] #2891 closed

[2017-12-09 17:59] CaMer0n commented on #2899
@Jimmi08 @tgtje
Please try `e107::lan('theme');` with the fix above. Thanks.

[2017-12-09 18:16] tgtje commented on #2899
The double slash issue is gone (debug top post); and using e107::lan('theme'); working.. 👍

little sidenote: e107::themeLAN(); still does; also e107::themeLAN('','THEMENAME');  Yayy 3 options :-)

[2017-12-09 18:23] CaMer0n commented on #2899
Thank you! Preferred method is:

    e107::lan('theme');

..inside theme.php 👍

[2017-12-09 18:26] Jimmi08 commented on #2899
Thanks to all.

[2017-12-09 18:26] #2899 closed

[2017-12-09 19:32] Jimmi08 commented on #2252
It works now. Thank you to all.

[2017-12-09 19:32] #2252 closed

[2017-12-09 19:43] Jimmi08 opened #2904 "image is not deleted from server"
Uploaded new image:
![image](https://user-images.githubusercontent.com/5429548/33798850-87e227e6-dd20-11e7-810a-6cd45430abbe.png)
Its there:
![image](https://user-images.githubusercontent.com/5429548/33798853-951e92a0-dd20-11e7-9e49-09e00f53a579.png)
After click on delete and confirm Are you sure
![image](https://user-images.githubusercontent.com/5429548/33798858-bbd522b0-dd20-11e7-84a4-164b0ccc8c

[2017-12-09 20:02] lonalore commented on #2860
I made new banchmark (on the same website the previous banchmarks were made on) with indexing suggested by @fwhcat on Gitter, and this is the best so far.
[code]

**Results (avg ~1,261)**
![kepernyokep_2017-12-09_21-00-54](https://user-images.githubusercontent.com/6043821/33799039-15a25a9e-dd24-11e7-868c-be0c4ef3c863.png)

[2017-12-09 20:50] Jimmi08 commented on #2860
Thank you guys.

[2017-12-09 22:16] Moc commented on #2904
Duplicate https://github.com/e107inc/e107/issues/802

[2017-12-09 22:17] #2904 closed

[2017-12-09 22:23] fwhcat commented on #2860
Thanks @lonalore and @Jimmi08. Glad I could help with that :)

[2017-12-10 04:00] NZCyrus opened #2909 "SQL verification fails after latest commit"
`online | online_ip, online_user_id | Index missing! | should beINDEX `online_ip_user_id` (online_ip, online_user_id);`

On an attempt to fix this issue the warning message is:

[code]
I cannot offer any further information as https://addons.mozilla.org/en-US/firefox/addon/e107-dev/ is not compatible with Firefox Quantum 57.0.2 (64-bit) Mozilla Firefox for Arch Linux.

[2017-12-10 10:05] lonalore commented on #2909
@NZCyrus Cameron is already working on this issue.

Btw @CaMer0n what happened with e107 Dev v2.0.0? As I see it is not available from Mozilla: https://addons.mozilla.org/en-US/firefox/addon/e107-dev

[2017-12-10 19:34] #802 closed

[2017-12-10 19:54] CaMer0n commented on #2909
@lonalore Addon was rejected. Please see Gitter for reasons.

[2017-12-10 20:54] #2909 closed

[2017-12-10 20:54] CaMer0n commented on #2909
@NZCyrus @lonalore Please re-open if necessary.

[2017-12-10 20:58] CaMer0n commented on #2870
Closing.

[2017-12-11 10:30] lonalore commented on #2870
@Jimmi08 where is this setting: "Load language files only for current language"? I've been looking for days but can not find it. :D

[2017-12-11 10:39] Jimmi08 commented on #2870
![image](https://user-images.githubusercontent.com/5429548/33827222-e1721206-de67-11e7-9b86-a942881576de.png)

[2017-12-11 10:48] lonalore commented on #2870
Ahh thank you! But the current value is 'Off' on my website, but there are some plugins that do not have a hungarian language file. But english files are not included.
@CaMer0n It would be possible to modify `e107::lan()` to include default, english files if files (fur the current language) are not available (or not readable, etc)?

[2017-12-11 11:07] Jimmi08 commented on #2870
Me too. Not sure now. But if I notice nontranslated strings, I just copy English file as Slovak (with lang folder English/English_  this is double work) with English strings.  But this haven't happend long time so I supposed that this setting (OFF) works.

[2017-12-11 12:44] Norwayman commented on #2870
![languagesettings](https://user-images.githubusercontent.com/1757346/33831597-4beb5cc0-de3e-11e7-8d19-c303a2528348.JPG)

the value on my site is also OFF, but if I do not make a folder named Norwegian or Spanish (with the corresponding files in English if I do not have the sufficient time to translate them) it shows just the LAN strings, so that is why I think we should use english files as fallb

[2017-12-11 18:31] CaMer0n commented on #2870
@lonalore The code is already there. I am not sure why it is not working for some people. Perhaps some language files are including language files incorrectly?

[code]

[2017-12-11 19:11] lonalore commented on #2870
Thank you @CaMer0n I don't use `includeLan()`, I always use `e107::lan()`, for example:

[code]
And `e107::lan()` uses `e107::coreLan()`, `e107::themeLan()` and `e107::plugLan()`. But as I see... these methods also use `includeLan()`. Interesting...

[2017-12-11 19:13] Jimmi08 commented on #2870
@lonalore just to have it complet, this was fixed/changed lately
https://github.com/e107inc/e107/issues/2899

[2017-12-11 19:18] lonalore commented on #2870
The problem is the missing folder name. So,

should be

![kepernyokep_2017-12-11_20-16-39](https://user-images.githubusercontent.com/6043821/33849198-363be3f0-deb0-11e7-826b-ff6153efc8ef.png)

[2017-12-11 19:20] Jimmi08 commented on #2870
@lonalore but that folder is not mandatory. Both version should be working. I don't use this version for my plugins either.

[2017-12-11 19:25] lonalore commented on #2870
So I've always used wrong parameters for `e107::lan()`. Nice... :/ Mea Culpa!

[2017-12-11 19:36] lonalore commented on #2870
OMG....
![kepernyokep_2017-12-11_20-33-58](https://user-images.githubusercontent.com/6043821/33849978-a3e39e64-deb2-11e7-99cf-ade2f9adc045.png)

So I've always used wrong parameters for `e107::lan()` in ALL of my plugins... @%!&!@%!
It will be nice to update all of them...

Anyhow, thank you for the help!

[2017-12-11 19:55] lonalore commented on #2870
@CaMer0n It may be because they use `e107::lan()` the same way I do/did. Or they use my plugins on their websites. :D

[2017-12-11 20:00] Jimmi08 commented on #2870
@lonalore why is your way wrong?  Look at documentation:  (Maybe I don't see something)

![image](https://user-images.githubusercontent.com/5429548/33851103-39397792-deb6-11e7-9fbc-c0cb53134437.png)

[2017-12-11 20:04] lonalore commented on #2870
@Jimmi08 You're right, my solution based on documentation, but documentation seems to be outdated. I checked PHP docs now, but `e107::lan('...', true, true);` is not listed here:
[code]

[2017-12-11 20:12] lonalore commented on #2870
I became uncertain now... I don't know which documentation is the good one.

[2017-12-11 20:15] Jimmi08 commented on #2870
I am lost too, there is "break" in logic/system in these examples above.

There should be strict rules and plugins develop should use them.
I use now:
[code]
So many possibilities and no one what would be load simple English.php if this is because back compatibility.

[2017-12-11 20:34] lonalore commented on #2870
My (currently working) implementations:
[code]
Maybe `e107::lan('...', true, true);` worked before, but it may have broken somewhere... :/

I think it would be a great need to update outdated PHP docs and it would also be a great need to write unit/functional tests for e107 to avoid such misunderstandings.

[2017-12-12 03:48] yesszus commented on #2539
Registrations doesn't work.

[5]Authentication failed! Twitter returned an error.
Github: [5]Error SQL Insert Error

[2017-12-12 18:24] LaocheXe opened #2911 "Issue: Admin Area Timeout Unauthorized Access"
After going past a time limit while in the admin area form - you try to make changes, you get a white page that says Unauthorized Access! - Example: creating news - working on a long pried of time on the one news post. Hitting the submit button will give you a white page with Unauthorized Access. I've had this show up when I'm in the preferences area, and in plugin admin area's as well.

[2017-12-12 19:04] rica-carv commented on #2870
Maybe i'm wrong, but `e107::lan('...', true, true);` was on the earlyer v2. It was a short lived option, i think...
I've also had that "bug", and had to adapt all my plugins to the new way....

[2017-12-12 19:21] lonalore commented on #2870
It is interesting that `e107::lan('metatag', true, true);` loads `[PLUGINS]/metatag/languages/English/English_admin.php` file if the current language is English. But it tries to load `[PLUGINS]/metatag/languages/Hungarian_admin.php` for hungarian language. I think this is a bug, and the documentation is good.

[2017-12-12 23:11] tgtje commented on #2870
Just adding : It is the 'problem ' i mentioned before (Gitter??) here is _no_ straight rule if files must be on 'root', or inside a locale (country) folder. Where one works with locale files, and others with 'root '  files ('root'= main language folder). The mix of both is throughout.

[2017-12-13 07:08] Jimmi08 opened #2912 "remove admin perms via option dropdown doesn't work"
![image](https://user-images.githubusercontent.com/5429548/33925977-a602bd4e-dfdc-11e7-9dc2-fa97db66cc15.png)

edit works
updated to latest github version
php 5.4

[2017-12-13 09:31] Jimmi08 opened #2913 "confusing setting (visual) of comment setting"
Comment manager:

![image](https://user-images.githubusercontent.com/5429548/33931565-a67c1036-dff0-11e7-821d-80645a619fe7.png)

Site preferencies:
![image](https://user-images.githubusercontent.com/5429548/33931532-958da01e-dff0-11e7-9f55-a39ba52ba525.png)

I was looking for blue yes.

[2017-12-13 18:27] rica-carv commented on #2870
I think the two options (inside and outside country folder) are there because of legacy complatibility.
Old V1.x plugins and themes don't have the country folder, so the code is that way to make them work too...

[2017-12-13 19:07] Jimmi08 commented on #2870
@rica-carv for legacy it would be there option load languages/English.php file.  This is not there as option.

Using folder and language in file name is duplicity.   You have no such case in these examples or I am blind.

This is correct:  `/English/admin.php `   or this: `/English/admin/example.php`  but not this `/English/English_admin.php`.

[code]

[2017-12-13 19:35] lonalore commented on #2870
The problem was: `is_dir(e_PLUGIN.$plugin."/languages/".e_LANGUAGE)` in the condition. Because the (Hungarian) folder does not exist if no translated files, so the condition always returned with false, and the `$path = e_PLUGIN.$plugin.'/languages/'.$fname.'.php';` was used instead of the proper path.

[2017-12-13 21:09] #2870 closed

[2017-12-13 21:48] CaMer0n opened #2916 "Select box styling issue in FF Quantum and Chrome"
The drop-down menus display differently after the Firefox upgrade, causing some text to be unreadable due to a change of background color to gray and white for the optgroup labels.

![image](https://user-images.githubusercontent.com/2825679/33963777-07a7bf58-e00b-11e7-9976-24d1854ece2b.png)

![image](https://user-images.githubusercontent.com/2825679/33963864-60b23bf0-e00b-11e7-80aa-d67ed6595310.pn

[2017-12-13 22:08] LaocheXe commented on #2916
In bootstrap-dark.mini.css - On line 1479 - remove background:rgba(0,0,0,.3).

.breadcrumb,.darkwell,.form-control,.hero-unit,.progress,.uneditable-input,code,input[type=date],input[type=time],input[type=datetime-local],input[type=month],input[type=text],input[type=password],input[type=datetime],input[type=week],input[type=email],input[type=url],input[type=tel],input[type=color],input[type=number]

[2017-12-13 22:47] tgtje commented on #2916
Grr LaocheXe is fast  👍 ...  changing the LAST value (.3) is sufficient as test so far give. (personal taste which value where 255 is black)

[2017-12-13 22:58] CaMer0n commented on #2916
Thank you! Looks like it was some left-over css from the original darkstrap theme (bootstrap 2)

Here's what I have now...

![image](https://user-images.githubusercontent.com/2825679/33966881-0dc521ae-e016-11e7-8913-7c5936d1a598.png)

[2017-12-14 07:42] Jimmi08 opened #2917 "debug log about not able to load lan files"
I don't know if this is related  with latest changes
https://github.com/e107inc/e107/issues/2870

Sorry, I haven't time now to do more, so just note here

![image](https://user-images.githubusercontent.com/5429548/33980763-8ee51336-e0aa-11e7-86d7-e80ccc67f953.png)

@lonalore

[2017-12-14 07:59] lonalore commented on #2917
**featurebox** plugin uses `e107::includeLan()` to load language files, so this issue is not related to #2870

[2017-12-14 08:05] lonalore commented on #2917
Btw debug message is on wrong place in `e107::includeLan()` method. I think it should be before `str_replace()`. :D

So this:
[code]

...should be something like this:
[code]

[2017-12-14 09:07] rica-carv commented on #2916
CSS leftovers can be real headache... 👍

[2017-12-14 09:55] 214945 opened #2918 "Indexing a download directory"
When entering the admin panel constantly going on "Indexing a download directory", what is it and how to disable?

[2017-12-14 19:03] CaMer0n commented on #2918
The term "Indexing a download directory" does not appear in e107. Perhaps a third-party plugin?

[2017-12-14 19:04] CaMer0n commented on #2917
Quite right! 👍 @lonalore

[2017-12-14 19:30] 214945 commented on #2918
Yes, standing third-party plugin for indexing. Removed cleaned database. Now it works fine.

[2017-12-14 19:30] #2918 closed

[2017-12-15 04:00] CaptPot opened #2919 "e107 forum error"
Hi,
I've just uploaded e107 and set a site up but when I click on the forum link i get this error

Warning: require_once(../../class2.php): failed to open stream: No such file or directory in /customers/f/1/6/uk-clan.com/httpd.www/forum/forum.php on line 14 Fatal error: require_once(): Failed opening required '../../class2.php' (include_path='.:/usr/share/php') in /customers/f/1/6/uk-clan.com/http

[2017-12-15 04:17] LaocheXe commented on #2919
Sounds like u dont have all the files, reupload em

[2017-12-15 09:34] rica-carv commented on #2919
Weird why class2 is only missing in forum plugin.
If class2.php is not there, it should give an error in any page, even in index, no?

Anyway, try to reupload all files, as @LaocheXe stated, and if problem persists, let us know php and server version....

[2017-12-15 10:46] Jimmi08 commented on #2919
Doesnt forum as your frontpage?

[2017-12-15 18:57] Jimmi08 opened #2920 "report speed"
Hi,
 again no idea why. I just noticed this.

this line in header_template.php

`$body_onload .= " id='layout-".e107::getForm()->name2id(THEME_LAYOUT)."' ";`

causes this time delay
![image](https://user-images.githubusercontent.com/5429548/34056046-e3553a40-e1d1-11e7-8a0a-11e10a4428f2.png)
I was just curious why some of my themes have this and some not, the reason was that some of them had BODYTA

[2017-12-15 21:02] #2920 closed

[2017-12-15 21:29] CaptPot commented on #2919
I've re-uploaded the folder from my original e107 download, no change, still get the same error. I then over-wrote the forum folder with a one from 2013!! and got this screen
![image](https://user-images.githubusercontent.com/34254497/34061136-bd25e9fc-e1de-11e7-857a-332c46101e46.png)

so it's trying to show the forum and not just the original error screen
"Warning: require_once(../../class2.php):

[2017-12-15 23:32] LaocheXe opened #2921 "Bug: LAN Missing"
Admin Area - Database - Scan Plugins - Missing Lans

![capture](https://user-images.githubusercontent.com/5818022/34064347-e35cc94a-e1bd-11e7-956f-f2ae704f0eda.JPG)

[2017-12-16 14:48] rica-carv commented on #2919
Check if permissions are correct on the folders....

[2017-12-16 16:48] CaptPot commented on #2919
Ive checked the folders and the permission are 776. I've checked the plug in and get the following
![capture](https://user-images.githubusercontent.com/34254497/34072530-cb2d7d38-e280-11e7-81b9-62cd1a8e0af5.JPG)

Any ideas??

[2017-12-16 17:00] Jimmi08 commented on #2919
What is your url for forum? e107_plugins/forum/forum.php or forum/ or?

[2017-12-16 17:13] CaptPot commented on #2919
The links did show uk-clan.com/forum, so I uploaded folder to the main e107 folder and not the plugin folder, the url now shows uk-clan.com/index.php

[2017-12-16 17:19] CaptPot commented on #2919
I've went back into my admin area and got this warning
![capture1](https://user-images.githubusercontent.com/34254497/34072769-3479716c-e285-11e7-9017-07972a3cfcf5.JPG)
????help pls

[2017-12-16 17:21] Jimmi08 commented on #2919
this is mistake:  "The links did show uk-clan.com/forum, so I uploaded folder to the main e107 folder and not the plugin folder, the url now shows uk-clan.com/index.php"

/forum -  is sef-url version of forum.   put everything back to e107_plugins folder

[2017-12-16 17:25] Jimmi08 commented on #2919
Now, check if legacy path works:
uk-clan.com/e107_plugins/forum/forum.php
if not, you have problem with e107 and forum plugin itself
if yes, problem is somewhere else. I've just installed forum plugin and path in sitelinks was /e107_plugins/forum/forum.php,  so you had to changed something after installation.
What did you do after it?

[2017-12-16 17:50] CaMer0n commented on #2920
@Jimmi08 Did it resolve itself or was something else causing it?

[2017-12-16 18:09] Jimmi08 commented on #2920
It was moved (time) to next load of e107::form().   So it's time of first loading any object (or better handler) and time is used for require_once().    I was only surprised that e_form is always loaded as object not singleton, other handlers behave different way. But because I don't understand this, I closed it.

[2017-12-16 18:16] Jimmi08 commented on #2919
@CaptPot here is your problem:  in /customers/f/1/6/uk-clan.com/httpd.www/forum/forum.php
- there is missing one level in your paths  - e107_plugins folder (or any name for plugin folder), so path to class.php is wrong.

[2017-12-16 18:43] rica-carv commented on #2919
Somehow you messed the folder strucuture of e107. Just upload everything again as it is by default, and don't change the file structure or location....

[2017-12-16 18:49] Jimmi08 opened #2923 "wrong path in search in download plugin"
I noticed that search in download plugin didn't work with sef url /download

path there is:  `action='".e_BASE."search.php'>";`

![image](https://user-images.githubusercontent.com/5429548/34073420-c8a02c64-e299-11e7-82b2-7dc70f6a38b6.png)

if I use: /e107_plugins/download/download.php
![image](https://user-images.githubusercontent.com/5429548/34073431-f7bd07ec-e299-11e7-91d8-558228a0b916.png)
adn

[2017-12-16 20:25] #2921 closed

[2017-12-16 20:30] CaMer0n commented on #2921
@LaocheXe Please try again, it should be fixed now.

[2017-12-16 20:33] CaMer0n commented on #2923
@Jimmi08 Try changing to ```action='".e_HTTP."search.php'>";```
Does it help?

[2017-12-16 21:12] Jimmi08 commented on #2923
Yes, it's correct now

[2017-12-16 21:43] LaocheXe commented on #2921
It's fixed

[2017-12-16 23:00] Moc commented on #2923
I thought this was already fixed a long time ago... Meh.. haha

[2017-12-17 11:44] #2812 closed

[2017-12-17 11:45] #927 closed

[2017-12-17 15:25] fizi opened #2924 "News image"
I put the code into the news_template.php:
`<div class="default-item-mainimage">
      <a href="{NEWSURL}">
        {SETIMAGE: w=1200&h=1000}
        {NEWSIMAGE: item=1&type=tag}
        <div class="default-item-category">{NEWSCATEGORY}</div>
        <div class="default-item-bottom-box">
          <div class="default-item-date">{NEWSDATE=yyyy. M dd.}</div>
          <h2 class="default-item-title">

[2017-12-17 15:53] CaMer0n commented on #2924
I don't think divs are permitted inside `<a>` tags.  ;-)

[2017-12-17 15:58] #2923 closed

[2017-12-17 20:03] fizi commented on #2924
please delete this issue.

[2017-12-17 20:16] rica-carv commented on #2924
You can also close it yourself..... It was you who opened it, you can also close it....

[2017-12-17 21:05] #2924 closed

[2017-12-18 09:00] lonalore commented on #2894
The problem was that there were 10 items in the table, but the list was paginated by 30 items. So the second and third pages were missing.

[2017-12-18 17:54] CaptPot commented on #2919
Thanks for all of the help fellas, it's nearly working. I uninstalled the forum folder, reinstalled it in the plugin folder, it now points to "uk-clan.com/e107_plugins/forum/forum.php" I've been into the forum manager and created a couple of test parents
![capture](https://user-images.githubusercontent.com/34254497/34119981-f959dcd2-e41b-11e7-8ca0-854772d6874a.JPG)
but when I try to add forum sect

[2017-12-18 18:31] CaMer0n commented on #2919
@CaptPot You might want to try the chatroom: https://gitter.im/e107inc/e107

[2017-12-18 18:41] rica-carv commented on #2919
Try clean browser & e107 caches...

[2017-12-18 19:07] Jimmi08 commented on #2919
@CaptPot What version of e107 do you use? My forum page in admin looks different:
![image](https://user-images.githubusercontent.com/5429548/34123207-15a63ca6-e42f-11e7-9f5e-57acc399c949.png)

[2017-12-18 21:27] CaptPot commented on #2919
I'm not sure what version it was but I cleared all of the caches, reloaded and then updated it to this version
![capture3](https://user-images.githubusercontent.com/34254497/34128799-da149a10-e439-11e7-8e18-4a58132c2f03.JPG)
Ive created some parent and child topics, which now show on the site
![capture](https://user-images.githubusercontent.com/34254497/34128859-04d5d7dc-e43a-11e7-9762-2d56c387e2a

[2017-12-18 21:52] Jimmi08 commented on #2919
Now it looks correct. Check your SEF-URL setting and URL configuration for forum.

[2017-12-18 22:16] CaptPot commented on #2919
I left that box blank so it auto created

[2017-12-18 23:41] CaMer0n commented on #2919
@CaptPot They are auto-created when you save.

[2017-12-19 05:24] LaocheXe opened #2926 "Question: Plugin.xml AdminLinks"
Currently I tried doing something like this:

	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
		<link url="admin_application.php" description="" icon="" iconSmall="" icon128="" primary="false" >Applications</link>
		<link url="admin_sr.php" description="" icon="" iconSmall="" icon128="" primary="false" >Service Record

[2017-12-19 10:09] rica-carv commented on #2926
Perhaps. That section is also rendered in the drop down menu in admin area, so i think it will only allow one link, and ignores the remaining ones...

[2017-12-19 12:10] Jimmi08 commented on #2898
btn-default - replaced by btn-secondary
But correct replace is use btn-primary for all buttons in e107, only second button should be btn-default

[2017-12-19 20:13] LaocheXe commented on #2926
Very odd, checked the drop down menu in admin area and don't see any of the links that are in the plugin.xml

[2017-12-19 21:11] CaMer0n commented on #2926
@LaocheXe Yes, and prevents plugins from over running the admin.  Imagine if every plugin did that.. it would look like chaos in the admin area.

[2017-12-19 21:16] LaocheXe commented on #2926
@CaMer0n I did this as a test after reading the plugin.xml, as it's says <adminLinks> which sould be <adminLInk> since there should only be one, correct? Or did you have future plains for this? Maybe a central plugin section. Example, since the first link is set to primary, once the admin goes into that plugin's page, maybe have a box section of icon links to other pages at the bottom of the page,

[2017-12-19 21:21] CaMer0n commented on #2926
@LaocheXe If I understand well, you're looking for something similar to the "Database" page as a default plugin page, correct?

[2017-12-19 21:37] LaocheXe commented on #2926
@CaMer0n Similar, more compact in a way.

As Database is large:
![capture1](https://user-images.githubusercontent.com/5818022/34179881-43d0ad98-e4d2-11e7-80ce-34dddc0f79a5.JPG)

I was thinking another approach - something like the plugin section:
![capture2](https://user-images.githubusercontent.com/5818022/34179908-5707fe02-e4d2-11e7-970b-7bc46ebc27a1.JPG)

Because right now, this looks a little

[2017-12-19 21:42] Jimmi08 commented on #2926
@LaocheXe from the same reason I moved all create links to right panel

![image](https://user-images.githubusercontent.com/5429548/34180115-cf61c94c-e50d-11e7-8280-1b6ae5360915.png)

[2017-12-19 21:42] CaMer0n commented on #2926
@LaocheXe I understand. Do you have this plugin in a Github repo already?

[2017-12-19 21:59] LaocheXe commented on #2926
@CaMer0n yes I do, but the last image I uploaded was edit - I don't really have that, plus still work in progress, a lot of generated pages that I plain on using. https://github.com/LaocheXe/RSystems

[2017-12-20 12:50] Jimmi08 opened #2927 "problem with icons - not the same logic everywhere"
I noticed this with bootstrap 4 theme, but it applies for bootstrap 3 theme without glyphs support.

![image](https://user-images.githubusercontent.com/5429548/34207274-18285638-e58a-11e7-8ed2-a4d97553f970.png)

**Print icon:**
 {PRINTICON} -  inserts fa-icon, correct, if you want to override it with image, you can use `define('ICONPRINT', "print.png");`  and put image in theme/images folder
 I di

[2017-12-20 20:35] rica-carv commented on #2927
@Jimmi08 You can override all bootstrap glyphs & fontawesome with css and any image file you want.
I'm currently doing it on my live site....

[2017-12-20 21:46] Jimmi08 commented on #2927
It is not point. Core should use the same principles. I can do what I want but others maybe not. Try to explain how it works in documention if each icon works different way.

[2017-12-21 11:20] rica-carv commented on #2927
Yes, i agree with you. Icons should all share the common base, not use different render options...

[2017-12-21 15:12] Serios opened #2928 "Custom pages and SEF URL's problem"
I have a very strange problem with system properly detecting which template to assign to a custom page. For example I have two pages with somehow similar SEF url's taxation-procedures and taxation-options they both are set to use different custom template, however the system assigns same template to both of them if I change SEF to for example  taxation-procedures and options-taxation the custom te

[2017-12-21 22:26] CaMer0n commented on #2928
@Serios Are you referring to the theme settings page, where you change theme layout depending on the URL ?

[2017-12-22 08:33] Serios commented on #2928
Yes, I set the url's there and then on front end they gets messed up.

[2017-12-22 21:14] Jimmi08 commented on #2898
this needs to be fixed for bootstrap 4 too:
[code]

[2017-12-23 17:10] CaptPot commented on #2919
Guy's sorry for the delay. Thank you so much for your help fixing this problem, 1 last thing when people post it shows them as anonymous?, what setting do I need to change?

Merry Christmas :)

[2017-12-23 19:49] CaMer0n commented on #2928
If you remove the hyphen from both SEF Urls.. does it fix the problem? I suspect the hyphen may be causing issues.

[2017-12-24 19:12] #2916 closed

[2017-12-25 21:47] Jimmi08 opened #2930 "request.php and blank page if user doesn't have rights to download file"
With direct download (not download plugin) there is no message after no rights. This test:
[code]
Tested with Files in vstore plugin, changed access via Media Manager, result was blank page.

[2017-12-25 22:21] CaMer0n commented on #2930
Thank you @Jimmi08 !

[2017-12-25 22:36] mattexb opened #2931 "Jquery exception"
Hi everybody,

i'm haveing this message when i call a plugin page, core or custom ones:

[code]

i saw the issue starts in a call:

`var id = $(this).attr("href"), hash = id.split('#')[1], form = $('.admin-menu')[0]; // FIXME - a better way to detect the page form`

at line 545 of e107_web/core/admin.jquery.js

browser chrome  63.0.3239.84 64bit

P.S.
very nice work guys e107 is a lot of work very

[2017-12-25 22:47] fwhcat commented on #2931
Here is a direct link to the part of code in fault:

https://github.com/e107inc/e107/blob/14345358b17f60b2352e41c9eb55416b68f2889f/e107_web/js/core/admin.jquery.js#L552

[2017-12-25 23:00] UKSG opened #2932 "Plugin Manager - Find Plugins"
When changing the viewed columns to include the 'Released' column the following error occurs:
"Fatal error: Call to a member function getData() on null in /e107_admin/plugin.php on line 922"

e107 version 2.1.7

[2017-12-26 00:20] #2932 closed

[2017-12-26 11:08] fwhcat opened #2933 "Cannot pass step 6 of installation on PHP 7.2"
11 days ago, with the commit https://github.com/e107inc/e107/commit/ff2b79145ec6030406070e9cd8b0ef09fc366260
you introduced a bug.

Calling $output .= $this->thumbnailSelector('sitetheme', $opts, DEFAULT_INSTALL_THEME); is a great idea, but in $opts array, preview are the templates folder and not their preview image,
the thumbnailSelector checks if the preview field is a file and in that case, it

[2017-12-26 11:10] fwhcat commented on #2933
Here is an attached screenshot:

![image](https://user-images.githubusercontent.com/20411249/34355465-c49ed270-ea35-11e7-9573-d6bef73359ba.png)

[2017-12-26 11:19] Jimmi08 commented on #2933
Installation on php 5.6 without problems.

[2017-12-26 14:02] tgtje commented on #2933
Although local (php 7.1.1) no issues (1,5 days ago)

[2017-12-26 17:54] CaMer0n commented on #2933
@fwhcat Please test again with install.php?debug as your URL so that you can see the errors.

    'preview'   =>  e_THEME.$val."/".$themeInfo['thumbnail'],

My guess is that the XML is not being parsed correctly.

[2017-12-26 18:18] fwhcat commented on #2933
No errors displays. The following is the array displayed via ?debug
[code]

My web server outputs a notice, might be related:
[code]

[2017-12-26 19:25] CaMer0n commented on #2933
@fwhcat Please list all theme folders in your e107_theme folder.
Tested here with PHP 7.1.1 without any problem.

[2017-12-27 08:55] fwhcat commented on #2933
@CaMer0n it's a pure and fresh copy of master, nothing more.

[2017-12-27 11:46] AlexL777 opened #2934 "How to configure ModSecurity for e107"
Hello Developers,

I can observe strange behavior of my E107-Installation. Recently I can not change the configuration of plugins or generally in the backend.

It appears that I have unauthorized access.

On the root server under Centos 7.4 and Plesk ModSecurity is still installed with very strict rules, but that does not change anything. I have already disabled ModSecurity, but still had `unautho

[2017-12-27 12:42] Jimmi08 opened #2935 "Feature request - to be able download theme from e107.org from github repository"
- similar way how languages or core works
- without need to upload full theme to e107.org - just adding url to theme.xml to zip archive or repository (no idea what is easier)
- upload size on e107.org is limited, with demo content (images) theme zip could be too big.

[2017-12-27 18:48] CaMer0n commented on #2935
@Jimmi08 How large is your .zip?

[2017-12-27 19:54] Jimmi08 commented on #2935
4,7 MB.  demo images do this size.
Just idea - how to do this similar way like maw his paid themes.
I would put there link for download zip from github.

[2017-12-27 20:22] Moc commented on #2933
Maybe there's a change in PHP 7.1.x vs. 7.2 which causes this issue.

[2017-12-27 20:30] CaMer0n commented on #2935
@Jimmi08 It's reserved only for paid themes. I'll increase the upload limit in the meantime. ;-)

[2017-12-27 22:14] Jimmi08 commented on #2935
I still don't get it.  So if I say that my theme is paid for 0,01 €, then I can use it?  The paid theme goes to the other site where is blocked download link or does something more?

My point of view is:  if I upload theme to e107.org, it looks like theme is finished or complete or fully tested.  Or better words - e107.org has this way some responsibility for the quality of themes.
But if I put th

[2017-12-27 22:14] #2935 closed

[2017-12-27 22:38] CaMer0n commented on #2935
@Jimmi08 The number of downloads should display for each of your themes here:
https://e107.org/developers

[2017-12-27 22:43] Jimmi08 commented on #2935
I know, it's great,  I just don't know if it counts paid theme with redirect to url, not real download.

[2017-12-28 02:25] tgtje commented on #2933
Just did an install on php **7.2**
( PHP Version	7.2.0
MySQL	10.1.29-MariaDB (PDO) XML extension	Installed	EXIF extension	Installed	Curl Library	Installed	 GD Library	Installed	MB String Library	Installed

Confirmed; same output as @fwhcat (by image )
further testing :

Only to be seen in php **_7.2_** (_2.1.6. git (aug) + today (2.1.8_):
 Notice: Undefined index: @value in local\htdocs\test\e107_

[2017-12-29 11:47] AlexL777 commented on #2934
I have solved this one problem now, because it lacked various permissions of the Firewall Rules of ModSecurity.

However, I still have a problem when I want to create `menus/pages`. It does not show me authorized access.

Which rules do I have to approve?

Unfortunately, it is very tricky and the `Centos 7/Mod Security Firewall`, which is very good, blocks many HTTP requests.

Exact instructions o

[2017-12-29 12:24] ghost opened #2936 "Menus are added twice when adding"
Hi Developers,

can you please check with e107 v2.1.7 the addition of the menus in the backend. When I do this, all menus are added twice and three times.

Thanks in Advance.

P.S. Maybe it's a bug, but I do not know exactly.

[2017-12-30 20:08] Evgura opened #2937 "5 comments on the page"
Почему на страницах появляются только 5 комментариев?
Если пишут шестой то пятый комент пропадет.

Why do pages appear only 5 comments?
If you write the sixth the fifth koment lost.
Somewhere in the settings maybe there are limitations? All checked - not found.

[2017-12-30 20:32] Jimmi08 commented on #2937
What theme and e107 version do you use?
Do you mean "страницa" like pages or comment page?  I have no problem to post 6 comments to page.

[2017-12-30 20:37] 214945 commented on #2937
Version 2.1.7
The theme of the website BS_Magazine_01
So far seen on the pages page php. And this is on two sites. Both sites were migrated from version 0.7.26

[2017-12-30 20:37] Jimmi08 commented on #2937
Have it. Maybe.
If you set Turn on nested comments OFF (no nested comments), it works correctly on news. Pagination is displayed if there are more than 5 comments.
But with pages there is no pagination, only last 5 comments are displayed.
This is missing with pages:
![image](https://user-images.githubusercontent.com/5429548/34457181-9a50b0ca-eda9-11e7-9308-26c3d710f34e.png)

[2017-12-30 20:42] 214945 commented on #2937
Jimmi08 - Write in your language. With English not exact translation is impossible.

[2017-12-30 21:08] Jimmi08 commented on #2937
I just confirmed your issue  -  for pages and only with pref _Turn on nested comment_ set OFF.  I am not able to fix it.
Sorry, they are already used to my English.

Я только что подтвердилa вашу проблему - для страниц и только с pref // Параметр Turn on nested comment//Включить вложенные комментарии  OFF // Нет .  Я не могу это исправить.

[2018-01-01 18:21] Jimmi08 commented on #2898
With bootstrap 4 there is problem with using fade class in alert debug message.  Quick fix in theme style.css
[code]
Without it there is just empty place, no message

[2018-01-01 20:49] Jimmi08 opened #2938 "e_PAGETITLE with gallery plugin"
with path /e107_plugins/gallery/gallery.php there is no e_PAGETITLE defined
with path /gallery  e_PAGETITLE is correct

Problem is that I don't know how to change generated link in sitelinks for gallery plugin.
It's always /e107_plugins/gallery/gallery.php
![image](https://user-images.githubusercontent.com/5429548/34470988-501fe72e-ef3d-11e7-820f-b70f08a51d7c.png)
Url configuration:
![image](https

[2018-01-02 00:16] foxbg opened #2939 "Issue with thumbs.php?"
I've updated from 1.x to 2.1.7.
Uploaded files and executed dbupgrade.

I've noticed that thumb images are missing.

Following similar issues from help I've updated to 2.1.8 (git), but issue persist.

PHP Version 5.6.32

Here is variable part from e107_config.php

$ADMIN_DIRECTORY     = "e107_admin/";
$FILES_DIRECTORY     = "e107_files/";
$IMAGES_DIRECTORY    = "e107_images/";
$THEMES_DIRECTORY

[2018-01-02 08:24] Jimmi08 commented on #2939
check htaccess  (there needs to be one one) - compare with e107.htaccess
try to insert new image (fe. in news) if this is general problem or only update problem
missing information -  do you use default or your own folder names?

[2018-01-02 09:13] Moc commented on #2939
In addition to checking the htaccess file, also try clearing the cache(s). Then also check for database updates in 'tools > check for database updates'

[2018-01-02 09:23] Jimmi08 opened #2940 "e_THEME_ABS has different values for e107:ccs() and e107:js()"
This works:
`e107::js("footer", e_THEME_ABS."custom.js");`

but if I need it for css file ( without using "theme" as first parameter) , I need to add theme name to path.

`e107::css("url", e_THEME_ABS."themename/custom-style.css" );`

Yes, I know I could use e107::css("theme", ""); , but I am debugguing something and I noticed this.

[2018-01-02 11:11] foxbg commented on #2939
After upgrade I've replaced old .htaccess files with the one from new package.
Added 2 variables - did not help.
Tried to add new image - after clicking on upload I got popup saying there was an error.

Cache was cleared, there are no DB updates.

[2018-01-02 11:38] Jimmi08 commented on #2939
Check updates manually In Tools/Databases/Check updates
See Console errors (F12) and put screen here what is path for thumbnail

And -  resave preferencies.  Images are now under hash folder.  In fact, if you go to preferencies, to File uploading, you will see how your hash looks.
![image](https://user-images.githubusercontent.com/5429548/34482657-ad3008f0-efb9-11e7-8dce-fe34a7d3c21d.png)

Check i

[2018-01-02 11:41] Jimmi08 commented on #2939
And check if this is not the same issue
https://github.com/e107inc/e107/issues/2752

[2018-01-02 13:58] Jimmi08 opened #2944 "Feature request - template tagcloud plugin"
Template tagcloud plugin

Now html markup is hardcoded

[2018-01-02 14:33] Jimmi08 commented on #2936
After you add one menu, it is still checked, so if you add new one, that first one is added too.  This is because adding one menu to more layouts.
I can't confirm that something is wrong.

[2018-01-02 15:09] foxbg commented on #2939
In console I have error 500 for images source is in /media/img/60x0/<date>/<image>
I've checked .htacces and it has rewirite rule.
RewriteRule ^media\/img\/([-A-Za-z0-9+/]*={0,3})\.(jpg|gif|png)?$ thumb.php?id=$1 [NC,L]

for 2752 in what file to check?

[2018-01-02 15:24] Moc commented on #2939
Please check the Apache error log, HTTP 500 errors usually put a full error message in that error log. This may help us narrow down the cause of your issue.

[2018-01-02 15:49] Jimmi08 opened #2946 "Feature request - templating archive news menu"
It's hardcoded now

[2018-01-02 16:32] foxbg commented on #2939
Unfortunately my provider does not provide error logs. :(
Will have to copy somewhere else and test again.

[2018-01-02 16:48] foxbg commented on #2939
Found the issue...

After review of .htaccess
uncommented line 57 to
RewriteBase /

[2018-01-02 16:48] #2939 closed

[2018-01-03 03:52] Talnz opened #2948 "Members only site, forgot password email sends to login page"
When user clicks on email link to fpw.php, it sends them to the login screen - where they forgot password.  Page is being redirected to index.php instead of fpw.php code.

[2018-01-03 10:22] Jimmi08 opened #2949 "using YTB video in image news adds it to news extended field"
If you add YTB video to image news, it will add it to extended field too, so you have it twice in post

[2018-01-03 17:24] fizi commented on #2949
I confirm that this is the case.

[2018-01-05 09:02] aducom opened #2951 "Downloading and installing plugin from https hosted site does not work"
If you want to install a plugin from the admin section then you cannot do that when your site is running under https. You get an error that the link is wrong.
Might be a server issue to as I also got link error while running under http. Metatag installed under http, not https, goto-top give error in both situtations. Did not check all plugins.
Also got errors like 'unable to continue'. No clue why

[2018-01-05 09:11] veskoto opened #2952 "Feature Box: Can't chose custom category/item templates"
After updating to 2.1.7 when create/edit feature box category/item I can chose only core templates, even I have custom on **/my_theme/templates/featurebox/**
Check it with landingzero theme - same

[2018-01-05 09:27] Jimmi08 opened #2953 "Feature box: problem with install on multilang site"
Result after installation:

![image](https://user-images.githubusercontent.com/5429548/34603155-04aab382-f203-11e7-9bfe-07b2ad85b95a.png)

[2018-01-05 09:36] Jimmi08 commented on #2952
I confirm this issue.  This list ignores theme template array. Field type "layouts" and it uses getLayouts();

![image](https://user-images.githubusercontent.com/5429548/34603435-3943c7cc-f204-11e7-8165-c742cdb6e74c.png)

[2018-01-05 10:14] Jimmi08 commented on #2952
This change fixed this:

![image](https://user-images.githubusercontent.com/5429548/34604821-7de3b3a6-f209-11e7-8a43-ad030f3204b1.png)

This commit:  https://github.com/e107inc/e107/commit/229f0486aa13fc1f6d6f5350c45ad9fb5930cd1b#diff-b881850f371cf4bdd14ebacd7cfa564c

[2018-01-05 10:29] veskoto commented on #2952
**e107_plugins/featurebox/admin_config.php**
`'fb_category_template' 	=> array('title'=> FBLAN_30,	        'type' => 'layouts',	'inline'=>true, 	'data' => 'str', 	'width' => 'auto', 'thclass' => 'left', 'writeParms' => 'plugin=featurebox&id=featurebox_category&merge=1', 'filter' => true),`
to:
`'fb_category_template' 	=> array('title'=> FBLAN_30,	        'type' => 'layouts',	'inline'=>true, 	'data

[2018-01-05 10:42] Jimmi08 commented on #2952
This is perferct. This way it includes only theme templates.
![image](https://user-images.githubusercontent.com/5429548/34605708-e2a8a5dc-f20c-11e7-8242-64e89f95b7ab.png)

@CaMer0n  With solving this issue could you consider set it as merge = 0?
If theme doesn't have featurebox templates, plugin templates are displayed.
If theme has FB templates, you normally copy plugin file in theme folder and t

[2018-01-05 18:15] Jimmi08 opened #2954 "gallery image - I can't get image tag or src with correct size"
I need thumb of gallery image with desired size.
This worked before:

[code]
in this:
[code]

But now there is code e_shortcode:

[code]
which always returns src with $this->attFull  options, so it returns full image size.

[2018-01-06 08:35] 214945 commented on #2951
Normally with HTTPS all the plugins downloaded and installed, three site work.
goto-top - buggy plugin.

[2018-01-06 09:23] Jimmi08 opened #2955 "generate sitelink from Book - something is wrong"
Added new Book (SEF URL filled)
Batch option - add Link
Green message, everything OK

Go to Sitelinks
Record is there,
Changing template
URL looks like this in view:  (ID is correct)
![image](https://user-images.githubusercontent.com/5429548/34638381-9b3885d2-f2ca-11e7-9a86-9c52ab842105.png)

After click on edit, it changes to this:
![image](https://user-images.githubusercontent.com/5429548/346383

[2018-01-06 10:28] aducom commented on #2951
Tnx, for reply.Must be on my side then...

[2018-01-06 10:28] #2951 closed

[2018-01-06 19:33] CaMer0n commented on #2948
@Talnz Thanks for posting the issue. Please update your files with the ones here on Github.  (specifically, fpw.php) and let me know if the change helped. Thank you.

[2018-01-07 05:42] dimante opened #2956 "The php 7.x captcha issue..."
So with the extensive help of mattexb we have pinpointed the problem with e107 the core captcha and PHP 7.X (This effects PHP 7.1 and 7.2)

This method is not working in secure_img_handler.php

imagettftext($image, $secureimg['size'],$secureimg['angle'], $secureimg['x'], $secureimg['y'], $text_color,$fontpath.$secureimg['font'], $code);

I tested this with the following code on my server and got a

[2018-01-07 05:44] dimante commented on #2956
Important to note also:
![image](https://user-images.githubusercontent.com/4084331/34646975-6f342524-f33b-11e7-8ffb-552568fa9d2d.png)

Although this effects the most recent e107 release as well.  I grabbed the git version to see if it was magically corrected in the bleeding edge version.

[2018-01-07 10:49] Moc commented on #2956
In which folder is this test file located? If in root, try removing the '../' in the font path, so it starts with 'e107_core'.

My assumption is that the font is not loaded.

[2018-01-07 14:34] dimante commented on #2956
e107 root

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

On Sun, Jan 7, 2018 at 4:49 AM, Tijn Kuyper <notifications@github.com>
wrote:

[2018-01-07 14:35] dimante commented on #2956
I tried all variations of it too.  It's a real problem (at least on Windows) with PHP enabled with the proper options.

[2018-01-07 14:54] dimante commented on #2956
I and (@mattexb) really spent a lot of time on this guys....  Here is a snippet that works on PHP7.X

<?php
// Create a blank image and add some text
$im = imagecreatetruecolor(120, 20);
$text_color = imagecolorallocate($im, 233, 14, 91);
imagestring($im, 1, 5, 5,  'A Simple Text String', $text_color);

// Set the content type header - in this case image/jpeg
header('Content-Type: image/jpeg');

/

[2018-01-07 14:55] dimante commented on #2956
The code:
`<?php
// Create a blank image and add some text
$im = imagecreatetruecolor(120, 20);
$text_color = imagecolorallocate($im, 233, 14, 91);
imagestring($im, 1, 5, 5,  'A Simple Text String', $text_color);

// Set the content type header - in this case image/jpeg
header('Content-Type: image/jpeg');

// Output the image
//imagejpeg($im, null, 9);
imagepng($im, null, 9);
//imagegif($im, null,

[2018-01-07 15:03] dimante opened #2957 "DOM inspector finds duplicate elements"
Since I am on the signup.php form trying to debug the captcha issue I also encounter this:

![image](https://user-images.githubusercontent.com/4084331/34650611-770de1a6-f389-11e7-8278-4cad81181160.png)

I would call this minor but would like to see pages load error-free :-)

-D-

[2018-01-07 15:14] dimante commented on #2956
I have 3 PHP versions installed and can attest to the following:
(For Windows)
PHPv7.0.27 Text Renders
PHPv7.1.13 No Text Renders
PHPv7.2.1 No Text Renders
I think I will post something to the PHP for windows folks...

[2018-01-07 15:15] dimante commented on #2956
I will keep all three versions running if you would like me to try and code adjustments.

[2018-01-07 15:27] dimante commented on #2956
Looks like others reported similar problems on PHP but did not follow through.  I submitted one to them here: https://bugs.php.net/bug.php?id=75773 and I will certainly follow through.

-D-

[2018-01-07 18:19] dimante commented on #2956
The claim is realimage() is a workaround

[2018-01-07 18:19] dimante commented on #2956
ATTENTION! Do NOT reply to this email!
To reply, use the web interface found at
https://bugs.php.net/bug.php?id=75773&edit=2

 ID:                 75773
 Updated by:         cmb@php.net
 Reported by:        dimante at jmgservices dot org
 Summary:            imgttftext not rendering text
-Status:             Open
+Status:             Feedback
 Type:               Bug
 Package:            GD relate

[2018-01-07 18:19] dimante commented on #2956
realpath() my bad.

[2018-01-07 18:19] dimante commented on #2956
I will give this a go later

[2018-01-08 11:17] Jimmi08 commented on #2049
Could you test if this is still problem?

[2018-01-08 11:55] Jimmi08 commented on #2957
You have password field probably more than one time on one page.
I happens with bootstrap login in menu together with signup or login page (if login page has header).
If you have login_menu in sidebar, next password field.

[2018-01-08 11:59] Moc commented on #2956
Reading the reply of 'cmb' on https://bugs.php.net/bug.php?id=75656, it seems that this is a bug introduced in PHP 7.1.12.

This is not something e107 developers can fix, so I'm closing the issue for now. Obviously, if you have updates regarding this issue with changes that need to happen in e107 itself, then please feel free to open up this discussion again :)

Good work with all the research 👍

[2018-01-08 12:42] dimante commented on #2957
Guys you are killing me LOL.  This is the CORE signup.php :-)

[2018-01-08 13:02] Jimmi08 opened #2960 "problem with tablerender in theme.php and download plugin"
With download plugin SETSTYLE is ignored.  (I compared it with gallery plugin, the same layout)

``
![image](https://user-images.githubusercontent.com/5429548/34671691-ce918d2c-f47b-11e7-8785-ddeb2d5830d7.png)

``
![image](https://user-images.githubusercontent.com/5429548/34671660-b383533a-f47b-11e7-8d10-1ebb23b5f349.png)

[2018-01-08 13:41] Jimmi08 commented on #2960
Next one, standard menu added to menu area
``

Checked tablestyle() function with bootstrap3, the same
[code]

[2018-01-08 15:13] Jimmi08 opened #2962 "Q: how to replace pager for bootstrap4"
pager is dropped in bootstrap4

This is actual output:
`return '<ul class="pager"><li><a href="'.$url.'">'.$total.'</a></li></ul>';`

It should be replaced something like this:
`return '<a class="btn btn-outline-primary" href="'.$url.'">'.$total.'</a>';`

My suggestion:
`return '<a class="pager-button btn btn-outline-primary" href="'.$url.'">'.$total.'</a>';`
- adding class pager-button to be able

[2018-01-08 15:18] Jimmi08 commented on #2960
tracked topic in forum plugin
``

forum statistics - doesn't have any forum id - not able set exception in tablestyle()
``

forum homepage -  correct
``

view forum:
``

view topic:
``

[2018-01-08 16:07] fizi commented on #2049
This problem solved. (it does not belong here, just note that the plugin is not multilingual)

[2018-01-08 20:13] LaocheXe opened #2963 "Question: User Ranks"
I notice there are User Ranks in the Users section in the admin area, however, you would think they would be in the forum plugin since the forum utilizes such functions - or did @CaMer0n have other plans for User Ranks?

[2018-01-08 20:19] Jimmi08 commented on #2159
This is fixed already

[2018-01-08 20:19] #2159 closed

[2018-01-08 21:43] CaMer0n commented on #2948
Fix confirmed. Thank you @Talnz

[2018-01-08 21:43] #2948 closed

[2018-01-08 22:33] CaMer0n commented on #2957
Confirmed. The problem is with how e107_web\js\password\jquery.pwdMeter.js works. It needs to use data-xxx or class selector in a better way.

[2018-01-09 01:50] dimante commented on #2956
Please see the code fix I propose to make this work in all PHP versions...

[2018-01-09 06:02] Evgura opened #2967 "Suggestion to add [spoiler] bbcode in the text editor"
Add in the text editor and the bb code "spoiler"

[2018-01-09 08:52] #2944 closed

[2018-01-09 09:13] Jimmi08 opened #2969 "bootstrap 4 dropped element"
With these classes we need to define way how to replace them:

[code]
This list are classes that don't have replacement with new classes (you need to change markup).
Problem with BT4 migration quite that they use word "dropped" for classes that just change name.
I will make separate list for these classes because update for e107 just means to add this classes to markup (at least I hope that this i

[2018-01-09 09:14] Jimmi08 commented on #2962
Closing in favor #2969

[2018-01-09 09:16] Jimmi08 commented on #2969
`<blockquote>` should be replaced by `.blockquote` or `.blockquote-reverse`
so change of markup too.

[2018-01-09 09:37] Jimmi08 opened #2970 "bootstrap 4 replaced elements"
Replacement for bootstrap 4:

**Buttons:**
`.btn-default : .btn-secondary` (started)

**Dropdowns:**
`.divider :	.dropdown-divider`
Dropdown items now require .dropdown-item

**Carousel:**
[code]

**Forms:**
[code]

**Grid system:**
[code]

**Images:** (Complete?)
[code]

**Navs::**
[code]

**Navbar:**
[code]

**Panels:**
[code]

**Tables:**
[code]

**Typography:**
`.list-inline now require : .lis

[2018-01-09 11:15] Jimmi08 opened #2971 "List new plugin doesn't work with php 7"
The reason is this line:

`return preg_replace("/\{(.*?)\}/e", '$this->row[\'\1\']', $this->parent->template[$template]);`

[2018-01-09 11:52] Jimmi08 commented on #2971
This was fix to get admin work:
[code]

[2018-01-09 12:41] dimante commented on #2956
Did you see my posted code that fixes the issue?

-D-

[2018-01-09 12:42] mattexb commented on #2956
Not yet, i’m at work atm, i will give it a look this evening 😊

Da: dimante [mailto:notifications@github.com]
Inviato: martedì 9 gennaio 2018 13:41
A: e107inc/e107 <e107@noreply.github.com>
Cc: Matteo MT. Tassoni <matteo.tassoni@marsupiogroup.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [e107inc/e107] The php 7.x captcha issue... (#2956)

Did you see my posted code that fixes the issue?

[2018-01-09 12:46] dimante commented on #2956
Thanks!

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

On Tue, Jan 9, 2018 at 6:42 AM, mattexb <notifications@github.com> wrote:

[2018-01-09 12:48] mattexb commented on #2956
Btw great job if u reached a fix! Happy to helped u out 😊

Sus
M.

Da: dimante [mailto:notifications@github.com]
Inviato: martedì 9 gennaio 2018 13:46
A: e107inc/e107 <e107@noreply.github.com>
Cc: Matteo MT. Tassoni <matteo.tassoni@marsupiogroup.it>; Mention <mention@noreply.github.com>
Oggetto: Re: [e107inc/e107] The php 7.x captcha issue... (#2956)

Thanks!

Best Regards,

John Gates, CISSP

*Le

[2018-01-09 15:10] Jimmi08 opened #2972 "pref text field with multilan true is too short with block-level size"
[code]
Probably with multilan true is block-level changed to xx-large and field is shortened

![image](https://user-images.githubusercontent.com/5429548/34727447-3be07790-f557-11e7-9d44-b6d78063360d.png)

![image](https://user-images.githubusercontent.com/5429548/34727525-7ce78a4e-f557-11e7-9713-952c5c392dc8.png)

[2018-01-09 15:28] Jimmi08 commented on #2972
with multilan true 'post' for write array option doesn't work

[2018-01-09 17:39] #2972 closed

[2018-01-09 17:41] #2946 closed

[2018-01-09 17:49] CaMer0n commented on #2944
fyi. Using "Fixes #(issue number)" or "Closes #(issue number)" in the commit comment will auto-close the pull-request when merged.

[2018-01-09 17:49] CaMer0n commented on #2956
@dimante Please close if working now. Thank you.

[2018-01-09 17:59] dimante commented on #2956
Did you guys accept my code change?  I do not see the commit....

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

On Tue, Jan 9, 2018 at 11:49 AM, Cameron <notifications@github.com> wrote:

[2018-01-09 18:00] CaMer0n commented on #2971
Thanks !

[2018-01-09 18:00] #2971 closed

[2018-01-09 18:01] CaMer0n commented on #2956
I closed it, but included your changes in my modifications.

[2018-01-09 18:02] dimante commented on #2956
I will have to test it this evening...  I will confirm and then close if
that is working still.

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

On Tue, Jan 9, 2018 at 12:01 PM, Cameron <notifications@github.com> wrote:

[2018-01-09 18:03] CaMer0n commented on #2954
Did you try `{GALLERY_THUMB: w=200&h=200&thumbsrc}` ?

[2018-01-09 18:19] dimante commented on #2956
Well, that's good, however, you guys were going to close this and just let it ride....   Spent about 4 hours tracing this all down...

[2018-01-09 18:21] CaMer0n commented on #2952
@Jimmi08 Please try with my changes. merge is currently set to true by default. But we can change it if you guys think it's better to be false by default.

[2018-01-09 18:25] CaMer0n commented on #2970
Thank you for this @Jimmi08 . And more accurately, we'll need to ADD these classes while retaining the existing BS3 ones to retain backward compatibility.

[2018-01-09 18:51] Jimmi08 commented on #2970
Good to remind this (about adding).  I know it, but maybe others will help too.

[2018-01-09 19:23] CaMer0n commented on #2934
@AlexL777 Do you have access to the mod-security logs? It should display what rules have been triggered by events inside e107.

[2018-01-09 19:27] Jimmi08 opened #2973 "with multilan true 'post' for write array option doesn't work"
Code:
[code]
with multilan false:
![image](https://user-images.githubusercontent.com/5429548/34738959-0e7e3bec-f57b-11e7-9544-30b7edc7588d.png)

![image](https://user-images.githubusercontent.com/5429548/34739099-7f5ca45c-f57b-11e7-925b-13486732139d.png)

[2018-01-09 19:31] CaMer0n commented on #2973
True, because 'post' is replaced by the 'multilan' icon. So you want 'post' to appear after the icon, correct?

[2018-01-09 19:33] Jimmi08 commented on #2973
Yes, or be able to get help rendered under field not as tooltip.

[2018-01-09 21:30] Moc commented on #2956
I closed this issue because it IS a bug in PHP itself.

The commit you submitted is a quick fix (or workaround) but it is not a complete fix. Consequently more issues may arise until the PHP team actually fixes it. The hours you spent researching are great input for them.

I also noted that when there were any changes to be made to e107 to fix this issue, that it would be reopened. That is exactly

[2018-01-09 21:49] dimante commented on #2956
The fix I gave works on 5.x - 7.2 it will never be bad to send the full
path of an object to a method. Will see if this causes s problem once
this... bug is corrected my guess is e107 will not need to be reverted to
keep working.

On Tue, Jan 9, 2018 at 3:30 PM Tijn Kuyper <notifications@github.com> wrote:

--

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>

[2018-01-09 22:15] CaMer0n commented on #2956
Thankyou @dimante for troubleshooting this! 👍

[2018-01-09 22:15] #2956 closed

[2018-01-10 02:45] dimante commented on #2934
Logs will be key to pinpoint what modsecurity is blocking.  If you can post logs I can help further on this issue.

-D-

[2018-01-10 03:18] AlexL777 commented on #2934
Thank you both and now I have solved the problem. I've added the IDs from the ModSecurity Log to the security rules so I can do more in e107. That has then done.

[2018-01-10 03:24] dimante commented on #2934
Awesome!  Glad you got it sorted!

On Tue, Jan 9, 2018 at 9:18 PM Alexander Liebrecht <notifications@github.com>
wrote:

--

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

[2018-01-10 08:53] Serios commented on #2928
@CaMer0n, yep that's the problem I think. When there is no hyphen, everything works as it should.

[2018-01-10 22:10] CaMer0n commented on #2928
@Serios Thank you. I'll look into it.

[2018-01-11 19:21] CaMer0n commented on #2928
@Serios I have been unable to reproduce this problem. Have you tried adding `/` before each URL ?
ie.

    /taxation-options

    /taxation-procedures

[2018-01-11 21:13] Jimmi08 opened #2974 "Q how to display full image in page custom field"
How to set parameters to display image with full size (or any size)

![image](https://user-images.githubusercontent.com/5429548/34847645-5452e986-f71c-11e7-8d52-3e95740868e7.png)

I tried w=auto, aw=auto, w=600, still zero.
I can't find the link to example for sizing images (how to get full size)

![image](https://user-images.githubusercontent.com/5429548/34847599-338e3e30-f71c-11e7-9e40-d228ec519

[2018-01-11 21:25] CaMer0n commented on #2974
Did you try w=0 ?

[2018-01-11 21:29] Jimmi08 commented on #2974
Yes, still zero.  No priority, I can solve it by inserting full url.

[2018-01-13 09:52] yesszus commented on #2290
@CaMer0n it only works under v 2.1.8 (git)

Current:

`$plUpload = '{e_WEB}js/plupload/i18n/' . e_LAN . '.js';

	if(e_LAN != 'en' && file_exists(e_WEB_JS . $plUpload))
	{
		e107::js('footer', $plUpload, 'jquery', 5);
	}`  this is don't work for me.

Older:

`$plUpload = 'plupload/i18n/' . e_LAN . '.js';

	if(e_LAN != 'en' && file_exists(e_WEB_JS . $plUpload))
	{
		e107::js('core', $plUpload);
	}`

[2018-01-13 17:06] LaocheXe opened #2975 "Issue: DB Verify"
As a developer works on a plugin, that plugin sql table entities may change. Using the Database Verify to update/fix missing entities is good, but doesn't remove any entities that have been removed from the plugin_sql.php.

Example:

Before:
Table  planets
~p_id
~type
~location
~system
~color
~area

We remove ~area, but add ~image

File gets updated:
Table planets
~p_id
~type
~location
~system
~co

[2018-01-13 21:05] CaMer0n commented on #2975
This is because there is a high likelihood of data-loss when removing a field.  As a precaution, it is limited to the xxxx_setup.php file instead.

[2018-01-13 22:11] CaMer0n commented on #2860
@lonalore @fwhcat  It appears this change has been disastrous for performance on one of the sites I manage.  User tracking had to be disabled entirely.

[2018-01-13 23:34] LaocheXe commented on #2975
Roger that

[2018-01-13 23:34] #2975 closed

[2018-01-14 12:08] tgtje commented on #2974
Inquiry/remark/notice : I can understand the need for easy param setting; however in a normal setting (suppose it works) it will conflict with responsive design (eg fitting) ??? The only setting for the params i can find that handle large sizes are set in bb_youtube. Possible that core has limits on w ??

On the other hand : when i add an image by media manager (and it is full size) i can by appea

[2018-01-14 13:27] Jimmi08 commented on #2974
@tgtje not fully understand, but pixels should be never used in responsive design and only way how to rid them is use w=0 or w=auto (I still don't have time to check what works) and it should use 100% then.
e107 defaults are 20px or 100px if you don't set size, it displays nothing

[2018-01-14 23:23] LaocheXe opened #2976 "Issue: Admin UI - Custom Code"
I'm working on a plugin, I have a dropdown menu in the admin ui for the plugin to select a user - I went and added a custom query:

SELECT u.user_id, u.user_name FROM `#user` AS u
LEFT JOIN `#service_records_sys` AS sr ON sr.user_id = u.user_id
WHERE sr.user_id IS NULL

That filters out the users who already have a service record in the dropdown. Issue is, when going to Managed (list) user names a

[2018-01-15 12:59] Jimmi08 commented on #2940
Only way how I was able to get path theme folder is:
SITEURLBASE.e_THEME_ABS.".

$THEME_DIRECTORY is empty in theme_shortcodes  so SITEURL.$THEME_DIRECTORY can't be used
e_THEME is relative, so it has value ../e107_themes inside admin folder

if site is inside folder, then SITEURL and e_THEME_ABS has the same folder

[2018-01-15 16:50] fizi opened #2977 "List New plugin"
The list_template.php file in the root of plugin. Please put into a templates folder and make caption template in template file. Thanks!

[2018-01-15 17:35] fizi opened #2978 "Forum template"
The all forum items have caption in template (forum_viewforum.php etc.) exception - forum main page, tracked page, stat page. Please make the caption for all page templates. Thanks!

[2018-01-15 18:03] tgtje commented on #2974
(little explain) I just set pixels (if needed) for image via insert media manager/appearance. If i would use a full page layout, the image then is displayed in the max available width (by viewport).
The responsive part does still its work (as ruled by system).
So not using pixels as design feature, but as display size. Which in principle is kind of same as param.
However using param as eg w= auto

[2018-01-15 18:54] fizi opened #2979 "Gallery breadcrumb"
No need caption in the breadcrumb. Breadcrumb alwayls show the source folder and caption the title. No need caption twice and not clikable. Totally unnecessary. And if I can make template for caption in this way I can't...the template appears in the breadcrumb and break it. Please delete the caption from breadcrumb. Thanks!

[2018-01-15 22:37] #2979 closed

[2018-01-16 20:21] fizi commented on #2978
To this: forum id. forum main page  and all other forum pages  no ID

[2018-01-16 21:14] fizi opened #2980 "Tablerender 'ID'"
Some plugin, menu not has unique ID (that I use on test site): forum pages, stat page, list new page. All News pages (category, list) have id=news. Most pages have unique id, but these not.

[2018-01-16 21:19] Jimmi08 commented on #2978
https://github.com/e107inc/e107/issues/2960

[2018-01-16 21:46] fizi commented on #2978
And some pages have < ! -- tablestyle: style=maincontent id=default -- >

[2018-01-16 22:06] CaMer0n commented on #2980
@fizi Please list the missing tablerender IDs as you find them. Thank you.
News is fine.

[2018-01-17 08:44] Jimmi08 opened #2981 "using {SITELOGO: h=xx} - errors in console"
I thought that this was already fixed but it's back again

![image](https://user-images.githubusercontent.com/5429548/35033417-dca7289a-fb6a-11e7-87c5-0bfdcb8657d2.png)

using shortcode {SITELOGO: h=xx}  only with height param is standard way used in default bootstrap3 theme too.  Check boostrap branding shortcode.

[2018-01-17 08:55] Jimmi08 opened #2982 "FontAwesome icons vs bootstrap 4 - for discussion"
This is important to set from the beginning  - making standards  - all themes should follow this rule

How to include Fontawesome icons on Frontend theme because they are not part of boostrap 4 css.

Problem is that in admin area you can still choose FA icons because admin theme is based on boostrap 3 .

The way I am using now:
[code]
But if BT4 theme doesn't support FA icons, how to get them off

[2018-01-17 15:14] Crytiqal opened #2983 "e107::css(), e107::js(), etc. in myplugin_menu.php not working"
[code]

AFAIK: This should render all div on the page with a black background and give an Hello World alert popup.

[2018-01-17 20:11] CaMer0n commented on #2983
Short answer: it's not meant to.   Use e_header.php to load the css/js.

[2018-01-17 20:35] Jimmi08 commented on #2983
@CaMer0n slideshow_menu in gallery does this.  Problem with e_header.php is that then that css and js is loaded on whole page. You can't test if you are on plugin page because menu can be at contact page etc.  Why load google maps script on all pages when I need it only in one menu on contact page?

[2018-01-18 21:23] CaMer0n commented on #2983
Actually, you can.

[code]

[2018-01-18 23:39] CaMer0n commented on #2678
Merging was failing if a 'key' was provided. If no key was provided, then merging occurred.  Fix coming shortly.

[2018-01-19 00:18] CaMer0n commented on #2712
@Jimmi08 Did this actually fix it?

[2018-01-19 00:34] CaMer0n commented on #2678
@Jimmi08 Please test merging of plugin templates. Thanks.

[2018-01-19 08:05] Jimmi08 commented on #2712
I don't use anymore legacy themes, only bootstrap, so I don't have where to test this. But it should.

[2018-01-19 08:16] Jimmi08 commented on #2678
Ok, If I got this correct way.

Landing Zero use theme  $NEWS_MENU_TEMPLATE['months']  in theme template files.
If I remove it, it should merge core $NEWS_MENU_TEMPLATE['months']  from plugin.

Result:
menu is not displayed.

If I tried to find the reason:   PHP 7.0

[code]
![image](https://user-images.githubusercontent.com/5429548/35140956-6af53846-fcf9-11e7-9a9b-d6f5bb8f4fde.png)

[2018-01-19 13:53] 214945 opened #2984 "The problem with the entrance to the site."
If you disable in the settings of the website "monitor users" on the website log in does not work, error "the username and password already in use".
Turn the tracking back and the entrance to the site is working fine.
Engine version 2.1.7

[2018-01-19 13:56] Jimmi08 opened #2985 "tinymce plugin"
Latest github, result after installing plugin. Only English site (one language)

![image](https://user-images.githubusercontent.com/5429548/35153982-c86aa482-fd28-11e7-9ec9-7355cb3e9ee9.png)

[2018-01-19 14:35] 214945 commented on #2985
e107 Версия 2.1.8 (git)
Everything is normal. Russian language is.
![34560](https://user-images.githubusercontent.com/25720089/35155591-f2492478-fd4f-11e7-9360-49bf69153c01.jpg)

[2018-01-19 14:36] Jimmi08 commented on #2985
Do you have Russian and English languages or only Russian?

[2018-01-19 14:40] 214945 commented on #2985
Is and English.
![345600](https://user-images.githubusercontent.com/25720089/35155750-880b8672-fd50-11e7-9dcb-1ac382ef795e.jpg)

[2018-01-19 14:40] Jimmi08 commented on #2985
It works for me on multilang site too. But not on only English site.

[2018-01-19 14:43] 214945 commented on #2985
PHP 5.4.45

[2018-01-19 19:01] CaMer0n commented on #2985
@Jimmi08 I am unable to reproduce it either. Did you try Debugging 'Includes' ?

[2018-01-19 19:02] CaMer0n commented on #2984
Thank you @214945 . Could you please send a screenshot of this "monitor users" preference page?

[2018-01-19 19:08] 214945 commented on #2984
![78999](https://user-images.githubusercontent.com/25720089/35167100-04de3896-fd76-11e7-9dbf-30a781c9a289.jpg)

[2018-01-19 19:12] 214945 commented on #2985
@Jimmi08 You have a refresh icon at the top, try to update the database.

[2018-01-19 19:23] CaMer0n commented on #2678
@Jimmi08 All news menu should now be 'merging' .

[2018-01-19 19:25] Jimmi08 commented on #2985
@214945 Core db is updated, that icon is from plugin I am working on.

![image](https://user-images.githubusercontent.com/5429548/35167553-4b40bd7e-fd56-11e7-834f-0f46938a3077.png)
/e107_plugins/tinymce4/admin_config.php
/e107_plugins/tinymce4/e_header.php

English_admin.php it's not listed in included files.

It's not important now (not have time) but I will look for more details.

[2018-01-19 19:48] CaMer0n commented on #2984
Thank you @214945 Would you mind updating from Github, and trying again?

[2018-01-19 19:50] #2712 closed

[2018-01-19 19:50] CaMer0n commented on #2712
Thanks, committed.

[2018-01-19 19:53] tgtje commented on #2985
The post refers to a **locale folder**( which github file does not have; nor in translations)
Sorry mentioned it before in relationship, yes or no locale or root...

[2018-01-19 19:59] LaocheXe opened #2986 "Issue: e_user.php"
Fatal error: Cannot declare class forum_user, because the name is already in use in /e107/e107_plugins/roster/e_user.php on line 14

In line 14 is this: class roster_user // plugin-folder + '_user'

Got this for testing, got a table that has user_id in it, idk if I need a filter, the e_user.php in forum plugin I dont see such query...

if (!defined('e107_INIT')) { exit; }

// v2.x Standard
class r

[2018-01-19 20:06] CaMer0n commented on #2986
@LaocheXe Could you please send me your plugin? I guess you were viewing user.php when this error occurred?

[2018-01-19 20:06] 214945 commented on #2984
Updated from Github, all works well. Did the update and checked on two sites.
Thank you.

[2018-01-19 20:07] CaMer0n commented on #2984
Excellent! Thank YOU @214945 !!

[2018-01-19 20:07] #2984 closed

[2018-01-19 20:40] fizi commented on #2978
Jimako: Can You make the template for forum stat?

[2018-01-19 20:43] fizi opened #2987 "Log plugin stats template"
Jimako: can You make the template for log plugin stats page? (the template is hardcoded)

[2018-01-19 21:32] Jimmi08 commented on #2987
@CaMer0n   Any plans for this plugin?

[2018-01-19 21:49] CaMer0n commented on #2987
@Jimmi08 No, it's one of the oldest ones. Myself I use Awstats.

[2018-01-19 22:04] Jimmi08 commented on #2987
I can do it this way:
https://github.com/e107inc/e107/pull/2988
step by step. time issue.

[2018-01-19 22:07] Jimmi08 commented on #2978
@fizi please,  create separate issue, maybe @rica-carv can help too.  Somebody was maintain  forum templates, I think it was him, not sure.

[2018-01-20 00:43] LaocheXe commented on #2986
yes on user.php - I no longer get that error after doing other test with the query.

$service_records = $sql->retrieve('service_records_sys', '*', true);  <--- that caused the issue

The Fix: $service_records = $sql->retrieve('service_records_sys', '*', 'WHERE user_id = ' .$udata('user_id'), true;

For future reference, having $udata(user_id) should be added to the documentation for e_user.php <--

[2018-01-20 11:31] Jimmi08 opened #2989 "Log plugin stats - report"
While templating I noticed this  (I don't want to mix this with templates)

- frontend delete button doesn't work (404) - alltimevisits
![image](https://user-images.githubusercontent.com/5429548/35182914-63bf789a-fddd-11e7-8737-f730d7365175.png)
`<a href='".e_SELF."?{$action}.rem.".rawurlencode($key)."'`

- browser link doesn't work - browser stats
![image](https://user-images.githubusercontent.co

[2018-01-20 16:45] Jimmi08 opened #2990 "weird error e107::unserialize() Parser Error"
dimante have site where xml import did weird things, So I asked  for user account as admin.
And I ended with this error. But original mainadmin (first) doesn't see anything like this.

![image](https://user-images.githubusercontent.com/5429548/35185702-bc0a78e4-fe08-11e7-9e94-056731659ed0.png)
Only not familiar message is this one:
` Undefined index: SERVER_ADDR, Line 174 of C:\inetpub\wwwroot\e10

[2018-01-20 16:48] Jimmi08 commented on #2990
If I check Correct Permission in Tools, I get this error:
`Failed applying filemode '755' on directory '../' `-> the directory '../' will be skipped from recursive chmod Failed applying filemode '755' on file '../cron.php'`

[2018-01-20 17:02] rica-carv commented on #2978
I've tryed to remove and update all harcoded html & old templates to v2.x standards, but i might missed something along the way...
Sorry...

[2018-01-20 19:20] dimante opened #2991 "Error in core on page load (Main website Page)"
PHP Errors:

[code]

This happens on other people's sites as well so I know it's not a just me issue :-)  ..\ placed to protect the innocent.

[2018-01-20 19:55] Jimmi08 commented on #2974
params are ignored
this works>  {SETIMAGE: w=0&h=0}

[2018-01-20 19:55] #2974 closed

[2018-01-21 10:02] Jimmi08 opened #2992 "fetch() vs php 5 and php 7.1"
I have this code (in init() filling dropdown values):

[code]
It works normally in php 5.6 - $row is printed
but in php 7.1  is not and dropdown is empty

If I debug SQL  -  no error and 3 rows are returned (correct)
![image](https://user-images.githubusercontent.com/5429548/35192681-ab5bb65e-fe97-11e7-9f70-ffde8a7d7dcd.png)

If I replace it by retrieve() this way, it works:
[code]
but there is pr

[2018-01-21 13:44] tgtje commented on #2985
Just adding some testing.... (2.1.7/2.1.8) Notices :
Notice Use of undefined constant TMCEALAN_1 - assumed 'TMCEALAN_1', Line 1403 of XXXXXX \e107_handlers\admin_ui.php  (2; 3;4 5 and 6 too)..
Further testing showed me this : use of lan call : ` e107::lan('tinymce4','admin', 'true'); `

TRUE is surrounded with quote (single prime)...But i am unsure (tests do give good results...afaiks) when set to

[2018-01-21 14:48] Jimmi08 opened #2993 "media manager php 5 vs 7.1.12"
The easiest solution is that I am blind and I don't see difference between data.

I have **preferencies** and there are 2 image fields defined (imported) this way:
[code]
At localhost, with php 5.5  no problems,  images are displayed in admin area and on frontend
second one:
![image](https://user-images.githubusercontent.com/5429548/35195324-2a4f87ea-fec2-11e7-8ac8-61093cd159e6.png)

On live site

[2018-01-21 16:54] CaMer0n commented on #2993
@Jimmi08 Please post what is in the e107_core database table for your theme.

[2018-01-21 17:00] CaMer0n commented on #2992
Make sure `writeParms` is an array in your `$fields` array.

`$fields['element_type_id'] = array(.....'writeParms' => array() ); `

[2018-01-21 17:04] CaMer0n commented on #2985
Corrected the 'true' in quotes. @Jimmi08 does it help?

[2018-01-21 17:08] CaMer0n commented on #2989
@Jimmi08 What if you replace `e_SELF` with `e_REQUEST_SELF` ?

[2018-01-21 21:28] Jimmi08 commented on #2989
I will try but I don't want to mix different things.

[2018-01-21 21:37] Jimmi08 commented on #2993
I maybe found it.   Record in media table wasn't created for this image.
With reinstallation of theme it was fixed (I quess that then it checks install folder for images or something like that)
There should be export option in media manager for separate items.

[2018-01-21 21:37] #2993 closed

[2018-01-21 21:43] Jimmi08 commented on #2985
the same. Nevermind, it's not so important (looks like only I have problem)
But I noticed this:
![image](https://user-images.githubusercontent.com/5429548/35199267-412e70ae-fefc-11e7-9e9e-bd625845a59b.png)

If I click repair plugin setting, it says Repaired (green message) but that icon is still there.
Reinstallation didn't help.

I will debug this when I will time.

[2018-01-21 21:49] Jimmi08 commented on #2992
Yes, this was problem.   Thanks

[2018-01-21 21:49] #2992 closed

[2018-01-22 06:07] Evgura opened #2994 "Strange with the forum."
At three sites, after some updates with Github
1 Not to count the posts from users on the forum.
2 Not getting notifications in the mail about new posts on the forum.
Does anyone have this problem?
e107 version 2.1.8 (git)

[2018-01-22 10:50] tgtje commented on #2953
related? #2985

[2018-01-22 16:51] KiraTheUltimate opened #2995 "Page navigation menu"
HI!

I activated the page_navigation menu on my site, like this (right area): http://www.kephost.com/images/2018/01/22/e107.jpg

I would like the menu not to show pages, just books and chapters. How can I do that?

Thx!

[2018-01-22 18:42] CaMer0n commented on #2993
In debug mode the theme-manager should rescan for new images.

[2018-01-22 18:47] Jimmi08 opened #2996 "type layout vs inline true"
I have template field defined this way:

[code]
edit more works
listing
![image](https://user-images.githubusercontent.com/5429548/35238104-cf06fca6-ffac-11e7-969a-dab336087fa4.png)
inline editing
![image](https://user-images.githubusercontent.com/5429548/35238096-cc0985b4-ffac-11e7-9188-ea79df746211.png)

You can try this by adding inline=true to featurebox category template. The same result.
no

[2018-01-22 19:58] Jimmi08 opened #2997 "custom fields on contact form"
I know that I can use custom fields on contact page (f.e.  phone)
It's very usefull and handy feature.

But I noticed problem and I don't know how to solve it.

If you use captcha, and wrong code is entered, then there is javascript message and then form is refreshed.
Core fields save filled values, but custom fields don't and you need to fill again.

[2018-01-22 20:23] Jimmi08 commented on #2989
@CaMer0n no, it didn't help
Correct path should be `/e107-master/e107_plugins/log/stats.php?3.1`
but with e_REQUEST_SELF there is still:
`/stats/?3.1`

Couldn't be problem here in e_url.php ?
regex'			=> '^{alias}/\?([\d]*)$'
d is digit and there is "3.1" - string

[2018-01-22 20:48] CaMer0n commented on #2989
@Jimmi08 Yes, this appears to be the problem.

[2018-01-22 22:07] tgtje commented on #2995
So you like kind of tree menu but without seeing the pages itself (by title) A block consisting of eg 10 links (which can be book names or chapter names) which then point to a page listing showing all pages/contents of that book or chapter?

Page nav menu is coupled, so would need changes on core files; update> pff gone..
Easiest way to do so is a self created menu.. and that is easy.
Suppose you

[2018-01-23 00:33] LaocheXe commented on #2976
I could use Custom function which would be 'method' - but how would I display it as a dropdown in edit, and when listed (read) show the user names? and inline edit allow for admin to change user display name?

[2018-01-23 14:01] Deltik opened #2998 "db_verify verifies default values too strictly"
# Problem
Even if it's a new installation of e107, `db_verify` will be too strict in validating database field defaults that are equivalent to each other.

This can happen on some MySQL or MariaDB servers that correct the field definitions, which were not strictly correct in the table structures built into e107 in the first place.

## Examples

**Expected:** `INT(10) UNSIGNED NOT NULL DEFAULT '0'`

[2018-01-23 18:53] #2998 closed

[2018-01-23 20:05] Deltik opened #3001 "Regression in #2999 prevents db_verify from distinguishing fields from indices"
This prevents database migrations where both the fields and the indices of a field need to be updated in one migration.

[2018-01-23 20:12] #3001 closed

[2018-01-23 20:42] tgtje commented on #2995
Hmm either you do misunderstand of the above where such a title already 'holds'a lot of internal links (pages)  (see them as containers, where you are pointed too  > eg see a list).

As for changing this in (no it will not just be 1 file), and you like it _automated_, you will need a true coder AND a specialized sql  handler (call/querie changes ; verify ; create links out of them..etc). This is w

[2018-01-23 20:46] Jimmi08 commented on #2995
That menu uses {PAGE_NAVIGATION} shortcode but you can't set parameters in menu manager.
This way it's used on e107.org:
`{PAGE_NAVIGATION: template=navdocs&book=7&pages=true}`
- you can set if pages are displayed od not

Because it uses templates, maybe remove list pages from template would be enough. Not tried.

[2018-01-23 21:48] tgtje commented on #2995
As i understand Jimmi08; a **tree nav** where only first few items (titles if you like) for books and chapters reside (automated created  > querie ID from dbase, populate plug/menu; update these and make each ID a link ) would be a live session each time if ID is changed new tree is displayed, (and how to calculate 'hidden/members only' pages/chapters/books )

[2018-01-24 07:19] Jimmi08 commented on #2995
pages=false -  I just know that with this pages weren't displayed
-  that shortcode is written "new way"  - for me very hard understand. I tried to play with templates, but no results.   But I will need this too, only not now, maybe in some weeks.

[2018-01-24 10:19] Deltik opened #3003 "Multiple form validation logic flaws in Site Preferences"
## Problem

If you save a username and password in the browser's autofill, the browser will try to populate "SMTP Username" and "SMTP Password" in Site Preferences (`/e107_admin/prefs.php`).  The autofill needs to be stopped in the first place.

Even if the autofill is not stopped, the form will not submit on some passwords.

The current required pattern is as follows: `[\S]{4,}`
This means that w

[2018-01-24 10:39] Jimmi08 commented on #3003
Maybe you will be able to fix this too:
https://github.com/e107inc/e107/issues/2882

[2018-01-24 11:17] Deltik opened #3006 "Allow spaces in passwords system-wide by default"
## Problem

Some e107 users and admins may use whitespace in their passwords, but the client-side HTML validation currently prohibits them by default:

From `./e107_handlers/form_handler.php`:

[code]

The server accepts passwords with whitespace if this client-side validation is disabled, so there does not appear to be a technical reason for this restriction.

## Solution

Allow whitespace charac

[2018-01-24 18:25] #3003 closed

[2018-01-24 18:34] KiraTheUltimate commented on #2995
So, should I create a template in my theme folder? E.g.: page_navigation_menu_template.php ?

[2018-01-24 18:38] #2882 closed

[2018-01-24 20:55] #3006 closed

[2018-01-24 21:00] fizi commented on #2980
Log menu stat page no ID.

[2018-01-25 20:25] #2987 closed

[2018-01-26 14:45] Serios opened #3009 "Importing plugin generated URL's in gsitemap"
I have a plugin generating content pages, which urls I want to be added to the Sitemap, but currently gsitemap plugin  only support importing of site links, pages, and forum plugin links.
I know, can add them by hand - one by one, but for 70+ pages will be painstaking process. Is there any way  to extend my plugin code, so it can work with gsitemap plugin on importing url's?

[2018-01-26 22:00] CaMer0n commented on #2973
@Jimmi08 Can this be closed now?

[2018-01-27 08:05] #2973 closed

[2018-01-27 13:40] yesszus opened #3010 "Multi-language support for plupload"
@CaMer0n it only works under v 2.1.8 (git)

Current:

`$plUpload = '{e_WEB}js/plupload/i18n/' . e_LAN . '.js';

if(e_LAN != 'en' && file_exists(e_WEB_JS . $plUpload))
{
	e107::js('footer', $plUpload, 'jquery', 5);
}`  this is don't work for me.

Older:

`$plUpload = 'plupload/i18n/' . e_LAN . '.js';

if(e_LAN != 'en' && file_exists(e_WEB_JS . $plUpload))
{
	e107::js('core', $plUpload);
}`  tested

[2018-01-27 14:49] tgtje commented on #2995
Partially possible; as Jimmi08 posted: params.. So for displaying you might be able to limit the outcome (visible) for the bookchapters and/or/chapters, ( so only the titles) but not the amount (example id 1 and 2 of content as subs) because these are prone to be always present, but if deleted..failures.(not tested)

[2018-01-27 20:55] CaMer0n commented on #3009
@Serios Please give me a few days.. and I'll work on a solution for you.

[2018-01-27 21:00] CaMer0n commented on #3010
Thanks @yesszus . I'll let @lonalore reply to you as it is his code.

[2018-01-28 08:38] lonalore commented on #3010
I don't think this is my piece of code, plupload integration was not done by me, I just moved the JS to the footer. But it looks good, but please try to keep JS files in the footer. Did you try the following code?

[code]
Or if this does not work then try to load JS language file to another JS area, e.g.:

[code]

[2018-01-28 11:43] Deltik opened #3011 "Add DECIMAL type support to permissive field validation in db_verify"
# Problem

`db_verify` is too strict in validating `DECIMAL` table field types.

Related: #2998

## Examples

**Expected:** `DECIMAL(10,2) NOT NULL DEFAULT '0.00'`
**Actual:** `DECIMAL(10,2) NOT NULL DEFAULT 0.00`

# Screenshot

![Screenshot](https://user-images.githubusercontent.com/1364268/35481675-95452a48-03ed-11e8-951c-798cbdb81d75.png)

[2018-01-28 12:25] Deltik opened #3013 "File Inspector broken in PHP 7 due to language changes"
# Problem

If you try to run the File Inspector (`/e107_admin/fileinspector.php`) on PHP 7 or newer, an error like this appears:

This behavior does not occur in PHP 5.4 through PHP 5.6.

# Screenshot

![7b0a8fb1-c57c-4466-8903-74234935dba1](https://user-images.githubusercontent.com/1364268/35481960-8876ac3c-03f3-11e8-8cd6-0220892b683c.png)

[2018-01-28 18:32] Deltik opened #3015 "Remove dependency on MySQL/MariaDB CREATE PROCEDURE permission"
# Problem

On Wednesday, 24 January 2018, @CaMer0n asked me:

The task is to port the custom MySQL/MariaDB functions `getDepth()` and `getTreeSort()` to pure PHP so that e107 will no longer be dependent on the `CREATE PROCEDURE` permission in MySQL/MariaDB.

# Screenshot of Expected Behavior

![Screenshot of expected behavior](https://user-images.githubusercontent.com/1364268/35485559-07e97728-042

[2018-01-28 21:24] #3011 closed

[2018-01-28 21:25] #3013 closed

[2018-01-28 21:31] #3015 closed

[2018-01-29 07:02] yesszus commented on #3010
Only this work for me:

`$plUpload = 'plupload/i18n/' . e_LAN . '.js';

	if(e_LAN != 'en' && file_exists(e_WEB_JS . $plUpload))
	{
		e107::js('core', $plUpload);
	} `

[2018-01-29 07:35] Serios commented on #3009
@CaMer0n thank you

[2018-01-29 12:40] oxigeno2 commented on #2897
Hi, so I came back to the problem. I know the problem is in hosting.
Specifically, the file e107_plugins/download/includes/admin.php from version 2.1.6
When using file (v2.1.5), the category will be loaded.

[2018-01-29 18:03] CaMer0n commented on #2897
@oxigeno2 Do your have MySQL access to "CREATE ROUTINE" ?
@Deltik ;-)

[2018-01-29 20:03] #3009 closed

[2018-01-29 20:04] CaMer0n commented on #3009
@Serios Please take a look at e107_plugins/forum/e_gsitemap.php . If you have any questions, please ask them here. Thank you!

[2018-01-29 21:02] CaMer0n commented on #2997
Are you using a custom shortcode for 'phone' ?

[2018-01-29 21:14] Jimmi08 commented on #2997
no. Just HTML code
[code]

[2018-01-30 09:03] #2997 closed

[2018-01-30 11:57] Nastradoomus opened #3017 "Links inside a page <a href=#one>"
Hi

I've been looking for a simple CMS with bootstrap and so here i am. The first thing i checked was internal links which is quite important working with bootstrap and straight away a problem occured.

Links in top menu are tampered so that e107 automatically adds site location in front of the #link. If someone uses internal #link as a link i don't think that it is logical for the software to cha

[2018-01-30 12:17] Jimmi08 commented on #3017
[code]

[2018-01-30 12:22] Nastradoomus commented on #3017
Yes i know. This is where the link html is constructed but i'm talking about {LINK_URL}. The link itself does not contain anything else than #link. No http://www.yoursite.com. Where is this constructed?

[2018-01-30 12:30] Jimmi08 commented on #3017
With multipage site you have to use full url http://www.yoursite.com/#contact  and use target attribute to get page scrolling to work.

If you look something like this, it's shortcode, so look for method sc_link_url.  And you find it in e107_handlers/sitelinks_class.php

Live example that this works:  https://themes.e107.org/agency/#contact

[2018-01-30 12:57] Nastradoomus commented on #3017
There is something odd going on in my install?

[code]

[2018-01-31 05:22] oxigeno2 commented on #2897
Yes :+1:

[2018-01-31 08:50] Deltik commented on #2897
@oxigeno2: It's not clear what your issue is from the information you've provided so far.  On the page with the issue, can you try adding `[debug=everything+]` to the end of the address bar, pressing <kbd>Enter</kbd>, and screenshotting the entire output?

[Full page screenshots on Google Chrome](https://chrome.google.com/webstore/detail/take-webpage-screenshots/mcbpblocgmgfnpjjppndjkmgjaogfceg?hl

[2018-01-31 09:35] oxigeno2 commented on #2897
Errors
![fireshot capture 001 - downloads - categories - admin area __ - http___libreoffice funsite cz_e107](https://user-images.githubusercontent.com/2928863/35615296-03274f92-0672-11e8-9d27-25f1087a14e0.jpg)

OK queries
![fireshot capture 004 ok](https://user-images.githubusercontent.com/2928863/35615424-61c8a942-0672-11e8-8fc1-a1fe42b5c6c5.jpg)

[2018-01-31 10:21] Deltik commented on #2897
@oxigeno2: That output pretty clearly shows that the MySQL user `'oxigen'@'88.86.12%'` does not have the `CREATE ROUTINE` permission granted to it.  The quickest fix would be to grant that permission to your user (`GRANT CREATE ROUTINE ON oxigen1511202838.* TO 'oxigen'@'88.86.12%';`).

## Additional Information

Technically, since e107 v2.1.6, the `CREATE ROUTINE` permission has been necessary to

[2018-01-31 21:00] Jimmi08 commented on #2952
this works for feature box category

[2018-02-02 06:56] Jimmi08 commented on #3017
It's not core thing, your theme should do this.

it's done by theme javascript.

[2018-02-02 11:52] Deltik opened #3018 "PHP 7.2: Installation blocked by theme thumbnails not loading"
## Problem
It is not possible to install e107 v2.1.8 preview on PHP 7.2 because no thumbnails show up on step 6 of 8 for selecting a theme.

## Screenshot
![fireshot capture 81 - e107 installation __ step 6 - website pr_ - https___dev deltik org_install php](https://user-images.githubusercontent.com/1364268/35731933-2b54820c-07dd-11e8-9ff1-80771cadae24.png)

[2018-02-02 14:02] martyshep opened #3020 "Forum image upload/resizing not discarding original image"
In Forum plugin, when users upload an image, it gets resized when displayed in the forum, but the uploaded file in /e107media/~/plugins/forum/attachments/user is still the same size.

The filename in /e107media/~/plugins/forum/attachments/user~ is prefixed with 'epoch-timeuserid' when uploaded, but that file is just a rename of the uploaded file, no resizing has occurred there.

I thought setting

[2018-02-02 14:21] Deltik opened #3021 "New e107 install without admintheme set in SitePrefs causes infinite redirect loop"
## Problem

New e107 installations can possibly set `'admintheme' => NULL` in e107_core's SitePrefs config.  Current logic attempts a migration from e107 v1.x to e107 v2.x in `e107_admin/auth.php`:

[code]

`$core->update('admintheme','bootstrap3');` doesn't have any effect, so the redirect always happens.

## Screenshot
![screenshot_20180202_080654](https://user-images.githubusercontent.com/13642

[2018-02-02 20:43] tgtje commented on #2933
Had a new test with **php 7.2**.. The above commit  3019 (still as request works for displaying thumb previews..
Install went fine there after, but helas : NO top bar links and debugging gave some results (?)
admin shortcodes >invalid argument _admin_shortcodes php_ line 2124  `foreach($slinks->eLinkList['head_menu'] as $k=>$lk)`
This results that NO sitelinks are in dbase/system eg does not know

[2018-02-02 21:38] CaMer0n commented on #3018
With this change in the pull-request, it actually caused the problem referenced. (PHP 5.4 and 7.1) Removing the change brought back the screenshots. Please retest, running the installation in debug mode. Theme caching is now disabled during debug. Perhaps this was related to the issue.

`/install.php?debug`

[2018-02-02 21:42] #2933 closed

[2018-02-02 21:42] #3021 closed

[2018-02-02 21:46] CaMer0n commented on #3020
@martyshep When the thumb.php was introduced, the idea was to keep high resolution versions of everything so multiple sizes could be generated from the 'original'. Also, with retina displays we actually need double the resolution. You're right though, the pref is misleading due to its age.

[2018-02-02 23:50] martyshep commented on #3020
Thanks @cameron good to know

[2018-02-03 12:34] Deltik commented on #2933
@tgtje: Can you create a new issue for what you're experiencing?  It would be best to have steps to reproduce the issue, what you're expecting to see, and what you're actually seeing.

[2018-02-03 12:40] tgtje commented on #2933
@Deltik Sure, will do (php 7.2) unaltered xamppp (yes only local since live not having 7.2)
might take some time though... but than again 7.2 is in early stage..
) ...maybe live video capture during installment.. I will submit when results.

[2018-02-03 15:16] dimante opened #3024 "Debug tools should require admin auth before allowing them to be run"
You can go to any E107 site and get full server drive paths, MYSQL Queries with table names, etc....  I think an admin login should be required before the tools work on any site.  This is adding an attack vector that a bad actor can use to gain information to breach the system.

-D-

[2018-02-03 15:34] Jimmi08 commented on #3024
Related - point 2:
https://github.com/e107inc/e107/issues/2043

-  you need to set debugger mode off

[2018-02-04 12:07] Deltik commented on #3018
If the expected output in PHP 5.4 through PHP 7.1 was
[code]
… PHP 7.2 would have produced this:
[code]
… because `$tags = get_object_vars($xml);` in `xmlClass::xml2array()` would have contained the key `0` instead of being empty, and `0` would be interpreted further down in `if($tags)` as a tag.

`$tag` would be equal to `0` in `switch($tag)`, which causes the first case, `case '@attributes'`, to

[2018-02-04 15:02] tgtje commented on #3018
I use this issue post to keep you update, else it is allover : (issue php 7.2 and 7.2.2) all in one go:
4 screen captures (mp4) where is described the following (all is fresh; wamp and e107 latest)
nu1 = wamp64 php 722  WITHOUT xml commit (not accepted)  > fails at 6
nu2 = xampp php 7.2      WITHOUT xml commit (not accepted)  > fails at 6
nu3 = xampp php 711  (sorry typo movie)  WITHOUT xml commit

[2018-02-04 20:33] #3018 closed

[2018-02-04 21:41] Deltik opened #3027 "PHP 7.2: XML imports contain no values"
## Problem

`xmlClass::e107Import()` fails to import any values when running on PHP 7.2.  @tgtje took some videos showing the [expected output](https://github.com/e107inc/e107/files/1693327/nu3.mp4.gz) and the [actual output](https://github.com/e107inc/e107/files/1693328/nu4.mp4.gz).

<sup><sub>[@tgtje's original comment](https://github.com/e107inc/e107/issues/3018#issuecomment-362912918)</sup></s

[2018-02-06 18:40] chory opened #3029 "Admin UI Does not order the results"
my URL = /e107_admin/users.php?from=0&field=user_id&asc=asc
result:
![error107](https://user-images.githubusercontent.com/4314070/35877423-899df7da-0b75-11e8-8a47-722265919b43.jpg)

[2018-02-06 19:24] #3027 closed

[2018-02-06 20:24] Moc commented on #3024
Duplicate, closing in favour of #2043 .

Short answer: developer mode option is key here. When disabled, only basic information will show without authentication.

[2018-02-06 20:25] #3024 closed

[2018-02-08 21:13] InebriatedUK opened #3030 "newforumposts_main plugin not functioning correctly."
If using the newforumposts_main plugin, the admin control for display location does not have any action on the page.

If set to "Top of Page" it has no effect on the page and the output is displayed at the bottom (below content) regardless of setting.

[2018-02-08 21:17] Deltik commented on #3029
Can you visit the same URL again, except add `&[debug=sql+]` to the end?

We would need to see the "SQL Analysis" farther down the page to get a better idea of why this issue is happening.

[2018-02-09 08:39] Deltik commented on #3029
Caused by #3025

[2018-02-09 18:09] CaMer0n commented on #3030
@InebriatedUK Please try with this change. Thanks.

[2018-02-09 18:15] #3029 closed

[2018-02-09 19:40] chory commented on #3029
Now, it shows nothing
URL =/e107_admin/users.php?mode=main&action=list
![imagen](https://user-images.githubusercontent.com/4314070/36046472-5285d98c-0dd9-11e8-9ece-eed97d8231f7.png)

[2018-02-09 20:05] CaMer0n commented on #3029
@chory Please try this URL:

`e107_admin/users.php?[debug=showsql]&field=user_id&asc=asc&from=0`

..then paste the listQry value here in the comments here.

[2018-02-09 20:37] Deltik commented on #3029
I messed up.  I'll have a commit to fix this in a few minutes.

[2018-02-09 20:41] Deltik commented on #3029
Fixed in #3032

[2018-02-09 21:13] Deltik opened #3033 "Headless (CLI) e107 tries to use uninitialized SQL if siteurl preference is not cached"
# Problem

If `e107_system/*/cache/content/S_Config_core.cache.php` exists and contains `siteurl`, headless e107 can skip the database for getting the website URL and continue initializing until the database actually loads.

Without the cache, this happens:

[code]

Headless e107 cannot be used in this case.

[2018-02-09 21:57] chory commented on #3029
Ok, works fine for me. Show members in correct order.
Great work

[2018-02-09 22:51] LaocheXe opened #3034 "Issue: News"
I've notice an issue with my site - https://501stlegion-a3.com/index.php  - none of the Tab Names seem to be working, was told to put define('PAGE_NAME', LAN_RSYS_PAGE_RANKS); <--- it used to work, but no longer does.

Now I notice the News section of the site seems to be miss behaving.

![capture1](https://user-images.githubusercontent.com/5818022/36053689-3de0807a-0db8-11e8-895a-04a4c202cd91.JPG

[2018-02-10 18:51] tgtje commented on #3034
Can you debug in admin ? look for the path to the language files... (locale folder or root url ? )
ps include  _once(): Failed opening 'e107_plugins/roster/e_shortcode.php' for inclusion

[2018-02-11 00:57] LaocheXe commented on #3034
@tgtje is that on the front page? I notice it as well - weird thing is, I don't see why it's being loaded on the front page at all, no menus or anything like that.

[2018-02-11 09:04] Jimmi08 opened #3035 "FR - for forum and mainadmin"
to add button source code in forum tinymce editor for main admins

OR

in the backend  Latest Post to add possibility edit post (not only delete) with full tinymce options

[2018-02-11 10:38] Evgura commented on #3035
I support the request.
You can also add to the forum, the numbering of messages and a link to this post.

[2018-02-11 12:36] tgtje commented on #3034
Hmmm first the language related (found it (i guess) but _needs other peoples reaction too_ if it works..
added   >  ` e107::lan('news',true);`  to line 15 of plug/news/e_menu php

The related news posting (center; left/right) can not replicate..

Just a note : when running e107 dev (debug) front page... > message: Featurebox returned nothing.

[2018-02-11 20:10] Evgura commented on #2984
Yesterday I updated the website with Github, and again the same thing happened as written above. If the "Enable online tracking of users," it is impossible to enter the site.
"This combination of user name and password is already in use."

[2018-02-11 20:14] Evgura opened #3036 "Again - "This combination of user name and password is already in use.""
Yesterday I updated the website with Github, and again the same thing happened to what he wrote 23 days ago - https://github.com/e107inc/e107/issues/2984
. If the "Enable online tracking of users," it is impossible to enter the site.
"This combination of user name and password is already in use."

[2018-02-11 23:02] LaocheXe commented on #3034
Yeah not using the featurebox

[2018-02-12 12:32] Deltik commented on #3033
Caused by f7eadfd588

[2018-02-12 14:42] InebriatedUK commented on #3030
@CaMer0n awesome, that seems to have fixed it.

Thanks

[2018-02-13 16:23] #3033 closed

[2018-02-14 14:01] Moc commented on #2440
Is this still an issue?

[2018-02-14 14:02] Moc commented on #2877
Is this still an issue in the latest version?

[2018-02-14 14:09] Evgura commented on #2440
Yeah, that's a problem. Registration for Cyrillic not working.
"03 - Login - The value contains invalid characters"

[2018-02-14 14:14] Evgura commented on #2877
It's okay.

[2018-02-14 14:14] #2877 closed

[2018-02-14 14:15] Moc commented on #2440
Thanks, listed as a bug

[2018-02-14 14:27] Moc commented on #971
Is this still an issue in the latest version?

[2018-02-14 14:28] Moc commented on #982
Please re-open if this is still an issue in the latest version

[2018-02-14 14:28] #982 closed

[2018-02-14 14:28] Moc commented on #363
Please re-open if this is still an issue in the latest version.

[2018-02-14 14:28] #363 closed

[2018-02-14 14:33] Moc commented on #468
Seeing there have been no other people supporting this feature request in the past, I recommend creating  a plugin for this. If there's anything you need adjusted in core to be able to do develop this plugin, feel free to submit a new issue with that request.

[2018-02-14 14:33] #468 closed

[2018-02-14 14:40] #962 closed

[2018-02-14 15:53] LaocheXe commented on #2981
In Defiantzstrap3 (Modified Bootstrap3 theme) I have in theme_shortcodes.php

return e107::getParser()->parseTemplate('{SITELOGO: h='.$prefh.'}',true);

I have not hit that issue yet

[2018-02-14 22:12] CaMer0n commented on #3034
@Deltik This problem appears to be caused by recent changes to `e_tree_model::load() `.
The 'db_limit' param (and possibly others) is not being respected.
Rolling back model_class.php corrected the problem @LaocheXe was having with too many items appearing in the carousel.

Code Sequence:

    news_carousel_menu.php > e_news_tree::loadJoinActive > self::loadJoin() > e_tree_model::load()

[2018-02-14 23:14] LaocheXe commented on #971
I don't know, don't use the fbox anymore

[2018-02-15 11:48] Deltik commented on #3034
@CaMer0n: How is this possible?  I haven't been able to enable the carousel to reproduce the issue.

If `$this->getParam('db_query') && $class_name && class_exists($class_name)` is true, then the custom tree loading code is executed, including `e_tree_model::prepareSimulatedPagination()`, which parses all possible formats of SQL `LIMIT` and expands the generated `db_limit` param into `db_limit_cou

[2018-02-15 13:43] chimcen opened #3038 "Menu areas in menu manager disappear after 1 sec..."
Hi,
i've been using a custom theme with latest e107 version. My theme has more menu areas than one - but the problem is: when i open the menu manger in admin panel, all menu areas will be shon, but they disappear after 1 second - for more details, see the screenshots.

Can anyone help?

![menu_visible](https://user-images.githubusercontent.com/22658487/36259423-7357efb8-125e-11e8-9393-0987af166681

[2018-02-15 14:03] Alex-e107nl opened #3039 "Fatal error: Call to private method e_tree_model::multiFieldCmp"
Hi, using github of today, featurebox does not show anything anymore and also leaves index.php empty.. it shows nothing anymore, in the admin with the comments manager, mediamanager, plugin manager schedule tasks, system logs etc.. i get the message (white screen) Fatal error: Call to private method e_tree_model::multiFieldCmp() from context 'e_admin_tree_model' in e107.nl/private_html/e107_handle

[2018-02-15 15:00] tgtje commented on #3038
Since you are using self refreshing background... is it possible they get hidden ? top image has none, while bottom has.. Else : you are using language switch, and on that part = does it differ in view when you switch to German?

[2018-02-15 15:07] Jimmi08 commented on #3038
In your theme load some scripts (or css) only for USER_AREA, not for admin. Check console, mainly there is reason. And if you are using any css bodytag, it's stripped in menu manager.

[2018-02-15 15:31] chimcen commented on #3038
@tgtje nope, both are using self refreshing background - the pictures are sampled out of a screen video capture - wen the menu page refreshes itself (after klicking default menu style eg.) i see the picture above - after one second the menu areas are gone and i'll see my background image...

i can try - but i've set admin language to english to prefent errors caused by faulty language files...

@J

[2018-02-15 15:34] Jimmi08 commented on #3038
@chimcen you need to open iframe and there check console. You menus are displayed in iframe, not in menu manager page. This way you can displaye preview theme without menus (admin) and then you will see if it is problem with preview display or with menu manager. 2 different things.

[2018-02-15 15:42] chimcen commented on #3038
thank you - got the problem - caused by a java scrip file at theme side itself. if diabling thios one java script, i'll now see all the menu areas... :)

[2018-02-15 15:43] #3038 closed

[2018-02-15 15:58] chimcen opened #3040 "Forum latest posts menu doesn't shows real avatars and wrong post date"
Hi,

i've enabled the latest forum posts menu on my site - but since update to e107 v2.1.7 it will show me the default blank_avatar image instead of the user avatar from post owner/writer...

And it shows me the wrong post date...

btw. i changed the default blank_avatar image to an bf1 char image... ;)

Can anyone help?

![latest posts](https://user-images.githubusercontent.com/22658487/36270893-

[2018-02-15 16:52] Moc commented on #3039
@Deltik can you take a look at this please?

[2018-02-15 19:38] CaMer0n commented on #3034
@Deltik Here's the value of  `$this->getParam('db_query')` at line **3338** of **model_class.php**
[code]

and here it is again at line 3347 after
**$this->prepareSimulatedPagination();**
and
**$this->prepareSimulatedCustomOrdering();**

[code]

[2018-02-15 19:48] Deltik commented on #3039
I completely forgot about the subclasses.  #3041 should fix this.

[2018-02-15 20:03] Deltik commented on #3034
@CaMer0n: Issue was the wrong kind of check used in the count-only condition.  Fixed in 0bbaaf4c6c01bc5a1642402f63fa7e046e614044.  Pull request is #3041.

[2018-02-15 20:05] Alex-e107nl commented on #3039
Oke i willl test it when it comes available! THX!

[2018-02-15 20:18] CaMer0n commented on #3034
Thank you @Deltik !! 🥇

[2018-02-15 20:18] #3039 closed

[2018-02-15 20:18] #3034 closed

[2018-02-16 10:14] rica-carv commented on #2891
I'm using Firefox Quantum 58.0.2 (64-bit), and currently the download page of the debugger states that the debugger is not compatible with my FF version.....

[2018-02-16 10:17] Moc commented on #2891
Please post this up as an issue in this repo: https://github.com/e107inc/e107-dev/

[2018-02-16 15:07] rica-carv commented on #2891
@Moc Done. Thanks for pointing the right direction...

[2018-02-18 08:42] KiraTheUltimate opened #3042 "News Image automatically resize problem"
Hello!

So, when I write a news and I upload an image in Media Manager (e.g.: 1024x600 px)  and paste in the textbody area the image size is OK. Then when I save the news, the system automatically resize the image.

Sample: http://www.kephost.com/images/2018/02/18/sample.jpg

Is this an e107 problem or my settings is wrong? What can I do to work normally? Thank you!

[2018-02-18 16:58] tgtje commented on #941
I believe this is solved in time (never heard anymore issues).. if needed reopen

[2018-02-18 16:58] #941 closed

[2018-02-19 17:19] tgtje commented on #3042
**beware > ultimate image display is dependant on viewing 'port' size (responsive)**
plain editor :
[img style=width:300px;]{e_MEDIA_IMAGE}2018-02/1x.jpg[/img]  (basic size)
change this to nearest size eg 800px ?
[img style=width:800px;]{e_MEDIA_IMAGE}2018-02/1x.jpg[/img]
or
wysiwig editor (tiny)
source will tell : [img]{e_MEDIA_IMAGE}2018-02/1x.jpg[/img]</   = basic 300)
solution : click image ri

[2018-02-19 20:18] CaMer0n commented on #3042
@KiraTheUltimate You can set the default size in the Media-Manager preferences.

As you can see in the image below, the maximum width for a News post would be 800px wide and 500 pixel high.

![image](https://user-images.githubusercontent.com/2825679/36395594-c18437b0-156e-11e8-8bd3-522673d672a5.png)

[2018-02-19 21:41] KiraTheUltimate commented on #3042
I don't fill in the default image size, so this doesn't mean it shouldn't resize it?

Cameron: otherwise what you say it works.

But what about the pages? When I paste an image in a table it's work correctly, then I saving the page, it's not work... ->>

1: http://www.kephost.com/images/2018/02/19/1c9ded0d171df7216.jpg
2: http://www.kephost.com/images/2018/02/19/21aaf30d8d2066b24.jpg

[2018-02-19 22:54] CaMer0n commented on #3042
@KiraTheUltimate These are default image sizes but they can be overridden by the theme template. Please check your page_template.php file for `{SETIMAGE: .... } ` . If you cannot find it, add it to the 'start' .

eg

    $PAGE_TEMPLATE['default']['start'] = '{SETIMAGE: w=200&h=0}<div id="{CPAGESEF}" class=

[2018-02-20 21:23] CaMer0n commented on #3036
@Evgura Try clearing your 'online' table. ie. TRUNCATE.

[2018-02-20 21:23] #3030 closed

[2018-02-21 14:38] Moc commented on #1032
Closing this. If there are indeed many of the same phrases which appear in different language files, then these should be moved to the generic language files.

[2018-02-21 14:38] #1032 closed

[2018-02-21 14:41] Moc commented on #1049
Closing this on this repo. Further communication on the multilan plugin can take place in its own repo.

[2018-02-21 14:41] #1049 closed

[2018-02-21 14:44] Moc commented on #324
Replaced by on/off switch

[2018-02-21 14:44] #324 closed

[2018-02-23 10:38] KiraTheUltimate opened #3043 "Edit forum posts"
When I edit a forum post, I get the following error message:

http://kepkezelo.com/images/swyh9u1r4ypywx8st3up.jpg

[2018-02-23 12:52] tgtje commented on #3043
Please see https://github.com/e107inc/e107/issues/1476 as it seems identical..

[2018-02-23 14:30] KiraTheUltimate commented on #3043
On my site, in admin area compress site output using gzip is disabled, but the problem is still there.

[2018-02-23 17:12] Moc commented on #3043
Does this only happen when editing a forum post or also on other pages?

Did you test with multiple browsers?

Try clearing the caches (both e107 and browser)

[2018-02-23 21:16] kreossino opened #3044 "Error viewing categories with admin-ui"
Fatal error: Maximum function nesting level of '256' reached, aborting! in class2.php on line 2409

[2018-02-23 21:18] CaMer0n commented on #3044
Confirmed. Vstore and Download categories affected.
@Deltik An endless loop in the model tree?

[2018-02-23 22:26] #3044 closed

[2018-02-23 22:38] KiraTheUltimate commented on #3043
deleting the browser's cookies solved the problem... thx ^^

[2018-02-24 16:27] Moc commented on #3043
Please let us know if the issue returns. It is still likely to be related to gzip encoding, but perhaps on the server side.

[2018-02-24 16:27] #3043 closed

[2018-02-24 16:28] #1175 closed

[2018-02-24 16:32] Moc commented on #1255
I am pretty sure this issue has been resolved by now. If not, please feel free to let us know and I'll re-open.

[2018-02-24 16:32] #1255 closed

[2018-02-24 16:32] Moc commented on #1165
No longer relevant. Closing issue.

[2018-02-24 16:32] #1165 closed

[2018-02-24 16:34] Moc commented on #1208
It may very well be that this issue is already resolved in the latest update. I am closing this issue but in case you are still experiencing issues, please let us know and I'll re-open.

[2018-02-24 16:34] #1208 closed

[2018-02-24 16:35] Moc commented on #1207
Closing due to lack of feedback. Presumed fixed. Let us know if this is still an issue and I'll re-open.

[2018-02-24 16:35] #1207 closed

[2018-02-24 16:35] Moc commented on #1184
Closing due to lack of feedback. I believe this issue has been resolved in the latest version. If this is not the case, please let us know and I'll re-open.

[2018-02-24 16:35] #1184 closed

[2018-02-24 16:37] Moc commented on #1210
Closing due to lack of feedback. Please feel free to re-open if this is still an issue.

[2018-02-24 16:37] #1210 closed

[2018-02-24 16:38] Moc commented on #1209
This is possible by one of plugins that has been published in the last months. Closing.

[2018-02-24 16:38] #1209 closed

[2018-02-24 16:38] Moc commented on #433
Caching has been tweaked a lot since this issue was posted. Closing for now, but let us know if it should be re-opened.

[2018-02-24 16:38] #433 closed

[2018-02-24 16:40] Moc commented on #214
Closing this. If the plugin is using v2 standards, all prefs and remaining data will be cleaned up as part of the uninstall process.

[2018-02-24 16:40] #214 closed

[2018-02-24 16:42] Moc commented on #1254
Closing this as discussion seems to be no longer relevant with the latest tweaks to session handling. Please let us know if the issue needs to be re-opened.

[2018-02-24 16:42] #1254 closed

[2018-02-24 16:44] Moc commented on #554
This depends on the system it needs to be imported from as each external system is different and has a different database structure. Please submit individual issues with specific enhancement suggestions per system that you'd like to import data from into e107.

Closing this one.

[2018-02-24 16:44] #554 closed

[2018-02-24 16:45] Moc commented on #1245
Session handling has had a lot of tweaks over the past months. Closing this issue as I assume it is fixed. Let us know if the issue needs to be re-opened.

[2018-02-24 16:45] #1245 closed

[2018-02-24 16:51] willem010 commented on #1254
You can close all issued by me.
Haven't been designing sites for over a year now.

Good to see you guys are still here working on it tho!
Maybe I will check out recent progress when there is some spare time.
Keep it up.

[2018-02-24 17:53] mfpweb commented on #1184
Sorry for the delay.... To be honest I've stopped using v.2.0 because of
that bug.
Thank you if you definitely solved. I'll try again and let you know.

2018-02-24 17:36 GMT+01:00 Tijn Kuyper <notifications@github.com>:

[2018-02-24 18:02] CaMer0n commented on #1184
@mfpweb I'd be happy to perform your upgrade for you if you run into problems. You can reach me in the gitter chatroom.

[2018-02-24 19:26] LaocheXe commented on #2713
Update on this, since recent github updates - the Forum front end no longer shows a page title, as the last image I posted, says Forum - Site Name - now just shows Site Name, but when I click on a thread I get Thread Name / Forum - Site Name   <---  and working on plugins, I was told to add define('PAGE_NAME', 'This Page'); at the top of the php - which used to work, but I don't know when it stop

[2018-02-25 18:16] KiraTheUltimate opened #3047 "Forgot Password as Admin"
Hello!

When I want to reset my password, I only receive an email with the following text:

"someone tried to reset your password"

And I can't get a link to reset my password. Did I set up something wrong?

[2018-02-25 18:30] tgtje commented on #3047
Two things:
a) this phrase as posted does not exist in e107.
 (For very good security reasons it's impossible to reset your password unless you're logged in.)

b) reset your password manually using phpMyAdmin or another similar MySQL manager. Go to the users table, the main admin should be user number 1. Click on the edit button and change the password to 4cb9c8a8048fd02294477fcb1a41191a, this wil

[2018-02-25 20:30] CaMer0n commented on #3047
For b) You could also enter a password and set the function to MD5.

[2018-02-26 06:55] Evgura commented on #3036
@CaMer0n I can't check. I rolled back to the previous backup while it was working.

[2018-02-26 12:30] Alex-e107nl opened #3048 "img in sitelink scale problem?"
Hi, when you use an image with a sitelink and there's an {SETIMAGE: w=400&h=350&crop=1} in a template for instance news on the news page, the image in the sitelink is shown with 400x350px but should be much smaller.. Using a glyph does not give this problem..

Placing a {SETIMAGE: w=22&h=22&crop=1} in the navigation template solves it but it took me some time to figure this out :-)

[2018-02-26 19:47] CaMer0n commented on #3048
Thanks @Alex-e107nl Was the sitelink in question in the sidebar or somewhere else? I'm curious to see the theme layout where this occurred.

[2018-02-27 12:51] KiraTheUltimate opened #3049 "Real name is required problem"
Hi!

In the admin area / settings / register settings, the real name is set hide, but on the profile settings page is always show and it's required. This is a bug or not?

Thx. (e107 v2.1.7, php 5.6.33)

[2018-02-28 02:12] LaocheXe opened #3051 "Issue: Downloads - Broken Image Link"
![capture1](https://user-images.githubusercontent.com/5818022/36766195-7454675c-1bfa-11e8-8c70-cb1cd2a5089a.JPG)

When creating a catagory in downloads, applying an image as the icon shows broken image link in admin area, but displays correctly in the front end.

[2018-02-28 10:44] Moc commented on #1368
I am pretty sure this has been fixed by now. If not, please let us know and I'll re-open.

[2018-02-28 10:44] #1368 closed

[2018-02-28 10:44] Moc commented on #1304
Is this still an issue?

[2018-02-28 10:44] Moc commented on #1293
Is this still an issue?

[2018-02-28 10:47] Moc commented on #1277
I am assuming this has been fixed by now. If not, please let us know and I'll re-open.

[2018-02-28 10:47] #1277 closed

[2018-02-28 10:50] Moc commented on #1307
I personally think this should be taken care of by the theme developer through using proper css classes (making use of the viewports in bootstrap). Having different templates for each device would kind of contradict with the purpose of using a responsive css framework like Bootstrap.

Closing for now, but if others (especially theme developers) feel that this should be implemented then please do l

[2018-02-28 10:50] #1307 closed

[2018-02-28 10:52] Moc commented on #1314
I think you should use the sync code in a custom method within the admin_config.php file preferably.

If this issue is still relevant, can you elaborate on what kind of issues you are experiencing and what you mean specifically with 'e107 tools'? Thanks!

[2018-02-28 10:54] Moc commented on #1042
So if I understand this correctly, it works for any other account but not with the main admin account?

[2018-02-28 10:57] Moc commented on #1166
Is this issue still relevant? If yes, please let us know what you need help with :)

[2018-02-28 11:01] #1264 closed

[2018-02-28 11:02] Moc commented on #1328
Is this still an issue?

[2018-02-28 11:02] Moc commented on #1324
Pretty sure this is fixed. If not, please let us know and I'll re-open.

[2018-02-28 11:02] #1324 closed

[2018-02-28 11:04] #1246 closed

[2018-02-28 11:06] Moc commented on #1366
Pretty sure this has been fixed by now. If not, please let us know and I'll re-open.

[2018-02-28 11:06] #1366 closed

[2018-02-28 11:06] #1349 closed

[2018-02-28 11:07] Moc commented on #1501
There have been various improvements to session handling. Please visit us in the Gitter chatroom to walk through the debug process if you are still experiencing this issue.

[2018-02-28 11:07] #1501 closed

[2018-02-28 11:09] Moc commented on #1473
Is this still an issue?

[2018-02-28 11:10] Moc commented on #1461
Closing in favor of #816

[2018-02-28 11:10] #1461 closed

[2018-02-28 11:10] #1434 closed

[2018-02-28 11:11] Moc commented on #1435
I am assuming this issue is no longer relevant. Let me know if it still is, then I'll re-open.

[2018-02-28 11:21] Moc commented on #1431
The session handling has had a lot of work in the past months. If you are still experiencing this issue, please join us in the Gitter chatroom so we can debug the issue together on your installation.

[2018-02-28 11:21] #1431 closed

[2018-02-28 11:22] #1407 closed

[2018-02-28 11:23] Moc commented on #1397
Closing due to lack of feedback. Join us in the Gitter chatroom to have this issue debugged if you are still experiencing this issue.

[2018-02-28 11:23] #1397 closed

[2018-02-28 11:56] Moc commented on #1330
Is this still an issue?

[2018-02-28 11:57] Moc commented on #1600
Closing due to lack of feedback, please answer the questions as listed by @Jimmi08 above if this issue is still relevant, and I'll re-open

[2018-02-28 11:57] #1600 closed

[2018-02-28 12:01] Moc commented on #1569
Very interesting and theoretically not possible.... Not sure what's going on here.
@CaMer0n Do you have any idea?

[2018-02-28 12:01] Moc commented on #1566
Is this still an issue?

[2018-02-28 12:01] Moc commented on #1564
Is this still an issue?

[2018-02-28 12:02] Moc commented on #1559
I am assuming this issue is fixed in the latest version. If not, please let us know and I'll re-open.

[2018-02-28 12:02] #1559 closed

[2018-02-28 12:03] Moc commented on #1541
Are these errors still occurring using the latest files?

[2018-02-28 12:05] Moc commented on #1538
Is this issue still relevant?

[2018-02-28 12:05] Moc commented on #1536
Is this issue still relevant?

[2018-02-28 12:05] Moc commented on #1534
Is this issue still occurring?

[2018-02-28 12:06] Moc commented on #1533
Is the Poll plugin installed?

[2018-02-28 12:08] Moc commented on #1524
@arunshekher Can you please clarify if there's still an ongoing issue that needs to be looked into?

[2018-02-28 12:08] Moc commented on #1523
This issue is likely fixed in the latest release. Closing for now. If you are still experiencing the issue, then please visit us in the Gitter Chatroom to have the issue debugged.

[2018-02-28 12:08] #1523 closed

[2018-02-28 12:09] Moc commented on #1520
Is this issue still occurring?

[2018-02-28 12:10] Moc commented on #1522
Is this issue still occurring?

[2018-02-28 12:11] Moc commented on #1517
If you are still experiencing this issue, please visit us in the Gitter chatroom to have this issue debugged. Closing for now.

[2018-02-28 12:12] Moc commented on #1504
A userclass cannot have both 'everyone' and 'no one' as a parent at the same time. This would be contradicting. You can create 'parents' by using the hierarchy functionality for userclasses.

Closing this issue for now but please do let us know if you require further help.

[2018-02-28 12:12] #1504 closed

[2018-02-28 12:13] Jimmi08 commented on #1538
@Moc I haven't seen solution for this yet.    If I want this:  with custom plugin to add something to template without changing theme or core template.  Before global variables could be rewrittten in plugin.

[2018-02-28 12:15] Moc commented on #1604
Is this issue still occurring?

[2018-02-28 12:16] Moc commented on #1607
@rica-carv can this issue be closed?

[2018-02-28 12:16] Moc commented on #1613
Do you still need help with this question?

[2018-02-28 12:17] Moc commented on #1616
Is this issue still relevant?

[2018-02-28 12:49] #1601 closed

[2018-02-28 12:50] Moc commented on #1618
@nesjett Do you still require any help with this issue? Please let us know :)

[2018-02-28 12:51] Moc commented on #1619
Closing this as I am assuming the question has been answered satisfactorily. If not, please let us know and I'll re-open.

[2018-02-28 12:52] #1619 closed

[2018-02-28 12:52] Moc commented on #1620
Closing as I am assuming the question has been answered. Let us know if you need further help.

[2018-02-28 12:52] #1620 closed

[2018-02-28 12:55] Moc commented on #1640
Forgot to reply to this but the contents of the v1 wiki is available here: https://github.com/e107inc/e107v1/wiki

[2018-02-28 12:55] #1640 closed

[2018-02-28 12:55] Moc commented on #1641
Is this still an issue?

[2018-02-28 12:55] Moc commented on #1649
@nesjett Are you still experiencing this issue? :)

[2018-02-28 12:56] Moc commented on #1654
@CaMer0n What's the status on the status on this one?

[2018-02-28 12:59] Moc commented on #1691
Is this issue still relevant?

[2018-02-28 13:00] Moc commented on #1706
related / duplicate: #2162 #1592

[2018-02-28 13:04] Moc commented on #1455
I am assuming this issue has been resolved. If you require further assistance, please let us know

[2018-02-28 13:04] #1455 closed

[2018-02-28 13:06] Moc commented on #1710
Is this issue still relevant?

[2018-02-28 13:08] Moc commented on #1727
I am pretty sure this is now possible in the latest version. If not, please let us know and I'll re-open.

[2018-02-28 13:08] #1727 closed

[2018-02-28 13:09] Moc commented on #1733
@rica-carv Is this issue still relevant?

[2018-02-28 13:11] Moc commented on #1744
I am assuming this issue has been resolved or answered adequately. If there are still remaining questions, please let us know and I'll re-open.

[2018-02-28 13:11] #1744 closed

[2018-02-28 13:13] Moc commented on #1753
@lonalore Is this issue still relevant? Has the above already been resolved in the latest version or is the discussion still open?

[2018-02-28 13:13] Moc commented on #1754
@rica-carv Is this issue still relevant?

[2018-02-28 13:15] Moc commented on #1763
I am assuming the issue above has been answered adequately. If there are still any remaining questions, please let us know and I'll reopen.

[2018-02-28 13:15] #1763 closed

[2018-02-28 13:23] Moc commented on #1783
Closing due to lack of feedback. Please visit us in the Gitter chatroom if you are still experiencing this issue.

[2018-02-28 13:23] #1783 closed

[2018-02-28 13:25] Moc commented on #1793
@CaMer0n Is the core_image up-to-date? Will the fileinspector correctly identify incorrect/outdated/deprecated files?

[2018-02-28 13:26] Moc commented on #1795
This is likely to be resolved in the latest version. Closing this issue as I assume it is fixed but please do let us know if you are still experiencing this issue, then I'll reopen.

[2018-02-28 13:26] Moc commented on #1797
Is this issue still relevant?

[2018-02-28 13:28] #1811 closed

[2018-02-28 13:29] #1814 closed

[2018-02-28 13:30] Moc commented on #1824
Closing in favour of #1040

[2018-02-28 13:30] #1824 closed

[2018-02-28 13:34] #1879 closed

[2018-02-28 13:34] #1880 closed

[2018-02-28 13:36] #1916 closed

[2018-02-28 13:37] Moc commented on #1933
It may very well be that this issue is already resolved in the latest update. Please try updating from Github before we look into this issue more closely.

There is an easy way to sync with Github:
- Enable developer mode in `Admin Area > Preferences > Advanced features`
- Go to `Admin Area > Tools > Database > Sync with Github`
- Press the `Overwrite files` button and wait until the process has f

[2018-02-28 13:38] Moc commented on #1942
@rica-carv Is this issue still relevant?

[2018-02-28 13:39] Moc commented on #1943
It may very well be that this issue is already resolved in the latest update. Please try updating from Github before we look into this issue more closely.

There is an easy way to sync with Github:
- Enable developer mode in `Admin Area > Preferences > Advanced features`
- Go to `Admin Area > Tools > Database > Sync with Github`
- Press the `Overwrite files` button and wait until the process has f

[2018-02-28 13:39] #1943 closed

[2018-02-28 13:41] Moc commented on #1958
@rica-carv Is still issue still relevant?

[2018-02-28 13:42] Moc commented on #1959
@rica-carv Is still issue still relevant?

[2018-02-28 13:46] Moc commented on #1983
@rica-carv is this issue still relevant?

[2018-02-28 13:47] #2011 closed

[2018-02-28 13:49] Moc commented on #2016
I am assuming all issues are fixed in the latest version. If not, please let us know and I'll re-open.

[2018-02-28 13:49] #2016 closed

[2018-02-28 13:50] Moc commented on #2017
Related #1767

[2018-02-28 13:54] Moc commented on #2032
It may very well be that this issue is already resolved in the latest update. Please try updating from Github before we look into this issue more closely.

There is an easy way to sync with Github:
- Enable developer mode in `Admin Area > Preferences > Advanced features`
- Go to `Admin Area > Tools > Database > Sync with Github`
- Press the `Overwrite files` button and wait until the process has f

[2018-02-28 13:54] #2040 closed

[2018-02-28 13:55] #2049 closed

[2018-02-28 13:59] Moc commented on #2067
@rica-carv Have you already found the answer in the mean time?

[2018-02-28 14:00] Moc commented on #2094
Not considered to be a bug. Can be styled by the theme. Black is the default.

[2018-02-28 14:00] #2094 closed

[2018-02-28 14:05] Moc commented on #2127
@Jimmi08 do you still have the possibility to test this? :)

[2018-02-28 14:07] Moc commented on #2146
@CaMer0n What's the status on this one?

[2018-02-28 14:10] Moc commented on #2156
@Jimmi08 Is this issue still relevant?

[2018-02-28 14:10] #2150 closed

[2018-02-28 14:12] #2195 closed

[2018-02-28 14:13] Moc commented on #2199
@CaMer0n What do you think about this one?

[2018-02-28 14:14] Moc commented on #2199
If anyone is still experiencing this issue using the latest files, please join us on the Gitter chatroom so we can debug the issue on your installation.

https://gitter.im/e107inc/e107

[2018-02-28 14:14] #2199 closed

[2018-02-28 14:16] Moc commented on #2217
Closing this due to lack of feedback. Please let us know if the issue is still present, then I'll re-open

[2018-02-28 14:16] #2217 closed

[2018-02-28 14:17] Moc commented on #2222
@CaMer0n Is it time to move this feature from experimental to stable? 😄

[2018-02-28 14:18] Moc commented on #2230
@rica-carv Is this issue still relevant?

[2018-02-28 14:18] Moc commented on #2241
It may very well be that this issue is already resolved in the latest update. Please try updating from Github before we look into this issue more closely.

There is an easy way to sync with Github:
- Enable developer mode in `Admin Area > Preferences > Advanced features`
- Go to `Admin Area > Tools > Database > Sync with Github`
- Press the `Overwrite files` button and wait until the process has f

[2018-02-28 14:20] #2247 closed

[2018-02-28 14:20] Moc commented on #2254
I assume this issue has been resolved. If not, please let us know and I'll reopen.

[2018-02-28 14:20] #2254 closed

[2018-02-28 14:22] Moc commented on #2265
@lonalore Would you mind looking into this to see if you can provide a fix? thanks 👍

[2018-02-28 14:23] Moc commented on #2261
I don't think I understand your question. Can you provide an example if the question is still relevant? Thanks!

[2018-02-28 14:24] Moc commented on #2269
I am assuming this question has been answered. If you still require more assistance, please let us know :)

[2018-02-28 14:24] #2269 closed

[2018-02-28 14:27] Moc commented on #2273
@tgtje is this issue still occurring?

[2018-02-28 14:27] #2275 closed

[2018-02-28 14:29] Moc commented on #2279
@CaMer0n What do you think?

[2018-02-28 14:29] Moc commented on #2284
@arunshekher Is this issue still occurring?

[2018-02-28 14:30] Moc commented on #2293
@CaMer0n Ideas?

[2018-02-28 14:32] Moc commented on #2315
Todo:
- Add LAN to theme language file (not generic English.php)
- Update LAN reference in template

[2018-02-28 14:33] Moc commented on #2325
@yesszus Is this issue still occurring?

[2018-02-28 14:35] Moc commented on #2351
Assuming this is fixed, closing. Let us know if the issue still occurs.

[2018-02-28 14:35] #2351 closed

[2018-02-28 14:36] #2355 closed

[2018-02-28 15:07] yesszus commented on #2325
Solved!
Work for me without errors!

[2018-02-28 15:11] #2127 closed

[2018-02-28 15:12] Jimmi08 commented on #2156
@Moc  no idea, I don't use FB anymore.

[2018-02-28 15:12] #2156 closed

[2018-02-28 16:08] #2325 closed

[2018-02-28 17:11] fizi opened #3052 "Sldeshow menu (gallery)"
The gallery's slideshow nenu not work.
I put the menu to the menuarea, and menu make nothing.
Thanks help!

[2018-02-28 17:18] BigBoiJefe commented on #2199
I am still experiencing this problem.  The session timeouts even if the user is still logged in.

[2018-02-28 21:36] KiraTheUltimate opened #3053 "Comment sorting is wrong"
Hi!

When I set the comment sorting is the most recent comments last and I save the settings, the system automatically set back the settings the most recent comments first, then when I change anything else, the comments sorting is change.

[2018-03-01 09:53] Evgura commented on #3053
I confirm that there is such a problem.

[2018-03-01 13:13] arunshekher commented on #2284
@Moc I’m devoid of a testing environment and proper internet awhile to give any feedback, will reply back as soon as I’m able to.

[2018-03-01 13:50] Moc commented on #2284
@arunshekher No rush, thank you for the quick reply.

[2018-03-01 13:51] Moc commented on #2199
@BigBoiJefe As requested, please join us in the Gitter chatroom so we can debug this real-time with you.

[2018-03-01 13:59] #2363 closed

[2018-03-01 14:00] Moc commented on #2440
Related #2288

[2018-03-01 14:02] #2374 closed

[2018-03-01 14:03] Moc commented on #2383
@CaMer0n Your thoughts please? :)

[2018-03-01 14:14] Moc commented on #2396
Closing this in favour of #1267

[2018-03-01 14:14] #2396 closed

[2018-03-01 14:16] Moc commented on #2397
I am assuming this question has been answered sufficiently, if not, please let me know and I'll re-open.

[2018-03-01 14:16] #2397 closed

[2018-03-01 14:18] Moc commented on #2417
If you are still experiencing this issue, please join us in the Gitter chatroom so we can debug this real-time on your installation.

https://gitter.im/e107inc/e107

[2018-03-01 14:18] #2417 closed

[2018-03-01 14:19] LaocheXe opened #3054 "I/Q: Theme and CSS Override"
Using Bootstrap 3, I know if I want to override the code for whatever I want, I need to change the style.css - however, in theme manager I can select what css I want to use, by default it's the normal style.css.

So If I created a Laochexe.css, I can select it, however, it cannot override the default bootstrap.css - can this be changed to allow any css in the theme manager that is in the theme css

[2018-03-01 14:19] #2426 closed

[2018-03-01 14:20] #2433 closed

[2018-03-01 14:21] Moc commented on #2444
@rica-carv does this issue still occur?

[2018-03-01 14:22] Moc commented on #2448
@CaMer0n your thoughts please? :)

[2018-03-01 14:25] Moc commented on #2486
@BigBoiJefe Is this issue resolved in the latest version?

[2018-03-01 14:26] Moc commented on #2488
@CaMer0n Your thoughts please :)

[2018-03-01 14:27] Moc commented on #2504
@dimante Is this issue still occurring in the latest version?

[2018-03-01 14:28] dimante commented on #2504
I will have to check this evening.

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

On Thu, Mar 1, 2018 at 8:27 AM, Tijn Kuyper <notifications@github.com>
wrote:

[2018-03-01 15:54] KiraTheUltimate opened #3055 "Gallery: downloaded image name"
Hi!

When I upload some images in the gallery with different file names and I try to download, all image file name is: thumb.jpg / .png / etc.

[2018-03-01 16:34] BigBoiJefe opened #3056 "PHP Fatal error: Call to a member function getVars() on null in download_class.php"
I'm seeing the below error in the nginx error log, i'm running PHP 5.6.31.  Any ideas what's causing this?  I'm also running the latest github version of e107.  Thanks!
``
2018/02/28 14:33:44 [error] 1363#1363: *956286 FastCGI sent in stderr: "PHP message: PHP Fatal error: Call to a member function getVars() on null in /var/www/html/domain.com/plugins/download/handlers/download_class.php on line 5

[2018-03-01 17:30] BigBoiJefe commented on #2486
When I enable the Site URLS and enable the SEF (experimental) links, I get the following:
[code]

[2018-03-01 18:01] #1607 closed

[2018-03-01 18:10] rica-carv commented on #1616
Solved in #2029

[2018-03-01 18:10] #1616 closed

[2018-03-01 18:12] #1710 closed

[2018-03-01 18:14] #1733 closed

[2018-03-01 18:14] #1754 closed

[2018-03-01 18:17] #1942 closed

[2018-03-01 18:17] #1958 closed

[2018-03-01 18:18] #1959 closed

[2018-03-01 18:18] #1961 closed

[2018-03-01 18:19] #2067 closed

[2018-03-01 18:20] #2230 closed

[2018-03-01 19:08] rica-carv commented on #2261
Err, it's been more than a year, but let me see if i can recall....
Imagine you got a shortcode that only returns numeric values: 0, 1, 2, 3, 100, 1000, etc...
Intead of complete overwritte a shortcode at theme level, can't it be a way in wrapping that value, with the shortcode wrapper, so that for instance, the value 0 shows in bold, and the 100 in italic, for instance?

[2018-03-01 19:13] rica-carv commented on #2397
@Moc Not quite, but it's kind of irrelevant right now.
If this issue arises again, i'll let you know...

[2018-03-01 19:15] rica-carv commented on #2444
@Moc Will test as soon as possible... Thanks

[2018-03-01 19:42] Jimmi08 commented on #3047
@tgtje  this message is in email:
title:  Attempted password reset
content:  Someone with IP address  xxx   attempted to reset the main admin password.

@KiraTheUltimate main administrator can't change their password. Annoying but it's for safety. Only way is use phpMyAdmin.  The explanation in code:

[code]

[2018-03-01 21:59] KiraTheUltimate opened #3057 "Line break in comments"
HI!

When I comment to a news and put a line break in my text, then edit my comment and save, the system is automatically remove line breaks and merge the text together.

[2018-03-02 00:20] tgtje commented on #2273
@Moc  did not take a quite long time into it, just tested on the php 7.2.2. version (latest nl pack):
 Yes (for me at least) it is still the same...

[2018-03-02 00:32] tgtje commented on #1566
Yes, as long as i do not switch my prefered language (aka sitelanguage) It Always seems to take the latter, cache setting on or off no diff.

[2018-03-02 18:46] SimSync opened #3058 "Issue: Boolean values are rendered differently if inline editing is enable or not"
Boolean values are rendered different in the admin tables.
- In case inline editing is disabled it will be rendered using fontawesome:
![grafik](https://user-images.githubusercontent.com/7572616/36915307-800d0920-1e50-11e8-8fe0-2ef1b0ac07ab.png)
- In case inline editing is enabled, html entities `&check;` (&check;) and `&cross;` (&cross;) will be used for rendering:
![grafik](https://user-images.g

[2018-03-03 15:34] #2504 closed

[2018-03-04 08:26] #3010 closed

[2018-03-04 08:42] yesszus opened #3059 "Language list error"
Not loading available language list.
Blank page.

![lang](https://user-images.githubusercontent.com/17430115/36943823-640c2544-1f90-11e8-8885-ac740efadefa.png)

[2018-03-04 18:57] tgtje commented on #3055
This needs clarification. Gallery image use is by assignment, not upload. Download is (depending browser) possible, but from viewing (modal) window.
Where are you trying to download from? eg from admin or media manager itself?

[2018-03-04 19:17] tgtje commented on #3059
Iff blank is meant as no connection to org, i confirm  (no versions to be seen available)
Using the v 2..1.6 files of admin/LANCHECK php and all is there...

[2018-03-04 21:58] KiraTheUltimate commented on #3055
I uploaded the pictures (with unique names)  into categories under the gallery plugin. I set the gallery plugin to enable download the images. I trying to download, when I open an image in the gallery category. When I click the Download icon and save the image, the image file name is always thumb.jpg, no matter what picture I want to download.

https://starwarsmedia.hu/galeria/star-wars-vii-resz-a

[2018-03-05 08:20] Moc commented on #2525
I am assuming this issue has been fixed as per the comments above. Please let us know if the issue still occurs and I'll re-open.

[2018-03-05 08:20] #2525 closed

[2018-03-05 08:23] Moc commented on #2530
I am assuming this issue has been resolved. If the issue is still occurring, please let us know and I'll re-open.

[2018-03-05 08:23] #2530 closed

[2018-03-05 08:23] Moc commented on #2532
@Brooniee Has this issue been resolved?

[2018-03-05 08:24] Moc commented on #2533
@fizi Is this issue still occurring in the latest version?

[2018-03-05 08:25] Moc commented on #2539
@yesszus @Jimmi08 @tetolk Are the issues above still occurring? If yes, please specify in detail what the issue is and how it can be reproduced.

[2018-03-05 08:28] Moc commented on #2544
@CaMer0n If I remember correctly this is possible right? Is there some documentation on this?
@lonalore Maybe you know more about this? :)

[2018-03-05 08:28] Moc commented on #2545
@Jimmi08 still an issue?

[2018-03-05 08:29] Moc commented on #2555
My guess is that this will be different for every server configurations.
If this still is an issue, I'd recommend having someone like Cameron look at this through Gitter so he can debug it for you.

[2018-03-05 08:34] Moc commented on #2557
@BigBoiJefe can you please verify that this feature works now?

[2018-03-05 08:35] Moc commented on #2566
@BigBoiJefe Any feedback on this?

[2018-03-05 08:36] Moc commented on #2578
Does the issue still occur in the latest version?

[2018-03-05 08:39] Moc commented on #2585
@Jimmi08 Is this still an issue?

[2018-03-05 08:44] Moc commented on #2599
@lonalore do you have any thoughts on this?

[2018-03-05 08:45] Moc commented on #2603
Did you already find the answer to this?

[2018-03-05 08:48] Moc commented on #2614
@CaMer0n Your thoughts on this one please? :)

[2018-03-05 08:49] Moc commented on #2616
@wozzaa If you need any further assistance, please contact us through the Gitter chatroom: http://gitter.im/e107inc/e107

[2018-03-05 08:50] #2620 closed

[2018-03-05 08:52] Moc commented on #2621
I am going to close this one as I think it is outside core territory. If a plugin author wants to add some event hooks in the download plugin for example, please feel free to let us know or even better feel free to submit pull-requests with additions to core.

[2018-03-05 08:52] #2621 closed

[2018-03-05 08:52] Moc commented on #2630
@CaMer0n I think all checks that are needed are included in the installation process now, right?

[2018-03-05 08:53] Moc commented on #2631
@rica-carv Is this issue still relevant?

[2018-03-05 08:54] Moc commented on #2640
Feel free to submit a pull-request with the changes needed

[2018-03-05 08:54] #2640 closed

[2018-03-05 08:55] Moc commented on #2641
Yeah I guess it always needs a default option..

[2018-03-05 08:56] Jimmi08 commented on #2585
@Moc   Yes, in special menu examples.  Or better actual solution works in some case, in other not

[2018-03-05 08:56] #2650 closed

[2018-03-05 08:57] Jimmi08 commented on #2545
Yes, at least {SITEURL} doesn't work.  Or I didn't find way how to insert home page to menu without index.php

[2018-03-05 08:57] #2654 closed

[2018-03-05 08:58] Moc commented on #2663
I guess this needs to go as a feature request into https://github.com/e107inc/multilan

[2018-03-05 08:58] #2663 closed

[2018-03-05 08:59] Moc commented on #2669
This bugfix didn't make it into core yet right?

[2018-03-05 09:01] Moc commented on #2677
@fizi do you have any thoughts on this?

[2018-03-05 09:02] Moc commented on #2678
@Jimmi08 This can be closed now right?

[2018-03-05 09:03] Moc commented on #2691
Feel free to submit this as a PR with a new shortcode

[2018-03-05 09:04] #2695 closed

[2018-03-05 09:07] Moc commented on #2696
If this is still an issue, please provide more information.
Which shortcode are you taking about? If this is a plugin shortcode, please show the code.

[2018-03-05 09:09] Moc commented on #2699
@CaMer0n Your thoughts please :)

[2018-03-05 09:13] #2678 closed

[2018-03-05 09:14] Jimmi08 commented on #2669
I think that no.

[2018-03-05 09:24] Jimmi08 commented on #2663
This is impossible to do. Discussed with CaMeRon already.

[2018-03-05 09:28] Jimmi08 commented on #2603
no

[2018-03-05 09:34] Moc commented on #2701
Please send any security related issues by email to security@e107.org

[2018-03-05 09:34] #2701 closed

[2018-03-05 09:34] Moc commented on #2702
Please send any security related issues by email to security@e107.org

[2018-03-05 09:34] #2702 closed

[2018-03-05 09:41] Moc commented on #2717
@LaocheXe Any feedback?

[2018-03-05 09:42] Moc commented on #2718
@LaocheXe Does this still happen with the latest version?

[2018-03-05 09:43] Moc commented on #2719
Closing for now, let us know if need further help.

[2018-03-05 09:45] Moc commented on #2726
@rica-carv Do you still need help with this issue?

[2018-03-05 09:45] #2727 closed

[2018-03-05 09:54] Moc commented on #2732
@CaMer0n Your thoughts please :)

[2018-03-05 09:56] Moc commented on #2742
Please search for other issues on Github regarding overriding, there's documentation available there. Let us know if you have any remaining questions.

[2018-03-05 09:56] #2742 closed

[2018-03-05 09:56] Moc commented on #2749
@G4HDU Is this still an issue?

[2018-03-05 09:57] #2754 closed

[2018-03-05 09:59] Moc commented on #2768
@CaMer0n Is there something we can do to improve error handling here?

[2018-03-05 09:59] Moc commented on #2770
@CaMer0n Your thoughts please :)

[2018-03-05 10:02] Moc commented on #2782
- You cannot post links in the title of a forum category or topic
- Forum rules is a core feature and in the default template there should automatically a link to the forum rules if I remember correctly (same for forum statistics if enabled.

Closing for now, let us know if you have any more questions.

[2018-03-05 10:02] #2782 closed

[2018-03-05 10:04] Moc commented on #2587
Closing in favour of #2790

[2018-03-05 10:04] #2587 closed

[2018-03-05 10:06] Moc commented on #2804
@BigBoiJefe Any feedback? :)

[2018-03-05 10:09] Moc commented on #2693
Is this solved by #2808?

[2018-03-05 10:09] chimcen commented on #3040
I've downloaded the lates forum plugin files from git and the problem remains...
![image](https://user-images.githubusercontent.com/22658487/36969278-5445ffd8-2065-11e8-91ff-8c1abbea9930.png)

when print out the data within the array looks good - 10 digit unix timestamp...
![image](https://user-images.githubusercontent.com/22658487/36969399-aac3cb6a-2065-11e8-9fd0-9154fb342ad1.png)

does anyone ha

[2018-03-05 10:13] Moc commented on #2841
@Serios Has this issue been resolved? Do you have any remaining questions?

[2018-03-05 10:19] Moc commented on #2867
@Jimmi08 Can this be closed with the PR?

[2018-03-05 10:20] Moc commented on #2385
Closing in favour of #2874

[2018-03-05 10:20] #2385 closed

[2018-03-05 10:20] Moc commented on #2874
Correct

[2018-03-05 10:21] Moc commented on #2883
@Jimmi08 Did you find some time to test the fix already? :)

[2018-03-05 10:21] Moc commented on #2885
@Jimmi08 .. 😄

[2018-03-05 10:23] #2894 closed

[2018-03-05 10:24] Moc commented on #2897
What's the status on this one?

[2018-03-05 10:25] Moc commented on #2901
Closing in favour of #2146

[2018-03-05 10:25] #2901 closed

[2018-03-05 10:27] Moc commented on #2911
Did you try tweaking your settings?

`Admin Area > Preferences > Security & Protection > Session Lifetime`

[2018-03-05 10:28] Moc commented on #2913
@oxigeno2 can you please submit your fix as a pull-request?

[2018-03-05 10:29] Moc commented on #2917
@lonalore could you please commit your fix? thanks!

[2018-03-05 10:30] #2867 closed

[2018-03-05 10:30] Moc commented on #2919
Please create a new issue if the 'anonymous' issue still occurs.

[2018-03-05 10:30] #2919 closed

[2018-03-05 10:31] Moc commented on #2928
@Serios Any feedback? :)

[2018-03-05 10:39] Moc commented on #2931
@lonalore any idea?

[2018-03-05 10:40] #2934 closed

[2018-03-05 10:41] Moc commented on #2936
@AlexL777 Did you re-check to make sure the checkboxes are correctly set?

[2018-03-05 10:42] Moc commented on #2937
Closing in favour of #2425

[2018-03-05 10:42] Moc commented on #2937
Related #2425

[2018-03-05 10:44] #2952 closed

[2018-03-05 10:45] Moc commented on #2954
@Jimmi08 any feedback? :)

[2018-03-05 10:46] Moc commented on #2963
They can definitely be used by other areas as well, even plugins.

[2018-03-05 10:46] #2963 closed

[2018-03-05 10:56] Moc commented on #2991
Closing in favour of #2146

[2018-03-05 10:56] #2991 closed

[2018-03-05 10:59] Moc commented on #2994
1. https://github.com/e107inc/e107/issues/2284
2. #2888

[2018-03-05 10:59] #2994 closed

[2018-03-05 11:01] Jimmi08 commented on #2954
I solved it somehow, no idea how now.  I will create new issue if this happens again. Thank you

[2018-03-05 11:01] #2954 closed

[2018-03-05 11:01] Moc commented on #2995
1. Override the core template
2. Use this shortcode `{PAGE_NAVIGATION: template=navdocs&book=7&pages=true}` or `{PAGE_NAVIGATION: template=navdocs&book=7&pages=false}`

[2018-03-05 11:03] Moc commented on #3017
@Nastradoomus Has your question been answered? :)

[2018-03-05 11:04] #3042 closed

[2018-03-05 11:04] #3047 closed

[2018-03-05 11:05] #2616 closed

[2018-03-05 11:07] Moc commented on #3049
Related: #1767 and #2017

[2018-03-05 11:13] Moc commented on #3058
Cannot find the other issue now but I am pretty sure this has been already mentioned. I will keep this issue open until I can find the other one.

[2018-03-05 11:21] Jimmi08 commented on #3058
It was discussed on gitter too

[2018-03-05 11:31] tgtje commented on #3055
I understand, the extension behaviour is as should (depends on actual image used).
This should explain  some more (last comment) https://www.e107help.org/1661/gallery-expand-images-in-wrong-size

[2018-03-05 11:57] Jimmi08 opened #3060 "Q How I can change info message in admin_ui when using custom method"
I have field what is managed via custom method.   Value is in fact from other table.
And I update this table in beforeCreate() and beforeUpdate() methods.
But because it is from other table (and this field is set data=>false) there is always message
Nothing updated as no changes were made.

Is there way to change this message?  Thanks

[2018-03-05 15:37] Deltik commented on #2897
This was fixed in #3025 by implementing tree models in pure PHP.  Sorting for tree models was introduced in #3031.

Bugs caused by those changes were fixed in #3032, #3041, #3045, and #3046.

[2018-03-05 15:45] fizi commented on #2677
I think need admin's options for tooltip (position) on link. I also met such a situation when it (socialshare) was at the top of the page.

[2018-03-05 15:46] fizi commented on #2533
I think the problem solved.

[2018-03-05 15:55] #2533 closed

[2018-03-05 15:56] Moc commented on #2897
@Deltik: perfect, thanks :+1:
Closing this issue.

[2018-03-05 15:56] #2897 closed

[2018-03-05 16:02] LaocheXe commented on #2718
Seems to be working correctly

[2018-03-05 16:02] #2718 closed

[2018-03-05 17:11] tgtje commented on #3052
Just tested (php 7.1.1 + BS3) functioning, can not replicate
![slide](https://user-images.githubusercontent.com/1811857/36988978-9e59fcd8-20a0-11e8-866f-2e79638f25be.jpg)

[2018-03-05 19:13] BigBoiJefe commented on #2804
I'm confirmed that this is working now.  While the news category had SEF values it could have just been an issue with the cache, or my brain.  ;)

[2018-03-05 19:13] #2804 closed

[2018-03-05 19:16] BigBoiJefe commented on #2555
Yeah, this is an odd one because I was able to use a different SMTP host and I no longer have this issue.  For me, i used mailgun, and I had no problems, though, I agree with @Moc that it may have just been a configuration issue with my previous SMTP host.

[2018-03-05 19:16] #2555 closed

[2018-03-05 19:18] BigBoiJefe commented on #2566
This was caused by the forum categories not having the correct permissions.

[2018-03-05 19:18] #2566 closed

[2018-03-05 20:49] fizi commented on #3052
I pus the button and images not sildes, only if I pus the button the page jump to top of page.

[2018-03-05 21:43] KiraTheUltimate commented on #2995
@Moc
I can't find the core template file. Can you help me?
Thx!

[2018-03-06 18:26] BigBoiJefe opened #3062 "Loading user list results in 502 Bad Gateway with large user database"
I have a user database of roughly 360,000.  When I try and access the user list i get a 502 Bad Gateway.  I've tried increasing php memory to 5000M, however, I now get 504 Gateway Time-out

[2018-03-06 18:27] Deltik commented on #3062
Caused by #3025

[2018-03-06 20:21] SimSync opened #3063 "e_form::number() allows only positive integers?!"
Is there a reason why e_form::number() renders an input field that allows only positive integers?
At least i have the need for negative integers now and than.
Wouldn't it be a possibility to add an option ot "overwrite" the pattern attribute of the input? This could keep the default "no negative integers" behavior, but add the chance to allow also negative integers or double values by setting a di

[2018-03-06 21:03] CaMer0n commented on #3063
Indeed, changing the pattern is a good idea, or a 'pattern' option added. Normally we can use min = 0 to restrict to only positive numbers.

[2018-03-06 21:28] CaMer0n opened #3064 "TODO: Upgrade datetimepicker to v4 and test thoroughly."
http://eonasdan.github.io/bootstrap-datetimepicker/

[2018-03-06 22:42] BigBoiJefe opened #3065 "Admin area IP address search yields no results"
Hi, when I search for an IP in the admin user area, it displays "No results" however, I know they exist.  I'm tying to do a search for a single ip or a portion of an IP and find out how many users are duplicates

Thanks.

[2018-03-07 14:26] tgtje commented on #3052
I can not replicate (and have a basic install); clicking the buttons (prev/next) results in going to top of page seems to indicate that either jQuery has influence OR another script (iff runs) might be there to upset things.

You  could for testing open up plug/... js/gallery.cycle js line 14 + 42 >  ($(context).find("#gallery-slideshow-content")) and add a / after the #  >  $(context).find("#/gal

[2018-03-07 17:32] rica-carv commented on #2631
Yes...

[2018-03-07 17:37] rica-carv commented on #2719
Even forcing the theme to UTF-8, it still persists.....
Anyone has any more ideias?
Thanks...

[2018-03-07 17:39] rica-carv commented on #2726
The problem still persists, but i've solved my issue the way i stated above....

[2018-03-07 17:40] #3062 closed

[2018-03-07 20:00] BigBoiJefe commented on #2807
Do you know what specifically I need to change?

[2018-03-07 21:58] CaMer0n commented on #2631
@rica-carv Is this a pref or a database field? I'm assuming you're using a type='method' ?

[2018-03-08 00:35] BigBoiJefe opened #3067 "Download Icon - replace with messgae"
I have roughly 50,000 downloads, all of them require that the user has an account in order to download.  I would love it if the download button could be replaced with the message "You must login or create a free account to download".

[2018-03-08 03:41] LaocheXe opened #3068 "Issue: Menu Manager/Old Theme"
Having an issue where Menu Manager no longer works on https://clancoyote.com website.

Admin Area > Menu Manager
![capture](https://user-images.githubusercontent.com/5818022/37131816-f59b3880-224f-11e8-9dd4-6cb257f97c0b.JPG)

I check a menu I want to add, click the Go button but that doesn't work - This is a v1 theme that did get a little update to work with e107 v2 (used bootstrap 3 files and twe

[2018-03-08 12:31] rica-carv commented on #3067
Redefine the download button shortcode ({DOWNLOAD_VIEW_LINK} or {DOWNLOAD_VIEW_MIRROR}) in your theme to do exactly that...

[2018-03-08 20:41] dimante opened #3069 "Users able to verify email and sign in without admin approval when admin approval is set"
![image](https://user-images.githubusercontent.com/4084331/37175275-a8bf049e-22de-11e8-814d-ac83ff096ce0.png)

With the settings above users are immediately able to log in without admin approval.. Latest Git.

-D-

[2018-03-08 21:35] tgtje commented on #3068
Just informational (seems identical to a thing i ran into) try uninstalling plugins 1 at a time (the older ones), can be that some menu php file interferes (on layout).. ps e_shortcode anteup throws warning there.. ( line 148 or 184

[2018-03-08 22:15] fizi commented on #3052
You right. The slide menu work, only need more than 4 pics. If less pics the slider not work.

[2018-03-08 23:45] CaMer0n commented on #2732
@rica-carv Do you have something like this in your plugin.xml ?

[code]

[2018-03-08 23:46] CaMer0n commented on #2719
Looks like a language file saved with the wrong encoding.

[2018-03-09 00:06] CaMer0n commented on #3069
@dimante is e107 sending an email during signup? (with your settings)

[2018-03-09 00:24] CaMer0n commented on #2726
css print media is the better way to go.

[2018-03-09 00:25] dimante commented on #3069
Yes, the email is functioning, the people are verifying the account then it
is going active instead of waiting for admin approval...

Best Regards,

John Gates, CISSP

*Let’s Connect!*

<https://twitter.com/johngatesIII>   <http://www.linkedin.com/in/JohnGates>

On Thu, Mar 8, 2018 at 6:06 PM, Cameron <notifications@github.com> wrote:

[2018-03-09 00:55] BigBoiJefe commented on #3065
Searching for the full IP is working.  Would it be possible to search for a portion of an IP or a wildcard, like 44.281.8.*

Thanks!

[2018-03-09 01:03] BigBoiJefe commented on #2557
I am sooo confused.  Where is the option to list *@domain.com

[2018-03-09 05:12] CaMer0n commented on #1517
I recently had this issue on my localhost. I finally traced the cause, but not the fix just yet.

If the signup page contains an error prior to the form, for example, an <img> tag src pointing to a missing image (which loads a SEF URL of the 404 Error page), then the e-token will be refreshed (due to class2 being loaded by index.php [single-entry point of SEFURLS]) and when the form is submitted t

[2018-03-09 08:59] rica-carv commented on #2631
@CaMer0n It's a pref:
[code]

[2018-03-10 01:09] CaMer0n commented on #2631
@rica-carv Thanks. is check_opts the name of the pref? Also, does $pluginName match your plugin folder?

[2018-03-10 11:45] Jimmi08 opened #3070 "missing LAN string after install Featurebox"
![image](https://user-images.githubusercontent.com/5429548/37241885-c89013b6-2460-11e8-9c84-276d15c91b1e.png)

[code]

latest github, only English, just installing FB

[2018-03-10 14:46] LaocheXe commented on #3068
Tried that, no go

[2018-03-10 19:47] LaocheXe commented on #2717
Tried a few from e107 website, and some from github, and even tried some that I've made on my end, no error - page refreshes to installed plugins, and I went looking and could not find any of the plugins I tried to upload in plugin manager.

[2018-03-10 19:51] LaocheXe commented on #2586
Still displaying incorrectly for me, even with clear cache, refresh - happens on mobile devices, and on different web browsers. Also checked out if it's just the web host, tried on other sites hosted off of nfoservers, and ifastnet - same issue

[2018-03-10 20:02] LaocheXe commented on #2392
Lets think on how this can be executed - so where should the custom code be stored, in a database table - I'm thinking in e107_core as theme_code???

Next, gotta have the main e107 code to detect if you want to override the default theme files - or maybe add a check box in theme manager for that theme to enable override or don't.

Another thing to think about, for a new theme, have the site pull t

[2018-03-10 20:30] LaocheXe commented on #1042
Yes, can't remember much, but I do believe it was an issue with the main admin account (ID as 1) - Can't test it further due to lack of having them websites up anymore. maybe in the future,

[2018-03-10 20:40] Jimmi08 commented on #2392
@LaocheXe I admit I have no idea you are talking about. What is overriding default theme?
This tool just saves you time if you are customizing already existing theme, nothing more. In e107 there will be no system parent/child theme as wordpress have.

I use parent/child theme system only because licence limits. I have one parent theme with all licenced assets and child theme for custom templates (

[2018-03-10 21:32] CaMer0n commented on #2586
@LaocheXe Please paste the HTML of the button causing trouble.

[2018-03-10 21:37] CaMer0n commented on #2586
@LaocheXe How does it look after the last commit?

[2018-03-10 21:38] CaMer0n commented on #2717
@LaocheXe github zip files will fail. They need to be extracted and zipped with the correct folder names etc.

[2018-03-10 22:59] LaocheXe commented on #2586
Works, can now see the arrow button (next/forward)

[2018-03-11 01:04] CaMer0n commented on #2586
Thanks :+1:

[2018-03-11 01:04] #2586 closed

[2018-03-11 02:16] CaMer0n commented on #2996
@Jimmi08 Please try again with the latest commit. thanks.

[2018-03-11 08:14] yesszus commented on #2539
Registrations doesn't work.

[5]Authentication failed!
Twitter returned an error.

Github: [5]Error SQL Insert Error

[2018-03-11 09:06] yesszus commented on #3070
Solved!  #3071

[2018-03-11 12:25] tgtje commented on #3068
For what it is worth.. can not really see what is going on.. take alook (it are notices, but might give some clue: (spec. menu class)
Notice Undefined variable: expand_autohide, Line 341 of /home/clancoy1/public_html/main/e107_themes/cytn/theme.php
Notice Undefined index: menu_title, Line 646 of /home/xxx/public_html/main/e107_handlers/menu_class.php
Notice Undefined index: menu_text, Line 668 of

[2018-03-11 17:41] arunshekher commented on #2284
@Moc, The issue still persists, I tested on a fresh install done yesterday.

Apparently it happens only for the site Admin(first user).

Other users' (created by admin) posts counts are displayed correctly in their profiles irrespective  of the fact that they are creating a new topic or replying to a topic created by admin or another user.

[2018-03-11 21:03] fizi opened #3072 "Gallery (Install)"
If I install the Gallery plugin - The gallery put wrong link into the main menu.
![gallery](https://user-images.githubusercontent.com/86780/37258413-fd8effce-2577-11e8-85b7-d7cd87016d9f.jpg)

[2018-03-12 07:19] arunshekher commented on #1524
@Moc, As far as the local confines of a testing server goes this is not an on-going issue. I tested it on a fresh install of 2.1.8 (git) and it works fine. Didn’t get chance to try on a live server.

[2018-03-12 15:23] Moc commented on #1524
Related #2888

[2018-03-12 15:24] Moc commented on #1524
I'm going to keep this open for a while until I've had time to look at the code. There may be something wrong here.

[2018-03-12 15:25] Moc commented on #3072
This looks like the 'friendly URL' which is set by default. Do you use 'friendly URLs'?

[2018-03-12 15:25] Moc commented on #3068
Did you check the browser debug console for any javascript related errors?

[2018-03-12 15:41] fizi commented on #3072
Friendly URL is default, I don't changed it.

[2018-03-12 18:41] rica-carv commented on #2732
@CaMer0n Yes, i do....

[2018-03-12 18:43] rica-carv commented on #2719
I've checked all the enconding on the language files, inclunding the one on the theme itself, and are all encoded as UTF-8.....

[2018-03-12 18:45] rica-carv commented on #2726
@CaMer0n css print media can't handle email sending.
That was my primary question. The issue is that all the functions declared in e_emailprint.php conflict each other if called from different plugins...

[2018-03-12 18:48] rica-carv commented on #2631
@CaMer0n Yes, check_opts#### is the name of the prefs... And$pluginName match the plugin folder, yes...

[2018-03-12 20:02] KiraTheUltimate opened #3073 "Friendly url problem"
Hi!

When I using friendly url on news, the system creating signs in the url, like this (%0A):

https://starwarsmedia.hu/hirek/star-wars-lazadok-%0As04e15-16-magyar-%0Afelirat.html

Then when I edit the post and save, the url restored. ->

https://starwarsmedia.hu/hirek/star-wars-lazadok-s04e15-16-magyar-felirat.html

It's a problem, because when I share the post on facebook, then edit the post, t

[2018-03-12 22:48] CaMer0n commented on #3073
@KiraTheUltimate What should the URL look like for your news item?

[2018-03-12 22:49] CaMer0n commented on #2631
@rica-carv Could you paste the $prefs value here? Silly question, but the plugin is actually installed, correct?

[2018-03-12 22:55] CaMer0n commented on #2726
@rica-carv Indeed. It's all still using the v1.x specifications. A new v2.x specification needs to be made.
And I believe email and print should be separated.

[2018-03-13 00:05] CaMer0n commented on #2448
If I remember well, its for when a radio button is enabled it should display a hidden container. The container needs to be made separately.

[2018-03-13 00:06] CaMer0n commented on #3068
@LaocheXe  I would need your theme files in order to test. You can send thru gitter if you wish.

[2018-03-13 01:47] sanslash332 commented on #1524
Hello guys, sorry for don't report in a while. Well, with the current commit that i have installed on my site, ver: 24e6f033bf (i can't find a better number in the settings, this is the number that i find at e107-system/<commit number>) well, the track option at forums works fine. The notifications are sent when somebody post a new reply (and if you have the topic tracked) or when you are mentione

[2018-03-13 01:50] LaocheXe commented on #3068
https://github.com/LaocheXe/CYT-Theme

[2018-03-13 07:05] KiraTheUltimate commented on #3073
The question refers to what?

In the url settings, I using this: "https://starwarsmedia.hu/news/news-title"

So in this case, the correct url should be this: https://starwarsmedia.hu/hirek/star-wars-lazadok-s04e15-16-magyar-felirat.html

But when I save the post, the url still this: https://starwarsmedia.hu/hirek/star-wars-lazadok-%0As04e15-16-magyar-%0Afelirat.html

So in the url, these character

[2018-03-13 08:42] Moc commented on #1524
@sanslash332 Thanks for your reply. The string you mentioned is not the version number but the hash for your installation. For security reasons I removed it from your post.

[2018-03-13 08:42] Moc commented on #1524
I am assuming the issue is no longer present in the latest files. Please let us know if anyone is experiencing this issue and I'll re-open.

[2018-03-13 08:42] #1524 closed

[2018-03-13 10:18] tgtje commented on #3068
Info: did test it, same outcome as issue..Cause ???  So definitely in theme but ....?

[2018-03-13 12:45] sanslash332 commented on #1524
a OK, thanks @Moc
For future issues where is the exact version / commit number?

I can't found it at about tab on the settings, or somewhere else on the admin panel.

[2018-03-13 19:17] rica-carv commented on #2631
@CaMer0n Well, i might have some mixed up things here, but anyway here it goes.
I'm defining the $prefs array as this:
`....  				'_checkboxgroup0'  => array('title'=> LAN_EUSER_ADMIN_623, 'tab' => 0, 'type'=>'method','help' => LAN_EUSER_ADMIN_623H),....`

and the checkboxgroup0 function is this one:
[code]
It renders the admin_ui correctly, but it simply won't handle the fields settings.
And i mi

[2018-03-13 19:28] rica-carv commented on #2863
I don't know if its related or not, but i got FONTAWESOME defined in my theme (`define("FONTAWESOME", 	4);`), and all my icons are rendered as glyphicons.....
Why?

[2018-03-14 00:41] CaMer0n commented on #3068
The buttons are there, just hidden. Not sure why yet.

[2018-03-14 01:42] CaMer0n commented on #2631
Correct. If your field is called `_checkboxgroup0` then e107 will attempt to save `$_POST['_checkboxgroup0']`, but that's no what you're posting. You're posting `check_opts`, so unless you have a field called `check_opts`, nothing will be saved.

[2018-03-14 01:43] CaMer0n commented on #2863
`fa-bell` for FontAwesome, `bell` for glyphicons.

[2018-03-14 01:46] CaMer0n commented on #2699
It's normal that errors will be thrown since global variables (used in HEADERF) are not available inside functions unless specified. Call it a limitation of PHP. ;-)

[2018-03-14 02:06] Evgura commented on #3073
This is probably the problem. Try without these " accented characters"

[2018-03-14 02:16] LaocheXe opened #3074 "Issue: Featurebox Error"
On a website im working on, everyone can see an error about the featurebox plugin, issue is - that plugin is not installed....

"There are no featurebox items assigned to the bootstrap_carousel template."

https://f4fgame.com

[2018-03-14 07:03] KiraTheUltimate commented on #3073
The original news title is: Star Wars Lázadók s04e15-16 Magyar Felirat

Accented characters is only in one word: Lázadók

But when I creating a news post, and in the settings creating friendly url, the system generating this url: star-wars-lazadok-s04e15-16-magyar-felirat

So it's look like good. But when I save the post, the url is wrong and put in the signs: %0A

The Hungarian language is requir

[2018-03-14 19:05] rica-carv commented on #2863
@CaMer0n Previously the `{GLYPH:type=bell}` rendered a Fontawesome bell, not a Glyphicon.
Now it renders a Glyphicon....
It has something to do with latest pulls, because i got a earlier V2.1.7 live site working and rendering the Fontawesome icon, with exactly this same shortcode....

[2018-03-14 19:47] BigBoiJefe opened #3075 "Files stored on a different server - Protect with ngx_http_secure_link_module"
I currently have a bunch of files stored on a file server and I have them stored in e107 as a direct download with referral blocking.  The problem with that is that the referral can be easily spoofed, I'm looking for more security for the downloads.

Thanks!

[2018-03-15 08:54] tgtje commented on #3074
Probably it is (supposing Gameplus v1? theme php > Shortcode :  {MENU=featurebox} li 187,222 that interferes

[2018-03-15 17:33] rica-carv commented on #2631
@CaMer0n Thank you, but maybe i'll end up using this, but with several options, of course...: https://www.jquery-az.com/boots/demo.php?ex=34.0_1
I think it's more user friendly in all platforms, what do you think?

[2018-03-15 22:58] kreossino opened #3076 "white page on install - bug"
e107_handlers/session_handler.php

PHP Fatal error: Can't use method return value in write context in e107_handlers/session_handler.php on line 904

Errors parsing e107_handlers/session_handler.php
For correct could write “defined” not empty. (http://php.net/defined)

[2018-03-16 14:00] Moc commented on #3076
PHP version please?

[2018-03-16 17:23] rica-carv commented on #2863
Even prevoiusly we could prevfix a icon called via GLYPH shortcode or function with icon-* and it would render a regular icon with the name specified. Now it ALWAYS renders a Glyphicon....

[2018-03-16 18:54] rica-carv commented on #2631
This is really getting me off....
I've switched to radio_switch, the pref is correctly on the database plugin prefs, the $_POST outputs a different value from the on in the database, and plain and simply it's not updated!!!!!!!!!!

What the heck i've got so special that this plain and simple isn't updated?
If i put the radio_witch on a regular table line fields, it's updated!!!!!!!

How i miss the

[2018-03-16 20:17] Crytiqal opened #3077 "Google sign in"
Google
https://developers.google.com/identity/sign-in/web/sign-in

Step 1
![screenshot-2018-3-16 integrating google sign-in into your web app google sign-in for websites google developers](https://user-images.githubusercontent.com/1153508/37542594-fbea65c4-295e-11e8-8a14-859a2fc97d9f.png)

Step 2
![inkedscreenshot-2018-3-16 integrating google sign-in into your web app google sign-in for websites g

[2018-03-16 20:27] Crytiqal commented on #3077
When I add the redirect URI to the oauthclient credentials in the google developer console, I get redirected to a blank page on my website.

[2018-03-16 20:35] Crytiqal commented on #3077
What I like to achieve is that people can not register to my website, but only log in using their Google account.

[2018-03-16 21:21] LaocheXe commented on #3077
@Crytiqal I use something simular but with Steam - I also used the theme templates, which removes the user login details for the menu and login.php - all they see is the Steam Link button.

Now your one screen shot, ur missing the Scope, for me I have Scope set as email

maybe try that, if nothing, then create a new ID/Secret and try them

[2018-03-17 08:13] kreossino commented on #3076
two webserver:
the first with 2 php-versions. PHP 5.6 and PHP 7.0.27-0+deb9u1 (cli)..
the next this: PHP 5.4.45-0+deb7u2 (cli)

[2018-03-17 12:50] Crytiqal commented on #3077
I added 'profile email' (without quotes) in the scope.
I also added https://www.videodocker.com/index.php AND https://www.videodocker.com/?route=system/xup/endpoint&hauth.done=Google in the allowed redirect URI's.

I get to login screen to choose which google account to use. I login there, and I return to an error 500 blank page, and consequently I can't access any page on my website anymore until

[2018-03-17 15:51] dimante commented on #2996
I can give this a go.  It's for the site template I am using.  Will post back here.

[2018-03-17 16:07] dimante commented on #2996
This is now working Latest GIT downloaded 3/17/2018 - Thanks!

[2018-03-17 16:40] #2996 closed

[2018-03-17 17:27] Moc commented on #3077
In process of debugging, replicated your process thus far. Also getting the 500 error.
Will pick this up later again.

500 error:
[code]

[2018-03-17 17:31] Moc commented on #3077
After enabling the `Google+ API` in the Google developer console. Sign in with my googel account worked.

I have my scope set to `https://www.googleapis.com/auth/plus.login`

[2018-03-17 18:20] rainecc opened #3078 "White page on install - php-xml package needed"
PHP 7.1.3

I followed the instructions to install e107 fairly carefully and phpinfo() showed that "xml" was installed. However, install.php failed immediately with a white screen. The error in the logs was:

It seems that e107 also requires the **php-xml** package which has dom, xmlreader, xmlwriters and others.

Please improve the error handling on install startup - if php-xml (or any other hard

[2018-03-17 22:39] SimSync commented on #3063
Maybe this is a possible solution? https://stackoverflow.com/questions/19011861/is-there-a-float-input-type-in-html5#19012837

``<input type="number" step="0.01">`` to generate an input that allows a float value with 2 decimals.
``<input type="number" step="1" min="-1">`` to allow only integer values starting from -1
No need to use pattern.

[2018-03-18 08:25] Jimmi08 commented on #2539
LInkedin:
![image](https://user-images.githubusercontent.com/5429548/37563984-2c788afc-2a8d-11e8-8c03-3f3296f16391.png)

This address needs to be added to linkedin to get this work:
![image](https://user-images.githubusercontent.com/5429548/37564007-bb6d3280-2a8d-11e8-8026-2df6b8016254.png)

But admin says
![image](https://user-images.githubusercontent.com/5429548/37564012-d2544358-2a8d-11e8-8336-

[2018-03-19 17:20] Moc commented on #1524
@sanslash332 Sorry for the late reply. There is no versioning available in the admin area if you are using the Github version. You could refer to the date when you last updated, or to be more accurate, the latest commit to the e107 repository when updating. For instance `75ff5fc36d56fecbb1ee2181a30d9acadc23bf2e`

[2018-03-19 18:21] CaMer0n commented on #3076
@kreossino Please try with the latest commit. Thanks

[2018-03-19 18:23] CaMer0n commented on #3063
Great! Feel free to send a pull-request if you wish. Default behavior should remain as it is now.

[2018-03-19 18:27] CaMer0n commented on #2863
@rica-carv You're correct, previous builds did do that, but it came with a performance hit.

[2018-03-19 18:28] CaMer0n commented on #2996
Thank you @dimante ! :+1:

[2018-03-19 18:42] CaMer0n commented on #2603
You can't save prefs in json format, because they are saved in the 'array' format already.
You can save DB fields in JSON format though.

[2018-03-19 18:45] CaMer0n commented on #2631
v1.x had no admin ui at all. If you want to manually save, place your code inside init() with a check for $_POST.

[2018-03-19 18:47] CaMer0n commented on #3078
@rainecc Thank you! :+1:

[2018-03-19 19:39] Jimmi08 opened #3079 "e_module.php and SEF URL in use"
I have old plugin that extends download plugin functionality with its own e_module.php

If I set to use no sef url -
![image](https://user-images.githubusercontent.com/5429548/37614174-5283543e-2baa-11e8-96cc-b6986cc8af0b.png)
everything works.

But if I use SEF-URL,  some of  e107 constants are not defined -  e_PAGE, e_QUERY,

How I can replace this check  e_PAGE == 'request.php'  with SEF-URL ON

[2018-03-19 20:15] KiraTheUltimate opened #3080 "YouTube video problem"
Hi Guys!

So, when I writing a news post or editing a custom page, and I want insert to a youtube video in the text body, I using Media Manager Video. I paste the youtube video code into the manager, and I choose the video and put it to the text body.
The problem is, when put it to the text body, after the video, it leaves out a large blank space, like this: http://www.kephost.com/images/2018/03/1

[2018-03-19 20:32] rica-carv commented on #2631
Yes, v1.x had no core admin ui, but it was way more flexible, we could do almos anything in admin ui....
Now we need to go deep in the code to accomplish simple things, like the checkboxes groups above....

Anyway, no need to cry because spilled milk, i got to get over it....

On my way to the drawing board....

[2018-03-19 22:34] SimSync commented on #3063
Hmm, unfortunatly the min attribute is ignored if you enter a negative number via keyboard. You can enter a negative number and submit even if min is set to 0.
Pattern is not a full solution, because you (i) can't create a pattern that limits the allowed values to a certain range (e.g. -1 to 20 or 10-20).
Need to do some further investigations.

[2018-03-20 08:22] Jimmi08 commented on #3079
Maybe this better helps to explain:

If I print constants in e_module after clicking on download button"

[code]
Without SEF-URL:

[code]

With SEF-URL:

[code]

There is already code in application.php to solving this for custom plugins
![image](https://user-images.githubusercontent.com/5429548/37643116-ccae0572-2c1f-11e8-8c6f-6fcedf75fc8f.png)

But it doesn't work for core plugins (news, downloa

[2018-03-20 11:47] Jimmi08 opened #3081 "multisite feature ignores database prefix"
This develop feature:

![image](https://user-images.githubusercontent.com/5429548/37652693-a3336e90-2c3c-11e8-9a44-4ded448e1e67.png)

is ignoring database prefix for inserting data.

Tables are created correctly, but data are inserted  with the main site prefix
(this happens with version if you have one database for more multisites  and only difference is prefix)

[2018-03-20 16:16] sanslash332 commented on #1524
OK @Moc, thanks.
Well is hard to check, because i don't have git exactly on the deploy server, but i can see when i need it for future reports. ¡thanks!

[2018-03-20 16:35] CaMer0n commented on #3081
I need to deactivate that.. or move it to the multisite plugin.

[2018-03-20 18:22] Jimmi08 opened #3082 "plugin name vs. regex in e_url.php"
Custom plugin name is gold_download

I notice this error:

![image](https://user-images.githubusercontent.com/5429548/37674637-a25591ce-2c73-11e8-9bb4-554f116c8db0.png)

I think it's because word "download"  in plugin name.

But path is /e107_plugins/gold_download/gold_dl.php
-  so why is eurl config for different plugin used?

[2018-03-22 13:50] rica-carv commented on #2631
I was hoping not to have to reinvent the wheel...
Make a custom save prefs, when they already are defined in the plugin xml and on the database, is anklward, since that is already hadled in the core, no?
Why doesn't the core save the pref when it's present in the POST?
Currently it's what's happening....
The POST has the value and name correct, as it its in the database and plugin xml, but it simp

[2018-03-23 02:42] Abidkatib opened #3083 "Istallation Themes issue"
Hi,
i'm istalling the e107 cms on my localhost but why the themes don't shown up in the step 6 of the istallation of e107?

![abid_e107](https://user-images.githubusercontent.com/37679893/37808695-a9106a6c-2e43-11e8-9ab7-1587ab808db0.jpg)

[2018-03-23 17:08] tgtje commented on #3083
@Abidkatib what files do you use, best to overwrite or use the files here from github.
You can find more about this issue in recent (closed) posts #2933 #3018 #3027

[2018-03-23 23:34] Abidkatib commented on #3083
Hi
I downloaded the files from github and again still can't see the themes in STEP 6 and can't move on.

please advice me
thanks

[2018-03-24 09:12] tgtje commented on #3083
What is the 'build'for your localhost? Wamp, Xampp Ubunut, etc...

[2018-03-24 15:32] rica-carv commented on #3083
And PHP version?

[2018-03-25 00:04] CaMer0n commented on #2631
Did you try using this code?

    $text .= $frm->checkbox('_checkboxgroup0['.$k.']

[2018-03-25 07:02] rica-carv commented on #2631
@CaMer0n I'm using this one: `$text .= $frm->checkbox('check_opts['.$k.']',$k, $checked, array('label'=>$t));`
I need it's id to be check_opts because of the core js, to check and uncheck all checkboxes from the same group...
Isn't almost the same thing?

[2018-03-25 09:09] tgtje commented on #3083
That is the correlation @rica-carv ; since the previous issues were on xml (and step 6 involvement (uses) and again recent issues when php xml is not running (or installed). "it all looks" alike... (and such opens up the case for..)

[2018-03-26 18:53] rica-carv commented on #2631
I hope someone could make me understand this, because i'm really getting lost in this...

This issue happens also on checkboxes, but currently i'm testing it on switches, so the issue applies to both (checkboxes & switches)...

The $_POST var has this on form submit:
` ["e-token"]=> string(32) "6e8bac9ed8ba6dd255488b204efaaeab" ["friends"]=> string(1) "1" ["friends__switch"]=> string(1) "0" ["frco

[2018-03-27 09:54] rica-carv commented on #2444
@Moc It seems it's somehow related with #2631, but i switched from the checkboxes to bs3 switches, so now i got the issue in #2631....

[2018-03-27 10:07] rica-carv commented on #2863
@CaMer0n I understand that, but if i'm allowed, just my two cents:
Before we could change icons sitewide with a simple setting, the FONTAWESOME constant, now we got to got change every and single GLYPH shortcode to change them accordingly...
Furthermore, if we don't want any FONTAWESOME on a core template that uses GLYPH shortcode with fa-, we need to make that changes in the theme itself, on a co

[2018-03-27 10:18] Jimmi08 commented on #2863
My 2 cents.
There should be never hardcoded fontawesome icons in core template.  I am sure that at many places they are inserted via shortcode because FONTAWESOME is set as true. Otherwise there is used old image or something like that.

To complicate things - I often use bootstrap and fontawesome but I want images as icons.
Similar way like coment icon is solution.  - constant - if not set in the

[2018-03-28 18:37] rica-carv commented on #2863
@Jimmi08 I agree with you, it should no be any hardcoded or forced icons on the core, they all should rely on the icons family choosen by the theme author.
And the GLYPH shortcode (or the toGlyph) had the functionality to do exactly that. Had....
Because now it doesn't!
Previously i could call the GLYPH shortcode without any specific font icon name, and it rendered a i element with specific icon c

[2018-03-29 21:36] fizi opened #3084 "News grid menu shortcode no work"
If I use this shortcode:
`function sc_bootstrap_grid_news_latest(){

    $template = "

        {MENU: path=news/news_grid&limit=4&category=0&source=latest&featured=0&layout=latest-news}

    ";

    $text = e107::getParser()->parseTemplate($template,true);

    return $text;

  }  `
and put { BOOTSTAP_GRID_NEWS_LATEST } the shortcode break my site.
and if I acivate the News menus (either) the sit

[2018-03-30 07:41] Moc commented on #3084
Please elaborate what you mean by 'break':
Can you show a screenshot? Do you try the debug mode to see if there's an error message?

[2018-03-30 08:07] fizi commented on #3084
Where I put the shortcode, after this not show the page and all JavaScript break (not work).

[2018-03-30 08:48] Moc commented on #3084
'Not show the page'. Does this mean you get a completely blank/white page?

Also, please check the browser console for JavaScript errors.

[2018-03-30 09:08] fizi commented on #3084
Ok, I put back the code now and show page: http://fizithemes.hu/testsite5/index.php

[2018-03-30 10:51] Moc commented on #3083
@Abidkatib Please provide your PHP version and if possible more information on your server configuration (installed modules for example)

[2018-03-30 10:53] Moc commented on #3074
Probably hardcoded in theme or plugin as shown by Tgtje.

Interesting to see if we need to add a check whcih verifies if a plugin is installed if a shortcode of that plugin is called by a third party theme or plugin. @CaMer0n What do you think?

[2018-03-30 11:56] Moc commented on #3084
Ok, this looks like a PHP fatal error because the footer is not rendered. Please enable debug mode and use the e107 browser addon to locate the PHP error. This will tell us what is wrong, and provide clues on how to fix it

[2018-03-30 13:09] Moc commented on #3084
I manually debugged this as far as I could.

I traced the problem here, in `news_class.php` around line 474:

[code]

If I remove the if else, and only load the second part (the 'else' statement) like below, it all works properly:

[code]

@CaMer0n What does this mean? How to fix this?

[2018-03-30 17:41] CaMer0n commented on #3084
Thanks @Moc .

@fizi It appears you have a legacy grid template inside news_menu_template.php ?
If so, I believe that if you delete it, the error should stop.
Perhaps you have 2 grid templates which are conflicting in this way.

[2018-03-30 17:42] CaMer0n commented on #2444
looks like a var_dump()

[2018-03-30 18:37] fizi commented on #3084
No grid template in News_menu_template.php ( writen in it that the Moved to news_grid_template.php).
The grid template only in the News_grid_template.php.

[2018-03-30 21:04] fizi commented on #3084
Grrr! The php start was two times ( <?php ) in the News_menu_template.php. I delete it and problem solved. I don't remember how it in......

[2018-03-30 21:10] Moc commented on #3084
Hahaha I missed that completely

[2018-03-30 21:10] #3084 closed

[2018-04-01 11:16] tgtje commented on #3070
Beware of closed issue;it is still a commit; not merged !!

[2018-04-02 13:01] fizi opened #3085 "News templates problem"
I studied the new News templates, but some things are not understandable to me.
I can set the template for News categories on admin area. ....but If I want use the News on default template and News category on category template, I can not do. Because the category set on default and category view default too. I can not use different template (this is worked in earkier version). This version allow o

[2018-04-03 04:36] fizi opened #3086 "Book (costom page)"
A make the book category and it not appears on the admin.

[2018-04-03 09:35] tgtje commented on #3086
Not studied behaviour before, but i can add and see a new created book (by title in listing).
When i want to add a custom page to a book (or chapter) i first have to create a chapter.. Than all works..
Do not know if this is normal..

[2018-04-03 09:51] tgtje commented on #3080
Done some testing, partial replicate. explain:
When adding a single movie (yt) no issue.
Using shift enter seems to NOT close the div (aka 'viewportal')
Now after each added movie i hit the return button instead of shift enter and a larger space in editor appears (mind i use View> Show blocks for aid). I make sure each movie is in a block, and space below..
SO yes it works, but a little bit strang

[2018-04-03 13:32] fizi commented on #3086
If I make the parent BOOK, not appears on the list. If I add chapter ...not appears in the list.
I can make the page and can set the chapter (appears in the setting's - dropdown menu)
But the book, chapter lisnt not on the right area on the admin. The list of books empty.

[2018-04-03 17:48] fizi commented on #3086
This problem will be fixed?

[2018-04-03 18:31] alba-geebus opened #3087 "forum_viewforum.php next/previous page and dropdown menu"
Hi all,
To give you a bit of background first;
Been using e107 on and off for a long time. My first time using v2 (2.1.7 i believe) and was enjoying using it. I'm not hugely experienced with PHP. I've made some very basic dynamic sites in my time and when I look at the e107 php I get totally confused.
My problem currently is with the forum plugin. I'm making a modern website for my cycle club and

[2018-04-03 18:32] oui3kings opened #3088 "password protect submitted news"
Is it or would it be possible to add the feature for someone in submitnews to create a password to access the submission?

[2018-04-03 19:05] Moc commented on #3088
It's based on userclass now which should be sufficient I suppose?

[2018-04-03 19:07] Moc commented on #3086
@Deltik can you take a look please?

[2018-04-03 19:09] fizi opened #3089 "CPAGE comment caption"
The cpage's comment not has caption.
This is not so nice, but example News comment has caption.
If I put caption into the page template and disable comment, the caption appears.
I think need caption as News comment and if I disable it disappear with the comments.
Thanks help!

[2018-04-03 19:14] fizi opened #3090 "CPAGE tags"
I can write the tags on the admin in cpage but not shortcode for it in the template.
The related pages appears on the cpage, but not tags for it.
I think would be good if I can put tags on the cpage as extend News.
Thanks help!